Repository Katello/katello, pull requests merged in 2018-05, with the labels that each got.

#7348 Fixes #23465: Correct CV validator to array of str
  app/controllers/katello/api/v2/content_view_filter_rules_controller.rb
Labels: Needs testing, Not yet reviewed

#7340 fixes #23422 - deb_module_count to deb_count ui check
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version.html
Labels: Needs testing, Not yet reviewed

#7352 Fixes #23478 - include content_view part in repository_url
  app/helpers/katello/katello_urls_helper.rb
  test/helpers/url_helpers_test.rb
Labels: Needs testing, Not yet reviewed

#7347 Fixes #23460: Use apipie-rails NumberValidator
  lib/katello/apipie/validators.rb
Labels: Needs testing, Not yet reviewed

#7349 Fixes #23457: Allow host[group]s without CV or LE
  app/models/katello/concerns/content_facet_host_extensions.rb
  test/models/concerns/content_facet_host_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7331 Fixes #23301: hook up upstream subscriptions to API.
  app/views/katello/api/v2/upstream_subscriptions/base.json.rabl
  package.json
  webpack/move_to_foreman/__mocks__/foreman_toast_notifications.js
  webpack/move_to_foreman/components/common/table/index.js
  webpack/move_to_foreman/foreman_toast_notifications.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsActions.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsContstants.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsReducer.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsActions.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsPage.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/upstreamSubscriptions.fixtures.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/index.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
Labels: Needs testing, Not yet reviewed

#7342 fixes #22985 - rename lifecycle environment
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-environment-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-repository-sets.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
Labels: Needs testing, Not yet reviewed

#7341 fixes #23392 - add registry image name column
  app/views/katello/api/v2/repositories/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-docker.html
Labels: Needs testing, Not yet reviewed

#7330 fixes #23341 - fixes error handling for missing products
  app/controllers/katello/api/v2/repository_sets_controller.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7344 fixes #23438 - pre/post cv promote hooks
  app/lib/actions/katello/content_view/promote.rb
  app/lib/actions/katello/content_view_version/after_promote_hook.rb
  app/lib/actions/katello/content_view_version/before_promote_hook.rb
  app/models/katello/content_view_version.rb
  app/services/katello/puppet_class_importer_extensions.rb
Labels: Needs testing, Not yet reviewed

#7338 fixes #21951 - don't allow export of on-demand repos
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/content_view.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/models/katello_repositories.yml
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#7345 Fixes #23084 - activation-key copy fix
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/lib/katello/resources/candlepin/activation_key.rb
  test/controllers/api/v2/activation_keys_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7095 Fixes 21822 - document katello-host-tools option
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register.html
Labels: Needs testing, Not yet reviewed

#7357 Fixes #23497 - API create should respond with 201
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/controllers/katello/api/v2/content_credentials_controller.rb
  app/controllers/katello/api/v2/content_view_filter_rules_controller.rb
  app/controllers/katello/api/v2/gpg_keys_controller.rb
  app/controllers/katello/api/v2/host_collections_controller.rb
  app/controllers/katello/api/v2/organizations_controller.rb
  app/controllers/katello/api/v2/products_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/api/v2/sync_plans_controller.rb
  app/views/katello/api/v2/common/copy.json.rabl
  test/controllers/api/v2/activation_keys_controller_test.rb
  test/controllers/api/v2/host_collections_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/controllers/api/v2/sync_plans_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp/repository/background_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_schedule/remove_schedule.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/update_schedule/disable_schedule.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/update_schedule/update_schedule.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file_binary.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_puppet_repo/generate_distributors.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/custom_repo_path.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/delete_orphaned_content.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_default_capsule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_external_capsule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_nil.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/pulp_update_needed_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/sync.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/sync_schedule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/class_distribution_bootable_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/distribution_bootable_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/find_packages_by_name.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/find_packages_by_nvre.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/import_distribution_data.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/package_groups.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/successful_sync_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/sync_state.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/sync_status.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/synced_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_create_destroy/create_pulp_repo.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/clone_contents.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/create_clone.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/published.yml
  test/fixtures/vcr_cassettes/services/pulp/erratum.yml
  test/fixtures/vcr_cassettes/services/pulp/package_group.yml
  test/fixtures/vcr_cassettes/services/pulp/puppet_module.yml
  test/fixtures/vcr_cassettes/services/pulp/rpm.yml
Labels: Needs testing, Not yet reviewed

#7354 Fixes #23489 - ignore 404s on cp consumer unreg
  app/services/katello/registration_manager.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#7355 Fixes #23432 - Many content View pages make 2 API calls to fetch results
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-available-deb-repositories.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-available-docker-repositories.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-available-file-repositories.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-available-ostree-repositories.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-available-repositories.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-deb-repositories-list.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-docker-repositories-list.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-file-repositories-list.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-ostree-repositories-list.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-repositories-list.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-versions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/content-view-version-content.controller.js
Labels: Needs testing, Not yet reviewed

#7317 Fixes #22734 - Add ability to edit RH Subscription entitlements
  package.json
  webpack/containers/Application/overrides.scss
  webpack/mockRequest.js
  webpack/move_to_foreman/common/helpers.js
  webpack/move_to_foreman/components/common/ConfirmDialog/ConfirmDialog.js
  webpack/move_to_foreman/components/common/ConfirmDialog/__tests__/ConfirmDialog.test.js
  webpack/move_to_foreman/components/common/ConfirmDialog/__tests__/__snapshots__/ConfirmDialog.test.js.snap
  webpack/move_to_foreman/components/common/ConfirmDialog/index.js
  webpack/move_to_foreman/components/common/Dialog/Dialog.js
  webpack/move_to_foreman/components/common/Dialog/__tests__/Dialog.test.js
  webpack/move_to_foreman/components/common/Dialog/__tests__/__snapshots__/Dialog.test.js.snap
  webpack/move_to_foreman/components/common/Dialog/index.js
  webpack/move_to_foreman/components/common/emptyState/index.js
  webpack/move_to_foreman/components/common/table/index.js
  webpack/scenes/Subscriptions/EntitlementsInlineEditFormatter.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionHelpers.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionValidations.js
  webpack/scenes/Subscriptions/Subscriptions.scss
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsTable.js
  webpack/scenes/Subscriptions/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/SubscriptionValidations.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsActions.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/index.js
Labels: Needs testing, Not yet reviewed

#7360 Fixes #22502: Wait for product.$resolved b4 using
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
Labels: Needs testing, Not yet reviewed

#7361 Fixes #23533 - Add available to /upstream_subscriptions
  app/models/katello/upstream_pool.rb
  app/views/katello/api/v2/upstream_subscriptions/base.json.rabl
  test/models/upstream_pool_test.rb
Labels: Needs testing, Not yet reviewed

#7362 Fixes #23535 - Pool available should not go less than -1
  app/models/katello/pool.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed

#7356 Fixes #22731 - Add delete button to subscriptions page
  webpack/move_to_foreman/common/helpers.js
  webpack/move_to_foreman/components/common/table/index.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsTable.js
  webpack/scenes/Subscriptions/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/services/api/index.js
Labels: Needs re-review, Needs testing

#7324 Fixes #23320 - Add available_for "content_view_versions" to packages API
  app/controllers/katello/api/v2/packages_controller.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/models/katello/content_view_version.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/packages_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7363 Fixes #23516 - handle registration if sub status already exists
  app/services/katello/registration_manager.rb
Labels: Needs testing, Not yet reviewed

#7359 Fixes #23532 - Show correct upstream sub quantity
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
Labels: Needs testing, Not yet reviewed

#7358 Fixes #22836, #23325: disable actions when necessary.
  package.json
  webpack/__mocks__/react-bootstrap-tooltip-button.js
  webpack/containers/Application/overrides.scss
  webpack/move_to_foreman/Settings/SettingsActions.js
  webpack/move_to_foreman/Settings/SettingsConstants.js
  webpack/move_to_foreman/Settings/__tests__/SettingsActions.test.js
  webpack/move_to_foreman/Settings/__tests__/settings.fixtures.js
  webpack/move_to_foreman/components/common/table/index.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/ManifestHistoryTableSchema.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/index.js
  webpack/services/api/index.js
Labels: Needs re-review, Needs testing

#7351 Fixes #20999 - Reset env/cv for Activation Keys
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-info.html
Labels: Needs testing, Not yet reviewed

#7364 Fixes #23464 - Installed Package list is empty
  app/models/katello/installed_package.rb
Labels: Needs testing, Not yet reviewed

#7367 Fixes #23552 - add keys to table and fix select row formatters
  webpack/move_to_foreman/common/helpers.js
  webpack/move_to_foreman/components/common/table/index.js
  webpack/scenes/Subscriptions/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
Labels: Needs testing, Not yet reviewed

#7371 fixes #22835 - support deleting pools from sub-man
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  config/routes/api/rhsm.rb
Labels: Needs testing, Not yet reviewed

#7365 Fixes #23286 - Add confirmation dialog on delete manifest
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/manifest/views/manifest-delete-modal.html
  webpack/move_to_foreman/components/common/ConfirmDialog/ConfirmDialog.js
  webpack/scenes/Subscriptions/Manifest/DeleteManifestModalText.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/SubscriptionsTable.js
Labels: Needs testing, Not yet reviewed

#7377 Fixes #22917 - use a download policy if default is not set
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Needs testing, Not yet reviewed

#7368 Fixes #23566 - Count and show icons for suse errata
  app/models/katello/erratum.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/views/errata.html
  test/services/katello/pulp/erratum_test.rb
Labels: Needs testing, Not yet reviewed

#7380 fixes #23636 - add default hook methods
  app/models/katello/content_view_version.rb
Labels: Needs testing, Not yet reviewed

#7387 Fixes #23659 - Remove unused methods from PulpTaskStatus
  app/models/katello/content_view.rb
  app/models/katello/pulp_task_status.rb
  spec/helpers/organization_helper_methods.rb
Labels: Needs testing, Not yet reviewed

#7262 fixes #18964 - lifecycle environment container image name
  app/controllers/katello/api/v2/environments_controller.rb
  app/lib/actions/katello/content_view/capsule_sync.rb
  app/lib/actions/katello/content_view/promote_to_environment.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/environment/publish_repositories.rb
  app/lib/actions/katello/repository/capsule_sync.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/remove_content.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/katello/repository/update.rb
  app/lib/katello/validators/container_image_name_validator.rb
  app/lib/katello/validators/environment_docker_repositories_validator.rb
  app/models/katello/concerns/organization_extensions.rb
  app/models/katello/content_view.rb
  app/models/katello/content_view_version.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/kt_environment.rb
  app/models/katello/product.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/environments/show.json.rabl
  db/migrate/20180323175122_add_registry_name_pattern_to_environment.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-docker.html
  test/actions/katello/content_view_test.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/environments_controller_test.rb
  test/factories/content_view_environment_factory.rb
  test/factories/registry_factory.rb
  test/lib/validators/environment_docker_repositories_validator_test.rb
  test/models/content_view_docker_filter_test.rb
  test/models/content_view_test.rb
  test/models/repository_test.rb
Labels: Needs re-review, Needs testing

#7323 Fixes #23318 - Add available_for to errata API
  app/controllers/katello/api/v2/errata_controller.rb
  test/controllers/api/v2/errata_controller_test.rb
  test/controllers/api/v2/packages_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7385 Fixes #23650 - Lists no sub repos on RH repos page
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository.js
Labels: Needs testing, Not yet reviewed

#7384 Refs #23635 - Stop relying on facter
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/models/katello/glue/candlepin/repository.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7391 Fixes #23669 - fix rubocop error
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#7374 Fixes #23594 - Change description of a content view version
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  config/routes/api/v2.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/content-views.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/content-view-version.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-details.html
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/fixtures/models/katello_content_view_histories.yml
Labels: Needs testing, Not yet reviewed

#7390 Fixes #23662 - fixes not null insert on content-repo
  db/migrate/20180521200848_drop_repo_rpms_timestamp_not_null.rb
Labels: Needs testing, Not yet reviewed

#7386 Fixes #23652 - Updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Needs testing, Not yet reviewed

#7393 Fixes #23674 - Lists no sub KS repos on RH Repos
  app/controllers/katello/api/v2/repository_sets_controller.rb
Labels: Needs testing, Not yet reviewed

#7400 Fixes #23730 - do not translate reposet attrs
  webpack/scenes/RedHatRepositories/components/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/RepositorySet.js
Labels: Needs testing, Not yet reviewed

#7405 Fixes #23680 - Content type selector on Red Hat Repos page is empty
  package.json
Labels: Needs testing, Not yet reviewed

#7402 fixes #23733 - bypass foreman mismatches on manifest refresh
  app/lib/actions/katello/organization/manifest_refresh.rb
Labels: Needs testing, Not yet reviewed

#7372 Fixes #23285: show task progress bar.
  webpack/move_to_foreman/components/common/ModalProgressBar/ModalProgressBar.js
  webpack/move_to_foreman/components/common/ModalProgressBar/ModalProgressBar.scss
  webpack/move_to_foreman/components/common/ModalProgressBar/__tests__/ModalProgressBar.test.js
  webpack/move_to_foreman/components/common/ModalProgressBar/__tests__/__snapshots__/ModalProgressBar.test.js.snap
  webpack/move_to_foreman/components/common/ModalProgressBar/index.js
  webpack/redux/reducers/index.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/ManifestActions.js
  webpack/scenes/Subscriptions/Manifest/ManifestReducer.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManageManifestModal.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManifestActions.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManifestReducer.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/Manifest/__tests__/manifest.fixtures.js
  webpack/scenes/Subscriptions/Manifest/index.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
Labels: Needs testing, Not yet reviewed
