Repository Katello/katello, pull requests merged in 2018-08, with the labels that each got.

#7569 Fixes #24005 - add scrolling to provided products
  webpack/scenes/Subscriptions/Details/SubscriptionDetailProducts.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.scss
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetailProducts.test.js.snap
Labels: Needs testing, Not yet reviewed

#7587 Fixes #23989: fix new sync plan modal css.
  engines/bastion_katello/app/assets/stylesheets/bastion_katello/bastion_katello.scss
Labels: Needs testing, Not yet reviewed

#7585 Fixes #24499 - Fix javascript dependencies for Sync Status
  app/assets/javascripts/katello/common/index.js
  app/assets/javascripts/katello/sync_management/index.js
Labels: Needs testing, Not yet reviewed

#7567 fixes #24382 - increase repo password length
  db/migrate/20180725083800_change_repository_password_length.rb
Labels: Needs testing, Not yet reviewed

#7589 Fixes #24513: Include url_helpers in ReactCtrler
  app/controllers/katello/react_controller.rb
Labels: Needs testing, Not yet reviewed

#7588 Fixes #24507: fix networking section of CH details.
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
Labels: Needs testing, Not yet reviewed

#7580 Fixes #24292 - Fix CDN url input
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
Labels: Needs testing, Not yet reviewed

#7590 Fixes #24485 - add floating pagination in repo page
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.scss
Labels: Needs testing, Not yet reviewed

#7543 fixes #24305 - container image registry config
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/lib/katello/resources/registry.rb
  config/katello.yaml.example
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7599 Fixes #24543 - Link to errata view doesn't work
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
Labels: Needs testing, Not yet reviewed

#7566 fixes #24376 - ks repo and medium are mutually exlcusive
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  test/models/concerns/host_managed_extensions_test.rb
  test/models/concerns/hostgroup_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7595 fixes #18282 - select all filtered table
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/discovery.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/views/discovery.html
Labels: Needs testing, Not yet reviewed

#7496 fixes #24149 - use new template renderer
  app/lib/katello/concerns/input_template_scope_extensions.rb
  app/lib/katello/concerns/renderer_extensions.rb
  app/models/katello/input_template_renderer.rb
  lib/katello/engine.rb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#7601 Fixes #24243 - Recommended repositories toggle is too close to the "Available Repositories" header on narrow displays
  webpack/scenes/RedHatRepositories/index.scss
Labels: Needs testing, Not yet reviewed

#7608 Fixes #24559: validate hostgroup content_source_id
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/host/content_facet.rb
Labels: Needs testing, Not yet reviewed

#7611 Fixes #23992: fix error on CH subscriptions modal.
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-subscriptions-modal.controller.js
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-subscriptions-modal.controller.test.js
Labels: Needs testing, Not yet reviewed

#7602 Fixes #24549 - Add rendering extension tests
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/lib/katello/concerns/renderer_extensions.rb
  lib/katello/engine.rb
  test/fixtures/models/hosts.yml
  test/fixtures/models/katello_repositories.yml
  test/lib/concerns/base_template_scope_extensions_test.rb
  test/lib/concerns/renderer_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7586 fixes #24498 - fix compare for some content types
  app/controllers/katello/api/v2/puppet_modules_controller.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/presenters/katello/content_view_version_compare_presenter.rb
  app/views/katello/api/v2/debs/compare.json.rabl
  app/views/katello/api/v2/docker_manifest_lists/compare.json.rabl
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/fixtures/models/katello_content_view_puppet_environment_puppet_modules.yml
  test/presenters/content_view_version_compare_presenter_test.rb
Labels: Needs testing, Not yet reviewed

#7616 Fixes #24584 - Redirect to hosts index after host deletion
  app/controllers/katello/concerns/hosts_controller_extensions.rb
Labels: Needs testing, Not yet reviewed

#7613 Fixes #24518: make RPM default repo type filter.
  webpack/components/MultiSelect/index.js
  webpack/move_to_pf/react-bootstrap-select/index.js
  webpack/scenes/RedHatRepositories/components/SearchBar.js
Labels: Needs testing, Not yet reviewed

#7617 fixes #24585 - update setting callback for rails deprecation
  app/models/katello/concerns/setting_extensions.rb
Labels: Needs testing, Not yet reviewed

#7606 Fixes #24558 - remove cp_label from repository model
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/candlepin/docker_repository_mapper.rb
  app/models/katello/candlepin/repository_mapper.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  db/migrate/20180807164405_remove_repository_cp_label.rb
Labels: Needs testing, Not yet reviewed

#7596 fixes #24538 - set controllerName for bookmarks
  engines/bastion_katello/app/assets/javascripts/bastion_katello/docker-tags/docker-tags.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-manage-content.controller.js
Labels: Needs testing, Not yet reviewed

#7598 fixes #23507 - seed container image bookmarks
  db/seeds.d/111-container-image-bookmarks.rb
Labels: Needs testing, Not yet reviewed

#7622 Fixes #24597 - Exit properly for eslint
  .eslintignore
  package.json
  webpack/.eslintrc
  webpack/components/WithOrganization/withOrganization.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailActions.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
Labels: Needs testing, Not yet reviewed

#7578 Fixes #23886: Add product content to subs detail
  webpack/scenes/Products/ProductActions.js
  webpack/scenes/Products/ProductConstants.js
  webpack/scenes/Products/__tests__/ProductActions.test.js
  webpack/scenes/Products/__tests__/products.fixtures.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailEnabledProducts.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailProduct.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailReducer.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.scss
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetailEnabledProducts.test.js
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetailProduct.test.js
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetails.test.js
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetailEnabledProducts.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetailProduct.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetails.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/subscriptionDetails.fixtures.js
  webpack/scenes/Subscriptions/Details/index.js
Labels: Demo worthy, Needs testing, Not yet reviewed

#7593 fixes #24529 - only show repos that contain a file
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Needs testing, Not yet reviewed

#7625 Fixes #23928 - Migrate Pulp Sync Plans
  app/controllers/katello/api/v2/sync_plans_controller.rb
  app/lib/actions/katello/product/update.rb
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/sync_plan/add_products.rb
  app/lib/actions/katello/sync_plan/destroy.rb
  app/lib/actions/katello/sync_plan/remove_products.rb
  app/lib/actions/katello/sync_plan/run.rb
  app/lib/actions/katello/sync_plan/update.rb
  app/lib/actions/pulp/repos/update.rb
  app/lib/actions/pulp/repository/remove_schedule.rb
  app/lib/actions/pulp/repository/update_schedule.rb
  app/models/katello/concerns/recurring_logic_extensions.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/glue/pulp/repos.rb
  app/models/katello/sync_plan.rb
  app/views/katello/api/v2/sync_plans/show.json.rabl
  db/migrate/20180814202747_add_recurring_logic_to_sync_plan.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/sync-plan-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/views/sync-plan-info.html
  lib/katello/engine.rb
  lib/katello/tasks/upgrades/3.9/migrate_sync_plans.rake
  test/actions/katello/product_test.rb
  test/actions/katello/repository_test.rb
  test/actions/katello/sync_plan/add_products_test.rb
  test/actions/katello/sync_plan/remove_products_test.rb
  test/actions/katello/sync_plan/run_test.rb
  test/actions/katello/sync_plan/sync_plan_destroy_test.rb
  test/actions/pulp/repository/remove_schedule_test.rb
  test/actions/pulp/repository/update_schedule_test.rb
  test/controllers/api/v2/sync_plans_controller_test.rb
  test/factories/recurring_logic_factory.rb
  test/glue/pulp/repository_test.rb
  test/models/sync_plan_test.rb
Labels: Demo worthy, Needs testing, Not yet reviewed

#7627 Fixes #24630 - Test fixes for pulp 2.17
  test/fixtures/vcr_cassettes/actions/pulp/consumer/create.yml
  test/fixtures/vcr_cassettes/actions/pulp/consumer/install_content.yml
  test/fixtures/vcr_cassettes/actions/pulp/consumer/regenerate_applicability.yml
  test/fixtures/vcr_cassettes/actions/pulp/consumer/regenerate_applicability_multiple_uuid.yml
  test/fixtures/vcr_cassettes/actions/pulp/consumer/uninstall_content.yml
  test/fixtures/vcr_cassettes/actions/pulp/consumer/update_content.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/background_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_schedule/remove_schedule.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/update_schedule/disable_schedule.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/update_schedule/update_schedule.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file_binary.yml
  test/fixtures/vcr_cassettes/katello/glue_candlepin_owner_sla/update_candlepin_owner_service_level.yml
  test/fixtures/vcr_cassettes/katello/glue_candlepin_provider/import_products.yml
  test/fixtures/vcr_cassettes/katello/glue_candlepin_provider/import_products_updates_content.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_puppet_repo/generate_distributors.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/custom_repo_path.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/delete_orphaned_content.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_default_capsule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_external_capsule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_nil.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/pulp_update_needed_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/sync.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/sync_schedule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/class_distribution_bootable_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/distribution_bootable_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/find_packages_by_name.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/find_packages_by_nvre.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/import_distribution_data.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/package_groups.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/successful_sync_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/sync_state.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/sync_status.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/synced_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_create_destroy/create_pulp_repo.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/clone_contents.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/create_clone.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/published.yml
  test/fixtures/vcr_cassettes/lib/tasks/regenerate_ueber_certs.yml
  test/fixtures/vcr_cassettes/lib/tasks/verify_ueber_cert.yml
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/organization_destroy.yml
  test/fixtures/vcr_cassettes/scenarios/product_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_sync.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_repo_if_exists.yml
  test/fixtures/vcr_cassettes/services/katello.yml
  test/fixtures/vcr_cassettes/services/pulp/erratum.yml
  test/fixtures/vcr_cassettes/services/pulp/package_group.yml
  test/fixtures/vcr_cassettes/services/pulp/puppet_module.yml
  test/fixtures/vcr_cassettes/services/pulp/rpm.yml
  test/glue/pulp/repository_test.rb
  test/katello_test_helper.rb
  test/services/cert/certs_test.rb
  test/services/cert/helpers/ca.crt
  test/support/pulp/task_support.rb
Labels: Needs testing, Not yet reviewed

#7620 Fixes #24596 - allow removing envs within a path
  app/lib/actions/katello/environment/destroy.rb
  app/models/katello/kt_environment.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment.html
  test/models/kt_environment_test.rb
Labels: Demo worthy, Needs testing, Not yet reviewed

#7614 Fixes #24576 - improve Event Queue performance
  app/lib/actions/katello/event_queue/monitor.rb
  app/lib/actions/katello/event_queue/poller_thread.rb
  app/lib/actions/katello/event_queue/suspended_action.rb
  test/actions/katello/event_queue_monitor_test.rb
Labels: Needs testing, Not yet reviewed

#7640 Bump version to 3.8rc3
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7642 Update rc3 changelog
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7639 Fixes #24664 - ensure not to use database during db preparation
  engines/bastion_katello/lib/bastion_katello/engine.rb
Labels: Needs testing, Not yet reviewed

#7647 Fixes #24617 - add subscription type column
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionTypeFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionTypeFormatter.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionTypeFormatter.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7634 Fixes #24651 - Cannot remove packages from content host UI
  app/controllers/katello/api/v2/host_packages_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-installed.controller.js
  engines/bastion_katello/test/content-hosts/content/content-host-packages-installed.controller.test.js
  test/controllers/api/v2/host_packages_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7619 Fixes #24575 - Add system purpose attributes
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/models/katello/concerns/subscription_facet_host_extensions.rb
  app/models/katello/host/subscription_facet.rb
  app/models/katello/purpose_addon.rb
  app/models/katello/purpose_role.rb
  app/models/katello/purpose_usage.rb
  app/models/katello/subscription_facet_purpose_addon.rb
  app/models/katello/subscription_facet_purpose_role.rb
  app/models/katello/subscription_facet_purpose_usage.rb
  db/migrate/20180808013432_add_system_purpose_attrs.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed

#7651 Fixes #24678: fix host repository sets modal.
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-repository-sets-modal.controller.js
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-repository-sets-modal.controller.test.js
Labels: Needs testing, Not yet reviewed

#7538 Fixes #24283 - remove pf bindMethods function
  package.json
  webpack/.eslintrc
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
Labels: Needs testing, Not yet reviewed

#7645 Fixes #24675 - Update host name for Manifest refresh
  app/models/katello/glue/provider.rb
  test/models/provider_test.rb
Labels: Needs testing, Not yet reviewed

#7636 Fixes #24523 - Parse action input for RPMs into pulp units
  app/lib/actions/pulp/consumer/abstract_content_action.rb
  app/lib/actions/pulp/consumer/content_install.rb
  app/lib/actions/pulp/consumer/content_uninstall.rb
  app/lib/actions/pulp/consumer/content_update.rb
  test/actions/pulp/consumer_test.rb
Labels: Needs testing, Not yet reviewed

#7591 Fixes #24519 - Sync Plan saved with incorrect date/time
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/sync-plan-helper.service.js
Labels: Needs testing, Not yet reviewed

#7657 Fixes #24680 - RPM filter should not contain Beta repos
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#7626 Fixes #24676 - Rails 5.2 compatibility
  app/models/katello/concerns/location_extensions.rb
  app/models/katello/concerns/setting_extensions.rb
  test/models/concerns/content_facet_host_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7623 fixes #24603 - pulp-2.17 change in json
  app/models/katello/docker_manifest_list.rb
  test/fixtures/pulp/docker_manifest_lists.yml
Labels: Needs testing, Not yet reviewed

#7643 fixes #24674 - Content hosts bulk packages radio buttons
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
Labels: Needs testing, Not yet reviewed

#7558 Fixes #24339 - Added Org Label for Subs CSV
  app/controllers/katello/api/v2/api_controller.rb
  test/controllers/api/v2/subscriptions_controller_test.rb
  test/controllers/foreman/hosts_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7472 Fixes #23995 - Updated hypervisors_update to bulk actions
  app/lib/actions/katello/host/hypervisors_update.rb
  app/models/katello/subscription_status.rb
  app/services/katello/candlepin/consumer.rb
  test/actions/katello/host/hypervisors_update_test.rb
Labels: Needs testing, Not yet reviewed

#7663 Fixes #24751 - Missing reset_column_information from rails_5.2 branch
  db/migrate/20180326190408_move_subscription_products.rb
Labels: Needs testing, Not yet reviewed

#7638 Fixes #24407 - Add repository modularity API
  app/controllers/katello/api/v2/module_streams_controller.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/views/katello/api/v2/module_streams/base.json.rabl
  app/views/katello/api/v2/module_streams/index.json.rabl
  app/views/katello/api/v2/module_streams/show.json.rabl
  config/routes/api/v2.rb
  db/migrate/20180816142044_add_description_to_katello_module_streams.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/module_streams_controller_test.rb
  test/controllers/api/v2/packages_controller_test.rb
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#7646 Fixes #24671 - remove dead sync plan code
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/product/create.rb
  app/lib/actions/katello/repository/scheduled_sync.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/pulp/repository/ensure_sync_notification.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/glue/pulp/repos.rb
  app/models/katello/repository.rb
  config/katello.yaml.example
  config/routes/api/v2.rb
  lib/katello/engine.rb
  lib/katello/tasks/update_sync_notifications.rake
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/lib/access_permissions_test.rb
  test/lib/tasks/seeds_test.rb
  test/scenarios/scenario_test.rb
  test/support/scenario_support.rb
Labels: Needs testing, Not yet reviewed

#7667 Fixes #24765 - ensure reschedule notification on error
  app/jobs/create_pulp_disk_space_notifications.rb
  app/jobs/send_expire_soon_notifications.rb
Labels: Needs testing, Not yet reviewed

#7668 Fixes #24769 - do not auto-search on `evr`
  app/models/katello/rpm.rb
Labels: Needs testing, Not yet reviewed

#7650 fixes #24512 - whitelist tags ui
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details.controller.test.js
Labels: Needs testing, Not yet reviewed

#7662 Fixes #24677 - Show Subscriptions menu link for Viewer role
  lib/katello/plugin.rb
  webpack/move_to_foreman/common/helpers.js
  webpack/scenes/Tasks/helpers.js
Labels: Needs testing, Not yet reviewed
