Repository Katello/katello, pull requests merged in 2018-09, with the labels that each got.

#7632 Fixes #23882: Deemphasize yStream repos
  webpack/scenes/RedHatRepositories/components/RepositorySet.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositories.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository.js
  webpack/scenes/RedHatRepositories/components/__tests__/RepositorySetRepository.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RepositorySetRepository.test.js.snap
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.scss
Labels: Needs testing, Not yet reviewed

#7666 Fixes #24764 - show orphaned text on rh repos
  app/models/katello/glue/candlepin/product.rb
  app/models/katello/product.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/__tests__/EnabledRepository.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/EnabledRepository.test.js.snap
Labels: Needs testing, Not yet reviewed

#7672 Fixes #24812 - do not delete managed hosts
  lib/katello/tasks/clean_backend_objects.rake
  test/lib/tasks/clean_backend_objects_test.rb
Labels: Needs testing, Not yet reviewed

#7669 Fixes #24768 - do not validate model during count updates
  app/models/katello/host/content_facet.rb
  test/models/host/content_facet_test.rb
Labels: Needs testing, Not yet reviewed

#7674 Fixes #24813 - extend smart_proxy API to return download_policy
  app/views/katello/api/v2/smart_proxies/download_policy.json.rabl
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#7504 Fixes #24189 - use new foreman upgrade task
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/clean_backend_objects.rake
  lib/katello/tasks/repository.rake
  lib/katello/tasks/upgrades/2.4/import_distributions.rake
  lib/katello/tasks/upgrades/2.4/import_package_groups.rake
  lib/katello/tasks/upgrades/2.4/import_puppet_modules.rake
  lib/katello/tasks/upgrades/2.4/import_rpms.rake
  lib/katello/tasks/upgrades/3.0/add_export_distributor.rake
  lib/katello/tasks/upgrades/3.0/delete_docker_v1_content.rake
  lib/katello/tasks/upgrades/3.0/update_puppet_repository_distributors.rake
  lib/katello/tasks/upgrades/3.0/update_subscription_facet_backend_data.rake
  lib/katello/tasks/upgrades/3.3/hypervisors.rake
  lib/katello/tasks/upgrades/3.4/reindex_docker_tags.rake
  lib/katello/tasks/upgrades/3.4/remove_unused_products.rake
  lib/katello/tasks/upgrades/3.6/import_backend_consumer_attributes.rake
  lib/katello/tasks/upgrades/3.6/import_product_content.rake
  lib/katello/tasks/upgrades/3.6/republish_file_repos.rake
  lib/katello/tasks/upgrades/3.7/import_pools.rake
  lib/katello/tasks/upgrades/3.7/make_all_ks_repos_bootable.rake
  test/lib/tasks/reindex_docker_tags_test.rb
Labels: Needs testing, Not yet reviewed

#7675 Fixes #24827 - Show Repo Label on Enabled repos
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/RepositorySet.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository.js
  webpack/scenes/RedHatRepositories/components/__tests__/EnabledRepository.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/RepositorySetRepository.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/EnabledRepository.test.js.snap
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RepositorySetRepository.test.js.snap
Labels: Needs testing, Not yet reviewed

#7652 Fixes #24592 - Repository sets not displayed
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/components/content-view-composite-available-content-views.controller.js
Labels: Needs testing, Not yet reviewed

#7676 Fixes #24828 - seed sync plan upgrade task
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.9/migrate_sync_plans.rake
Labels: Needs testing, Not yet reviewed

#7656 Fixes #24515 - add header tags (i.e title) to react components
  package.json
  webpack/components/WithOrganization/withOrganization.js
  webpack/containers/Application/Headers.js
  webpack/containers/Application/Routes.js
  webpack/containers/Application/config.js
Labels: Needs testing, Not yet reviewed

#7680 Fixes #24810 - align text in subscriptions details page
  webpack/scenes/Subscriptions/Details/SubscriptionDetailProduct.js
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetailProduct.test.js.snap
Labels: Needs testing, Not yet reviewed

#7683 Fixes #24839 - Legacy Subscriptions tab links
  engines/bastion_katello/app/assets/javascripts/bastion_katello/common/views/subscription-add-or-remove.html
Labels: Needs testing, Not yet reviewed

#7673 fixes #24115, #24534 - validate upstream auth on repository
  app/lib/actions/pulp/repository/update_importer.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.filter.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.filter.test.js
  test/glue/pulp/repository_test.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7658 Fixes #24420 - CV Publish for modules
  app/lib/actions/katello/repository/clear.rb
  app/lib/actions/katello/repository/clone_yum_content.rb
  app/lib/actions/katello/repository/index_module_streams.rb
  app/lib/actions/pulp/repository/copy_module_default.rb
  app/lib/actions/pulp/repository/copy_module_stream.rb
  app/lib/actions/pulp/repository/remove_module_default.rb
  app/lib/actions/pulp/repository/remove_module_stream.rb
  app/models/katello/content_view_version.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/module_stream.rb
  app/views/katello/api/v2/content_view_versions/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-versions.html
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#7685 Fixes #24757 - fix audit searching by user
  app/models/katello/concerns/audit_search.rb
  lib/katello/engine.rb
Labels: Needs testing, Not yet reviewed

#7692 added test for invalid cron expression
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#7681 Fixes #24535 - display more helpful error messages
  webpack/move_to_foreman/common/helpers.js
Labels: Needs testing, Not yet reviewed

#7686 Refs #23882 - fix lint errors and translations
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositories.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository.js
Labels: Needs testing, Not yet reviewed

#7695 fixes #24892 - clean up bad hypervisor assoc before add fk
  db/migrate/20180612163403_add_foreign_key_to_hypervisor_id.rb
Labels: Needs testing, Not yet reviewed

#7688 Fixes #24407 - Adds module stream info
  app/models/katello/module_stream.rb
  config/routes.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-repositories.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-repositories.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-yum.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
  lib/katello/plugin.rb
  package.json
  test/models/module_stream_test.rb
  webpack/components/Search/__snapshots__/Search.test.js.snap
  webpack/components/Search/index.js
  webpack/containers/Application/config.js
  webpack/move_to_pf/TypeAhead/TypeAhead.js
  webpack/redux/reducers/index.js
  webpack/scenes/ModuleStreams/ModuleStreamsActions.js
  webpack/scenes/ModuleStreams/ModuleStreamsConstants.js
  webpack/scenes/ModuleStreams/ModuleStreamsPage.js
  webpack/scenes/ModuleStreams/ModuleStreamsReducer.js
  webpack/scenes/ModuleStreams/ModuleStreamsTable.js
  webpack/scenes/ModuleStreams/ModuleStreamsTableSchema.js
  webpack/scenes/ModuleStreams/__tests__/ModuleStreamPage.test.js
  webpack/scenes/ModuleStreams/__tests__/ModuleStreamsActions.test.js
  webpack/scenes/ModuleStreams/__tests__/ModuleStreamsReducer.test.js
  webpack/scenes/ModuleStreams/__tests__/ModuleStreamsTable.test.js
  webpack/scenes/ModuleStreams/__tests__/__snapshots__/ModuleStreamPage.test.js.snap
  webpack/scenes/ModuleStreams/__tests__/__snapshots__/ModuleStreamsTable.test.js.snap
  webpack/scenes/ModuleStreams/__tests__/moduleStreams.fixtures.js
  webpack/scenes/ModuleStreams/index.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
Labels: Needs re-review, Needs testing

#7630 Fixes #24314 - reload enabled repos on enable/disable
  webpack/move_to_foreman/common/helpers.js
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/redux/actions/RedHatRepositories/repositorySetRepositories.js
  webpack/redux/consts.js
  webpack/redux/reducers/RedHatRepositories/__tests__/enabled.test.js
  webpack/redux/reducers/RedHatRepositories/__tests__/repositorySetRepositories.test.js
  webpack/redux/reducers/RedHatRepositories/__tests__/sets.test.js
  webpack/redux/reducers/RedHatRepositories/enabled.fixtures.js
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/redux/reducers/RedHatRepositories/enabled.test.js
  webpack/redux/reducers/RedHatRepositories/filters.fixtures.js
  webpack/redux/reducers/RedHatRepositories/repositorySetRepositories.fixtures.js
  webpack/redux/reducers/RedHatRepositories/repositorySetRepositories.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepository.stories.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepositoryContent.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/__tests__/EnabledRepository.test.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/__tests__/EnabledRepositoryContent.test.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/__tests__/__snapshots__/EnabledRepository.test.js.snap
  webpack/scenes/RedHatRepositories/components/EnabledRepository/__tests__/__snapshots__/EnabledRepositoryContent.test.js.snap
  webpack/scenes/RedHatRepositories/components/EnabledRepository/index.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositories.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositoriesHelpers.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository/RepositorySetRepository.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository/__test__/RepositorySetRepository.test.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository/__test__/__snapshots__/RepositorySetRepository.test.js.snap
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository/index.js
  webpack/scenes/RedHatRepositories/components/SearchBar.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/EnabledRepository.test.js.snap
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RepositorySetRepository.test.js.snap
  webpack/scenes/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#7704 Fixes #24948 - Fix pulp_deb repo listing
  app/models/katello/glue/pulp/repo.rb
Labels: Needs testing, Not yet reviewed

#7610 Fixes # 22498 - Improve error messages for content views
  app/models/katello/content_view.rb
  app/models/katello/content_view_component.rb
  test/controllers/api/v2/content_views_controller_test.rb
  test/models/content_view_component_test.rb
Labels: Needs testing, Not yet reviewed

#7605 Fixes #24480 - fix org switching on subs page
  webpack/components/WithOrganization/__snapshots__/withOrganization.test.js.snap
  webpack/components/WithOrganization/withOrganization.js
  webpack/components/WithOrganization/withOrganization.test.js
  webpack/containers/Application/Routes.js
  webpack/containers/Application/config.js
  webpack/containers/Application/withHeaders.js
Labels: Needs testing, Not yet reviewed

#7708 Refs #22498 - Improve error messages for content views
  test/factories/content_view_version_factory.rb
Labels: Needs testing, Not yet reviewed

#7700 Fixes #24901 - Validate interval with cron expression
  app/models/katello/sync_plan.rb
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#7698 Fixes #24406 - Modules in a repo
  app/models/katello/content_view_version.rb
  app/models/katello/module_stream.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/bastion-katello-bootstrap.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/bastion_katello.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/content-views.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-repositories.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/content-view-version-content.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/content-view-versions.module.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-module-streams.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-ostree-branches.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-package-groups.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-packages.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-yum.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/module-streams/module-stream.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/module-streams/module-streams.module.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/module-streams/views/partials/module-streams-table.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-manage-content.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-manage-module-streams.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repositories.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
  engines/bastion_katello/test/content-views/versions/content-view-version-content.controller.test.js
  engines/bastion_katello/test/module-streams/module-stream.factory.test.js
  engines/bastion_katello/test/products/details/repositories/details/repository-manage-content.controller.test.js
  test/models/module_stream_test.rb
Labels: Needs testing, Not yet reviewed

#7703 Fixes #24937: Never CVV auto_publish when not comp
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/new/content-view-new.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/new/views/content-view-new.html
Labels: Needs testing, Not yet reviewed

#7711 Fixes #24986 - do not use full text search on host sub_id
  app/models/katello/concerns/subscription_facet_host_extensions.rb
Labels: Needs testing, Not yet reviewed

#7453 Fixes #22733 - Add customizable columns to Red Hat Subscriptions Page
  app/views/katello/layouts/react.html.erb
  webpack/move_to_pf/OptionTooltip/OptionTooltip.scss
  webpack/move_to_pf/OptionTooltip/__tests__/OptionTooltip.test.js
  webpack/move_to_pf/OptionTooltip/__tests__/__snapshots__/OptionTooltip.test.js.snap
  webpack/move_to_pf/OptionTooltip/index.js
  webpack/redux/reducers/index.js
  webpack/scenes/Settings/Tables/TableActions.js
  webpack/scenes/Settings/Tables/TableConstants.js
  webpack/scenes/Settings/Tables/TableHelpers.js
  webpack/scenes/Settings/Tables/TableReducer.js
  webpack/scenes/Settings/Tables/__tests__/Table.fixtures.js
  webpack/scenes/Settings/Tables/__tests__/TableActions.test.js
  webpack/scenes/Settings/Tables/__tests__/TableReducer.test.js
  webpack/scenes/Settings/Tables/__tests__/__snapshots__/TableReducer.test.js.snap
  webpack/scenes/Settings/index.js
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsPage.scss
  webpack/scenes/Subscriptions/__tests__/SubscriptionsActions.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Subscriptions/index.js
  webpack/services/api/index.js
Labels: Needs testing, Not yet reviewed

#7655 Fixes #24730: checksum_type comes from scratchpad
  app/lib/actions/katello/repository/correct_checksum.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/repository.rb
  db/migrate/20180917173645_add_source_repo_checksum_type_to_katello_repositories.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.8/clear_checksum_type.rake
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/pulp_scratchpad_checksum_type.yml
  test/glue/pulp/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7690 Fixes #24679 - Sorting repos Red Hat repos page
  app/controllers/katello/api/v2/repository_sets_controller.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositories.js
  webpack/scenes/RedHatRepositories/components/__tests__/RepositorySetRepositories.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RepositorySetRepositories.test.js.snap
Labels: Demo worthy, Needs testing, Not yet reviewed

#7712 Fixes #24988 - always create arch as admin after sync
  app/lib/actions/katello/foreman/content_update.rb
Labels: Needs testing, Not yet reviewed

#7715 Fixes #24809 - 'Enabled Products' now 'Product Content'
  webpack/scenes/Subscriptions/Details/SubscriptionDetailProductContent.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailReducer.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.js
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetailProductContent.test.js
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetails.test.js
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetailProductContent.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetails.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/subscriptionDetails.fixtures.js
Labels: Needs testing, Not yet reviewed

#7705 Fixes #24427 - Modules available to a Host
  app/controllers/katello/api/v2/module_streams_controller.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/module_profile.rb
  app/models/katello/module_profile_rpm.rb
  app/models/katello/module_stream.rb
  app/models/katello/module_stream_artifact.rb
  app/models/katello/repository_module_stream.rb
  app/views/katello/api/v2/module_streams/base.json.rabl
  db/migrate/20180920123913_drop_repo_module_streams_timestamp_not_null.rb
  lib/katello/tasks/reimport.rake
  test/models/module_stream_test.rb
Labels: Needs testing, Not yet reviewed

#7716 Fixes #25003 - ignore 404 on gen applicability
  app/lib/actions/pulp/abstract_async_task.rb
  app/lib/actions/pulp/consumer/generate_applicability.rb
Labels: Needs testing, Not yet reviewed

#7649 Fixes #24221: disable deletion of custom subscriptions.
  webpack/move_to_foreman/components/common/table/formatters/selectionCellFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7720 Fixes #25026 - format uuids on hypervisor checkin
  app/lib/actions/katello/host/hypervisors_update.rb
  app/lib/katello/http_resource.rb
Labels: Needs testing, Not yet reviewed

#7714 fixes #24994 - unlimited repo password length
  db/migrate/20180920171008_change_repository_password_to_text.rb
Labels: Needs testing, Not yet reviewed

#7710 Fixes #24971 - CVV Package details shows yum only
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/content-view-version-content.controller.js
  engines/bastion_katello/test/content-views/versions/content-view-version-content.controller.test.js
Labels: Needs testing, Not yet reviewed

#7721 Fixes #24411: List module_streams in an environment
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/content.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-module-streams.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/environments.routes.js
  engines/bastion_katello/test/environments/content.service.test.js
Labels: Needs testing, Not yet reviewed

#7723 Fixes #24818 - Save button refresh on error
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/new/new-sync-plan.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/new/views/new-sync-plan-form.html
  engines/bastion_katello/test/sync-plans/new-sync-plan.controller.test.js
Labels: Needs testing, Not yet reviewed

#7728 Fixes #24999 - Host add subs page not loading
  app/lib/katello/resources/candlepin/consumer.rb
Labels: Needs testing, Not yet reviewed

#7725 fixes #25023 - disallow docker push by default
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  config/katello.yaml.example
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7730 Fixes #25050 - Fixed gitignore to include foreman
  .gitignore
Labels: Needs testing, Not yet reviewed

#7731 Fixes #25060 - batch fetch consumers in groups
  app/lib/actions/katello/host/hypervisors_update.rb
  app/lib/katello/resources/candlepin/consumer.rb
Labels: Needs testing, Not yet reviewed

#7727 Fixes #25049 - Ability to clear search on React pages
  webpack/move_to_pf/TypeAhead/TypeAhead.js
Labels: Needs testing, Not yet reviewed
