Repository Katello/katello, pull requests merged in 2018-06, with the labels that each got.

#7249 fixes #22951 - support docker v2 api
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/lib/katello/resources/registry.rb
  app/models/katello/repository.rb
  config/routes/api/registry.rb
  lib/katello/engine.rb
  lib/katello/permissions/registry_permissions.rb
  lib/katello/plugin.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs re-review, Needs testing

#7404 fixes #23737 - fixes incorrect REST API doc for tracer
  app/controllers/katello/api/v2/host_tracer_controller.rb
Labels: Needs testing, Not yet reviewed

#7403 fixes #23735 - only show cv tabs if repo type is enabled
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-details.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7413 fixes #23781 - migrate content_source_id correctly
  db/migrate/20161214151548_move_content_source_id_to_content_facets.rb
Labels: Needs testing, Not yet reviewed

#7412 Fixes #23783 - Updated Subscriptions link
  lib/katello/plugin.rb
Labels: Needs re-review, Needs testing

#7401 Fixes #23724 - Port robottelo tests - hostgroups
  test/controllers/api/v2/hostgroups_controller_test.rb
  test/models/concerns/hostgroup_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7395 fixes #23676 - port robottelo CV tests
  test/controllers/api/v2/content_views_controller_test.rb
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#7399 fixes #23712 - port robottelo test cv filter
  test/models/content_view_filter_test.rb
Labels: Needs testing, Not yet reviewed

#7411 Fixes #23780 - Port robottelo tests - host_collection
  test/controllers/api/v2/host_collections_controller_test.rb
  test/models/host_collection_test.rb
Labels: Needs testing, Not yet reviewed

#7406 Fixes #23758 - Port robottelo tests - product
  test/controllers/api/v2/products_controller_test.rb
  test/models/product_test.rb
Labels: Needs testing, Not yet reviewed

#5827 Fixes #13983 - Environment can be inserted into Environments Path
  app/controllers/katello/api/v2/environments_controller.rb
  app/lib/katello/validators/prior_validator.rb
  app/models/katello/environment_prior.rb
  app/models/katello/kt_environment.rb
  db/migrate/20160302091113_change_environment_prior.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/environments.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/new-environment.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/paths.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/views/new-environment.html
  engines/bastion_katello/test/environments/environments.controller.test.js
  engines/bastion_katello/test/environments/new-environment.controller.test.js
  engines/bastion_katello/test/environments/paths.service.test.js
  spec/models/environment_spec.rb
  test/models/kt_environment_test.rb
Labels: Needs re-review, Needs testing

#7388 Fixes #23324 - add notifications to manifest related jobs
  app/lib/actions/helpers/notifications.rb
  app/lib/actions/katello/organization/manifest_delete.rb
  app/lib/actions/katello/organization/manifest_import.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/services/katello/ui_notifications/abstract_notification.rb
  app/services/katello/ui_notifications/subscriptions/manifest_delete_error.rb
  app/services/katello/ui_notifications/subscriptions/manifest_delete_success.rb
  app/services/katello/ui_notifications/subscriptions/manifest_import_error.rb
  app/services/katello/ui_notifications/subscriptions/manifest_import_success.rb
  app/services/katello/ui_notifications/subscriptions/manifest_refresh_error.rb
  app/services/katello/ui_notifications/subscriptions/manifest_refresh_success.rb
  app/services/katello/ui_notifications/task_notification.rb
  db/seeds.d/109-katello-notification-blueprints.rb
  test/actions/katello/organization_test.rb
Labels: Needs testing, Not yet reviewed

#7370 Fixes #23381 - Add resorce switcher hide option to katello pages
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-host-register.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/discovery.controller.js
Labels: Needs testing, Not yet reviewed

#7407 Fixes #22732 - Add export CSV for RH repos and subs
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/api/v2/subscriptions_controller.rb
  test/controllers/api/v2/api_controller_test.rb
  webpack/components/Search/index.js
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/scenes/RedHatRepositories/components/SearchBar.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/RedHatRepositories/index.scss
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/services/api/index.js
  webpack/services/index.js
Labels: Needs testing, Not yet reviewed

#7419 Update Katello version to 3.8
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7421 fixes #23820 - check for registry setting
  app/lib/katello/resources/registry.rb
Labels: Needs testing, Not yet reviewed

#7430 fixes #23839 - lce full width details
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-details.html
Labels: Needs testing, Not yet reviewed

#7409 fixes #23390 - set data for breadcrumbs
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/environments.controller.js
  engines/bastion_katello/test/environments/environments.controller.test.js
Labels: Needs testing, Not yet reviewed

#7397 Fixes #23688 - Error in Subscription Add/List when location is selected
  app/models/katello/glue/candlepin/pool.rb
  app/views/katello/api/v2/subscriptions/base.json.rabl
Labels: Needs testing, Not yet reviewed

#7417 Fixes #23761 - Subscription quantity shows as automatic
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-add-subscriptions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-subscriptions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/common/views/subscription-add-or-remove.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-add-subscriptions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-subscriptions.controller.js
Labels: Needs testing, Not yet reviewed

#7394 Fixes #23667: Allow nil task, xfer date from CVV
  app/views/katello/api/v2/content_view_histories/show.json.rabl
  db/migrate/20161014133811_move_content_view_version_description_to_histories.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-versions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/histories/content-view-history.controller.js
Labels: Needs testing, Not yet reviewed

#7424 Fixes #22768 - Bump runcible to 2.8.1
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#7353 Fixes #23481 - Host Collection Action Modal Links
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-host-collections-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-host-collections-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-subscriptions-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/errata-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/errata-details.html
Labels: Needs testing, Not yet reviewed

#7408 Fixes #23672 - publish puppet repos last
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/katello/content_view/publish.rb
Labels: Needs re-review, Needs testing

#7414 fixes #23778 - docker pull header
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7433 sprinkle some SSL onto http
  README.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7438 Fixes #23890 - React tests broken on jenkins
  .gitignore
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7420 Fixes #23802 - Port robottelo tests - sync_plan
  test/controllers/api/v2/sync_plans_controller_test.rb
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#7442 fixes #23841 - remove columns that were moved to facets
  db/migrate/20180612165011_remove_content_fields_from_host.rb
Labels: Needs testing, Not yet reviewed

#7434 Fixes #21648 - Red Hat Recommended Repositories
  package.json
  webpack/move_to_pf/test-utils/testHelpers.js
  webpack/redux/actions/RedHatRepositories/helpers.js
  webpack/redux/actions/RedHatRepositories/sets.js
  webpack/redux/consts.js
  webpack/redux/reducers/RedHatRepositories/sets.fixtures.js
  webpack/redux/reducers/RedHatRepositories/sets.js
  webpack/redux/reducers/RedHatRepositories/sets.test.js
  webpack/scenes/RedHatRepositories/components/RecommendedRepositorySetsToggler.js
  webpack/scenes/RedHatRepositories/components/RecommendedRepositorySetsToggler.scss
  webpack/scenes/RedHatRepositories/components/RepositorySet.js
  webpack/scenes/RedHatRepositories/components/__tests__/RecommendedRepositorySetsToggler.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RecommendedRepositorySetsToggler.test.js.snap
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/RedHatRepositories/index.scss
  webpack/test_setup.js
Labels: Needs testing, Not yet reviewed

#7440 Fixes #23906 - Fix react re-render after tasks polling
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/index.js
Labels: Needs testing, Not yet reviewed

#7429 Fixes #23691 - upgrade react to 16.3
  package.json
  webpack/components/PaginationRow/index.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
Labels: Blocked by another PR, Needs testing, Not yet reviewed

#7422 fixes #23822 - allow slashes in registry repo routes
  config/routes/api/registry.rb
Labels: Needs testing, Not yet reviewed

#7410 Fixes #23774 - maintain consistency in the scoped-search doc
  app/controllers/katello/api/v2/api_controller.rb
Labels: Needs testing, Not yet reviewed

#7423 refs #23823 - pool hypervisor nullified on host destroy
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/pool.rb
  app/views/katello/api/v2/subscriptions/base.json.rabl
  db/migrate/20180612163403_add_foreign_key_to_hypervisor_id.rb
Labels: Needs re-review, Needs testing

#7448 3.7 RC1 Changelog
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7445 Fixes #23475 - stop polling tasks on unauthorized request
  webpack/scenes/Tasks/TaskActions.js
  webpack/scenes/Tasks/__tests__/TaskActions.test.js
  webpack/scenes/Tasks/__tests__/task.fixtures.js
Labels: Needs testing, Not yet reviewed

#7449 fixes #23850,#23866 - lifecycle container image tags
  app/models/katello/content_view_version.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/environment-content.controller.js
  engines/bastion_katello/test/environments/details/environment-content.controller.test.js
Labels: Needs testing, Not yet reviewed

#7381 Fixes #23644 - Fix > >= < <= version/release searches
  app/lib/katello/util/package.rb
  app/lib/katello/util/package_filter.rb
  app/models/katello/rpm.rb
  test/fixtures/models/katello_repository_rpms.yml
  test/fixtures/models/katello_rpms.yml
  test/models/rpm_test.rb
Labels: Needs testing, Not yet reviewed

#7389 Fixes #23660 - Add/Update desc on Composite Content view
  app/controllers/katello/api/v2/content_views_controller.rb
  test/controllers/api/v2/content_views_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7452 fixes #23943 - use order instead of sort
  lib/katello/tasks/repository.rake
  test/lib/tasks/repository_test.rb
Labels: Needs re-review, Needs testing

#7444 Fixes #23908 - add scroll bar in manifest modal
  webpack/scenes/Subscriptions/Manifest/Manifest.scss
Labels: Needs testing, Not yet reviewed

#7458 fixes #23954 - test stubs should return dynflow task
  test/controllers/api/v2/repositories_controller_test.rb
  test/lib/tasks/clean_published_repo_directories_test.rb
  test/lib/tasks/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7446 Fixes #23904 - store unique content per org
  app/lib/actions/katello/product/content_create.rb
  app/models/katello/concerns/organization_extensions.rb
  app/models/katello/content.rb
  app/models/katello/glue/candlepin/product.rb
  db/migrate/20180612164926_add_content_org_id.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
  test/fixtures/models/katello_contents.yml
  test/models/product_content_test.rb
  test/models/product_test.rb
  test/services/product_content_finder_test.rb
Labels: Needs testing, Not yet reviewed

#7454 Fixes #23944 - Fix react router SubscriptionDetails path
  webpack/containers/Application/config.js
Labels: Needs re-review, Needs testing

#7439 Fixes #23571 - fix manifest modal buttons
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/Manifest/index.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
Labels: Needs testing, Not yet reviewed

#7436 Fixes #23887 - Unclear error on manage repo set bulk action
  app/lib/actions/katello/host/update_content_overrides.rb
Labels: Needs testing, Not yet reviewed

#7415 Fixes #23788 - update product and content names
  app/lib/katello/resources/candlepin/activation_key.rb
  app/lib/katello/resources/candlepin/product.rb
  app/models/katello/content.rb
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/glue/candlepin/product.rb
  app/models/katello/glue/candlepin/repository.rb
  app/models/katello/glue/candlepin/subscription.rb
  app/models/katello/glue/provider.rb
  test/fixtures/files/manifest_small_modified.zip
  test/fixtures/models/katello_contents.yml
  test/fixtures/models/katello_product_contents.yml
  test/fixtures/vcr_cassettes/katello/glue_candlepin_provider/import_products.yml
  test/fixtures/vcr_cassettes/katello/glue_candlepin_provider/import_products_updates_content.yml
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/organization_destroy.yml
  test/fixtures/vcr_cassettes/scenarios/product_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_sync.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_repo_if_exists.yml
  test/glue/candlepin/provider_test.rb
  test/models/content_test.rb
  test/services/product_content_finder_test.rb
Labels: Needs testing, Not yet reviewed

#7461 Fixes #23966 - empty state buttons should work with react router
  webpack/move_to_foreman/components/common/emptyState/index.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsTable.test.js
Labels: Needs testing, Not yet reviewed

#7462 Fixes #23983 - Port robottelo tests - puppet_modules
  test/controllers/api/v2/puppet_modules_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7441 Fixes #23910 - Port robottelo tests - repository
  test/controllers/api/v2/repositories_controller_test.rb
  test/models/repository_base.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7477 Fixes #24097 - Remove mention bot config
  .mention-bot
Labels: Needs testing, Not yet reviewed

#7467 Fixes #23694 - group subscriptions by SKU
  webpack/move_to_foreman/common/helpers.js
  webpack/move_to_foreman/components/common/table/components/CollapseSubscriptionGroupButton.js
  webpack/move_to_foreman/components/common/table/components/CollapseSubscriptionGroupButton.test.js
  webpack/move_to_foreman/components/common/table/components/Table.js
  webpack/move_to_foreman/components/common/table/components/Table.test.js
  webpack/move_to_foreman/components/common/table/components/TableBody.js
  webpack/move_to_foreman/components/common/table/components/TableBody.test.js
  webpack/move_to_foreman/components/common/table/components/TableBodyMessage.js
  webpack/move_to_foreman/components/common/table/components/TableBodyMessage.test.js
  webpack/move_to_foreman/components/common/table/components/TableFixtures.js
  webpack/move_to_foreman/components/common/table/components/TableSelectionCell.js
  webpack/move_to_foreman/components/common/table/components/TableSelectionCell.test.js
  webpack/move_to_foreman/components/common/table/components/TableSelectionHeaderCell.js
  webpack/move_to_foreman/components/common/table/components/TableSelectionHeaderCell.test.js
  webpack/move_to_foreman/components/common/table/components/__snapshots__/CollapseSubscriptionGroupButton.test.js.snap
  webpack/move_to_foreman/components/common/table/components/__snapshots__/Table.test.js.snap
  webpack/move_to_foreman/components/common/table/components/__snapshots__/TableBody.test.js.snap
  webpack/move_to_foreman/components/common/table/components/__snapshots__/TableBodyMessage.test.js.snap
  webpack/move_to_foreman/components/common/table/components/__snapshots__/TableSelectionCell.test.js.snap
  webpack/move_to_foreman/components/common/table/components/__snapshots__/TableSelectionHeaderCell.test.js.snap
  webpack/move_to_foreman/components/common/table/components/index.js
  webpack/move_to_foreman/components/common/table/formatters/cellFormatter.js
  webpack/move_to_foreman/components/common/table/formatters/collapseableAndSelectionCellFormatter.js
  webpack/move_to_foreman/components/common/table/formatters/ellipsisCellFormatter.js
  webpack/move_to_foreman/components/common/table/formatters/headerFormatter.js
  webpack/move_to_foreman/components/common/table/formatters/index.js
  webpack/move_to_foreman/components/common/table/formatters/selectionCellFormatter.js
  webpack/move_to_foreman/components/common/table/formatters/selectionHeaderCellFormatter.js
  webpack/move_to_foreman/components/common/table/index.js
  webpack/scenes/Subscriptions/Manifest/ManifestHistoryTableSchema.js
  webpack/scenes/Subscriptions/Subscriptions.scss
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsPage.scss
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/EntitlementsInlineEditFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/index.js
  webpack/scenes/Subscriptions/index.js
Labels: Needs testing, Not yet reviewed

#7451 Fixes #23922: make spinner adhere to pf.
  webpack/containers/Application/config.js
  webpack/move_to_pf/LoadingState/LoadingState.js
  webpack/move_to_pf/LoadingState/LoadingState.scss
  webpack/move_to_pf/LoadingState/LoadingState.test.js
  webpack/move_to_pf/LoadingState/__snapshots__/LoadingState.test.js.snap
  webpack/move_to_pf/LoadingState/index.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/RedHatRepositories/index.scss
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.js
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetails.test.js.snap
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7475 fixes #24068 - correctly remove schedules for repos
  app/lib/actions/katello/product/update.rb
  lib/katello/tasks/repository.rake
  test/actions/katello/product_test.rb
Labels: Needs testing, Not yet reviewed

#7480 Fixes #22936 - Enhance repo messaging when all repos enabled
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositories.js
Labels: Needs testing, Not yet reviewed

#7376 Fixes #23275: move subscriptions page to main app.
  config/routes.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/subscriptions.routes.js
  engines/bastion_katello/lib/bastion_katello/engine.rb
  lib/katello/plugin.rb
  webpack/containers/Application/config.js
  webpack/index.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7464 fixes #23747 - correct filter tags
  app/models/katello/content_view_docker_filter.rb
  test/models/content_view_docker_filter_test.rb
Labels: Needs testing, Not yet reviewed
