Repository Katello/katello, pull requests merged in 2018-07, with the labels that each got.

#7460 Fixes #23964 - Update SSL Certs of Repo
  app/lib/actions/katello/product/repositories_certs_reset.rb
  app/lib/actions/katello/product/update.rb
Labels: Needs testing, Not yet reviewed

#7427 Fixes #23837: prepend ActionTriggering at startup
  app/models/katello/concerns/subscription_facet_host_extensions.rb
  test/models/concerns/content_facet_host_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7491 Fixes #24134 - Error enabling atomic kickstart repo
  app/lib/katello/util/cdn_var_substitutor.rb
  test/lib/util/cdn_var_subsitutor_test.rb
  webpack/redux/actions/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository.js
  webpack/scenes/RedHatRepositories/components/SearchBar.js
Labels: Needs testing, Not yet reviewed

#7476 Fixes #24093 - Notification is sent only when disk > 90%
  app/services/katello/ui_notifications/pulp/proxy_disk_space.rb
Labels: Needs testing, Not yet reviewed

#7373 Fixes #23604 - Speed up manifest import perf
  app/models/katello/glue/candlepin/candlepin_object.rb
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/glue/provider.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed

#7426 refs #23712 - pids for ported robottelo cv filter tests
  test/models/content_view_filter_test.rb
Labels: Needs testing, Not yet reviewed

#7502 Fixes #23744 - Package action modal is too short
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  engines/bastion_katello/app/assets/stylesheets/bastion_katello/bastion_katello.scss
Labels: Needs testing, Not yet reviewed

#7459 fixes #23899 - pull w/o authentication
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/v2/environments_controller.rb
  app/views/katello/api/v2/environments/show.json.rabl
  app/views/katello/api/v2/repositories/show.json.rabl
  db/migrate/20180614184822_add_unauthenticated_pull.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-details.html
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7481 Fixes #23957 - Use proper Notications API for bulk products
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/products-bulk-advanced-sync-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/products.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/tasks/tasks.module.js
Labels: Needs testing, Not yet reviewed

#7493 Fixes #24145 - correct message of max available entitlements
  webpack/scenes/Subscriptions/components/SubscriptionsTable/EntitlementsInlineEditFormatter.js
Labels: Needs testing, Not yet reviewed

#7447 Fixes #23921 - Change to HTTPS
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register.html
Labels: Needs re-review, Needs testing

#7505 Fixes #24190 - fix tag
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register.html
Labels: Needs testing, Not yet reviewed

#7503 Fixes #24187 - do not paginate when calling upstream candlepin
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7510 Fixes #24197 - prevent entering zero subscriptions
  webpack/scenes/Subscriptions/SubscriptionValidations.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionValidations.test.js
Labels: Needs testing, Not yet reviewed

#7507 Fixes #23942 - Reset Pool model after migration
  db/migrate/20180410140909_add_organization_id_to_pool.rb
Labels: Needs testing, Not yet reviewed

#7465 Fixes #23968 - fix adding/removing multiple subs
  app/lib/actions/katello/host/remove_subscriptions.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-subscriptions-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-add-subscriptions.controller.js
  engines/bastion_katello/test/content-hosts/details/content-host-add-subscriptions.controller.test.js
  test/services/katello/candlepin/consumer_test.rb
Labels: Needs testing, Not yet reviewed

#7488 Fixes #24117 - Correct test for core change
  test/models/activation_key_test.rb
Labels: Needs testing, Not yet reviewed

#7482 Fixes #24064 - Update upstream subs API response id
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/upstream_pool.rb
  app/services/katello/candlepin/pool_service.rb
  app/views/katello/api/v2/upstream_subscriptions/base.json.rabl
  db/migrate/20180626160422_add_upstream_pool_id_to_katello_pool.rb
  lib/katello/tasks/upgrades/3.7/import_pools.rake
  test/fixtures/models/katello_pools.yml
  test/models/upstream_pool_test.rb
  test/services/katello/candlepin/pool_service_test.rb
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/upstreamSubscriptions.fixtures.js
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
Labels: Needs testing, Not yet reviewed

#7518 Fixes #24140, #24142 - mount react root component from the layout
  app/views/katello/layouts/react.html.erb
  webpack/index.js
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/redux/actions/RedHatRepositories/sets.js
  webpack/scenes/Organizations/OrganizationActions.js
  webpack/scenes/RedHatRepositories/components/Search.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailActions.js
  webpack/scenes/Subscriptions/Manifest/ManifestActions.js
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsActions.js
  webpack/services/api/index.js
Labels: Needs testing, Not yet reviewed

#7517 Fixes #24206 - Subscriptions group should reversed
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
Labels: Needs testing, Not yet reviewed

#7515 Fixes #24222: fix arrow on grouped subscriptions
  webpack/move_to_foreman/components/common/table/components/CollapseSubscriptionGroupButton.js
  webpack/move_to_foreman/components/common/table/components/__snapshots__/CollapseSubscriptionGroupButton.test.js.snap
Labels: Needs testing, Not yet reviewed

#7520 Fixes #24128 - Correct manifest upload link on the repos page
  webpack/scenes/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#7523 fixes #24239 - fix tests environment taxonomies validation
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7501 Fixes #24157 - undefined SubscriptionsPage `tasks`
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/index.js
Labels: Needs testing, Not yet reviewed

#7513 Fixes #24230 - headers should not bleed out either
  app/views/dashboard/_content_views_widget.html.erb
  app/views/dashboard/_errata_widget.html.erb
  app/views/dashboard/_host_collection_widget.html.erb
  app/views/dashboard/_subscription_status_widget.html.erb
  app/views/dashboard/_subscription_widget.html.erb
  app/views/dashboard/_sync_widget.html.erb
Labels: Needs testing, Not yet reviewed

#7489 Fixes #23493 - Add description to repos
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/glue/pulp/repos.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  db/migrate/20180618195941_add_description_to_repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/models/katello_repositories.yml
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7398 Fixes #23706 - CV/LE show the right value on Host form
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  test/helpers/hosts_and_hostgroups_helper_test.rb
Labels: Needs testing, Not yet reviewed

#7463 fixes #24014 - Add line to print missing candlepin/pulp consumers
  lib/katello/tasks/clean_backend_objects.rake
Labels: Needs testing, Not yet reviewed

#7431 fixes #23846 - port robottelo docker repo tests
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7528 Fixes #24254 - fix eslint error
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed

#7529 Fixes #24255 - Ignore engines directory for jest
  package.json
Labels: Needs testing, Not yet reviewed

#7511 Refs #22794 - Robottelo tests attr - organization
  test/controllers/api/v2/organizations_controller_test.rb
  test/models/organization_test.rb
Labels: Needs testing, Not yet reviewed

#7526 Refs #23005 - Robottelo tests attr - kt_environment
  test/controllers/api/v2/environments_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7512 fixes #24055 - docker search unauth repos
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/v2/environments_controller.rb
  app/models/katello/kt_environment.rb
  test/actions/katello/capsule_content_test.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
  test/fixtures/models/katello_repositories.yml
Labels: Needs testing, Not yet reviewed

#7530 3.7 RC2 Changelog
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7534 Bump version to 3.7.0.rc2
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7483 Fixes #23063 - Add notifications on subscription API errors
  webpack/__mocks__/foremanReact/redux/actions/toasts.js
  webpack/mockRequest.js
  webpack/move_to_foreman/common/helpers.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailActions.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailReducer.js
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetailReducer.test.js
  webpack/scenes/Subscriptions/Details/__tests__/subscriptionDetails.fixtures.js
  webpack/scenes/Subscriptions/Manifest/ManifestActions.js
  webpack/scenes/Subscriptions/Manifest/ManifestHistoryReducer.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManifestActions.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManifestHistoryReducer.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/manifest.fixtures.js
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsActions.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsReducer.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsActions.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/upstreamSubscriptions.fixtures.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/services/api/fixtures.js
  webpack/services/api/testHelpers.js
Labels: Needs testing, Not yet reviewed

#7525 fixes #24242 - pulpnode for storage notifications
  .rubocop.yml
  app/services/katello/ui_notifications/pulp/proxy_disk_space.rb
Labels: Needs testing, Not yet reviewed

#7537 Bump version to 3.8.0.rc
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7478 Fixes #24083 - Set ca-path on sync notifier
  app/models/katello/glue/pulp/repo.rb
  lib/katello/engine.rb
  lib/katello/tasks/update_sync_notifications.rake
Labels: Needs testing, Not yet reviewed

#7536 Bump version to 3.9
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7522 Fixes #24141 - SelectAll subscriptions with groups
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
Labels: Needs testing, Not yet reviewed

#7533 Refs #23706 - Show proper content source
  app/views/overrides/activation_keys/_host_environment_select.html.erb
Labels: Needs testing, Not yet reviewed

#7498 Fixes #23903 - Hide repo sets without a valid subscription
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/models/katello/glue/candlepin/owner.rb
  app/models/katello/product_content.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
  webpack/redux/actions/RedHatRepositories/sets.js
Labels: Needs re-review, Needs testing

#7516 Fixes #24129: fix subs. display when no manifest.
  package.json
  webpack/__mocks__/foremanReact/redux/actions/toasts.js
  webpack/containers/Application/config.js
  webpack/move_to_foreman/components/common/EmptyState/index.js
  webpack/move_to_foreman/components/common/table/components/Table.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RecommendedRepositorySetsToggler.test.js.snap
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/SubscriptionHelpers.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Subscriptions/index.js
Labels: Needs testing, Not yet reviewed

#7519 Fixes #24229 - Add title to repo type selector
  webpack/move_to_pf/react-bootstrap-select/index.js
  webpack/scenes/RedHatRepositories/components/SearchBar.js
Labels: Needs testing, Not yet reviewed

#7542 fixes #24304 - fix remote execution pkg actions
  app/controllers/katello/remote_execution_controller.rb
  db/seeds.d/75-job_templates.rb
Labels: Needs testing, Not yet reviewed

#7540 Fixes #24215 - Add validation for upstream sub quantities
  webpack/move_to_foreman/common/helpers.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsPage.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
Labels: Needs testing, Not yet reviewed

#7545 Fixes #24188 - Filter by OSTree on RH Repos
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#7547 Fixes #24324 - Update eslint commands and fix issues
  package.json
  webpack/scenes/RedHatRepositories/components/SearchBar.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsPage.test.js
Labels: Needs testing, Not yet reviewed

#7548 Fixes #24327 - Update outdated references in README
  README.md
Labels: Needs testing, Not yet reviewed

#7455 Fixes #22900 - Add breadcrumbsBar to RH Subscriptions page
  webpack/__mocks__/foremanReact/components/BreadcrumbBar.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.js
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetails.test.js
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetails.test.js.snap
  webpack/scenes/Subscriptions/Details/index.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsPage.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
Labels: Needs testing, Not yet reviewed

#7554 Fixes #24337 - Add robottelo to ActiveSupport tests
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#7557 Add 3.8 changelog
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7559 Fixes #24354: update react-bootstrap to 0.32.1
  package.json
Labels: Needs testing, Not yet reviewed

#7541 Fixes #23510 - available quantities errors don't block editing
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/EntitlementsInlineEditFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/EntitlementsInlineEditFormatter.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/EntitlementsInlineEditFormatter.test.js.snap
Labels: Needs testing, Not yet reviewed

#7550 fixes #24334 - remove sourcerpm as field of srpm
  app/services/katello/pulp/srpm.rb
Labels: Needs testing, Not yet reviewed

#7561 Fixes #24335: fix virt who column of subscriptions
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7563 3.7.0 GA version bump & changelog
  CHANGELOG.md
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7555 Fixes #24336 - upgrade jest and fix errors
  package.json
  webpack/components/Search/Search.test.js
  webpack/global_test_setup.js
  webpack/move_to_foreman/components/common/table/components/__snapshots__/CollapseSubscriptionGroupButton.test.js.snap
  webpack/move_to_foreman/components/common/table/components/__snapshots__/TableSelectionCell.test.js.snap
  webpack/move_to_foreman/components/common/table/components/__snapshots__/TableSelectionHeaderCell.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/SubscriptionDetails.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManageManifestModal.test.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7514 Fixes #22914 - Add repo perms to lifecycle environment
  app/models/katello/authorization/repository.rb
  test/models/authorization/repository_authorization_test.rb
Labels: Needs testing, Not yet reviewed

#7562 Fixes #24310 - RH repos disable notify on error
  webpack/scenes/RedHatRepositories/components/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/EnabledRepositoryContent.js
  webpack/scenes/RedHatRepositories/components/__tests__/EnabledRepository.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/EnabledRepositoryContent.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/EnabledRepository.test.js.snap
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/EnabledRepositoryContent.test.js.snap
Labels: Needs testing, Not yet reviewed

#7495 Fixes #22568 - add select org page
  config/routes.rb
  webpack/__mocks__/foremanReact/redux.js
  webpack/components/SelectOrg/SelectOrg.scss
  webpack/components/SelectOrg/SelectOrgAction.js
  webpack/components/SelectOrg/SelectOrgReducer.js
  webpack/components/SelectOrg/SetOrganization.js
  webpack/components/WithOrganization/withOrganization.js
  webpack/containers/Application/config.js
  webpack/containers/Application/index.js
  webpack/helpers/caret.js
  webpack/move_to_pf/Select/Select.js
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/redux/consts.js
  webpack/redux/reducers/index.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailActions.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/services/api/index.js
  webpack/test_setup.js
Labels: Needs testing, Not yet reviewed

#7473 Fixes #23750 - add toast notification when a task is started
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/ManifestHistoryReducer.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManageManifestModal.test.js
  webpack/scenes/Subscriptions/Manifest/index.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Tasks/helpers.js
Labels: Needs testing, Not yet reviewed

#7552 fixes #24265 - repo discovery w/ gpg_key_id
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/views/discovery-create.html
Labels: Needs testing, Not yet reviewed

#7531 Fixes #24263 - Added managed content medium provider
  app/models/katello/concerns/redhat_extensions.rb
  app/services/katello/managed_content_medium_provider.rb
  lib/katello/plugin.rb
  test/models/concerns/redhat_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7492 Fixes #24137 - set default CV filter rule sort_by to ID
  app/controllers/katello/api/v2/content_view_filter_rules_controller.rb
Labels: Needs testing, Not yet reviewed

#7568 Fixes #24389 - speed up packages API
  app/models/katello/rpm.rb
Labels: Needs testing, Not yet reviewed

#7571 Fixes #24311 - add default value to pagination row
  webpack/components/PaginationRow/index.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#7570 Fixes #24395 - Add missing permissions to host subscriptions
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
Labels: Needs testing, Not yet reviewed

#7560 Fixes #24358 - filter cv filter rules by name and errata_id
  app/controllers/katello/api/v2/content_view_filter_rules_controller.rb
Labels: Needs testing, Not yet reviewed

#7573 Fixes #24398 - add 'danger' class to delete manifest button
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
Labels: Needs testing, Not yet reviewed

#7544 Fixes #24273 Composite CV promote with restrict flag
  app/models/katello/content_view.rb
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#7574 Fixes #24423 - fix jest errors
  package.json
Labels: Needs testing, Not yet reviewed

#7572 Fixes #24390 - Content Source is inherited when creating host
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/views/overrides/activation_keys/_host_environment_select.html.erb
  test/helpers/hosts_and_hostgroups_helper_test.rb
Labels: Needs testing, Not yet reviewed

#7535 Fixes #24275 - Fixed synced OSTREE version order
  app/controllers/katello/api/v2/ostree_branches_controller.rb
  test/controllers/api/v2/ostree_branches_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7579 refs #24055 - fix env save error
  app/controllers/katello/api/v2/environments_controller.rb
  app/models/katello/kt_environment.rb
  test/controllers/api/v2/environments_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7582 Fixes #24436 - use new api for pool consumer ids
  app/lib/katello/resources/candlepin/pool.rb
  app/models/katello/glue/candlepin/pool.rb
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/organization_destroy.yml
  test/fixtures/vcr_cassettes/scenarios/product_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_sync.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_repo_if_exists.yml
Labels: Needs testing, Not yet reviewed
