Repository Katello/katello, pull requests merged in 2018-02, with the labels that each got.

#7192 Fixes #22254 - Add autocomplete component
  package.json
  webpack/move_to_pf/TypeAhead/TypeAhead.js
  webpack/move_to_pf/TypeAhead/TypeAhead.scss
  webpack/move_to_pf/TypeAhead/TypeAheadInput.js
  webpack/move_to_pf/TypeAhead/TypeAheadItems.js
  webpack/move_to_pf/TypeAhead/helpers.js
Labels: Needs testing, Not yet reviewed

#7082 Fixes #21703 - register systems immediately
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/lib/actions/candlepin/consumer/destroy.rb
  app/lib/actions/katello/host/destroy.rb
  app/lib/actions/katello/host/register.rb
  app/lib/actions/katello/host/unregister.rb
  app/services/katello/registration_manager.rb
  lib/katello/tasks/clean_backend_objects.rake
  test/actions/katello/host/destroy_test.rb
  test/actions/katello/host/register_test.rb
  test/actions/katello/host/unregister_test.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/lib/tasks/clean_backend_objects_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs re-review, Needs testing

#7199 Fixes #22600 - fixes test failures around url helper
  app/helpers/katello/katello_urls_helper.rb
Labels: Needs testing, Not yet reviewed

#7200 Add 3.6.0 changelog
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7203 Update changelog for 3.5.1
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7201 Fixes #22614 - only detect non-library repos for cv publish check
  app/models/katello/content_view.rb
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#7195 Fixes #22564 - ignore docker and custom repos from repo sets
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/models/katello/product_content.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
  test/models/product_content_test.rb
Labels: Needs testing, Not yet reviewed

#7117 Fixes #21994 - Auto Publish composite
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/content_views_controller.rb
  app/lib/actions/katello/content_view/publish.rb
  app/models/katello/content_view.rb
  app/models/katello/content_view_history.rb
  app/models/katello/content_view_version.rb
  app/services/katello/ui_notifications/content_view/auto_publish_failure.rb
  app/views/katello/api/v2/content_view_histories/show.json.rabl
  app/views/katello/api/v2/content_views/base.json.rabl
  db/migrate/20171214050230_add_auto_publish_to_content_views.rb
  db/migrate/20180207232901_add_triggered_by_to_content_view_history.rb
  db/seeds.d/110-content-view-autopublish.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/new/views/content-view-new.html
Labels: Needs testing, Not yet reviewed

#7186 fixes #22501 - search docker tags by digest
  app/models/katello/docker_meta_tag.rb
  test/controllers/api/v2/docker_tags_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7207 Fixes #22644 - limit host group relations searching
  app/models/katello/concerns/hostgroup_extensions.rb
Labels: Needs testing, Not yet reviewed

#7170 fixes #22302 - allow empty docker repo
  app/models/katello/repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7182 fixes #22301 - upload docker manifest and tag
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/pulp/repository/import_upload.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7198 Fixes #22597: add opt-out classes for jquery select plugins.
  webpack/components/MultiSelect/index.js
  webpack/move_to_pf/react-bootstrap-select/index.js
Labels: Needs testing, Not yet reviewed

#6750 Fixes #19302 - Notification for Pulp low disk space
  app/jobs/create_pulp_disk_space_notifications.rb
  app/services/katello/ui_notifications/pulp/proxy_disk_space.rb
  db/seeds.d/109-katello-notification-blueprints.rb
  lib/katello/engine.rb
  lib/katello/scheduled_jobs.rb
Labels: Needs re-review

#6710 Fixes #19056: Use URI to parse Candlepin URL
  app/lib/katello/resources/candlepin.rb
Labels: Needs testing, Not yet reviewed

#7211 refs #19056 - include port in candlepin uri
  app/lib/katello/resources/candlepin.rb
Labels: Needs testing, Not yet reviewed

#7188 Fixes #22561 - consolidate repo create/update apipie docs
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Needs testing, Not yet reviewed

#7202 Fixes #21953 Adding enable/disable and search bar
  webpack/move_to_pf/TypeAhead/TypeAhead.js
  webpack/move_to_pf/TypeAhead/TypeAheadInput.js
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/redux/actions/RedHatRepositories/sets.js
  webpack/redux/reducers/RedHatRepositories/enabled.fixtures.js
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/redux/reducers/RedHatRepositories/sets.fixtures.js
  webpack/redux/reducers/RedHatRepositories/sets.js
  webpack/scenes/RedHatRepositories/components/RepositorySet.js
  webpack/scenes/RedHatRepositories/components/Search.js
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.js
Labels: Needs testing, Not yet reviewed

#7204 Refs #22620 - make UI honor enabled repo types
  app/services/katello/repository_type_manager.rb
  config/katello.yaml.example
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/environment.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/views/environments.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repository-types.service.js
  engines/bastion_katello/test/content-views/details/content-view-details.controller.test.js
  engines/bastion_katello/test/environments/details/environment.controller.test.js
  engines/bastion_katello/test/products/details/repositories/new/new-repository.controller.test.js
  katello.gemspec
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#7206 Fixes #21797 - handle various edge cases related to registration
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/controllers/katello/concerns/api/v2/hosts_controller_extensions.rb
  app/controllers/katello/concerns/hosts_controller_extensions.rb
  app/lib/actions/katello/host/destroy.rb
  app/lib/actions/katello/host/upload_package_profile.rb
  app/lib/actions/pulp/consumer/generate_applicability.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/host_installed_package.rb
  app/services/katello/candlepin/message_handler.rb
  app/services/katello/registration_manager.rb
  test/actions/katello/host/destroy_test.rb
  test/actions/katello/host/upload_package_profile_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/services/candlepin/message_handler_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed
