Repository Katello/katello, pull requests merged in 2018-03, with the labels that each got.

#7217 Fixes #22743 - ensure proper ordering on registering reload paths
  lib/katello/engine.rb
Labels: Needs testing, Not yet reviewed

#7218 Fixes #22726: add RH subscriptions skeleton page.
  webpack/containers/Application/config.js
  webpack/scenes/Dashboard/__snapshots__/dashboard.test.js.snap
  webpack/scenes/Dashboard/dashboard.test.js
  webpack/scenes/Dashboard/index.js
  webpack/scenes/Subscriptions/index.js
Labels: Needs testing, Not yet reviewed

#7222 Fixes #22769 - do not allow file:// repos with lazy sync types
  app/models/katello/repository.rb
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/custom_repo_path.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/delete_orphaned_content.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_default_capsule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_external_capsule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/generate_distributors_with_nil.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/pulp_update_needed_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/sync.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo/sync_schedule.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/class_distribution_bootable_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/distribution_bootable_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/find_packages_by_name.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/find_packages_by_nvre.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/import_distribution_data.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/package_groups.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/successful_sync_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/sync_state.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/sync_status.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_contents/synced_.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_create_destroy/create_pulp_repo.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/clone_contents.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/create_clone.yml
  test/fixtures/vcr_cassettes/katello/glue_pulp_repo_operations/published.yml
  test/glue/pulp/repository_test.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#7208 Fixes #22373 - Audit manifest import/refresh using Organization
  app/lib/actions/katello/organization/manifest_delete.rb
  app/lib/actions/katello/organization/manifest_import.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/models/katello/concerns/organization_extensions.rb
  db/migrate/20180218191449_add_manifest_refreshed_at_to_organization.rb
  test/actions/katello/organization_test.rb
Labels: Needs testing, Not yet reviewed

#7191 Fixes #22562: do not truncate repository (set) titles.
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/redux/actions/RedHatRepositories/helpers.js
  webpack/redux/actions/RedHatRepositories/repositorySetRepositories.js
  webpack/redux/actions/RedHatRepositories/sets.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/RepositorySet.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositories.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository.js
  webpack/scenes/RedHatRepositories/components/RepositoryTypeIcon.js
  webpack/scenes/RedHatRepositories/components/__tests__/RepositoryTypeIcon.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RepositoryTypeIcon.test.js.snap
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/RedHatRepositories/index.scss
  webpack/services/index.js
Labels: Not yet reviewed

#7221 Fixes #22755 - Job Template to install Errata on Suse
  app/views/foreman/job_templates/install_errata.erb
Labels: Needs testing, Not yet reviewed

#7226 fixes #22799 - setting to indicate disconnected mode
  app/models/setting/content.rb
Labels: Needs testing, Not yet reviewed

#7197 Fixes #22594: Allow listing upstream subs
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  app/lib/katello/resources/candlepin.rb
  app/lib/katello/resources/candlepin/consumer.rb
  app/lib/katello/resources/candlepin/owner.rb
  app/lib/katello/resources/candlepin/pool.rb
  app/lib/katello/util/http_proxy.rb
  app/models/katello/upstream_pool.rb
  app/views/katello/api/v2/upstream_subscriptions/base.json.rabl
  app/views/katello/api/v2/upstream_subscriptions/index.json.rabl
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
  test/fixtures/vcr_cassettes/services/katello.yml
  test/lib/resources/candlepin_test.rb
  test/lib/tasks/update_subscription_facet_backend_data_test.rb
  test/models/host/subscription_facet_test.rb
  test/models/upstream_pool_test.rb
Labels: Needs testing, Not yet reviewed

#7227 Fixes #22760 - Search repository sets by name
  app/controllers/katello/api/v2/repository_sets_controller.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7210 fixes #22647 - ensure sync notification on repo sync
  app/lib/actions/katello/product/create.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/katello/sync_plan/add_products.rb
  app/lib/actions/pulp/repository/ensure_sync_notification.rb
  app/models/katello/glue/pulp/repo.rb
  test/actions/katello/repository_test.rb
  test/actions/katello/sync_plan/add_products_test.rb
  test/scenarios/scenario_test.rb
Labels: Needs testing, Not yet reviewed

#7237 Fixes #22881: specify size and type of icons.
  webpack/scenes/RedHatRepositories/components/RepositoryTypeIcon.js
  webpack/scenes/RedHatRepositories/components/__tests__/RepositoryTypeIcon.test.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RepositoryTypeIcon.test.js.snap
  webpack/services/index.js
Labels: Needs testing, Not yet reviewed

#7236 Fixes #22873 - handle race condition on host unregister
  app/models/katello/content_facet_applicable_rpm.rb
  app/models/katello/host/content_facet.rb
Labels: Needs testing, Not yet reviewed

#7239 fixes #22878 - no future subs in cdn substitutor
  app/lib/katello/resources/candlepin.rb
Labels: Needs testing, Not yet reviewed

#7229 Fixes #22826: Allow passing verify SSL when talking to Pulp
  app/models/katello/ping.rb
  app/services/katello/pulp/server.rb
Labels: Needs testing, Not yet reviewed

#7225 Fixes #22797 - support SLES os fact
  app/services/katello/candlepin/consumer.rb
  test/services/katello/candlepin/consumer_test.rb
Labels: Needs testing, Not yet reviewed

#7216 Fixes #22371, #22563 - Add pagination and filtering to RH repos
  app/models/katello/repository.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  app/views/katello/api/v2/repositories/show.json.rabl
  package.json
  test/models/repository_test.rb
  webpack/components/MultiSelect/index.js
  webpack/components/PaginationRow/PaginationRow.test.js
  webpack/components/PaginationRow/__snapshots__/PaginationRow.test.js.snap
  webpack/components/PaginationRow/index.js
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/redux/actions/RedHatRepositories/helpers.js
  webpack/redux/actions/RedHatRepositories/sets.js
  webpack/redux/reducers/RedHatRepositories/enabled.fixtures.js
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/redux/reducers/RedHatRepositories/filters.fixtures.js
  webpack/redux/reducers/RedHatRepositories/sets.fixtures.js
  webpack/redux/reducers/RedHatRepositories/sets.js
  webpack/scenes/RedHatRepositories/components/MultiSelect.js
  webpack/scenes/RedHatRepositories/components/Search.js
  webpack/scenes/RedHatRepositories/components/SearchBar.js
  webpack/scenes/RedHatRepositories/components/__tests__/__snapshots__/RepositoryTypeIcon.test.js.snap
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/services/index.js
Labels: Needs testing, Not yet reviewed

#7240 Fixes #22894 - Modified RHSM fact importer for name filtering.
  app/models/katello/rhsm_fact_importer.rb
Labels: Needs testing, Not yet reviewed

#7231 fixes #22834 - fix JS error on host collection bulk errata
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
Labels: Needs testing, Not yet reviewed

#7234 Fixes #22867 - Configurable 'expiring soon' days
  app/models/katello/pool.rb
  app/models/setting/content.rb
  test/factories/pool_factory.rb
Labels: Needs testing, Not yet reviewed

#7233 Fixes #22859 - Extract the latest strings from katello.
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/translations.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-manage-debs.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-manage-files.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-manage-packages.html
  locale/action_names.rb
  locale/katello.pot
Labels: Needs testing, Not yet reviewed

#7245 fixes #22923 - remove yum from "yum actions" menu
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-details.html
Labels: Needs testing, Not yet reviewed

#7243 Fixes #22911: fix styling issues on RH repos page.
  webpack/move_to_pf/react-bootstrap-select/index.js
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/RedHatRepositories/index.scss
Labels: Needs testing, Not yet reviewed

#7247 Fixes #22939 - add setting for strict host re-register
  app/models/katello/host/subscription_facet.rb
  app/models/setting/content.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed

#7244 Fixes #22919 - Modify the extract process to remove duplicates
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/README
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
Labels: Needs testing, Not yet reviewed

#7242 Fixes #22370: use the new RH repos page instead of the old.
  app/assets/javascripts/katello/providers/provider_redhat.js
  app/assets/javascripts/katello/providers/redhat/index.js
  app/controllers/katello/products_controller.rb
  app/controllers/katello/providers_controller.rb
  app/helpers/katello/providers_helper.rb
  app/views/katello/providers/redhat/_enable_errors.html.erb
  app/views/katello/providers/redhat/_errors.html.erb
  app/views/katello/providers/redhat/_repo_sets.html.erb
  app/views/katello/providers/redhat/_repos.html.erb
  app/views/katello/providers/redhat/_tab.html.erb
  app/views/katello/providers/redhat/show.html.erb
  app/views/katello/sync_management/_products.html.erb
  config/routes.rb
  lib/katello/permission_creator.rb
  lib/katello/plugin.rb
  webpack/containers/Application/Menu.js
  webpack/containers/Application/Routes.js
  webpack/containers/Application/config.js
  webpack/scenes/Welcome/index.js
Labels: Needs testing, Not yet reviewed

#7246 Fixes #22931 - Stop communication w/ RH portal while disconnected
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/subscriptions_controller.rb
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/manifest/manifest-import.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/manifest/views/manifest-import.html
  test/controllers/api/v2/subscriptions_controller_test.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#6752 Fixes #19314 - Notification for subscr. expiring soon
  app/jobs/send_expire_soon_notifications.rb
  app/models/katello/concerns/organization_extensions.rb
  app/models/katello/subscription.rb
  app/services/katello/ui_notifications/subscriptions/expire_soon.rb
  db/seeds.d/109-katello-notification-blueprints.rb
  lib/katello/scheduled_jobs.rb
Labels: Needs testing, Not yet reviewed

#7256 Fixes #23000 - NoMethodError ssl_client_cert
  app/models/katello/content_view_puppet_environment.rb
Labels: Needs testing, Not yet reviewed

#7224 Fixes #22794 - Port robottelo tests for katello organization
  test/controllers/api/v2/organizations_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7259 Update changelog for 3.6 RC2
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7250 Fixes #22944: Use current org for rhsm candlepin
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  app/lib/katello/resources/candlepin.rb
  app/models/katello/glue/candlepin/owner.rb
  app/models/katello/upstream_pool.rb
  app/views/katello/api/v2/upstream_subscriptions/index.json.rabl
  config/routes/api/v2.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
  test/lib/resources/candlepin_test.rb
  test/models/upstream_pool_test.rb
Labels: Needs testing, Not yet reviewed

#7252 Fixes #16699 - puppet module version not correct in content view
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/puppet-modules/content-view-puppet-modules.controller.js
Labels: Needs testing, Not yet reviewed

#7263 Fixes #22966 - RH Repos content filter is now preserved on page change
  webpack/scenes/RedHatRepositories/index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7251 Fixes #22978 - Improve Event Queue db queries
  app/models/katello/event.rb
  app/services/katello/event_queue.rb
  test/services/katello/event_queue_test.rb
Labels: Needs testing, Not yet reviewed

#7261 Fixes #23006 - Wrap event queue thread in Rails executor
  app/lib/actions/katello/event_queue/poller_thread.rb
Labels: Needs testing, Not yet reviewed

#7230 Fixes #22728, #22781, #22366: add subscription tables.
  .eslintrc
  package.json
  webpack/__mocks__/foremanReact/common/helpers.js
  webpack/__mocks__/foremanReact/components/common/table.js
  webpack/containers/Application/config.js
  webpack/containers/Application/index.js
  webpack/containers/Application/overrides.scss
  webpack/mockRequest.js
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/redux/reducers/RedHatRepositories/sets.js
  webpack/redux/reducers/index.js
  webpack/scenes/RedHatRepositories/index.scss
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsActions.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsContstants.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsReducer.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsActions.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsPage.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/upstreamSubscriptions.fixtures.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/index.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsActions.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/index.js
  webpack/services/api/index.js
  webpack/test_setup.js
Labels: Blocked by another PR, Needs testing, Not yet reviewed, Work In Progress
