Repository Katello/katello, pull requests merged in 2019-04, with the labels that each got.

#8057 Refs #26165 - More defensive docker removal migration
  db/migrate/20180823081502_remove_foreman_docker_support.rb
Labels: Needs testing, Not yet reviewed

#8043 Fixes #25753 - Renderer Ext. support hostgroup
  app/lib/katello/concerns/renderer_extensions.rb
  app/models/katello/concerns/redhat_extensions.rb
  test/lib/concerns/renderer_extensions_test.rb
  test/models/concerns/redhat_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#7992 Fixes #25998 - pulp3 file creation
  app/lib/actions/katello/pulp_selector.rb
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/repository/metadata_generate.rb
  app/lib/actions/pulp/abstract.rb
  app/lib/actions/pulp/repository/create_in_plan.rb
  app/lib/actions/pulp3/abstract.rb
  app/lib/actions/pulp3/abstract_async_task.rb
  app/lib/actions/pulp3/orchestration/repository/create.rb
  app/lib/actions/pulp3/orchestration/repository/generate_metadata.rb
  app/lib/actions/pulp3/repository/create.rb
  app/lib/actions/pulp3/repository/create_publication.rb
  app/lib/actions/pulp3/repository/create_publisher.rb
  app/lib/actions/pulp3/repository/create_remote.rb
  app/lib/actions/pulp3/repository/create_version.rb
  app/lib/actions/pulp3/repository/refresh_distribution.rb
  app/lib/actions/pulp3/repository/save_distribution_references.rb
  app/lib/actions/pulp3/repository/save_publication.rb
  app/lib/actions/pulp3/repository/save_version.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/content_view.rb
  app/models/katello/pulp3/distribution_reference.rb
  app/models/katello/pulp3/repository_reference.rb
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/file.rb
  app/services/katello/repository_type.rb
  db/migrate/20190219152921_add_pulp3_attributes.rb
  db/seeds.d/104-proxy.rb
  katello.gemspec
  lib/katello.rb
  lib/katello/repository_types/file.rb
  test/actions/katello/content_view_puppet_environment_test.rb
  test/actions/katello/pulp_selector_test.rb
  test/actions/katello/repository/import_upload_test.rb
  test/actions/katello/repository/metadata_generate_test.rb
  test/actions/katello/repository_test.rb
  test/actions/pulp/repository/refresh_needed_test.rb
  test/actions/pulp/repository/refresh_test.rb
  test/actions/pulp3/orchestration/file_create_test.rb
  test/actions/pulp3/orchestration/generate_metadata_test.rb
  test/controllers/api/v2/content_uploads_controller_test.rb
  test/factories/smart_proxy_factory.rb
  test/fixtures/vcr_cassettes/actions/pulp3/file_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/generate_metadata/generate_metadata.yml
  test/katello_test_helper.rb
  test/models/content_view_puppet_environment_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed

#8037 Fixes #26407 - adds clause .generate before pulp call
  app/services/katello/pulp/repository/docker.rb
  test/services/katello/pulp/repository/docker_test.rb
Labels: Needs testing, Not yet reviewed

#8059 Fixes #26503 - Save sync plan on rec logic update
  app/models/katello/sync_plan.rb
Labels: Needs testing, Not yet reviewed

#8051 Fixes #26479 - allow errata filtering in templates
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#8060 Fixes #26514 - CV version - OSTree branches is broken
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/content-view-version-content.controller.js
Labels: Needs testing, Not yet reviewed

#8061 Fixes #26516 - Update syspurpose status
  app/lib/actions/candlepin/import_pool_handler.rb
  app/models/katello/concerns/subscription_facet_host_extensions.rb
  app/models/katello/host/subscription_facet.rb
  app/models/katello/purpose_addons_status.rb
  app/models/katello/purpose_role_status.rb
  app/models/katello/purpose_sla_status.rb
  app/models/katello/purpose_status.rb
  app/models/katello/purpose_usage_status.rb
  app/services/katello/candlepin/consumer.rb
  app/services/katello/candlepin/message_handler.rb
  app/services/katello/candlepin/system_purpose.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts-helper.service.js
  test/fixtures/candlepin_messages/system_purpose_compliance.created.json
  test/models/host/subscription_facet_test.rb
  test/models/purpose_addons_status_test.rb
  test/models/purpose_role_status_test.rb
  test/models/purpose_sla_status_test.rb
  test/models/purpose_status_test.rb
  test/models/purpose_usage_status_test.rb
  test/services/candlepin/message_handler_test.rb
  test/services/katello/candlepin/system_purpose_test.rb
Labels: Needs testing, Not yet reviewed

#8062 Fixes #25114 - Include Bastion locale files form angular-i18n
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#8065 Fixes #26535 - Fix Content reimport
  app/models/katello/content.rb
  test/models/content_test.rb
Labels: Needs testing, Not yet reviewed

#8068 Fixes #26515 - Unable to publish/promote puppet CV
  app/models/katello/concerns/smart_proxy_extensions.rb
  test/actions/katello/pulp_selector_test.rb
Labels: Needs testing, Not yet reviewed

#7993 Fixes #26206 - Content view dependency solving
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/content_views_controller.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/katello/repository/clone_contents.rb
  app/lib/actions/katello/repository/clone_to_version.rb
  app/lib/actions/pulp/repository/copy_all_units.rb
  app/lib/actions/pulp/repository/copy_units.rb
  app/models/katello/content_view.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/setting/content.rb
  app/services/katello/pulp/repository.rb
  app/services/katello/pulp/repository/yum.rb
  app/views/katello/api/v2/content_views/base.json.rabl
  db/migrate/20190221201724_add_dependency_solving_to_katello_content_view.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/new/content-view-new.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/new/views/content-view-new.html
  engines/bastion_katello/test/content-views/new/content-view-new.controller.test.js
  test/actions/katello/repository/clone_to_version_test.rb
  test/controllers/api/v2/content_views_controller_test.rb
  test/fixtures/models/katello_content_view_repositories.yml
  test/fixtures/models/katello_content_view_versions.yml
  test/fixtures/models/katello_content_views.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create_custom.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/refresh.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_no_filters.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_rpm_filenames.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/errata_filter.yml
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#8073 Fixes #26570 - Updates for Rubocop 0.66
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/content_view_components_controller.rb
  app/controllers/katello/api/v2/ping_controller.rb
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/controllers/katello/concerns/api/v2/hosts_controller_extensions.rb
  app/helpers/katello/sync_management_helper.rb
  app/lib/actions/candlepin/candlepin_listening_service.rb
  app/lib/actions/katello/repository_set/scan_cdn.rb
  app/lib/katello/resources/candlepin/product.rb
  app/lib/katello/util/package.rb
  app/lib/katello/util/search.rb
  app/models/katello/content_view.rb
  app/models/katello/content_view_history.rb
  app/models/katello/pulp_sync_status.rb
  app/presenters/katello/activation_key_subscriptions_presenter.rb
  app/presenters/katello/sync_status_presenter.rb
  db/migrate/20180920214134_create_repository_root.rb
  db/seeds.d/106-mail_notifications.rb
  spec/lib/package_util_spec.rb
  spec/models/task_status_spec.rb
  test/models/host/subscription_facet_test.rb
  test/services/katello/pxe_files_downloader_test.rb
  test/support/actions/pulp_task.rb
Labels: Needs testing, Not yet reviewed

#8067 Fixes #26547 - truncate package list in audit
  app/lib/actions/katello/host/erratum/install.rb
  app/lib/actions/katello/host/package/install.rb
  app/lib/actions/katello/host/package/remove.rb
  app/lib/actions/katello/host/package/update.rb
  app/lib/actions/katello/host/package_group/install.rb
  app/lib/actions/katello/host/package_group/remove.rb
Labels: Needs testing, Not yet reviewed

#8064 Fixes #26219 - state control from Rec Logic
  app/controllers/katello/api/v2/sync_plans_controller.rb
  app/models/katello/sync_plan.rb
  db/migrate/20190404030833_remove_enabled_from_sync_plans.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.9/migrate_sync_plans.rake
  test/lib/tasks/migrate_sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#8066 Refs #26191 - Raise error when host names mismatched
  app/models/katello/host/subscription_facet.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed

#8046 Fixes #26468 - Index modules before errata
  app/models/katello/yum_metadata_file.rb
  app/services/katello/pulp/yum_metadata_file.rb
  lib/katello/repository_types/yum.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8072 Fixes #26478 - Remove unnecessary module copy
  app/services/katello/pulp/repository.rb
Labels: Needs testing, Not yet reviewed

#8078 Fixes #26354 - Fix duplicate installable hosts count
  app/models/katello/erratum.rb
  test/models/erratum_test.rb
Labels: Needs testing, Not yet reviewed

#8010 Fixes #26309 - Cleanup sync_status table creation
  app/views/katello/sync_management/_children.html.erb
  app/views/katello/sync_management/_product.html.erb
  app/views/katello/sync_management/_products.html.erb
  app/views/katello/sync_management/_repo.html.erb
Labels: Needs testing, Not yet reviewed

#8075 Fixes #26596 - Auto Publish puppet install distributor
  app/services/katello/pulp/repository/puppet.rb
Labels: Needs testing, Not yet reviewed

#8076 Fixes #26600 - Duplicate host record when hypervisor_id changes
  app/lib/actions/katello/host/hypervisors_update.rb
  test/actions/katello/host/hypervisors_test.rb
  test/fixtures/files/virt_who_altered_hypervisor_id.json
  test/fixtures/vcr_cassettes/katello/host/hypervisors_vcr/altered_hypervisor_id.yml
  test/fixtures/vcr_cassettes/katello/host/hypervisors_vcr/duplicate_hostname.yml
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#8074 Fixes #26422 - Matching content not considered before publish
  app/lib/actions/middleware/skip_if_matching_content.rb
Labels: Needs testing, Not yet reviewed

#8081 Refs #26600 - Fix intermittent HypervisorsVcrTest
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#8079 Fixes #26417 - Fix Sync Plan dates
  app/models/katello/sync_plan.rb
  app/views/katello/api/v2/sync_plans/show.json.rabl
  app/views/katello/sync_management/_sync_plans.html.erb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/sync-plan-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/views/sync-plan-info.html
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#8070 Fixes #26549 - Registry can handle head requests
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed

#7494 Fixes #23912 - audit subscription changes for content host
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/host/content_facet.rb
  app/models/katello/host/subscription_facet.rb
  app/models/katello/kt_environment.rb
  app/models/katello/pool.rb
  app/services/katello/candlepin/message_handler.rb
  test/models/host/content_facet_test.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed

#8056 Fixes #26433 - Bulk update via agent fails
  app/lib/actions/katello/host/package/update.rb
  app/lib/actions/pulp/consumer/abstract_content_action.rb
Labels: Needs re-review, Needs testing

#8084 Bump version to 3.13.0
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8082 3.10.1 Changelog and version bump
  CHANGELOG.md
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8087 Fixes #26677 - Transient controller test
  test/controllers/api/rhsm/candlepin_dynflow_proxy_controller_integration_test.rb
Labels: Needs testing, Not yet reviewed

#8092 Fixes #26683 - Prevent .info-paragraph from overflowing columns
  engines/bastion/app/assets/stylesheets/bastion/nutupane.scss
Labels: Needs testing, Not yet reviewed

#8071 Fixes #26551 - Unregister delete host
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-details.html
Labels: Needs testing, Not yet reviewed

#8086 Fixes #26673 - Fix content host permissions
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-host-bulk-module-streams-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-module-streams.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
Labels: Needs testing, Not yet reviewed

#8091 Fixes #26682 - fixed seed test for bcrypt setting
  test/lib/tasks/seeds_test.rb
Labels: Needs testing, Not yet reviewed

#8089 Fixes #26678 - Export doesn't match errata count
  app/controllers/katello/concerns/hosts_controller_extensions.rb
Labels: Needs testing, Not yet reviewed

#8054 Pulp3 file sync
  app/lib/actions/helpers/output_propagator.rb
  app/lib/actions/katello/pulp_selector.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/middleware/propagate_output.rb
  app/lib/actions/pulp/orchestration/repository/sync.rb
  app/lib/actions/pulp/repository/sync.rb
  app/lib/actions/pulp3/orchestration/repository/sync.rb
  app/lib/actions/pulp3/repository/create_publication.rb
  app/lib/actions/pulp3/repository/presenters/abstract_sync_presenter.rb
  app/lib/actions/pulp3/repository/presenters/content_unit_presenter.rb
  app/lib/actions/pulp3/repository/sync.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/file.rb
  test/actions/katello/pulp_selector_test.rb
  test/actions/katello/repository_test.rb
  test/actions/pulp/repository/remove_units_test.rb
  test/actions/pulp/repository/sync_progress_test.rb
  test/actions/pulp/repository/sync_test.rb
  test/actions/pulp3/orchestration/file_sync_test.rb
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/controllers/sync_management_controller_test.rb
  test/factories/smart_proxy_factory.rb
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync.yml
  test/services/katello/pulp/repository/yum_test.rb
  test/support/pulp/repository_support.rb
Labels: Needs testing, Not yet reviewed
