Repository Katello/katello, pull requests merged in 2019-07, with the labels that each got.

#8184 Refs #27037 - add port option to proxy update task
  lib/katello/tasks/update_content_default_http_proxy.rake
  test/lib/tasks/http_proxy_tasks_test.rb
Labels: Needs testing, Not yet reviewed

#8185 Fixes #26821 - move cp owner delete to finalize phase
  app/lib/actions/candlepin/owner/destroy.rb
  app/lib/actions/katello/organization/destroy.rb
  test/actions/katello/organization_test.rb
Labels: Needs testing, Not yet reviewed

#8164 Fixes #26991 - Add Ansible Collections
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/pulp3/orchestration/repository/generate_metadata.rb
  app/lib/pulp/v3/api.rb
  app/models/katello/ansible_collection.rb
  app/models/katello/repository.rb
  app/models/katello/repository_ansible_collection.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/ansible_collection.rb
  app/services/katello/pulp3/file_unit.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/services/katello/pulp3/repository/file.rb
  app/services/katello/repository_type.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  app/views/katello/api/v2/repositories/show.json.rabl
  config/katello.yaml.example
  db/migrate/20190617142328_create_katello_ansible_collections.rb
  db/migrate/20190618034438_add_ansible_collection_whitelist_to_katello_root_repositories.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
  katello.gemspec
  lib/katello/repository_types/ansible_collection.rb
  test/actions/katello/repository_test.rb
  test/actions/pulp3/orchestration/ansible_collection_create_test.rb
  test/actions/pulp3/orchestration/ansible_collection_delete_test.rb
  test/actions/pulp3/orchestration/ansible_collection_sync_test.rb
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
  test/fixtures/katello/ansible_collections.yml
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync.yml
  test/models/katello/ansible_collection_test.rb
Labels: Needs testing, Not yet reviewed

#8186 fixes #24180 - UI for system purpose in activation key
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-info.html
  engines/bastion_katello/test/activation-keys/details/activation-key-details-info.controller.test.js
  engines/bastion_katello/test/activation-keys/details/activation-key-details.controller.test.js
Labels: Needs testing, Not yet reviewed

#8194 Fixes #27222 - Add minitest reporter for slow tests
  katello.gemspec
  lib/katello/tasks/jenkins.rake
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#8193 Fixes #27213 - Expose description to update filter api call
  app/controllers/katello/api/v2/content_view_filters_controller.rb
  test/controllers/api/v2/content_view_filters_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8190 Fixes #27204 - use newer pulp clients
  app/lib/actions/pulp3/abstract_async_task.rb
  app/lib/pulp/v3/api.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/katello/pulp3/ansible_collection.rb
  app/services/katello/pulp3/file_unit.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/services/katello/pulp3/repository/file.rb
  katello.gemspec
  lib/katello/repository_types/file.rb
  test/actions/pulp3/orchestration/ansible_collection_sync_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_removeunits/empty_content_args.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_removeunits/empty_content_args_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_removeunits/incorrect_content_units_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_removeunits/remove_file_unit.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_removeunits/remove_file_unit_updates_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_update/update_set_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_update/update_ssl_validation.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_update/update_unset_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/generate_metadata/generate_metadata.yml
  test/fixtures/vcr_cassettes/actions/pulp3/generate_metadata/generate_with_source_repo.yml
  test/fixtures/vcr_cassettes/katello/service/file_unit/index.yml
  test/fixtures/vcr_cassettes/katello/service/file_unit/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/file_unit/index_on_sync.yml
  test/services/katello/pulp3/repository/file/update_remote_test.rb
Labels: Needs testing, Not yet reviewed

#8196 Fixes #27229 - add message attribute to ping api
  app/views/katello/api/v2/ping/show.json.rabl
Labels: Needs testing, Not yet reviewed

#8189 Fixes #27169 - Pass arg to delete_orphaned_content
  lib/katello/tasks/delete_orphaned_content.rake
  test/lib/tasks/delete_orphaned_content_test.rb
Labels: Needs testing, Not yet reviewed

#8195 Fixes #27223 - manage global proxy via seeds
  db/seeds.d/115-http_proxy.rb
  test/lib/tasks/seeds_test.rb
Labels: Needs testing, Not yet reviewed

#8203 Fixes #27256 - JS error on REX errata install
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-errata.controller.js
  engines/bastion_katello/test/content-hosts/content/content-host-errata.controller.test.js
Labels: Needs testing, Not yet reviewed

#8181 Fixes #27121 - migrate proxy usage to global content proxy
  app/lib/actions/katello/repository/discover.rb
  app/lib/katello/resources/cdn.rb
  app/lib/katello/util/cdn_var_substitutor.rb
  app/lib/katello/util/http_proxy.rb
  app/models/katello/concerns/http_proxy_extensions.rb
  app/models/katello/concerns/location_extensions.rb
  app/models/katello/concerns/organization_extensions.rb
  test/lib/util/http_proxy_test.rb
Labels: Needs testing, Not yet reviewed

#8179 Fixes #26996 - support docker content
  app/services/katello/pulp3/repository/docker.rb
  katello.gemspec
  lib/katello/repository_types/docker.rb
  test/actions/pulp3/orchestration/docker_create_test.rb
  test/actions/pulp3/orchestration/docker_delete_test.rb
  test/actions/pulp3/orchestration/docker_update_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/docker_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_set_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_ssl_validation.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_unset_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_upstream_name.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_url.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags_empty.yml
Labels: Needs testing, Not yet reviewed

#8039 Fixes #26434 - move system statuses from deface to react
  app/overrides/add_about_page.rb
  app/views/overrides/about/_system_status.html.erb
  lib/katello/plugin.rb
  webpack/__mocks__/foremanReact/components/common/Fill/GlobalFill.js
  webpack/components/extensions/about/SystemStatuses.js
  webpack/components/extensions/about/SystemStatusesActions.js
  webpack/components/extensions/about/SystemStatusesConsts.js
  webpack/components/extensions/about/SystemStatusesReducer.js
  webpack/components/extensions/about/SystemStatusesSelectors.js
  webpack/components/extensions/about/__tests__/SystemStatuses.fixtures.js
  webpack/components/extensions/about/__tests__/SystemStatuses.test.js
  webpack/components/extensions/about/__tests__/SystemStatusesReducer.test.js
  webpack/components/extensions/about/__tests__/__snapshots__/SystemStatuses.test.js.snap
  webpack/components/extensions/about/__tests__/__snapshots__/SystemStatusesReducer.test.js.snap
  webpack/components/extensions/about/index.js
  webpack/components/extensions/reducers.js
  webpack/fills_index.js
  webpack/redux/reducers/index.js
Labels: Needs testing, Not yet reviewed

#8206 Fixes #27267 - Updates for rubocop 0.71.0
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing, Not yet reviewed

#8198 Fixes #27241 - duplicate content view CCV message is misleading
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-publish.html
Labels: Needs testing, Not yet reviewed

#8201 Fixes #27250 - docker manifest downloaded not used
  app/services/katello/pulp/docker_manifest.rb
  app/services/katello/pulp/docker_manifest_list.rb
  db/migrate/20190708195809_remove_all_manifest_downloaded.rb
Labels: Needs testing, Not yet reviewed

#8211 Fixes #27286 - check for http proxy table
  app/models/setting/content.rb
Labels: Needs testing, Not yet reviewed

#8182 Fixes #27152: fix js error on the repo page.
  webpack/scenes/RedHatRepositories/index.js
Labels: Needs testing, Not yet reviewed

#8204 Fixes #27257 - properly check os name for debian
  engines/bastion_katello/app/assets/javascripts/bastion_katello/hosts/host.factory.js
  engines/bastion_katello/test/hosts/host.factory.test.js
Labels: Needs testing, Not yet reviewed

#8199 Fixes #27242 - Update CDN url might break feed url.
  app/lib/actions/katello/provider/update.rb
  app/models/katello/root_repository.rb
  test/actions/katello/provider/update_test.rb
  test/fixtures/models/katello_contents.yml
Labels: Needs testing, Not yet reviewed

#8213 Fixes #27306 - RH repos fix http proxy check
  app/lib/katello/util/http_proxy.rb
  test/lib/resources/candlepin_test.rb
Labels: Needs testing, Not yet reviewed

#8216 Fixes #27327 - Recommend Ansible 2.8 RH Repo
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#8215 refs #27050 - Adding apipie metadata
  app/controllers/katello/api/v2/activation_keys_controller.rb
Labels: Needs testing, Not yet reviewed

#8188 Fixes #27194 - Run CV auto-publish serially
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/event_queue/poller_thread.rb
  app/models/katello/content_view.rb
  app/models/katello/event.rb
  app/models/katello/events/auto_publish_composite_view.rb
  app/services/katello/event_queue.rb
  db/migrate/20190702182118_add_metadata_process_after_to_katello_event.rb
  lib/katello/engine.rb
  test/actions/katello/content_view_test.rb
  test/factories/content_view_component_factory.rb
  test/fixtures/models/katello_content_views.yml
  test/models/events/auto_publish_composite_view_test.rb
  test/services/katello/event_queue_test.rb
Labels: Needs testing, Not yet reviewed

#8212 Fixes #27288 - CCV environment repo shouldn't be a master
  app/models/katello/repository.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8207 Fixes #27268 - Expose ansible collection endpoints
  app/controllers/katello/api/v2/ansible_collections_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/views/katello/api/v2/ansible_collections/base.json.rabl
  app/views/katello/api/v2/ansible_collections/index.json.rabl
  app/views/katello/api/v2/ansible_collections/show.json.rabl
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/ansible_collections_controller_test.rb
  test/fixtures/katello/ansible_collections.yml
  test/fixtures/models/katello_ansible_collections.yml
  test/fixtures/models/katello_repository_ansible_collections.yml
  test/support/fixtures_support.rb
Labels: Needs testing, Not yet reviewed

#8219 Fixes #27328 - restore backend identifier in the UI
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
Labels: Needs testing, Not yet reviewed

#8210 Fixes #27279 - only save upstream auth when intentional.
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
Labels: Needs testing, Not yet reviewed

#8221 Fixes #27368 - migrate to @theforeman/vendor pkg
  .babelrc
  package.json
  webpack/.eslintrc
  webpack/move_to_pf/OptionTooltip/OptionTooltip.scss
  webpack/scenes/RedHatRepositories/components/RecommendedRepositorySetsToggler.scss
  webpack/scenes/RedHatRepositories/index.scss
  webpack/scenes/Subscriptions/SubscriptionsPage.scss
Labels: Needs testing, Not yet reviewed

#8171 Fixes #26930 - support multi-repo composite publishing
  app/lib/actions/katello/repository/clone_contents.rb
  app/lib/actions/pulp/orchestration/repository/copy_all_units.rb
  app/lib/actions/pulp/repository/copy_all_units.rb
  app/lib/actions/pulp3/abstract.rb
  app/lib/actions/pulp3/orchestration/repository/copy_all_units.rb
  app/lib/actions/pulp3/orchestration/repository/generate_metadata.rb
  app/lib/actions/pulp3/repository/copy_content.rb
  app/lib/actions/pulp3/repository/copy_version.rb
  app/lib/actions/pulp3/repository/create_publication.rb
  app/lib/actions/pulp3/repository/save_version.rb
  app/models/katello/concerns/pulp_database_unit.rb
  app/services/katello/pulp/pulp_content_unit.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/file.rb
  test/actions/katello/repository/clone_to_version_test.rb
  test/actions/pulp3/orchestration/copy_all_units_test.rb
  test/actions/pulp3/orchestration/generate_metadata_test.rb
  test/katello_test_helper.rb
  test/models/docker_tag_test.rb
  test/models/file_unit_test.rb
Labels: Needs testing, Not yet reviewed

#8233 Fixes #27423 - pin pulp_docker_client
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8236 Refs #27423 - unpin pulp_docker_client
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8229 Fixes #26318: add scoped search to CH errata page.
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
Labels: Needs testing, Not yet reviewed

#8227 Fixes #25113: ensure subscription pages have org
  webpack/components/SelectOrg/SetOrganization.js
  webpack/components/WithOrganization/__snapshots__/withOrganization.test.js.snap
  webpack/components/WithOrganization/withOrganization.js
  webpack/components/WithOrganization/withOrganization.test.js
  webpack/containers/Application/config.js
Labels: Needs testing, Not yet reviewed

#8226 Fixes #27390 - fix repo-link in content credential
  app/views/katello/api/v2/content_credentials/show.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/details/views/content-credential-repositories.html
Labels: Needs testing, Not yet reviewed

#8232 Fixes #27251 - Allow Host profile reuse during kickstart
  app/models/katello/host/subscription_facet.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed

#8191 Fixes #26767 - Custom products on bulk content host manage page
  app/controllers/katello/api/v2/repository_sets_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-repository-sets-modal.controller.js
  test/controllers/api/v2/repository_sets_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8187 Refs #26393 - import boot time information
  app/models/katello/rhsm_fact_parser.rb
Labels: Blocked by another PR, Needs testing, Not yet reviewed

#8223 Fixes #27370 - Pulp3 Presenter
  app/lib/actions/pulp3/repository/presenters/abstract_sync_presenter.rb
  app/lib/actions/pulp3/repository/presenters/content_unit_presenter.rb
  test/actions/katello/repository_test.rb
  test/fixtures/actions/pulp3/repository/sync/progress_units_ansible_collection.yaml
  test/fixtures/actions/pulp3/repository/sync/progress_units_file.yaml
  test/fixtures/actions/pulp3/repository/sync/success_ansible_collection.yaml
  test/fixtures/actions/pulp3/repository/sync/success_docker.yaml
  test/fixtures/actions/pulp3/repository/sync/success_file.yaml
Labels: Needs testing, Not yet reviewed

#7671 Fixes #24785 - handle redirection after host deletion on success
  app/controllers/katello/concerns/hosts_controller_extensions.rb
Labels: Needs re-review, Needs testing

#8217 Fixes #26999 - support syncing docker repositories in pulp3
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/docker_tag.rb
  app/models/katello/yum_metadata_file.rb
  app/services/katello/pulp3/docker_blob.rb
  app/services/katello/pulp3/docker_manifest.rb
  app/services/katello/pulp3/docker_manifest_list.rb
  app/services/katello/pulp3/docker_tag.rb
  app/services/katello/pulp3/repository/docker.rb
  lib/katello/repository_types/docker.rb
  test/actions/pulp3/orchestration/docker_sync_test.rb
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_sync/sync.yml
  test/fixtures/vcr_cassettes/katello/service/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/docker_tag/index_on_sync.yml
  test/services/katello/pulp3/docker_tag_test.rb
Labels: Needs testing, Not yet reviewed

#8228 Fixes #27392 - remove underscore translation function from global use
  webpack/.eslintrc
  webpack/move_to_foreman/components/common/table/components/TableSelectionCell.js
  webpack/move_to_foreman/components/common/table/formatters/EntitlementsInlineEditFormatter.js
  webpack/move_to_pf/LoadingState/LoadingState.js
  webpack/scenes/ModuleStreams/Details/ModuleStreamDetailInfo.js
  webpack/scenes/ModuleStreams/Details/ModuleStreamDetails.js
  webpack/scenes/ModuleStreams/Details/Profiles/TableSchema.js
  webpack/scenes/ModuleStreams/Details/Repositories/TableSchema.js
  webpack/scenes/ModuleStreams/ModuleStreamsPage.js
  webpack/scenes/ModuleStreams/ModuleStreamsTable.js
  webpack/scenes/ModuleStreams/ModuleStreamsTableSchema.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepositoryContent.js
  webpack/scenes/RedHatRepositories/components/RecommendedRepositorySetsToggler.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepositories.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository/RepositorySetRepository.js
  webpack/scenes/RedHatRepositories/components/SearchBar.js
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailProductContent.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetailProducts.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionTypeFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Dialogs/DeleteDialog.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Dialogs/InputsErrorsDialog.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Dialogs/UnsavedChangesDialog.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Dialogs/UpdateDialog.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Table.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/SubscriptionsToolbar.js
Labels: Needs testing, Not yet reviewed

#8222 Fixes #27367 - custom repo default download policy immediate
  app/models/katello/candlepin/repository_mapper.rb
  app/models/setting/content.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  test/models/candlepin/repository_mapper_test.rb
Labels: Needs testing, Not yet reviewed

#8220 Fixes #27277 - Fix pulp2 file indexing
  app/services/katello/pulp/file_unit.rb
  app/services/katello/pulp/repository/file.rb
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/katello/service/repository/file_vcr/sync_index_content.yml
  test/fixtures/vcr_cassettes/katello/service/repository/ostree_vcr/create.yml
  test/services/katello/pulp/repository/file_test.rb
  test/services/katello/pulp/repository/ostree_test.rb
  test/services/katello/pulp/rpm_test.rb
  test/services/katello/pulp/srpm_test.rb
  test/support/pulp/repository_support.rb
Labels: Needs testing, Not yet reviewed

#8230 Fixes #27387 - filter has_many update
  app/models/katello/content_view_filter.rb
  app/models/katello/repository.rb
  app/models/katello/repository_content_view_filter.rb
  db/migrate/20190723171639_update_content_view_filters_repositories_join_table.rb
Labels: Needs testing, Not yet reviewed

#8099 Refs #26135 - upload/delete/view srpms on a repo
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/api/v2/srpms_controller.rb
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/lib/actions/katello/repository/finish_upload.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/remove_content.rb
  app/lib/actions/katello/repository/upload_files.rb
  app/models/katello/repository.rb
  app/models/katello/srpm.rb
  app/services/katello/repository_type.rb
  app/services/katello/repository_type_manager.rb
  app/views/katello/api/v2/srpms/index.json.rabl
  app/views/katello/api/v2/srpms/show.json.rabl
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  lib/katello/repository_types/deb.rb
  lib/katello/repository_types/docker.rb
  lib/katello/repository_types/file.rb
  lib/katello/repository_types/ostree.rb
  lib/katello/repository_types/puppet.rb
  lib/katello/repository_types/yum.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/controllers/api/v2/srpms_controller_test.rb
Labels: Needs testing, Not yet reviewed
