Repository Katello/katello, pull requests merged in 2019-12, with the labels that each got.

#8449 Fixes #28321 - Remove link from sub name in collapsible row
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionNameFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#8459 Fixes #28368 - un-skip mirror false test
  test/actions/pulp3/orchestration/file_sync_test.rb
  test/fixtures/test_repos/file3/1.txt
  test/fixtures/test_repos/file3/2.txt
  test/fixtures/test_repos/file3/3.txt
  test/fixtures/test_repos/file3/PULP_MANIFEST
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync_with_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync_with_mirror_true.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync_with_pagination.yml
Labels: Needs testing, Not yet reviewed

#8452 Fixes #28326 - Improve event daemon resilience
  app/models/katello/ping.rb
  app/services/katello/candlepin_event_listener.rb
  app/services/katello/candlepin_listening_service.rb
  app/services/katello/event_daemon.rb
  app/services/katello/event_monitor/poller_thread.rb
  test/models/ping_test.rb
  test/services/katello/candlepin_event_listener_test.rb
  test/services/katello/event_daemon_test.rb
  test/services/katello/event_monitor/poller_thread_test.rb
Labels: Needs testing, Not yet reviewed

#8456 Fixes #28386 - Validate default_http_proxy setting for API/hammer
  app/models/setting/content.rb
  test/lib/tasks/seeds_test.rb
Labels: Ready for merge

#8470 Fixes #28474 - updates case for 'Http' and 'http'
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/setting/content.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-http-proxy-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/views/products.html
  lib/katello/tasks/update_content_default_http_proxy.rake
Labels: Needs testing, Not yet reviewed

#8458 Fixes #28413 - Create product with permissions
  app/models/katello/glue/candlepin/product.rb
Labels: Needs testing, Not yet reviewed

#8471 Refs #28194 - correct flaky result ordering
  test/actions/pulp3/orchestration/rpm_remove_units_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/empty_content_args.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/empty_content_args_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/incorrect_content_units_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/remove_rpm.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/remove_rpm_unit_updates_version_href.yml
Labels: Needs testing, Not yet reviewed

#8476 Fixes #28423 - bump react-router-bootstrap
  package.json
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/__snapshots__/UpstreamSubscriptionsPage.test.js.snap
Labels: Needs testing, Not yet reviewed

#8473 Fixes #16333 - sort CCV version based on IDs
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/components/views/content-view-composite-available-content-views.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/components/views/content-view-composite-content-views-list.html
Labels: Needs testing, Not yet reviewed

#8474 Fixes #28478 - Pulp 3 worker rename fix
  app/models/katello/ping.rb
Labels: Needs testing, Not yet reviewed

#8429 Fixes #27942 - docker distributors have wrong base_path
  app/services/katello/pulp3/repository/docker.rb
  app/services/katello/pulp3/repository_mirror.rb
  test/actions/pulp3/orchestration/docker_delete_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units/exclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units/inclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_set_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_ssl_validation.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_unset_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_upstream_name.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_url.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags_empty.yml
  test/fixtures/vcr_cassettes/katello/service/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/docker_tag/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_on_sync.yml
  test/services/katello/pulp3/repository/docker/distribution_test.rb
Labels: Needs re-review, Needs testing

#8468 Fixes #28427 - Caches counts in a CVV
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/models/katello/content_view_version.rb
  app/services/katello/repository_type_manager.rb
  app/views/katello/api/v2/content_view_versions/base.json.rabl
  db/migrate/20191204214919_add_content_view_version_counts.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
  test/models/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed

#8477 Fixes #28505: update vendor dependency.
  package.json
Labels: Needs testing, Not yet reviewed

#8463 Fixes #28195 - publish yum repo content view without filters
  app/lib/actions/katello/repository/clone_contents.rb
  app/lib/actions/katello/repository/clone_to_environment.rb
  app/lib/actions/pulp/repository/clear.rb
  app/services/katello/pulp3/repository/yum.rb
Labels: Needs testing, Not yet reviewed

#8475 Fixes #28489 - properly handle no-arch repos
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository/RepositorySetRepository.js
Labels: Needs testing, Not yet reviewed

#8480 Fixes #28446 - reverting snap update
  webpack/components/Content/Details/__tests__/__snapshots__/ContentDetails.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetails.test.js.snap
Labels: Needs testing, Not yet reviewed

#8478 Fixes #28459 - index Pulp 3 package groups and SRPMs
  app/services/katello/pulp3/package_group.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/rpm.rb
  app/services/katello/pulp3/srpm.rb
  app/views/katello/api/v2/package_groups/show.json.rabl
  katello.gemspec
  lib/katello/repository_types/yum.rb
  test/controllers/api/v2/package_groups_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/empty_content_args.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/empty_content_args_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/incorrect_content_units_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/remove_rpm.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/remove_rpm_unit_updates_version_href.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/update_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/package_group_vcr/pulp_data.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/package_group_vcr/repo_package_groups.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/rpm/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/rpm/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/rpm/update_model.yml
  test/fixtures/vcr_cassettes/katello/services/pulp3/srpm_vcr/pulp_data.yml
  test/fixtures/vcr_cassettes/katello/services/pulp3/srpm_vcr/repo_srpms.yml
  test/services/katello/pulp3/package_group_test.rb
  test/services/katello/pulp3/srpm_test.rb
  test/views/api/v2/package_group_test.rb
Labels: Needs testing, Not yet reviewed

#8482 Fixes #28550 - allow foreman-tasks 1.0.0
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8461 Fixes #28050 - rpm content upload
  app/services/katello/pulp3/rpm.rb
  test/actions/pulp3/orchestration/rpm_upload_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload_binary.yml
Labels: Needs testing, Not yet reviewed

#8481 Fixes #28537 - Added 6.7 repos
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#8484 Fixes #28350 - docker manifests not showing tags
  app/views/katello/api/v2/docker_manifest_lists/show.json.rabl
  app/views/katello/api/v2/docker_manifests/show.json.rabl
Labels: Needs testing, Not yet reviewed

#8485 Fixes #28557 - clear references clone that does not exist
  app/lib/actions/pulp/repository/clear.rb
  test/actions/pulp/repository/clear_repo_test.rb
  test/fixtures/vcr_cassettes/actions/pulp/repository/clear_repo/clear_repo.yml
Labels: Needs testing, Not yet reviewed
