Repository Katello/katello, pull requests merged in 2019-03, with the labels that each got.

#7989 Fixes #26176 - Extract the stings from the ruby and bastion code
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/katello.pot
Labels: Needs testing, Not yet reviewed

#7985 Fixes #26117 - Provide default syspurpose values
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/test/content-hosts/details/content-host-details.controller.test.js
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#7994 Fixes #25515 - Fix React router paths
  app/views/katello/layouts/react.html.erb
  webpack/containers/Application/config.js
Labels: Needs testing, Not yet reviewed

#8003 Fixes #26276 - remove react-bootstrap-tooltip-button
  package.json
  webpack/__mocks__/react-bootstrap-tooltip-button.js
  webpack/move_to_pf/TooltipButton/TooltipButton.js
  webpack/move_to_pf/TooltipButton/TooltipButton.scss
  webpack/move_to_pf/TooltipButton/TooltipButton.test.js
  webpack/move_to_pf/TooltipButton/__snapshots__/TooltipButton.test.js.snap
  webpack/move_to_pf/TooltipButton/index.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/SubscriptionsToolbar.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/__snapshots__/SubscriptionsToolbar.test.js.snap
Labels: Needs testing, Not yet reviewed

#8000 Fixes #26255 - fix boolean search definition
  app/models/katello/concerns/subscription_facet_host_extensions.rb
Labels: Needs testing, Not yet reviewed

#8005 Fixes #26300 - alter default columns on subs page
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
Labels: Needs testing, Not yet reviewed

#7996 Fixes #26228 - Fail ping when Candlepin is suspended
  app/models/katello/ping.rb
  test/models/ping_test.rb
Labels: Needs testing, Not yet reviewed

#7997 Fixes #26242 - Working message on custom cron interval
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/sync-plan-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/views/sync-plan-info.html
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8004 Fixes #26283 - hammer sync-plan update
  app/models/katello/sync_plan.rb
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#8007 Fixes #26304 - allow lce pattern with cvv version
  app/lib/katello/validators/environment_docker_repositories_validator.rb
  app/models/katello/repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-details.html
  test/lib/validators/environment_docker_repositories_validator_test.rb
Labels: Needs testing, Not yet reviewed

#8021 Fixes #26365 - Speeds up Pool import
  app/models/katello/glue/candlepin/pool.rb
Labels: Needs testing, Not yet reviewed

#8024 Fixes #26376 - remove lazy_accesor change tracking
  app/lib/katello/lazy_accessor.rb
  spec/models/lazy_accessor_spec.rb
Labels: Needs testing, Not yet reviewed

#8009 Fixes #26303 - RH Repos - Updating Satellite release
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#8015 Fixes #26350 - proxy accessible_content to candlepin
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  config/routes/api/rhsm.rb
Labels: Needs testing, Not yet reviewed

#7940 Fixes #25912 - Move js test-helpers to npm
  package.json
  webpack/move_to_foreman/components/common/table/components/CollapseSubscriptionGroupButton.test.js
  webpack/move_to_foreman/components/common/table/components/Table.test.js
  webpack/move_to_foreman/components/common/table/components/TableBody.test.js
  webpack/move_to_foreman/components/common/table/components/TableBodyMessage.test.js
  webpack/move_to_foreman/components/common/table/components/TableSelectionCell.test.js
  webpack/move_to_foreman/components/common/table/components/TableSelectionHeaderCell.test.js
  webpack/move_to_pf/OptionTooltip/__tests__/OptionTooltip.test.js
  webpack/move_to_pf/test-utils/testHelpers.js
  webpack/redux/OrganizationProducts/__tests__/OrganizationProductsActions.test.js
  webpack/redux/OrganizationProducts/__tests__/OrganizationProductsReducer.test.js
  webpack/redux/OrganizationProducts/__tests__/OrganizationProductsSelectors.test.js
  webpack/redux/OrganizationProducts/__tests__/__snapshots__/OrganizationProductsActions.test.js.snap
  webpack/scenes/ModuleStreams/Details/Profiles/__tests__/ModuleStreamDetailProfiles.test.js
  webpack/scenes/ModuleStreams/Details/Repositories/__tests__/ModuleStreamDetailRepositories.test.js
  webpack/scenes/ModuleStreams/Details/__tests__/ModuleStreamDetailArtifacts.test.js
  webpack/scenes/ModuleStreams/Details/__tests__/ModuleStreamDetailInfo.test.js
  webpack/scenes/ModuleStreams/Details/__tests__/ModuleStreamDetails.test.js
  webpack/scenes/ModuleStreams/Details/__tests__/ModuleStreamDetailsActions.test.js
  webpack/scenes/ModuleStreams/Details/__tests__/ModuleStreamDetailsReducer.test.js
  webpack/scenes/ModuleStreams/Details/__tests__/__snapshots__/ModuleStreamDetailsActions.test.js.snap
  webpack/scenes/RedHatRepositories/components/__tests__/RecommendedRepositorySetsToggler.test.js
  webpack/scenes/Settings/Tables/__tests__/TableReducer.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsActions.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsSelectors.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/SubscriptionsToolbar.test.js
Labels: Needs testing, Not yet reviewed

#8026 Refs #25912 - Add reference to test helpers package
  webpack/move_to_pf/TooltipButton/TooltipButton.test.js
Labels: Needs testing, Not yet reviewed

#7991 Fixes #26191 - Find existing system by UUID during registration
  app/models/katello/host/subscription_facet.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed

#8016 Fixes #26351 - use hypervisorId for virt-who hypevisor name
  app/lib/actions/katello/host/hypervisors_update.rb
  test/actions/katello/host/hypervisors_test.rb
  test/actions/katello/host/hypervisors_update_test.rb
  test/fixtures/files/virt_who_duplicate_host.json
  test/fixtures/vcr_cassettes/katello/host/hypervisors_vcr/duplicate_hostname.yml
Labels: Blocked by another PR, Needs testing, Not yet reviewed

#8023 Fixes #26385 - Expand the gemspec
  katello.gemspec
  package.json
Labels: Needs testing, Not yet reviewed

#7986 Fixes #25714 - Move sync methods to service class
  app/lib/actions/katello/capsule_content/configure_capsule.rb
  app/lib/actions/katello/capsule_content/create_repos.rb
  app/lib/actions/katello/capsule_content/remove_orphans.rb
  app/lib/actions/katello/capsule_content/remove_unneeded_repos.rb
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/pulp/abstract.rb
  app/lib/actions/pulp/repository/refresh_needed.rb
  app/services/katello/pulp/repository/yum.rb
  app/services/katello/pulp/smart_proxy_repository.rb
  lib/katello/tasks/delete_orphaned_content.rake
  test/actions/katello/capsule_content_test.rb
  test/actions/pulp/repository/refresh_needed_test.rb
Labels: Needs testing, Not yet reviewed

#8029 Fixes #26398 - Fix scenario test readme link
  README.md
Labels: Needs testing, Not yet reviewed

#8013 Fixes #26345 - RH repos - Add kickstart repos to recommended list
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#8030 Fixes #26361 - RABL template sync plan details
  app/views/katello/api/v2/repositories/base.json.rabl
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8033 Fixes #26410 - use the right input id when publishing puppet CVs
  app/lib/actions/pulp/repository/distributor_publish.rb
Labels: Needs testing, Not yet reviewed

#8031 Refs #26398 - Only fetch subset of repos during SP sync
  app/services/katello/pulp/smart_proxy_repository.rb
Labels: Needs testing, Not yet reviewed

#7998 Fixes #26251 - Repo Discovery with uname/passwd
  app/lib/katello/repo_discovery.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/discovery-create.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/discovery.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/views/discovery-create.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/views/discovery.html
  engines/bastion_katello/test/products/discovery/discovery.controller.test.js
Labels: Needs testing, Not yet reviewed

#8028 Fixes #26397 - Handle repos and cv puppet envs properly
  app/lib/actions/katello/content_view_puppet_environment/clear.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/pulp/repository/remove_units.rb
  test/actions/katello/content_view_puppet_environment_test.rb
Labels: Needs testing, Not yet reviewed

#8008 Fixes #26305 - Sync Plan enable field overrides
  app/controllers/katello/api/v2/sync_plans_controller.rb
  app/models/katello/sync_plan.rb
  lib/katello/tasks/upgrades/3.9/migrate_sync_plans.rake
  test/lib/tasks/migrate_sync_plan_test.rb
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#8012 Fixes #26221 - Index modular rpms
  app/models/katello/rpm.rb
  app/services/katello/pulp/rpm.rb
  app/views/katello/api/v2/packages/base.json.rabl
  db/migrate/20190312200644_add_modular_column_to_rpms.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/details/views/package-info.html
  test/fixtures/models/katello_repository_rpms.yml
  test/fixtures/models/katello_rpms.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_unit/remove_with_content_type.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_unit/remove_with_contents.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_unit/remove_with_repo.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create_custom.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/refresh.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_no_filters.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_rpm_filenames.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/errata_filter.yml
  test/fixtures/vcr_cassettes/katello/services/rpm/find.yml
  test/fixtures/vcr_cassettes/katello/services/rpm/ignored_fields.yml
  test/fixtures/vcr_cassettes/katello/services/rpm/requires.yml
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/organization_destroy.yml
  test/fixtures/vcr_cassettes/scenarios/product_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_sync.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_repo_if_exists.yml
  test/models/rpm_test.rb
  test/services/katello/pulp/repository/yum_test.rb
Labels: Needs testing, Not yet reviewed

#8017 Fixes #26353 - Fix missing checkbox to toggle installable errata
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-content-hosts.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8027 Fixes #26395 - track repostiory clear tasks
  app/lib/actions/katello/repository/clear.rb
  app/lib/actions/pulp/repository/clear.rb
Labels: Needs testing, Not yet reviewed

#8035 Fixes #26258: load organization after save.
  webpack/scenes/Organizations/OrganizationActions.js
  webpack/scenes/Organizations/__tests__/organizations.fixtures.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
Labels: Needs testing, Not yet reviewed

#7677 Fixes #26165 - Remove foreman-docker as hard dependency
  app/controllers/katello/concerns/containers/steps_controller_extensions.rb
  app/helpers/katello/concerns/foreman_docker/container_steps_helper_extensions.rb
  app/models/katello/concerns/container_extensions.rb
  app/models/katello/concerns/docker_container_wizard_state_extensions.rb
  app/models/katello/concerns/docker_container_wizard_state_image_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/views/foreman_docker/containers/steps/_katello_container.html.erb
  db/migrate/20141015173220_add_docker_image_fields.rb
  db/migrate/20141031150814_add_tag_repository_id_index.rb
  db/migrate/20141203123206_add_timestamps_to_repository_join_tables.rb
  db/migrate/20141210173220_create_docker_tables.rb
  db/migrate/20150109012657_add_capsule_id_to_container.rb
  db/migrate/20160203195736_remove_docker_image_schema.rb
  db/migrate/20170822104447_add_katello_content_to_image.rb
  db/migrate/20180823081502_remove_foreman_docker_support.rb
  katello.gemspec
  lib/katello.rb
  lib/katello/engine.rb
  test/controllers/foreman/containers/steps_controller_test.rb
  test/factories/compute_resource_factory.rb
  test/factories/container_factory.rb
  test/models/concerns/container_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8041 Refs #26459 - correct sync plan fetch test
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8025 Fixes #26389 - process org creation errors
  app/controllers/katello/api/v2/organizations_controller.rb
Labels: Needs testing, Not yet reviewed

#8045 Fixes #26447 - Remove version date from ostree branch
  app/models/katello/ostree_branch.rb
  app/services/katello/pulp/ostree_branch.rb
  app/views/katello/api/v2/ostree_branches/show.json.rabl
  db/migrate/20190326145039_remove_version_date_from_ostree_branch.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-ostree-branches.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-ostree.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/ostree-branches/details/views/ostree-branch-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-manage-ostree-branches.html
  test/controllers/api/v2/ostree_branches_controller_test.rb
  test/services/katello/pulp/ostree_branch_test.rb
Labels: Needs testing, Not yet reviewed

#8047 Fixes #26470 - clarify 'Red Hat Registry' is registry.redhat.io
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/container-registries.service.js
Labels: Needs testing, Not yet reviewed

#8034 Fixes #26412 - retry cp object creation on conflict
  app/lib/katello/util/support.rb
  app/models/katello/glue/candlepin/candlepin_object.rb
  app/models/katello/glue/candlepin/pool.rb
Labels: Needs testing, Not yet reviewed

#8044 Fixes #26463 - Don't strip trailing whitespace for gpg keys
  app/models/katello/gpg_key.rb
Labels: Needs testing, Not yet reviewed

#8048 Fixes #26364 - Copy modules on incremental update
  app/models/katello/erratum.rb
  app/services/katello/pulp/repository.rb
Labels: Needs testing, Not yet reviewed

#8049 CP - cherrypick 26447
  app/models/katello/ostree_branch.rb
  app/views/katello/api/v2/ostree_branches/show.json.rabl
  db/migrate/20190326145039_remove_version_date_from_ostree_branch.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/views/content-view-version-ostree-branches.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-ostree.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/ostree-branches/details/views/ostree-branch-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-manage-ostree-branches.html
  katello.gemspec
  test/controllers/api/v2/ostree_branches_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file_binary.yml
  test/fixtures/vcr_cassettes/katello/service/puppet_module/backend_data.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr/copy_contents.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr_create/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr_create/create_puppet_environment_archive.yml
Labels: Needs testing, Not yet reviewed

#8042 Fixes #26460 - fix ostree smart proxy sync
  app/services/katello/pulp/repository/ostree.rb
  test/services/katello/pulp/repository/ostree_test.rb
Labels: Needs testing, Not yet reviewed

#8014 Fixes #26223 - Copies modular rpms on cv publish
  app/controllers/katello/api/v2/packages_controller.rb
  app/models/katello/content_view_package_filter.rb
  app/services/katello/pulp/repository/yum.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/filters/package-filter.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/filters/views/filter-details.html
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create_custom.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/refresh.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_no_filters.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_rpm_filenames.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/errata_filter.yml
Labels: Needs testing, Not yet reviewed

#8055 Refs #26165 - more robust migration
  db/migrate/20180823081502_remove_foreman_docker_support.rb
Labels: Needs testing, Not yet reviewed
