Repository Katello/katello, pull requests merged in 2019-10, with the labels that each got.

#8363 Fixes #27714 - Generate bastion config on load
  engines/bastion/lib/bastion.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-installed.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages.controller.js
  engines/bastion_katello/lib/bastion_katello/engine.rb
  engines/bastion_katello/test/content-hosts/content/content-host-packages-installed.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-packages.controller.test.js
Labels: Needs testing, Not yet reviewed

#8352 Fixes #27878 - hide Registered Through for hypervisor profiles
  app/views/katello/api/v2/subscription_facet/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
Labels: Needs testing, Not yet reviewed

#8292 Fixes #27383 - audit hook in pool model to find records
  app/models/katello/pool.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed

#8306 Fixes #27720 - Use DSL to add content host link
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/overrides/add_subscription_status.rb
  app/views/overrides/hosts/_subscription_link.html.erb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#8355 Fixes #27890 - Adds an action to delete orphan mirror repo versions.
  app/lib/actions/pulp3/orchestration/orphan_cleanup/remove_orphans.rb
  app/lib/actions/pulp3/orphan_cleanup/delete_orphan_repository_versions.rb
  app/services/katello/pulp3/repository.rb
  test/actions/katello/orphan_cleanup/remove_orphans_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/remove_orphans/orphans_are_removed.yml
Labels: Needs re-review, Needs testing

#8374 Fixes #28019 - Allow SafeMode for Content Host Description
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Needs testing, Not yet reviewed

#8367 Fixes #27773 - Prefer Pulp 2 for some content types
  app/models/katello/concerns/smart_proxy_extensions.rb
  config/katello.yaml.example
  test/models/concerns/smart_proxy_extensions_test.rb
  test/services/katello/pulp3/repository/file/update_remote_test.rb
Labels: Needs testing, Not yet reviewed

#8365 Fixes #21182 - Proxy sync task inital output error
  app/lib/actions/katello/capsule_content/sync.rb
Labels: Needs testing, Not yet reviewed

#8262 Fixes #27450: Check permissions for React pages
  app/controllers/katello/api/v2/subscriptions_controller.rb
  webpack/__mocks__/foremanReact/components/PermissionDenied/index.js
  webpack/redux/actions/RedHatRepositories/enabled.js
  webpack/redux/reducers/RedHatRepositories/__tests__/enabled.test.js
  webpack/redux/reducers/RedHatRepositories/__tests__/sets.test.js
  webpack/redux/reducers/RedHatRepositories/enabled.fixtures.js
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/redux/reducers/RedHatRepositories/sets.fixtures.js
  webpack/redux/reducers/RedHatRepositories/sets.js
  webpack/scenes/RedHatRepositories/RedHatRepositoriesPage.js
  webpack/scenes/RedHatRepositories/__tests__/RedHatRepositoriesPage.test.js
  webpack/scenes/RedHatRepositories/__tests__/__snapshots__/RedHatRepositoriesPage.test.js.snap
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsReducer.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
Labels: Blocked by another PR, Needs testing, Not yet reviewed

#8360 Fixes #27520 - Allow duplicate content upload
  app/lib/actions/pulp3/orchestration/repository/upload_content.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8380 Fixes #28038 - Update bastion katello test instructions
  engines/bastion_katello/README.md
Labels: Needs testing, Not yet reviewed

#8336 Fixes #27605 - Adding generic first row for grouped subs
  webpack/move_to_foreman/components/common/table/components/TableSelectionCell.js
  webpack/move_to_foreman/components/common/table/formatters/EntitlementsInlineEditFormatter.js
  webpack/move_to_foreman/components/common/table/formatters/collapseableAndSelectionCellFormatter.js
  webpack/move_to_foreman/components/common/table/formatters/selectionCellFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.fixtures.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTableHelpers.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Table.js
Labels: Needs testing, Not yet reviewed

#8382 Fixes #28039 - shouldn't dep solve if no filters present
  app/models/katello/glue/pulp/repo.rb
  test/glue/pulp/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8381 Fixes #28046 - Publish yum distributor on smart proxy
  app/services/katello/pulp/repository/yum.rb
Labels: Needs testing, Not yet reviewed

#8369 Fixes #27923 - Add macros for entitlements
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/pool.rb
  app/models/katello/rhsm_fact_parser.rb
Labels: Needs testing, Not yet reviewed

#8375 Fixes #27679 - content hosts bulk errata modal stop using applicable_hosts
  app/views/katello/api/v2/hosts_bulk_actions/erratum.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
Labels: Needs testing, Not yet reviewed

#8386 Fixes #28076 - Ping endpoints apidoc should be explicit
  app/controllers/katello/api/v2/katello_ping_controller.rb
Labels: Needs testing, Not yet reviewed

#8385 Fixes #28074 - Add deprecate to api/ui for puppet/ostree repos
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/repository/update.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed

#8392 Fixes #16333 - fixes sorted order for CCV versions
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/components/views/content-view-composite-available-content-views.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/components/views/content-view-composite-content-views-list.html
Labels: Needs testing, Not yet reviewed

#8389 Fixes #28082 - allow listing packages in safemode
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/installed_package.rb
Labels: Needs testing, Not yet reviewed

#8394 Fixes #28094 - Upload file changes
  app/lib/actions/pulp3/orchestration/repository/import_upload.rb
  app/lib/actions/pulp3/orchestration/repository/upload_content.rb
  app/lib/actions/pulp3/repository/import_upload.rb
  app/lib/actions/pulp3/repository/save_artifact.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8390 Fixes #28085 - fixing columns in content view history
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/histories/content-view-history.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/histories/views/content-view-history.html
Labels: Needs testing, Not yet reviewed

#8388 Fixes #28080 - Remove RHSM facts when unregistering
  app/models/katello/concerns/host_managed_extensions.rb
  app/services/katello/registration_manager.rb
  test/models/concerns/host_managed_extensions_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#8372 Fixes #27917 - create yum repo with pulp 3
  app/services/katello/pulp3/repository/yum.rb
  katello.gemspec
  lib/katello/repository_types/yum.rb
  test/actions/pulp3/orchestration/yum_create_test.rb
  test/actions/pulp3/orchestration/yum_delete_test.rb
  test/actions/pulp3/orchestration/yum_update_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update/update_policy.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update/update_set_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update/update_ssl_validation.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update/update_unset_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update/update_upstream_name.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update/update_url.yml
Labels: Needs testing, Not yet reviewed

#8393 Fixes #27541 - Update cvv model for srpm listing
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/models/katello/content_view_version.rb
Labels: Needs testing, Not yet reviewed

#8364 Fixes #27910 - Hammer support to upload duplicate files
  app/controllers/katello/api/v2/content_uploads_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/pulp3/orchestration/repository/import_upload.rb
  app/services/katello/pulp/content.rb
  app/services/katello/pulp/pulp_content_unit.rb
  app/services/katello/pulp/repository/file.rb
  app/services/katello/pulp3/content.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  test/controllers/api/v2/content_uploads_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8397 Fixes #28119 - Update SRPM show desc. for Hammer
  app/controllers/katello/api/v2/srpms_controller.rb
Labels: Needs testing, Not yet reviewed

#8396 Fixes #28103 - allow API user to search pools using upstream_pool_id
  app/models/katello/pool.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed

#8398 Fixes #28143 - Don't look for OS without release name
  app/models/katello/rhsm_fact_parser.rb
  test/models/rhsm_fact_parser_test.rb
Labels: Needs testing, Not yet reviewed

#8399 Bump version to 3.15
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8378 Fixes #28037 - Incremental Update additional repos
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/create_repos.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/katello/repository/clone_to_version.rb
  app/lib/actions/pulp/repository/copy_units.rb
  app/lib/katello/util/package_clause_generator.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/repository.rb
  app/services/katello/pulp/repository.rb
  app/services/katello/pulp/repository/yum.rb
  test/actions/katello/content_view_test.rb
  test/actions/katello/content_view_version/create_repos_test.rb
  test/actions/katello/content_view_version_test.rb
  test/actions/katello/repository/clone_to_version_test.rb
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/errata_filter.yml
  test/glue/pulp/repository_test.rb
  test/lib/util/package_clause_generator_test.rb
  test/services/katello/pulp/repository/yum_test.rb
Labels: Needs testing, Not yet reviewed

#8379 Fixes #27934 - Initial Content units migration task
  app/lib/actions/pulp3/content_migration.rb
  app/lib/actions/pulp3/import_migration.rb
  app/services/katello/pulp/repository/deb.rb
  app/services/katello/pulp/repository/docker.rb
  app/services/katello/pulp/repository/file.rb
  app/services/katello/pulp/repository/yum.rb
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_plan.rb
  db/migrate/20190930192813_add_pulp3_hrefs_to_content_types.rb
  katello.gemspec
  lib/katello/tasks/pulp3_migration.rake
  test/fixtures/test_repos/file_migration/PULP_MANIFEST
  test/fixtures/test_repos/file_migration/migrate_test.bin
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/services/katello/pulp3/migration_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed
