Repository Katello/katello, pull requests merged in 2019-08, with the labels that each got.

#8244 Fixes #27485 - encrypt discovery password within task
  app/lib/actions/katello/repository/discover.rb
  test/actions/katello/repository/discover_test.rb
Labels: Needs testing, Not yet reviewed

#8242 Fixes #27210 - support more generic remove on pulp3
  app/lib/actions/pulp3/repository/remove_units.rb
  test/actions/pulp3/orchestration/file_remove_units_test.rb
Labels: Not yet reviewed

#8238 Fixes #27452 - Autoload LCE Content Views table
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/content.service.js
  engines/bastion_katello/test/environments/content.service.test.js
Labels: Needs testing, Not yet reviewed

#8245 Fixes #27498 - dont set cert info for pulp3
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Needs testing, Not yet reviewed

#8247 Fixes #27503 - CopyAllUnitsTest nil fix
  test/actions/pulp3/orchestration/copy_all_units_test.rb
Labels: Needs testing, Not yet reviewed

#8249 Refs #26135 - Update srpm rabl for hammer listing/info
  app/views/katello/api/v2/srpms/show.json.rabl
Labels: Needs testing, Not yet reviewed

#8218 Fixes #27217 - add bulk product proxy update
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
  app/lib/actions/katello/product/update_http_proxy.rb
  app/lib/actions/katello/pulp_selector.rb
  config/routes/api/v2.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/http-proxies/http-proxies.module.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/product-bulk-action.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/products-bulk-http-proxy-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-http-proxy-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/products.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/views/products.html
  engines/bastion_katello/test/products/bulk/products-bulk-http-proxy-modal.controller.test.js
  lib/katello/permission_creator.rb
  test/actions/katello/product_test.rb
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
Labels: Blocked by another PR, Needs testing, Not yet reviewed

#8231 Fixes #27394 - Match checksum type in content_changed
  app/lib/actions/katello/repository/check_matching_content.rb
  app/lib/actions/katello/repository/clone_contents.rb
  test/actions/katello/repository/check_matching_content_test.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8253 Refs #27485 - Clear proxy settings for tests
  test/actions/katello/repository/discover_test.rb
Labels: Needs testing, Not yet reviewed

#8246 Bump version to 3.14.0
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8205 Fixes #27258 - Install errata only to selected hosts
  app/controllers/katello/remote_execution_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-module-streams-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-packages-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-host-bulk-module-streams-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-module-streams-modal.controller.test.js
Labels: Needs testing, Not yet reviewed

#8256 Adds changelog for 3.13.0-RC1
  CHANGELOG.md
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8258 Fixes #27426: katello sends invalid page number request
  webpack/redux/reducers/RedHatRepositories/enabled.js
Labels: Needs testing, Not yet reviewed

#8175 Fixes #27108 - Show hostname in Tasks for Host actions
  app/lib/actions/katello/host/erratum/install.rb
  app/lib/actions/katello/host/package/install.rb
  app/lib/actions/katello/host/package/remove.rb
  app/lib/actions/katello/host/package/update.rb
  test/actions/katello/host/erratum_test.rb
  test/actions/katello/host/package_test.rb
Labels: Needs testing, Not yet reviewed

#8264 Fixes #27581 - Pin ansible binding client
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8260 Fixes #27530 - allow service ping regardless of scope
  app/models/katello/ping.rb
Labels: Needs testing, Not yet reviewed

#8265 Fixes #27590 - upload request id is a String, not a :number
  app/controllers/katello/api/v2/content_uploads_controller.rb
Labels: Needs testing, Not yet reviewed

#8263 Fixes #27580 - Allow register to profile without DMI UUID
  app/models/katello/host/subscription_facet.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed

#8266 Fixes #27594 - Pin ansible gem with <=
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8237 Fixes #26240 - Support uploading files to repo
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/lib/actions/katello/repository/upload_files.rb
  app/lib/actions/pulp/orchestration/repository/upload_content.rb
  app/lib/actions/pulp3/orchestration/repository/sync.rb
  app/lib/actions/pulp3/orchestration/repository/upload_content.rb
  app/lib/actions/pulp3/repository/create_publication.rb
  app/lib/actions/pulp3/repository/import_upload.rb
  app/lib/actions/pulp3/repository/save_artifact.rb
  app/lib/actions/pulp3/repository/upload_file.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/file_unit.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/repository.rb
  test/actions/katello/repository_test.rb
  test/actions/pulp3/orchestration/file_upload_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload_binary.yml
Labels: Needs testing, Not yet reviewed

#8240 Fixes #27479 - Republish migrated deb repos on upgrade
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.13/republish_deb_metadata.rake
Labels: Needs testing, Not yet reviewed

#8267 Fixes #27565 - Ignore ansible collection whitelist
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  katello.gemspec
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/repository_reference_is_deleted.yml
Labels: Needs testing, Not yet reviewed

#8259 Fixes #27524 - fix docker cv publishing
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/repository.rb
  app/services/katello/repository_type.rb
  lib/katello/repository_types/docker.rb
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_set_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_ssl_validation.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_unset_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_upstream_name.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_url.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags_empty.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/index_content.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/unit_keys.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/unit_type_id_docker_manifest.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/unit_type_id_docker_tag.yml
  test/fixtures/vcr_cassettes/katello/service/repository/file_vcr/sync_index_content.yml
  test/services/katello/pulp/repository/docker_test.rb
Labels: Needs re-review, Needs testing

#8235 Fixes #27434 - icon_path instead origin to override
  app/models/katello/rhsm_fact_name.rb
Labels: Needs testing, Not yet reviewed

#8248 Fixes #27497 - Support dmi.system.uuid override
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/lib/actions/candlepin/consumer/create.rb
  app/lib/actions/katello/host/update.rb
  app/models/katello/host/subscription_facet.rb
  app/models/setting/content.rb
  app/services/katello/candlepin/consumer.rb
  app/services/katello/registration_manager.rb
  test/actions/candlepin/consumer_test.rb
  test/actions/katello/host/update_test.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/models/host/subscription_facet_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#8208 Fixes #26245 - Sync pulp3 capsule - file content
  app/lib/actions/katello/capsule_content/create_repos.rb
  app/lib/actions/katello/capsule_content/refresh_repos.rb
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/lib/actions/pulp/consumer/sync_capsule.rb
  app/lib/actions/pulp/orchestration/repository/refresh_repos.rb
  app/lib/actions/pulp/orchestration/repository/smart_proxy_sync.rb
  app/lib/actions/pulp/repository/refresh_needed.rb
  app/lib/actions/pulp3/capsule_content/generate_metadata.rb
  app/lib/actions/pulp3/capsule_content/refresh_distribution.rb
  app/lib/actions/pulp3/capsule_content/sync.rb
  app/lib/actions/pulp3/orchestration/repository/create.rb
  app/lib/actions/pulp3/orchestration/repository/refresh_repos.rb
  app/lib/actions/pulp3/repository/sync.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/katello/pulp/repository.rb
  app/services/katello/pulp/smart_proxy_repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/docker.rb
  app/services/katello/pulp3/repository/file.rb
  app/services/katello/pulp3/smart_proxy_repository.rb
  app/services/katello/smart_proxy_helper.rb
  test/actions/katello/capsule_content_test.rb
  test/actions/pulp/repository/refresh_needed_test.rb
  test/actions/pulp/repository/refresh_repos_test.rb
  test/actions/pulp3/orchestration/docker_delete_test.rb
  test/fixtures/models/katello_repositories.yml
  test/katello_test_helper.rb
  test/models/authorization/product_authorization_test.rb
  test/services/katello/pulp3/repository/file/update_remote_test.rb
  test/support/capsule_support.rb
Labels: Needs re-review, Needs testing

#8250 Fixes #27516 - Create os without spaces
  app/models/katello/rhsm_fact_parser.rb
  test/models/rhsm_fact_parser_test.rb
Labels: Needs testing, Not yet reviewed

#8268 Fixes #27609 - Pin docker client
  app/services/katello/pulp3/repository.rb
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8273 Fixes #27610 - adapt to new pulp clients
  app/lib/actions/pulp3/repository/save_version.rb
  app/services/katello/pulp3/docker_tag.rb
  katello.gemspec
  test/fixtures/vcr_cassettes/katello/service/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/docker_tag/index_on_sync.yml
Labels: Needs testing, Not yet reviewed

#8275 Fixes #27616 - ignore pulp3 on sync if needed
  app/lib/actions/katello/capsule_content/sync.rb
Labels: Needs testing, Not yet reviewed

#8234 Fixes #26792: fix autocomplete search selection.
  engines/bastion/app/assets/javascripts/bastion/layouts/partials/table.html
  webpack/move_to_pf/TypeAhead/TypeAhead.js
Labels: Needs testing, Not yet reviewed

#8278 Fixes #26914 - ingore os fact if applicable
  app/models/katello/host/subscription_facet.rb
  app/models/katello/rhsm_fact_parser.rb
  test/models/host/subscription_facet_test.rb
  test/models/rhsm_fact_parser_test.rb
Labels: Needs testing, Not yet reviewed

#8281 Fixes #27636 - test fixes for background operations
  test/controllers/api/v2/sync_plans_controller_test.rb
  test/lib/resources/candlepin_test.rb
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#8272 Fixes #27614 - Add Sub page loads no resource
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsTableSchema.js
Labels: Needs testing, Not yet reviewed

#8280 Fixes #27446 - detect pulp3 sync errors
  app/lib/actions/pulp3/abstract_async_task.rb
  app/lib/katello/errors.rb
Labels: Needs testing, Not yet reviewed

#8282 Fixes #27643 - Correcting Registry URL in Discovery list
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/container-registries.service.js
  engines/bastion_katello/test/products/discovery/discovery.controller.test.js
Labels: Needs testing, Not yet reviewed

#8255 Fixes #27529 - sync proxy content w/ any location
  app/models/katello/concerns/smart_proxy_extensions.rb
  test/actions/katello/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#8283 Fixes #27606 - use mirror mode on fpw/c sync
  app/services/katello/pulp3/repository.rb
Labels: Needs testing, Not yet reviewed

#8274 Fixes #26975 - Errata/package repository filter
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/repository.rb
  app/services/katello/repository_type_manager.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/packages.controller.js
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8270 Fixes #27612 - Broken inc. update with puppet module
  app/lib/actions/katello/content_view_version/incremental_update.rb
Labels: Needs testing, Not yet reviewed

#8269 Fixes #27221 - Verify Act Key Content Overrides
  app/controllers/katello/api/v2/activation_keys_controller.rb
  test/controllers/api/v2/activation_keys_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8289 Refs #27643 - Revert registry URL change
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/container-registries.service.js
  engines/bastion_katello/test/products/discovery/discovery.controller.test.js
Labels: Needs testing, Not yet reviewed

#8287 Fixes #27661 - stop stripping cars from product name
  app/models/katello/glue/candlepin/product.rb
Labels: Needs testing, Not yet reviewed

#8288 Fixes #27667 - Add register client directive
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-host-register-client.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register-client.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register.html
Labels: Needs testing, Not yet reviewed

#8261 Fixes #27418 - Support docker pull with pulp3
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/lib/katello/errors.rb
  app/lib/katello/resources/registry.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
  test/factories/smart_proxy_factory.rb
  test/lib/resources/registry_test.rb
Labels: Needs testing, Not yet reviewed

#8299 Fixes #27699 - update @theforeman/vendor to ^1.4.0
  .travis.yml
  package.json
  travis_run_js_tests.sh
Labels: Needs testing, Not yet reviewed

#8320 Fixes #26155 - Guide toward REX in agent messaging
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-installed.html
Labels: Needs testing, Not yet reviewed

#8308 Fixes #27669 - Remove unnecessary params
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-repository-sets.controller.js
Labels: Needs testing, Not yet reviewed

#8316 Fixes #23779 - remove "deb repo" wording
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/content-views.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-deb-repositories.html
Labels: Needs testing, Not yet reviewed

#8302 Fixes #27709 - dafult filter value
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#8317 Fixes #25953 - Hide host collection actions when no hosts attached
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-info.html
Labels: Needs testing, Not yet reviewed

#8313 Fixes #27632 - Add missing Key Create API params
  app/controllers/katello/api/v2/activation_keys_controller.rb
  test/controllers/api/v2/activation_keys_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8284 Fixes #27639 - Allow users to specify requirements.yml
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  db/migrate/20190816162733_rename_ansible_collection_whitelist_to_requirements.rb
  engines/bastion/app/assets/javascripts/bastion/components/bst-edit.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/app/assets/stylesheets/bastion_katello/bastion_katello.scss
  test/actions/pulp3/orchestration/ansible_collection_sync_test.rb
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_true.yml
Labels: Needs testing, Not yet reviewed

#8325 Fixes #27744 - Runcible 2.12.0 vcr test failures
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file_binary.yml
  test/fixtures/vcr_cassettes/katello/service/puppet_module/backend_data.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr/copy_contents.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr_create/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr_create/create_puppet_environment_archive.yml
Labels: Needs testing, Not yet reviewed

#8321 Fixes #23471 - sort upstream subs by name
  app/models/katello/upstream_pool.rb
  test/models/upstream_pool_test.rb
Labels: Needs testing, Not yet reviewed
