Repository Katello/katello, pull requests merged in 2019-11, with the labels that each got.

#8377 Fixes #27938 - methods to delete pulp3 orphan distributions
  app/lib/actions/pulp3/orchestration/orphan_cleanup/remove_orphans.rb
  app/lib/actions/pulp3/orphan_cleanup/delete_orphan_distributions.rb
  app/lib/actions/pulp3/orphan_cleanup/delete_orphan_remotes.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/services/katello/pulp3/repository/docker.rb
  app/services/katello/pulp3/repository/file.rb
  app/services/katello/pulp3/repository/yum.rb
  app/services/katello/pulp3/smart_proxy_repository.rb
  test/actions/katello/orphan_cleanup/remove_orphans_test.rb
  test/fixtures/vcr_cassettes/katello/pulp3/smart_proxy_repository_orphan_distributions/orphan_distributions_are_removed.yml
  test/fixtures/vcr_cassettes/katello/pulp3/smart_proxy_repository_orphan_distributions/orphan_remotes_are_removed.yml
  test/services/katello/pulp3/repository/orphan_distributions_test.rb
  test/services/katello/pulp3/smart_proxy_repository_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed

#8408 Fixes #28185 - allows scoped search sort order by environment id
  app/models/katello/kt_environment.rb
  test/controllers/api/v2/environments_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8401 Fixes #28138 - Show CV data in publish task output
  app/lib/actions/katello/content_view/publish.rb
Labels: Needs testing, Not yet reviewed

#8410 Bumping version to 3.13.2.
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8402 Fixes #28101 - Fix deb upload
  app/lib/actions/katello/repository/filtered_index_content.rb
Labels: Needs testing, Not yet reviewed

#8406 Fixes #28165 - fix docker test consistency
  app/models/katello/content_view_docker_filter.rb
  app/services/katello/pulp3/repository/docker.rb
  test/actions/pulp3/orchestration/copy_all_units_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units/exclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units/inclusion_docker_filters.yml
Labels: Needs testing, Not yet reviewed

#8395 Fixes #28036: subscription-manager register facts create duplicate in…
  app/models/katello/rhsm_fact_parser.rb
  test/models/rhsm_fact_parser_test.rb
Labels: Needs testing

#8391 Fixes #25876 - Disable auditing on org destroy
  app/lib/actions/katello/environment/destroy.rb
Labels: Needs testing, Not yet reviewed

#8425 Fixes #28223 - Don't reimport deb if unavailable
  lib/katello/tasks/reimport.rake
Labels: Needs testing, Not yet reviewed

#8415 Fixes #28189 - Refresh repo when needed
  app/lib/actions/pulp/repository/refresh.rb
  app/services/katello/pulp/repository.rb
  test/actions/pulp/repository/refresh_test.rb
  test/fixtures/vcr_cassettes/katello/service/repository/rpm_with_proxy/create_with_global_http_proxy.yml
  test/fixtures/vcr_cassettes/katello/service/repository/rpm_with_proxy/sync_with_global_http_proxy.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/refresh.yml
  test/services/katello/pulp/repository/yum_test.rb
Labels: Needs testing, Not yet reviewed

#8421 Fixes #28219 - setting 201 as response code for POST
  app/lib/katello/api/v2/rendering.rb
  test/controllers/api/v2/host_collections_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs re-review, Needs testing

#8427 Fixes #28233 - don't repeat repo types in the doc string
  app/controllers/katello/api/v2/repositories_controller.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed

#8370 Fixes #27974 - RHSM checkin requests stuck for long time
  app/lib/actions/katello/host/hypervisors_update.rb
  app/models/katello/host/subscription_facet.rb
  app/services/katello/candlepin/consumer.rb
  test/actions/katello/host/hypervisors_update_test.rb
  test/services/katello/candlepin/consumer_test.rb
Labels: Needs re-review, Needs testing

#8432 Fixes #28250 - refactor pulp3 service classes
  app/lib/actions/katello/repository/refresh_repository.rb
  app/lib/actions/pulp/orchestration/repository/refresh_if_needed.rb
  app/lib/actions/pulp3/abstract_async_task.rb
  app/lib/actions/pulp3/capsule_content/generate_metadata.rb
  app/lib/actions/pulp3/capsule_content/refresh_distribution.rb
  app/lib/actions/pulp3/capsule_content/sync.rb
  app/lib/actions/pulp3/orchestration/repository/refresh_repos.rb
  app/lib/actions/pulp3/orphan_cleanup/delete_orphan_distributions.rb
  app/lib/actions/pulp3/orphan_cleanup/delete_orphan_remotes.rb
  app/lib/actions/pulp3/orphan_cleanup/delete_orphan_repository_versions.rb
  app/lib/actions/pulp3/orphan_cleanup/remove_orphans.rb
  app/lib/actions/pulp3/orphan_cleanup/remove_unneeded_repos.rb
  app/lib/actions/pulp3/repository/create.rb
  app/lib/actions/pulp3/repository/create_publication.rb
  app/lib/actions/pulp3/repository/create_version.rb
  app/lib/actions/pulp3/repository/refresh_distribution.rb
  app/services/katello/pulp/repository.rb
  app/services/katello/pulp3/ansible_collection.rb
  app/services/katello/pulp3/api/ansible_collection.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/api/docker.rb
  app/services/katello/pulp3/api/file.rb
  app/services/katello/pulp3/api/yum.rb
  app/services/katello/pulp3/docker_blob.rb
  app/services/katello/pulp3/docker_manifest.rb
  app/services/katello/pulp3/docker_manifest_list.rb
  app/services/katello/pulp3/docker_tag.rb
  app/services/katello/pulp3/file_unit.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/services/katello/pulp3/repository/docker.rb
  app/services/katello/pulp3/repository/file.rb
  app/services/katello/pulp3/repository/yum.rb
  app/services/katello/pulp3/repository_mirror.rb
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
  app/services/katello/pulp3/smart_proxy_repository.rb
  app/services/katello/repository_type.rb
  app/services/katello/repository_type_manager.rb
  lib/katello/repository_types/ansible_collection.rb
  lib/katello/repository_types/docker.rb
  lib/katello/repository_types/file.rb
  lib/katello/repository_types/yum.rb
  test/actions/pulp3/orchestration/remove_orphans_test.rb
  test/actions/pulp3/orchestration/yum_update_test.rb
  test/services/katello/pulp3/orphan_test.rb
  test/services/katello/pulp3/repository/file/update_remote_test.rb
  test/services/katello/pulp3/repository/orphan_distributions_test.rb
  test/services/katello/pulp3/repository_list_test.rb
  test/services/katello/pulp3/smart_proxy_repository_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed

#8420 Fixes #28066 - fix key error in Subscriptions Page
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.fixtures.js
Labels: Needs testing, Not yet reviewed

#8434 Fixes #28238: pass result of await into reload.
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/RepositorySetRepository/RepositorySetRepository.js
Labels: Needs testing, Not yet reviewed

#8416 Fixes #28206 - consistent pulp3 sync status
  app/lib/actions/pulp3/repository/presenters/content_unit_presenter.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8424 Fixes #28102 - Add Pulp3 to reset rake task
  lib/katello/tasks/reset.rake
Labels: Needs re-review

#8438 Fixes #28289 - fix error on full text repo search
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp/repository.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8409 Fixes #28188 - audit repo syncs and fallback to audit times
  app/lib/actions/katello/repository/sync.rb
  app/models/katello/glue/pulp/repos.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
Labels: Needs testing, Not yet reviewed

#8436 Fixes #28284 - fix transient unit test failure
  app/lib/actions/pulp/repository/remove_units.rb
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_unit/remove_with_content_type.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_unit/remove_with_contents.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/remove_unit/remove_with_repo.yml
Labels: Needs testing, Not yet reviewed

#8439 Fixes #28291 - Error in sync status after upgrade
  app/lib/actions/pulp/repository/sync.rb
Labels: Needs testing, Not yet reviewed

#8435 fixes #28211 - Added last checkin macro
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8441 Fixes #28292 - update to rubocop 0.75
  .rubocop.yml
  .rubocop_todo.yml
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/models/katello/glue/candlepin/.rubocop.yml
  lib/katello/engine.rb
  test/factories/smart_proxy_factory.rb
  test/katello_test_helper.rb
  test/models/kt_environment_test.rb
Labels: Needs testing, Not yet reviewed

#8428 Fixes #28236 - replace foreman_url with tfm.tools.foremanURL
  app/assets/javascripts/katello/containers/container.js
  app/assets/javascripts/katello/hosts/activation_key_edit.js
  app/assets/javascripts/katello/hosts/host_and_hostgroup_edit.js
  app/assets/javascripts/katello/sync_management/sync_management.js
Labels: Needs testing, Not yet reviewed

#8444 Fixes #24517: reduce virt required dash emphasis
  webpack/scenes/Subscriptions/SubscriptionsPage.scss
Labels: Ready for merge

#8451 Fixes #27366 - handles missing puppet content type in CVV removal
  app/lib/actions/katello/content_view_puppet_environment/destroy.rb
  test/actions/katello/content_view_puppet_environment_test.rb
Labels: Needs testing, Not yet reviewed

#8445 Fixes #28310 - Restore content access mode banner
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/content-access-mode-banner.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/views/content-access-mode-banner.html
  engines/bastion_katello/test/subscriptions/content-access-mode-banner.directive.test.js
Labels: Needs testing, Not yet reviewed

#8446 Fixes #28317 - Host update out of dynflow
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/lib/actions/katello/host/reassign.rb
  app/lib/actions/katello/host/update.rb
  app/lib/actions/katello/host/update_content_view.rb
  app/lib/actions/katello/host/update_release_version.rb
  app/models/katello/concerns/subscription_facet_host_extensions.rb
  app/models/setting/content.rb
  test/actions/katello/host/update_test.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
  test/models/concerns/content_facet_host_extensions_test.rb
  test/models/concerns/host_managed_extensions_test.rb
  test/models/host/subscription_facet_test.rb
  test/models/setting_test.rb
Labels: Needs testing, Not yet reviewed

#8453 Fixes #28327 - Allow users in org to access subs
  app/controllers/katello/api/v2/subscriptions_controller.rb
  test/controllers/api/v2/subscriptions_controller_test.rb
Labels: Needs testing, Not yet reviewed
