Repository Katello/katello, pull requests merged in 2020-03, with the labels that each got.

#8588 Fixes #29200 - deprecate katello-agent
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/host_packages_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/common/views/katello-agent-notice.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-applicable.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-installed.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register-client.html
Labels: Needs testing, Not yet reviewed

#8561 Fixes #28988 - Purge modular errata
  app/models/katello/repository.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8592 Fixes #29199 - re-import mutable types during p3 migrate
  app/services/katello/pulp3/migration.rb
Labels: Needs testing, Not yet reviewed

#8589 Fixes #29202 - Disallow commas in activation key name
  app/models/katello/activation_key.rb
  test/models/activation_key_test.rb
Labels: Needs testing, Not yet reviewed

#8567 Fixes #29029 - set debian repository architecture
  app/lib/actions/katello/product/content_create.rb
  app/lib/actions/katello/repository/update.rb
  app/models/katello/root_repository.rb
Labels: Needs testing, Not yet reviewed

#8553 Fixes #28913 - Add pulp3_href to Repository Errata
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/erratum.rb
  app/models/katello/repository.rb
  app/services/katello/pulp/pulp_content_unit.rb
  app/services/katello/pulp3/erratum.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  db/migrate/20200204034123_add_pulp3_href_to_repository_erratum.rb
  test/actions/pulp3/orchestration/yum_sync_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/index_erratum_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync.yml
Labels: Needs re-review, Needs testing

#8597 Fixes #29267 - speed up repo deletions
  app/models/katello/repository.rb
Labels: Needs testing, Not yet reviewed

#8596 Fixes #29266 -Plugin specific repository sync Url
  app/services/katello/pulp3/api/ansible_collection.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/api/docker.rb
  app/services/katello/pulp3/api/file.rb
  app/services/katello/pulp3/api/yum.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository_mirror.rb
Labels: Needs testing, Not yet reviewed

#8593 Fixes #29125 - Only migrate use_pulp_2_for_content_type types
  app/lib/katello/errors.rb
  app/services/katello/pulp3/migration.rb
  lib/katello/tasks/pulp3_content_switchover.rake
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/content_types_for_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/migration_service_type_already_migrated.yml
  test/lib/tasks/pulp3_content_switchover_test.rb
  test/services/katello/pulp3/migration_test.rb
Labels: Needs testing, Not yet reviewed

#8573 Fixes #28952 - allow srpm content pulpcore uploads from hammer
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/lib/actions/katello/repository/finish_upload.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/pulp3/orchestration/repository/import_upload.rb
  app/lib/actions/pulp3/orchestration/repository/upload_content.rb
  app/lib/actions/pulp3/repository/commit_upload.rb
  app/lib/actions/pulp3/repository/import_upload.rb
  app/services/katello/pulp3/content.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/srpm.rb
  test/actions/pulp3/orchestration/srpm_upload_test.rb
  test/fixtures/files/test-srpm01-1.0-1.src.rpm
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload_binary.yml
Labels: Needs testing, Not yet reviewed

#8368 Fixes #22705 - use new ImporterRegistry to register RhsmFactName
  lib/katello/engine.rb
Labels: Blocked by another PR, Needs testing, Not yet reviewed

#8595 Fixes #26878 - commit deprecations
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/api/v2/subscriptions_controller.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8599 Fixes #29260 - Add -y flag for yum command
  app/views/foreman/job_templates/install_errata_-_katello_ansible_default.erb
  app/views/foreman/job_templates/install_group_-_katello_ansible_default.erb
  app/views/foreman/job_templates/remove_group_-_katello_ansible_default.erb
  app/views/foreman/job_templates/update_group_-_katello_ansible_default.erb
  app/views/foreman/job_templates/update_package_-_katello_ansible_default.erb
Labels: Needs testing, Not yet reviewed

#8586 fixes #29271 - Show values instead of references to object
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#8601 Fixes #29316 - Ignore missing candlepin content on product delete
  app/lib/katello/resources/candlepin/content.rb
Labels: Needs testing, Not yet reviewed

#8600 Fixes #29314 - add deprecation for background download settings
  app/models/setting/content.rb
Labels: Needs testing, Not yet reviewed

#8594 Fixes #29122 - Correct CV deletion behavior for pulp3
  app/lib/actions/katello/content_view/destroy.rb
  app/lib/actions/pulp3/content_view/delete_repository_references.rb
  app/lib/actions/pulp3/orchestration/repository/delete.rb
  app/lib/actions/pulp3/repository/delete_version.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/repository.rb
  test/actions/pulp3/content_view/delete_repository_references.rb
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/delete_repository_reference/create.yml
Labels: Needs testing, Not yet reviewed

#8605 Fixes #29321 - Indexing large repo
  app/models/katello/concerns/pulp_database_unit.rb
  test/models/erratum_test.rb
  test/models/file_unit_test.rb
Labels: Needs testing, Not yet reviewed

#8603 Fixes #29315: labs page for content publication.
  config/routes.rb
  lib/katello/plugin.rb
  webpack/containers/Application/config.js
  webpack/scenes/ContentPublication/index.js
Labels: Needs testing, Not yet reviewed

#8608 Refs #26878 - send environment_ids parameter on CV promotion
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-promotion.controller.js
Labels: Needs testing, Not yet reviewed

#8612 Fixes #29358 - Upgrade foreman-js meta-package
  package.json
Labels: Needs testing, Not yet reviewed

#8609 Fixes #29335 - Large CV publish
  app/models/katello/concerns/pulp_database_unit.rb
Labels: Needs testing, Not yet reviewed

#8620 Fixes #29381 - switch patternfly to npm for bastion
  engines/bastion/bower.json
  engines/bastion/package.json
  engines/bastion_katello/README.md
Labels: Needs testing, Not yet reviewed

#8604 Fixes #29320 - use the proxy policy when setting remote download policy for a mirror remote
  app/services/katello/pulp3/repository/yum.rb
  test/services/katello/pulp3/repository/yum/repository_mirror_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8618 Fixes #29374 - prefer update_all over ids for bulk errata
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/lib/actions/katello/host/erratum/applicable_errata_install.rb
Labels: Needs testing, Not yet reviewed

#8555 Fixes #26229 - show name of repository for CV audit record on page
  app/models/katello/repository.rb
Labels: Ready for merge

#8614 Fixes #29367 - send notification on invalid manifest
  app/jobs/create_expired_manifest_notifications.rb
  app/lib/actions/katello/organization/manifest_import.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/models/katello/concerns/organization_extensions.rb
  app/services/katello/ui_notifications/subscriptions/manifest_expired_warning.rb
  db/seeds.d/109-katello-notification-blueprints.rb
  lib/katello/scheduled_jobs.rb
  test/actions/katello/organization_test.rb
  test/fixtures/certs/uber.pem
  test/services/katello/ui_notifications/subscriptions/manifest_expired_warning_test.rb
Labels: Needs testing, Not yet reviewed

#8619 Fixes #29376 - Use Authorizable on Pools
  app/controllers/katello/api/v2/subscriptions_controller.rb
  app/models/katello/authorization/pool.rb
  app/models/katello/authorization/subscription.rb
  test/controllers/api/v2/subscriptions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8622 refs #29271 - template macros return array instead of string
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#8606 Refs #29322 - Add custom scoped_search parameter
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/pool.rb
  test/factories/pool_factory.rb
  test/models/concerns/host_managed_extensions_test.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8615 Fixes #29368 - skips planning errata installation
  app/lib/actions/katello/host/erratum/applicable_errata_install.rb
  test/actions/katello/host/applicable_errata_install_test.rb
Labels: Needs re-review, Needs testing, Waiting on contributor

#8626 Fixes #29398 - Correct errata redirection from repo
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/errata.routes.js
Labels: Needs testing, Not yet reviewed

#8628 Bump 3.15 gem requires for pulp2to3
  katello.gemspec
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8630 Fixes #29411 - add descriptions to objects
  test/fixtures/models/katello_activation_keys.yml
  test/fixtures/models/katello_content_views.yml
Labels: Needs testing, Not yet reviewed

#8625 Fixes #29397 - improve tracer upload performance
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/models/katello/concerns/host_managed_extensions.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8580 Fixes #29146 - Remove upstream idCert from organization details API
  app/models/katello/concerns/organization_extensions.rb
  app/models/katello/content.rb
  app/models/katello/pool.rb
  app/models/katello/subscription.rb
  app/views/katello/api/v2/organizations/owner_details.rabl
  app/views/katello/api/v2/organizations/show.json.rabl
  app/views/katello/api/v2/organizations/upstream_consumer.rabl
  lib/katello/tasks/receptor/extract_orgs.rake
  test/actions/katello/content_view_version_test.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file.yml
  test/fixtures/vcr_cassettes/actions/pulp/repository/upload_file/upload_file_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units/exclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units/inclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_set_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_ssl_validation.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_unset_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_upstream_name.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_url.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags_empty.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/puppet_module/backend_data.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr/copy_contents.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr_create/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/puppet_vcr_create/create_puppet_environment_archive.yml
  test/katello_test_helper.rb
  test/lib/tasks/receptor/extract_orgs_test.rb
  test/models/pool_test.rb
  test/models/subscription_test.rb
Labels: Needs testing, Not yet reviewed

#8634 Fixes #29428 - removing react-helmet dependency
  package.json
Labels: Needs testing, Not yet reviewed

#8627 Fixes #29405 - Add info on Tracer tab and install status
  app/models/katello/host/content_facet.rb
  app/views/katello/api/v2/content_facet/show.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-traces.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register-client.html
  test/models/host/content_facet_test.rb
Labels: Needs testing, Not yet reviewed

#8636 Refs #29411 - fix more assert nils
  test/models/activation_key_test.rb
Labels: Needs testing, Not yet reviewed

#8635 Fixes #29389 - allow nevra parsing to handle empty arch
  app/lib/katello/util/package.rb
  spec/lib/package_util_spec.rb
  test/lib/util/package_test.rb
Labels: Needs testing, Not yet reviewed
