Repository Katello/katello, pull requests merged in 2020-09, with the labels that each got.

#8917 Refs #30630 - upgrade 2to3 migration gem
  katello.gemspec
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/optimize_false.yml
Labels: Needs testing, Not yet reviewed

#8811 Fixes #30321 - rename check_content_type to check_media_type
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/rhsm/candlepin_dynflow_proxy_controller.rb
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/content_credentials_controller.rb
  app/controllers/katello/api/v2/content_uploads_controller.rb
  app/controllers/katello/api/v2/gpg_keys_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/api/v2/subscriptions_controller.rb
Labels: Needs testing, Not yet reviewed

#8912 Fixes #30736 - refactor cert guard updating
  app/lib/actions/katello/repository/update.rb
  app/lib/actions/katello/repository/update_cv_repo_cert_guard.rb
  app/lib/actions/pulp3/orchestration/repository/trigger_update_repo_cert_guard.rb
  app/lib/actions/pulp3/repository/update_cv_repository_cert_guard.rb
Labels: Needs testing, Not yet reviewed

#8904 Refs #29926 - Add Simple Content Access to Org details
  app/controllers/katello/concerns/organizations_controller_extensions.rb
  app/lib/actions/katello/organization/create.rb
  app/lib/actions/katello/organization/simple_content_access/disable.rb
  app/lib/actions/katello/organization/simple_content_access/enable.rb
  app/lib/actions/katello/organization/simple_content_access/toggle.rb
  app/overrides/add_organization_attributes.rb
  app/services/katello/ui_notifications/subscriptions/sca_disable_error.rb
  app/services/katello/ui_notifications/subscriptions/sca_disable_success.rb
  app/services/katello/ui_notifications/subscriptions/sca_enable_error.rb
  app/services/katello/ui_notifications/subscriptions/sca_enable_success.rb
  app/views/overrides/organizations/_edit_override.html.erb
  app/views/overrides/organizations/_index_header_override.html.erb
  app/views/overrides/organizations/_index_row_override.html.erb
  db/seeds.d/109-katello-notification-blueprints.rb
  test/controllers/foreman/organizations_controller_test.rb
  webpack/index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8916 Fixes #30749 - Add /owners/:id/system_purpose to Candlepin Proxies Controller
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  config/routes/api/rhsm.rb
Labels: Needs testing, Not yet reviewed

#8907 Fixes #30700 - Update trace controller to reflect correct url
  app/controllers/katello/api/v2/host_tracer_controller.rb
Labels: Ready for merge

#8826 Refs #30354 - use public setting interface in tests
  test/actions/katello/applicability/generate_applicability_test.rb
  test/lib/tasks/http_proxy_tasks_test.rb
  test/lib/tasks/seeds_test.rb
  test/models/concerns/operatingsystem_extensions_test.rb
  test/models/content_view_test.rb
  test/models/root_repository_http_proxy_test.rb
  test/models/setting/default_http_proxy_setting_test.rb
  test/models/setting_test.rb
  test/services/katello/applicable_host_queue_test.rb
  test/services/katello/pulp/repository/yum_test.rb
  test/services/katello/pulp/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8881 Fixes #30380 - enforce permissions on repository contr
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/concerns/api/v2/authorization.rb
  app/lib/katello/concerns/permission_extensions.rb
  app/models/katello/authorization/product.rb
  app/models/katello/authorization/repository.rb
  lib/katello/engine.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/concerns/authorization_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8914 Fixes #30746 - fix pulp3 cert auth with excon
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/cert/certs.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/api/core/with_excon.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/api/core/with_net_http.yml
  test/services/katello/pulp3/api/core_test.rb
Labels: Needs testing, Not yet reviewed

#8918 Refs #30630 - fix ansible_client requires
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8915 Add Changelog for Katello 3.17
  CHANGELOG.md
Labels: Ready for merge

#8897 Fixes #30480: Cleanup orphaned root repositories
  app/models/katello/root_repository.rb
  lib/katello/tasks/repository.rake
  test/lib/tasks/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8913 Fixes #30079 - workaround for ISE when search terms are used
  app/models/katello/concerns/subscription_facet_host_extensions.rb
  app/models/katello/content_view.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8910 Fixes #30322 - Clean orphan content upon repo deletion
  app/lib/actions/katello/repository/destroy.rb
  app/models/katello/docker_meta_tag.rb
  test/models/docker_meta_tag_test.rb
Labels: Needs testing, Not yet reviewed

#8895 Fixes #29999 - Manage cvv export history
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/pulp3/content_view_version/create_exporter.rb
  app/lib/actions/pulp3/content_view_version/destroy_exporter.rb
  app/lib/actions/pulp3/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/models/katello/authorization/content_view_version_export_history.rb
  app/models/katello/content_view_version.rb
  app/models/katello/content_view_version_export_history.rb
  app/services/katello/pulp3/content_view_version.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/views/katello/api/v2/content_view_version_export_histories/index.json.rabl
  app/views/katello/api/v2/content_view_version_export_histories/show.json.rabl
  config/routes/api/v2.rb
  db/migrate/20200818040551_add_content_view_version_export_history.rb
  lib/katello/permission_creator.rb
  test/actions/pulp3/content_view_version/export_test.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/fixtures/models/katello_content_view_version_export_histories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/create_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/destroy_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/export.yml
  test/models/authorization/content_view_version_export_history_authorization_test.rb
  test/models/content_view_version_export_history_test.rb
Labels: Needs testing, Not yet reviewed

#8926 i18n - pulling from tx
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/de.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/es.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/fr.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/it.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ja.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ko.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/pt_BR.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ru.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_CN.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_TW.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/translations.js
  locale/action_names.rb
  locale/katello.pot
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8922 Fixes #30766 - Candlepin error with repo deletion during product destroy
  app/lib/actions/katello/product/destroy.rb
  app/lib/actions/katello/repository/destroy.rb
  test/actions/katello/product_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8925 Fixes #30745 - Add pulp_href to repositories API
  app/views/katello/api/v2/repositories/base.json.rabl
Labels: Needs testing, Not yet reviewed

#8924 Fixes #30434 - transient test failure ContentView::CapsuleSyncTest
  app/lib/actions/katello/content_view/capsule_sync.rb
  test/actions/katello/content_view_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8927 Refs #30630 - additional pulp 3.6 updates
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/services/katello/pulp3/content.rb
Labels: Needs testing, Not yet reviewed

#8931 Refs #30630 - remove broken monkey for pulp 3.6
  config/initializers/monkeys.rb
  katello.gemspec
  lib/monkeys/pulp_rpm_copy_api.rb
Labels: Needs testing, Not yet reviewed

#8919 Fixes #30758 - Refresh Subscription and Purpose status when toggling SCA
  app/lib/actions/katello/organization/manifest_delete.rb
  app/lib/actions/katello/organization/manifest_import.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/lib/katello/resources/candlepin/owner.rb
  app/models/katello/concerns/organization_extensions.rb
  app/services/katello/candlepin/event_handler.rb
  app/services/katello/candlepin/message_handler.rb
  app/services/katello/host_status_manager.rb
  test/fixtures/candlepin_messages/owner_content_access_mode.modified.json
  test/models/concerns/organization_extensions_test.rb
  test/services/candlepin/message_handler_test.rb
  test/services/katello/candlepin/event_handler_test.rb
  test/services/katello/host_status_manager_test.rb
Labels: Needs testing, Not yet reviewed

#8933 Fixes #30804 - Add a default status to selectAPIStatus selector
  webpack/scenes/ContentViews/ContentViewSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
Labels: Needs testing, Not yet reviewed

#8928 Fixes #30752 - support sles token via url param
  app/services/katello/pulp3/repository/yum.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Needs testing, Not yet reviewed

#8940 Refs #30630 - update ansible client to 0.3
  katello.gemspec
  test/actions/pulp3/orchestration/ansible_collection_sync_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_true.yml
Labels: Needs testing, Not yet reviewed

#8884 Fix #30626 - filtering applied errata by host search
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#8937 Fixes #30777 - Pulpcore 3.6.3 upload commit changes and test
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/pulp3/repository/commit_upload.rb
  app/services/katello/pulp3/api/core.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/content/chunk_upload.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/content/chunk_upload_binary.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/content/create_upload.yml
  test/services/katello/pulp3/content_test.rb
Labels: Needs testing, Not yet reviewed

#8936 Fixes #30571 - Title has already been taken during first time reposit…
  app/models/katello/concerns/redhat_extensions.rb
  test/models/concerns/redhat_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8930 Fixes #30795 - zypper in non-interactive mode
  app/views/foreman/job_templates/install_errata_-_katello_ansible_default.erb
Labels: Needs testing, Not yet reviewed

#8942 Fixes #30826 - Handle Hypervisors report containing duplicate UUIDs
  app/lib/actions/katello/host/hypervisors_update.rb
  test/actions/katello/host/hypervisors_update_test.rb
Labels: Ready for merge

#8921 Fixes #30811 - Fix package removal
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-debs-installed.controller.js
  engines/bastion_katello/test/content-hosts/content/content-host-deb-installed.controller.test.js
Labels: Needs testing, Not yet reviewed

#8941 Fixes #30427 - Update errata status after CV publish/promote
  app/lib/actions/katello/content_view/promote_to_environment.rb
  app/lib/actions/katello/content_view/publish.rb
  test/actions/katello/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#8949 Fixes #30371 - Fix timezone display on sync date field in UI
  app/models/katello/sync_plan.rb
  app/views/katello/api/v2/sync_plans/show.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/sync-plan-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/views/sync-plan-info.html
Labels: Needs testing, Not yet reviewed

#8956 Fixes #30880 - Permission support to validate 404
  app/controllers/katello/concerns/api/v2/authorization.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/support/controller_support.rb
Labels: Needs testing, Not yet reviewed

#8947 Fixes #30841 - Reverts repo auto enablement
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/candlepin/product/content_add.rb
  app/lib/actions/candlepin/product/content_update_enablement.rb
  app/lib/actions/katello/product/content_create.rb
  app/lib/actions/katello/repository/content_update.rb
  app/lib/actions/katello/repository/update.rb
  app/lib/katello/resources/candlepin/product.rb
  app/models/katello/root_repository.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  db/migrate/20200914200906_remove_auto_enabled.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  test/actions/candlepin/product_test.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/lib/resources/candlepin_test.rb
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed

#8945 Fixes #30735 - refactor tracer resolve actions.
  app/controllers/katello/api/v2/host_tracer_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/services/katello/host_trace_manager.rb
  config/routes/api/v2.rb
  config/routes/overrides.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-traces-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/hosts/host-bulk-action.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/hosts/host-traces-resolve.factory.js
  lib/katello/permissions/host_permissions.rb
  test/controllers/api/v2/host_tracer_controller_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
  test/services/katello/host_trace_manager_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8951 Refs #29948 - Improve querying when importing SubscriptionFacetPools
  app/models/katello/glue/candlepin/pool.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8857 Fixes #30520 - Fix tests for HTTP proxy setting
  test/models/setting/default_http_proxy_setting_test.rb
Labels: Needs testing, Not yet reviewed

#8903 Fixes #30676 - Extend Global registration endpoint
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#8961 Fixes #30892 - Change Sub Watch links and SCA banner message
  app/views/dashboard/_subscription_widget.html.erb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/views/content-access-mode-banner.html
  webpack/scenes/Subscriptions/Manifest/SimpleContentAccess.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/SubscriptionsToolbar.js
Labels: Needs testing, Not yet reviewed

#8958 Fixes #30883 - Use checked_icon helper in SCA column
  app/views/overrides/organizations/_index_row_override.html.erb
Labels: Needs testing, Not yet reviewed

#8955 Fixes #30873 - activation key authorization
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/models/katello/authorization/activation_key.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/activation_keys_controller_test.rb
  test/models/authorization/activation_key_authorization_test.rb
Labels: Needs testing, Not yet reviewed

#8957 Fixes #30875 - Add authorization for CV controller
  app/controllers/katello/api/v2/content_views_controller.rb
  app/models/katello/authorization/content_view.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_views_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8954 Fixes #30877 - Add authorization for sync_plan controller
  app/controllers/katello/api/v2/sync_plans_controller.rb
  app/models/katello/authorization/sync_plan.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/views/sync-plan-details.html
  lib/katello/permission_creator.rb
  test/controllers/api/v2/sync_plans_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8935 Fixes #30775 - publishing large cv w/ filters fails Pulp 3 yum
  app/lib/actions/pulp3/repository/multi_copy_content.rb
  app/services/katello/pulp3/repository/yum.rb
  test/services/katello/pulp3/repository/yum/copy_units_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8963 Fixes #30694 - limit threading on cdn scan
  app/lib/katello/resources/cdn.rb
  app/lib/katello/util/cdn_var_substitutor.rb
Labels: Needs testing, Not yet reviewed

#8966 Fixes #30907 - Pulp 3 Docker proxy syncing does not work
  app/services/katello/pulp3/repository/docker.rb
  app/services/katello/pulp3/repository_mirror.rb
  test/services/katello/pulp3/repository/docker/docker_repository_mirror_test.rb
Labels: Needs testing, Not yet reviewed

#8952 Fixes #30874 - refactors authorization for environments controller
  app/controllers/katello/api/v2/environments_controller.rb
  app/models/katello/authorization/lifecycle_environment.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/environments_controller_test.rb
  test/models/authorization/lifecycle_environment_authorization_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8971 Fixes #30937 - be dynflow client on post migration check
  lib/katello/tasks/pulp3_post_migration_check.rake
Labels: Needs testing, Not yet reviewed

#8905 Fixes #30701 - stop showing :5000 for default docker url
  app/models/katello/glue/pulp/repo.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed

#8932 Fixes #30004 - Api endpoint to import an exported content
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/pulp3/content_view_version/create_importer.rb
  app/lib/actions/pulp3/content_view_version/destroy_importer.rb
  app/lib/actions/pulp3/content_view_version/import.rb
  app/lib/actions/pulp3/orchestration/content_view_version/copy_version_units_to_library.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/import.rb
  app/lib/actions/pulp3/repository/copy_content.rb
  app/models/katello/content_view.rb
  app/models/katello/content_view_version.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_export_common.rb
  app/services/katello/pulp3/repository/yum.rb
  app/services/katello/pulp3/task.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/actions/katello/content_view_version/import_test.rb
  test/actions/pulp3/content_view_version/export_test.rb
  test/fixtures/import-export/metadata.json
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/create_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/destroy_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/export.yml
  test/katello_test_helper.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
  test/services/katello/pulp3/content_view_version/import_test.rb
  test/support/export_support.rb
Labels: Needs testing, Not yet reviewed
