Repository Katello/katello, pull requests merged in 2020-08, with the labels that each got.

#8858 Fixes #30521 - require messaging classes in tests due to intermittent autoloading problems
  test/lib/messaging/connection_test.rb
  test/lib/messaging/stomp_connection_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8871 i18n - pulling from tx and new string exposure
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/de.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/es.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/fr.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/it.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ja.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ko.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/pt_BR.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ru.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_CN.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_TW.po
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8860 Refs #30168 - handle smart proxy method changes
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8874 Change version to 3.17
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8863 Fixes #30530 - Add repair-sync on capsule for deb
  app/lib/actions/pulp/orchestration/repository/smart_proxy_sync.rb
  app/views/foreman/smart_proxies/_content_sync.html.erb
Labels: Needs testing, Not yet reviewed

#8878 Fixes #30583 - Recommended repos do not match Satellite version
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Ready for merge

#8852 Fixes #30333: Pulp 3 yum cross-repo dependency solving for content views
  app/helpers/katello/content_view_helper.rb
  app/lib/actions/katello/content_view/incremental_updates.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/katello/repository/multi_clone_contents.rb
  app/lib/actions/katello/repository/multi_clone_to_version.rb
  app/lib/actions/pulp3/orchestration/repository/copy_all_units.rb
  app/lib/actions/pulp3/orchestration/repository/multi_copy_all_units.rb
  app/lib/actions/pulp3/repository/multi_copy_content.rb
  app/lib/actions/pulp3/repository/multi_copy_units.rb
  app/lib/actions/pulp3/repository/save_version.rb
  app/lib/actions/pulp3/repository/save_versions.rb
  app/models/katello/content_view.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/yum.rb
  test/actions/katello/content_view_test.rb
  test/actions/katello/content_view_version_test.rb
  test/actions/pulp3/orchestration/multi_copy_all_units_test.rb
  test/actions/pulp3/repository/save_versions_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_distribution_trees_repository/all_distribution_trees_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_distribution_trees_repository/no_package_environments_are_copied_despite_whitelist_ids.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/all_errata_copied_if_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/errata_copied_if_all_errata_packages_matches_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/errata_is_not_copied_if_errata_packages_are_not_all_found_in_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/no_errata_copied_if_no_errata_packages_matches_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_empty_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_no_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_even_if_no_groups_match.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/all_package_groups_copied_with_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/package_groups_as_a_filter_rule.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/package_groups_copied_if_indicated_by_copied_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_with_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_without_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_nonmatching_package_exclusion_filter_copies_everything.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_nonmatching_package_includion_filter_copies_no_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_all_duplicate_content_with_dep_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_duplicate_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_errata_exclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_errata_inclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_max_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_min_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_name_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_srpms_repository/all_srpms_copied_despite_filter_rules.yml
  test/helpers/content_view_helper_test.rb
Labels: Needs re-review, Needs testing, Waiting on contributor

#8885 Bump version to 3.18
  lib/katello/version.rb
Labels: Ready for merge

#8887 Fixes #30636 - enables errata status updates
  app/models/katello/host/content_facet.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8879 Fixes #30591 - ManageManifestModal: remove componentWillMount and han…
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/SimpleContentAccess.test.js
  webpack/scenes/Subscriptions/Manifest/index.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsSelectors.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsReducer.test.js.snap
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8889 Refs #30591 - ensure manifest delete confirm dialog closes immediately when clicking Delete
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
Labels: Needs testing, Not yet reviewed

#8891 Fixes #30462 - Upload large file from UI
  app/lib/actions/pulp3/repository/upload_file.rb
Labels: Needs testing, Not yet reviewed

#8880 Fixes #30619 - Add apt and zypper to job template install_errata_-_katello_ansible_default.erb
  app/views/foreman/job_templates/install_errata_-_katello_ansible_default.erb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8893 Fixes #30655 - Make katello reset work on pip installed directory
  lib/katello/tasks/reset.rake
Labels: Needs testing, Not yet reviewed

#8859 Fixes #30522 - Hide syspurpose when org is in SCA mode
  app/lib/actions/katello/organization/manifest_delete.rb
  app/lib/actions/katello/organization/manifest_import.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/models/katello/concerns/organization_extensions.rb
  app/models/katello/glue/candlepin/owner.rb
  app/models/katello/purpose_status.rb
  app/services/katello/candlepin/event_handler.rb
  app/services/katello/host_status_manager.rb
  db/migrate/20200818192230_update_system_purpose_status.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts-helper.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/test/content-hosts/content-hosts-helper.service.test.js
  engines/bastion_katello/test/content-hosts/details/content-host-details-info.controller.test.js
  test/actions/katello/organization_test.rb
  test/models/concerns/organization_extensions_test.rb
  test/models/host/subscription_facet_test.rb
  test/models/purpose_status_test.rb
  test/services/katello/candlepin/event_handler_test.rb
Labels: Ready for merge

#8862 Fixes #30524 - Add content_views/:id/repositories/show_all endpoint
  app/controllers/katello/api/v2/content_view_repositories_controller.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/content_view_repositories/show_all.json.rabl
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_view_repositories_controller_test.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8877 Fixes #30580 - Correctly handles org selection
  engines/bastion/app/assets/javascripts/bastion/bastion.js
  engines/bastion/app/assets/javascripts/bastion/routing.module.js
  engines/bastion/grunt/karma.js
  engines/bastion/vendor/assets/javascripts/bastion/angular-ui-router/stateEvents.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/organizations/fenced-pages.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/organizations/organization-selector.controller.js
  engines/bastion_katello/test/organizations/organization-selector.controller.test.js
  webpack/containers/Application/config.js
Labels: Needs testing, Not yet reviewed

#8802 Fixes #30168 - support running without pulp2 enabled
  app/lib/actions/katello/content_view/publish.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/ping.rb
  app/services/katello/registration_manager.rb
  test/actions/katello/capsule_content_test.rb
  test/actions/katello/content_view_test.rb
  test/actions/katello/orphan_cleanup/remove_orphans_test.rb
  test/actions/pulp/repository/refresh_repos_test.rb
  test/factories/smart_proxy_factory.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#8839 Fixes #30238 - Fix undefined method `klass' when searching on hosts
  app/models/katello/concerns/content_facet_host_extensions.rb
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8892 Fixes #30654 - update batch logic for SP sync
  app/lib/actions/katello/capsule_content/refresh_repos.rb
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/models/katello/repository.rb
  app/models/setting/content.rb
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
  app/services/katello/smart_proxy_helper.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8898 Fixes #30641 - CV publish fails if checksum type changes
  app/lib/actions/katello/repository/multi_clone_contents.rb
  test/actions/katello/repository/multi_clone_contents_test.rb
  test/fixtures/vcr_cassettes/actions/katello/repository/multi_clone_contents/metadata_generation_with_changed_checksum_type.yml
Labels: Needs testing, Not yet reviewed

#8894 Fixed #17608 - for pulp3, enable dep solving for incremental updates
  app/lib/actions/katello/content_view_version/incremental_update.rb
  test/actions/katello/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8901 Fixes #30672 - Update ansible recommended repo version
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#8900 Fixes #30488 - Make download_concurrency configurable
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository_mirror.rb
  db/migrate/20200820145217_add_download_concurrency_to_katello_root_repositories.rb
Labels: Needs testing, Not yet reviewed

#8906 Fixes #30702 - Regression in re-assigning host location for registered hosts
  app/controllers/katello/concerns/hosts_controller_extensions.rb
  test/controllers/foreman/hosts_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8909 Fixes #30482 - enable delete_repository_references test
  test/actions/pulp3/content_view/delete_repository_references_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/delete_repository_reference/create.yml
Labels: Needs testing, Not yet reviewed

#8861 Fixes #30190 - adds verify checksum
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/katello/repository/verify_checksum.rb
  app/lib/actions/pulp3/repository/presenters/repair_presenter.rb
  app/lib/actions/pulp3/repository/repair.rb
  app/services/katello/pulp3/repository/yum.rb
  config/routes/api/v2.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/product-bulk-action.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repository.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/products.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/views/products.html
  engines/bastion_katello/test/products/bulk/product-bulk-action.factory.test.js
  engines/bastion_katello/test/products/products.controller.test.js
  lib/katello/permission_creator.rb
  test/actions/katello/repository/verify_checksum_test.rb
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8911 Fixes #30725 - Server error on incremental update of empty CV
  app/models/katello/concerns/smart_proxy_extensions.rb
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8899 Fixes #30671 - Send UI Notification when Bastion table cannot load it…
  engines/bastion/app/assets/javascripts/bastion/components/notification.service.js
  engines/bastion/app/assets/javascripts/bastion/components/nutupane.factory.js
  engines/bastion/test/components/notification.service.test.js
  engines/bastion/test/components/nutupane.factory.test.js
  engines/bastion/test/test-mocks.module.js
  engines/bastion_katello/test/activation-keys/details/activation-key-repository-sets.controller.test.js
  engines/bastion_katello/test/content-hosts/details/content-host-repository-sets.controller.test.js
  engines/bastion_katello/test/content-views/details/puppet-modules/content-view-puppet-module-names.controller.test.js
  engines/bastion_katello/test/content-views/details/puppet-modules/content-view-puppet-module-versions.controller.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8851 Fixes #30189 - support force full sync with pulp3
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/pulp/orchestration/repository/sync.rb
  app/lib/actions/pulp/repository/sync.rb
  app/lib/actions/pulp3/capsule_content/sync.rb
  app/lib/actions/pulp3/orchestration/repository/copy_all_units.rb
  app/lib/actions/pulp3/orchestration/repository/sync.rb
  app/lib/actions/pulp3/repository/copy_content.rb
  app/lib/actions/pulp3/repository/save_version.rb
  app/lib/actions/pulp3/repository/sync.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/yum.rb
  test/actions/katello/repository_test.rb
  test/actions/pulp3/orchestration/yum_sync_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/optimize_false.yml
Labels: Needs testing, Not yet reviewed
