Repository Katello/katello, pull requests merged in 2020-10, with the labels that each got.

#8970 Fixes #30928 - Add chunk size parameter to export
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/pulp3/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/export.rb
  test/actions/pulp3/content_view_version/export_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/create_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/destroy_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/export.yml
Labels: Needs testing, Not yet reviewed

#8953 Fixes #30876 - Add permissions for host_collections controller
  app/controllers/katello/api/v2/host_collections_controller.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/host_collections_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8943 Fixes #30827 - index and generate metadata concurrently on publish
  app/lib/actions/katello/repository/multi_clone_contents.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8976 Fixes #30954 - inc update fails if cvv has mixed-Pulp content
  app/lib/actions/katello/content_view_version/incremental_update.rb
Labels: Needs testing, Not yet reviewed

#8967 Fixes #30562 - properly store docker distributions
  app/services/katello/pulp3/migration.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/content_types_for_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/docker_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/index_content.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/unit_keys.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/unit_type_id_docker_manifest.yml
  test/fixtures/vcr_cassettes/katello/service/repository/docker_vcr/unit_type_id_docker_tag.yml
  test/services/katello/pulp3/docker_migration_test.rb
  test/support/pulp/repository_support.rb
Labels: Needs testing, Not yet reviewed

#8978 Fixes #30965 - speed up http_proxy_tasks_test
  test/lib/tasks/http_proxy_tasks_test.rb
Labels: Needs testing, Not yet reviewed

#8962 Fixes #30893 - Task link
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/products-bulk-advanced-sync-modal.controller.js
Labels: Needs testing, Not yet reviewed

#8946 Fixes #30592 - Show All Repo sets On SCA
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-associations.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-repository-sets.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-subscriptions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-repository-sets.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-repository-sets.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-subscriptions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-repository-sets.html
  engines/bastion_katello/test/activation-keys/details/activation-key-associations.controller.test.js
  engines/bastion_katello/test/activation-keys/details/activation-key-repository-sets.controller.test.js
  engines/bastion_katello/test/content-hosts/details/content-host-repository-sets.controller.test.js
Labels: Needs testing, Not yet reviewed

#8965 Fixes #30904 - Global Registration - Search for @host by :uuid or :hostname
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
  lib/katello/engine.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8977 Fixes #30961 - End point for /export_api_usable
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8981 Fixes #31004 - Hypervisor update needs reporter_id
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/lib/katello/resources/candlepin/consumer.rb
  test/actions/katello/host/hypervisors_test.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
  test/fixtures/vcr_cassettes/katello/host/hypervisors_vcr/altered_hypervisor_id.yml
  test/fixtures/vcr_cassettes/katello/host/hypervisors_vcr/duplicate_hostname.yml
Labels: Needs testing, Not yet reviewed

#8938 Fixes #30819 - Allow to set prefix for subscription_manager_configuration_url
  app/helpers/katello/katello_urls_helper.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8883 Fixes #30624 - don't exclude lib repo on compare
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  test/controllers/api/v2/packages_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8973 Fixes #30944 - pass registry redirects to client
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/lib/katello/resources/registry.rb
Labels: Needs testing, Not yet reviewed

#8959 Fixes #30878 - content credentials authorization
  app/controllers/katello/api/v2/content_credentials_controller.rb
  app/controllers/katello/api/v2/gpg_keys_controller.rb
  app/models/katello/authorization/gpg_key.rb
  app/models/katello/gpg_key.rb
  db/migrate/20201012172713_remove_gpg_key_perms.rb
  lib/katello/permission_creator.rb
  lib/katello/plugin.rb
  test/controllers/api/v2/content_credentials_controller_test.rb
  test/models/authorization/content_credential_authorization_test.rb
Labels: Needs testing, Not yet reviewed

#8982 Fixes #31029 - update pulp 3 bindings for 3.7
  katello.gemspec
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/content_types_for_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_master_composite_migration/yum_migration_master_composite.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_migration/yum_migration.yml
Labels: Needs testing, Not yet reviewed

#8980 Fixes #30994 - Add ability to set system purpose via bulk actions
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/lib/actions/katello/host/update_system_purpose.rb
  config/routes/overrides.rb
  lib/katello/permissions/host_permissions.rb
  test/actions/katello/host/update_system_purpose_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
Labels: Ready for merge

#8986 Fixes #31069 - /katello/api/subscriptions endpoint description is missing
  app/controllers/katello/api/v2/subscriptions_controller.rb
Labels: Ready for merge

#8994 Refs #31029 - update 2to3 migration requires
  katello.gemspec
  lib/katello/version.rb
Labels: Ready for merge

#8985 Fixes #31053 - Add metadata field to ContentViewExportHistory
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/pulp3/content_view_version/create_importer.rb
  app/lib/actions/pulp3/content_view_version/import.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/import.rb
  app/models/katello/content_view_version_export_history.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/views/katello/api/v2/content_view_version_export_histories/show.json.rabl
  db/migrate/20201012192035_add_metadata_to_katello_content_view_version_export_history.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.18/add_cvv_export_history_metadata.rb
  test/actions/katello/content_view_version/import_test.rb
  test/actions/pulp3/content_view_version/export_test.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/models/content_view_version_export_history_test.rb
  test/services/katello/pulp3/content_view_version/import_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8974 Fixes #27398 - enable ansible collection smart proxy content sync
  app/models/katello/glue/pulp/repo.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/services/katello/pulp3/repository_mirror.rb
  test/services/katello/pulp3/repository/ansible_collection/ansible_collection_repository_mirror_test.rb
  test/services/katello/pulp3/repository/ansible_collection/repository_mirror_options_test.rb
  test/services/katello/pulp3/repository_mirror_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8990 Fixes #31115 - Old puppet modules remain after inc update
  app/lib/actions/katello/content_view_version/incremental_update.rb
  test/actions/katello/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed

#8992 Fixes #31110 - Run rake reimport as dynflow client
  lib/katello/tasks/reimport.rake
Labels: Ready for merge

#9015 Refs #31110 - fix katello:reimport test
  test/lib/tasks/reimport_test.rb
Labels: Needs testing, Not yet reviewed

#9014 Fixes #31199 - don't require container_image_registry for registry
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/lib/katello/resources/registry.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor
