Repository Katello/katello, pull requests merged in 2020-07, with the labels that each got.

#8792 Fixes #29689 - check that the HttpProxy table exists
  app/models/setting/content.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8809 Fixes #30314 - Fix exception in deb sync progress
  app/lib/actions/pulp/repository/presenters/deb_presenter.rb
Labels: Needs testing, Not yet reviewed

#8804 Fixes #30286 - batch repos on capsule sync
  app/lib/actions/katello/capsule_content/refresh_repos.rb
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/lib/actions/pulp/abstract_async_task.rb
  app/lib/actions/pulp/consumer/sync_capsule.rb
  app/models/setting/content.rb
Labels: Needs testing, Not yet reviewed

#8813 Fixes #30336 - Fix React test intermittent failure
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
Labels: Needs testing, Not yet reviewed

#8814 Fixes #30335 - Stop collecting coverage from React tests
  jest.config.js
Labels: Needs testing, Not yet reviewed

#8817 Fixes #29706 - relative_paths should not include absolute paths
  app/models/katello/host/content_facet.rb
  test/models/host/content_facet_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8762 Fixes #30082 - drop audit record creation when change in content_id
  app/models/katello/root_repository.rb
  db/migrate/20200610112009_remove_audits_of_root_repo_with_content_id.rb
  test/models/root_repository_test.rb
Labels: Waiting on contributor

#8806 fixing #30296 - Fixing not listed macros
  app/lib/katello/concerns/base_template_scope_extensions.rb
  lib/katello/engine.rb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#8731 Fixes #29995 - Capsule protected content
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/pulp3/capsule_content/refresh_content_guard.rb
  app/lib/actions/pulp3/content_guard/refresh.rb
  app/services/katello/pulp3/repository_mirror.rb
  test/actions/katello/capsule_content_test.rb
  test/katello_test_helper.rb
  test/support/capsule_support.rb
Labels: Needs testing, Not yet reviewed

#8791 Fixes #30235 - Trigger index content when srpm count is updated
  app/models/katello/glue/pulp/repo.rb
Labels: Needs testing, Not yet reviewed

#8812 Fixes #30329 - Errata filters lost when viewing from repo
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/errata.routes.js
Labels: Needs testing, Not yet reviewed

#8736 Fixes #29956 - Lock default job templates
  db/seeds.d/75-job_templates.rb
Labels: Needs testing, Not yet reviewed

#8818 Fixes #30340 - Removes webpack/move_to_pf folder
  webpack/components/Content/ContentTable.js
  webpack/components/Content/Details/ContentDetails.js
  webpack/components/Content/__tests__/ContentTable.test.js
  webpack/components/LoadingState/LoadingState.js
  webpack/components/LoadingState/LoadingState.scss
  webpack/components/LoadingState/LoadingState.test.js
  webpack/components/LoadingState/__snapshots__/LoadingState.test.js.snap
  webpack/components/LoadingState/index.js
  webpack/components/MultiSelect/index.js
  webpack/components/OptionTooltip/OptionTooltip.scss
  webpack/components/OptionTooltip/__tests__/OptionTooltip.test.js
  webpack/components/OptionTooltip/__tests__/__snapshots__/OptionTooltip.test.js.snap
  webpack/components/OptionTooltip/index.js
  webpack/components/Select/Select.js
  webpack/components/SelectOrg/SetOrganization.js
  webpack/components/TooltipButton/TooltipButton.js
  webpack/components/TooltipButton/TooltipButton.scss
  webpack/components/TooltipButton/TooltipButton.test.js
  webpack/components/TooltipButton/__snapshots__/TooltipButton.test.js.snap
  webpack/components/TooltipButton/index.js
  webpack/components/extensions/about/__tests__/SystemStatuses.test.js
  webpack/components/react-bootstrap-select/index.js
  webpack/scenes/RedHatRepositories/RedHatRepositoriesPage.js
  webpack/scenes/Subscriptions/Details/SubscriptionDetails.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsPage.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/SubscriptionsToolbar.js
Labels: Needs testing, Not yet reviewed

#8754 Fixes #29751 - Pulp 3 incremental update
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/katello/content_view/incremental_updates.rb
  app/lib/actions/katello/content_view/presenters/incremental_updates_presenter.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/pulp3/repository/multi_copy_units.rb
  app/lib/actions/pulp3/repository/save_versions.rb
  app/services/katello/pulp3/repository/yum.rb
  test/actions/katello/content_view_version_test.rb
  test/actions/pulp3/repository/save_versions_test.rb
Labels: Needs testing, Not yet reviewed

#8827 Fixes #30357 - import applicability counts with katello
  app/models/katello/host/content_facet.rb
Labels: Needs testing, Not yet reviewed

#8772 Fixes #18035 - filter repos for CV with perms
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/content_views_controller.rb
  app/controllers/katello/concerns/api/v2/associations_permission_check.rb
  test/controllers/api/v2/concerns/associations_permission_check_test.rb
  test/controllers/api/v2/content_views_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8824 Fixes #30350 - adds the scoped_search form parameter
  engines/bastion/app/assets/javascripts/bastion/components/nutupane.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-packages-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  test/controllers/api/v2/concerns/bulk_hosts_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8835 Fixes #30391 fix link of 'Guest of virt-who' on subscription page
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionTypeFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionTypeFormatter.test.js.snap
Labels: Needs testing, Not yet reviewed

#8825 Fixes #30352 - Add an original mod streams filter
  app/controllers/katello/api/v2/content_view_filters_controller.rb
  app/models/katello/content_view_filter.rb
  app/models/katello/content_view_module_stream_filter.rb
  app/models/katello/repository.rb
  app/services/katello/pulp/repository/yum.rb
  app/views/katello/api/v2/content_view_filters/base.json.rabl
  db/migrate/20200709021250_add_original_modules_to_content_view_module_stream_filter.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/filters/filter-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/filters/views/module-stream-filter-details.html
  engines/bastion_katello/test/content-views/details/filters/filter-details.controller.test.js
  test/controllers/api/v2/content_view_filters_controller_test.rb
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_no_filters.yml
  test/models/content_view_filter_test.rb
  test/models/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8838 Fixes #30411 - Increase timeout for react-testing-lib
  webpack/components/Search/__tests__/search.test.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/test-utils/react-testing-lib-wrapper.js
Labels: Needs testing, Not yet reviewed

#8837 Fixes #30409 - Require Remote Execution
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8828 Fixes #17798 - Add message for client action needed on cv change
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-environment-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
Labels: Needs re-review

#8836 Fixes #30405 - Fix Hammer export-legacy Fails with Composite CV
  app/lib/actions/katello/repository/export.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8801 Fixes #30266, #30262, #30261, #30263 - Add DSL docs for CV KTEnv Product
  app/models/katello/content_view.rb
  app/models/katello/content_view_version.rb
  app/models/katello/kt_environment.rb
  app/models/katello/model.rb
  app/models/katello/product.rb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8799 Fixes #30270 - Activation key page slow
  app/models/katello/activation_key.rb
Labels: Needs testing

#8842 Fixes #30433 - fix compat for pulp_rpm 3.4.2
  katello.gemspec
  test/lib/util/pulpcore_content_filters_test.rb
  test/services/katello/pulp3/repository/yum/distributor_test.rb
Labels: Needs testing, Not yet reviewed

#8815 Fixes #30254, #30260 - Add DSL docs for errata/CVE
  app/models/katello/erratum.rb
  app/models/katello/erratum_cve.rb
Labels: Needs testing, Not yet reviewed

#8808 Fixes #29996 - Adds Content View Details Page
  webpack/components/ActionableDetail.js
  webpack/components/EditableSwitch.js
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/EditableTextInput/__tests__/editableTextInput.test.js
  webpack/components/EditableTextInput/editableTextInput.scss
  webpack/components/EditableTextInput/index.js
  webpack/components/Loading.js
  webpack/components/TabWrapper/TabWrapper.js
  webpack/components/TabWrapper/index.js
  webpack/components/TabbedView/TabbedView.js
  webpack/components/TabbedView/TabbedView.scss
  webpack/components/TabbedView/index.js
  webpack/components/Table/MainTable.js
  webpack/containers/Application/config.js
  webpack/containers/Application/overrides.scss
  webpack/redux/reducers/index.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/ContentViewsPage.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailReducer.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/ContentViewInfo.js
  webpack/scenes/ContentViews/Details/DetailsContainer.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Details/contentViewInfo.scss
  webpack/scenes/ContentViews/Details/index.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
  webpack/scenes/ContentViews/components/ContentViewIcon.js
  webpack/scenes/ContentViews/components/ContentViewName.js
  webpack/scenes/ContentViews/components/contentViewIcon.scss
  webpack/scenes/ContentViews/details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/expansions/RepositoriesExpansion.js
  webpack/test-utils/react-testing-lib-wrapper.js
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed

#8844 Fixes #30451 - attach subscription to unregstered host gives useful e…
  app/lib/actions/katello/host/attach_subscriptions.rb
  test/actions/katello/host/attach_subscriptions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8848 Fixes #30463 - Add description to repository update API.
  app/controllers/katello/api/v2/repositories_controller.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Ready for merge

#8841 Fixes #30425 - fix page redirect during smart proxy sync
  engines/bastion_katello/app/assets/javascripts/bastion_katello/capsule-content/capsule-content.routes.js
Labels: Needs testing, Not yet reviewed

#8829 Fixes #30255 - Add DSL docs for installed package
  app/models/katello/installed_package.rb
Labels: Needs testing, Not yet reviewed

#8816 Fixes #30267, #30264 - Add DSL docs for repository
  app/models/katello/root_repository.rb
Labels: Needs testing, Not yet reviewed

#8831 Fixes #30259, #30257, #30258 - Add DSL docs for host/group/collection
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/host_collection.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8847 Fixes #30461 - Remove duplicate cp_id index on Pools table
  db/migrate/20200721142707_remove_duplicate_katello_pools_index.rb
Labels: Needs testing, Not yet reviewed

#8843 Fixes #30448 - Initialize event daemon in to_prepare
  app/services/katello/event_daemon.rb
  lib/katello/engine.rb
  test/services/katello/event_daemon_test.rb
Labels: Needs testing, Not yet reviewed

#8798 Refs #29925 - Allow the user to toggle Simple Content Access on/off
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  app/lib/actions/katello/organization/simple_content_access/disable.rb
  app/lib/actions/katello/organization/simple_content_access/enable.rb
  app/lib/actions/katello/organization/simple_content_access/toggle.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
  webpack/__mocks__/foremanReact/components/ForemanModal/ForemanModalActions.js
  webpack/__mocks__/foremanReact/components/ForemanModal/ForemanModalSelectors.js
  webpack/__mocks__/foremanReact/components/ForemanModal/index.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.scss
  webpack/scenes/Subscriptions/Manifest/ManifestActions.js
  webpack/scenes/Subscriptions/Manifest/ManifestConstants.js
  webpack/scenes/Subscriptions/Manifest/SimpleContentAccess.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManageManifestModal.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManifestActions.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/SimpleContentAccess.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/Manifest/__tests__/manifest.fixtures.js
  webpack/scenes/Subscriptions/Manifest/index.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsActions.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsReducer.test.js.snap
  webpack/test-utils/react-testing-lib-wrapper.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8823 Fixes #30265 - Add DSL docs for content facet
  app/models/katello/concerns/content_facet_host_extensions.rb
  app/models/katello/host/content_facet.rb
  app/models/katello/model.rb
Labels: Needs testing, Not yet reviewed

#8830 Fixes #30256 - Add DSL docs for pools
  app/models/katello/pool.rb
Labels: Needs testing, Not yet reviewed

#8820 Fixes #30343 - Sync plan fails
  app/lib/actions/katello/sync_plan/run.rb
Labels: Needs testing, Not yet reviewed

#8849 Refs #17798 - Update wording on CV change on single/bulk content-host
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-environment-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
Labels: Ready for merge

#8856 Fixes #30509 - test fixes for new bindings
  app/services/katello/pulp3/migration.rb
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8840 Fixes #29742 - registries search and catalog
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8854 Fixes #30124 - Sync Management page details for Pulp3
  app/lib/actions/pulp3/repository/presenters/content_unit_presenter.rb
  app/presenters/katello/sync_status_presenter.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#8864 Fixes #30511 - force report task to be dynflow client
  lib/katello/tasks/reports.rake
Labels: Needs testing, Not yet reviewed

#8872 Fixes #30541 - properly import errata dates from pulp3
  app/services/katello/pulp3/erratum.rb
  test/services/katello/pulp3/erratum_test.rb
Labels: Needs testing, Not yet reviewed

#8868 Fixes #30361 - shows the right Cv in Content Hosts
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/test/content-hosts/details/content-host-details-info.controller.test.js
Labels: Ready for merge
