Repository Katello/katello, pull requests merged in 2020-05, with the labels that each got.

#8691 Fixes #29674 - add github action to count commits
  .github/workflows/pull_request.yml
Labels: Needs testing, Not yet reviewed

#8695 Fixes #29678 - do not lock smart proxy sync
  app/lib/actions/katello/capsule_content/sync_capsule.rb
Labels: Needs testing, Not yet reviewed

#8682 Fixes #29637 - Allow jest testing to use foremanReact
  babel.config.js
  jest.config.js
  package.json
  webpack/__mocks__/foremanReact/common/I18n.js
  webpack/__mocks__/foremanReact/common/helpers.js
  webpack/__mocks__/foremanReact/common/keyCodes.js
  webpack/__mocks__/foremanReact/components/BreadcrumbBar/index.js
  webpack/__mocks__/foremanReact/components/PermissionDenied/index.js
  webpack/__mocks__/foremanReact/components/common/ModalProgressBar.js
  webpack/__mocks__/foremanReact/components/common/table.js
  webpack/__mocks__/foremanReact/redux/middlewares/IntervalMiddleware/IntervalSelectors.js
  webpack/__mocks__/foremanReact/redux/middlewares/IntervalMiddleware/index.js
  webpack/__mocks__/react-intl/index.js
  webpack/__mocks__/react-intl/locale-data/en.js
  webpack/move_to_foreman/components/common/table/components/__snapshots__/Table.test.js.snap
  webpack/scenes/RedHatRepositories/__tests__/__snapshots__/RedHatRepositoriesPage.test.js.snap
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsActions.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/__snapshots__/SubscriptionsToolbar.test.js.snap
  webpack/scenes/Tasks/__tests__/__snapshots__/TaskActions.test.js.snap
  webpack/test_setup.js
Labels: Needs testing, Not yet reviewed

#8694 Fixes #29563 - Applicable packages page loading error
  app/controllers/katello/api/v2/packages_controller.rb
  test/controllers/api/v2/packages_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8686 Refs #29647 - remove implicit scopes
  app/models/katello/erratum.rb
  app/models/katello/product.rb
Labels: Needs testing, Not yet reviewed

#8644 Fixes #29298 - Add new Content View table
  .eslintignore
  .gitignore
  jest.config.js
  lib/katello/plugin.rb
  package.json
  webpack/.eslintrc
  webpack/__mocks__/foremanReact/redux/API.js
  webpack/containers/Application/config.js
  webpack/containers/Application/overrides.scss
  webpack/mockRequest.js
  webpack/scenes/ContentPublication/index.js
  webpack/scenes/ContentViews/ContentViewSelectors.js
  webpack/scenes/ContentViews/ContentViewsActions.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/ContentViewsPage.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/Table/TableWrapper.js
  webpack/scenes/ContentViews/Table/actionResolver.js
  webpack/scenes/ContentViews/Table/index.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
  webpack/scenes/ContentViews/__tests__/contentViewList.fixtures.json
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/ContentViews/components/ContentViewName.js
  webpack/scenes/ContentViews/components/EmptyStateMessage.js
  webpack/scenes/ContentViews/components/IconWithCount.js
  webpack/scenes/ContentViews/components/IconWithCount.scss
  webpack/scenes/ContentViews/components/Loading.js
  webpack/scenes/ContentViews/components/contentViewName.scss
  webpack/scenes/ContentViews/details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/details/DetailsContainer.js
  webpack/scenes/ContentViews/expansions/DetailsExpansion.js
  webpack/scenes/ContentViews/expansions/EnvironmentsExpansion.js
  webpack/scenes/ContentViews/expansions/RepositoriesExpansion.js
  webpack/scenes/ContentViews/expansions/VersionsExpansion.js
  webpack/scenes/ContentViews/index.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsActions.test.js.snap
  webpack/scenes/Tasks/__tests__/__snapshots__/TaskActions.test.js.snap
  webpack/test-utils/react-testing-lib-wrapper.js
  webpack/test_setup.js
Labels: Needs testing, Not yet reviewed

#8692 Fixes #29553 - Katello Applicability of rpms with modules
  app/services/katello/applicability/applicable_content_helper.rb
  db/migrate/20200506163345_add_applicability_indicesto_katello_host_available_module_streams.rb
  test/services/katello/applicability/applicable_content_helper_test.rb
Labels: Needs testing, Not yet reviewed

#8703 Fixes #29717 - Fix React tests
  webpack/mockRequest.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsActions.test.js
  webpack/test-utils/nockWrapper.js
Labels: Needs testing, Not yet reviewed

#8697 Fixes #29692 - Enable installation of Tracer from the UI
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-actions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-traces.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/tasks/task-details.controller.js
Labels: Needs testing, Not yet reviewed

#8675 Fixes #28971 - Generating and adding entitlements expiring soon report link in email
  app/helpers/katello/subscription_mailer_helper.rb
  app/mailers/katello/subscription_mailer.rb
  app/views/katello/subscription_mailer/subscription_expiry.html.erb
  app/views/katello/subscription_mailer/subscription_expiry.text.erb
  db/seeds.d/106-mail_notifications.rb
  test/mailers/subscription_mailer_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8687 Fixes #29650 - detect and fix pulpcore missing capabilities
  app/lib/actions/katello/pulp_selector.rb
  app/lib/katello/errors.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  test/models/concerns/smart_proxy_extensions_test.rb
  test/support/capsule_support.rb
Labels: Needs testing, Not yet reviewed

#8689 Fixes #29653 - fix 0 epoch package profile upload
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/installed_package.rb
  app/services/katello/pulp/simple_package.rb
  db/migrate/20200429153103_installed_package_bad_nvrea.rb
  db/migrate/20200501155054_installed_package_unique_nvrea.rb
  test/models/host/content_facet_test.rb
  test/models/rpm_test.rb
  test/services/katello/applicability/applicable_content_helper_test.rb
  test/services/katello/pulp/simple_package_test.rb
Labels: Needs testing, Not yet reviewed

#8653 Fixes #29516 - Add Tracer bulk action support
  app/controllers/katello/api/v2/host_tracer_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/models/katello/authorization/host_tracer.rb
  app/models/katello/host_tracer.rb
  app/views/katello/api/v2/host_tracer/base.json.rabl
  config/routes/api/v2.rb
  config/routes/overrides.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-traces-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-traces-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-host-modal-helper.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/hosts/host-bulk-action.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/hosts/host-traces-resolve.factory.js
  lib/katello/permissions/host_permissions.rb
  test/controllers/api/v2/host_tracer_controller_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
Labels: Demo worthy, Ready for merge

#8702 Fixes #29448 - do not import puppet if not enabled
  app/lib/katello/foreman.rb
  app/models/katello/content_view_version.rb
  test/models/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed

#8704 Fixes #29721 - Show Traces status in Hosts API
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/trace_status.rb
Labels: Ready for merge

#8706 Fixes #29730 - Warn if resolving Traces will reboot the host
  app/controllers/katello/api/v2/host_tracer_controller.rb
  app/models/katello/host_tracer.rb
  app/models/katello/trace_status.rb
  app/views/katello/api/v2/host_tracer/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-traces-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-traces-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts-helper.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-traces.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-traces.html
Labels: Needs testing, Not yet reviewed

#8685 Refs #29540 - Remove 3.16 deprecated functionality and warnings
  app/controllers/katello/api/rhsm/candlepin_dynflow_proxy_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/repository/update.rb
  config/routes/overrides.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8710 Bump Katello version to 4.0.0-master
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8698 Fixes #29209 - Do not import_all for pulp3 content types
  app/models/katello/ansible_collection.rb
  lib/katello/tasks/reimport.rake
  test/lib/tasks/reimport_test.rb
Labels: Needs testing, Not yet reviewed

#8699 Fixes #28953 - incremental update copy module defaults
  app/lib/actions/katello/content_view_version/incremental_update.rb
Labels: Needs testing, Not yet reviewed

#8716 Fixes #29847 - Cannot enable dep solving or auto publish
  app/controllers/katello/api/v2/content_views_controller.rb
  test/controllers/api/v2/content_views_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8718 Translation updates
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/de.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/es.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/fr.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/it.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ja.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ko.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/pt_BR.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ru.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_CN.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_TW.po
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8715 Fixes #29595 - Orphaned dangling content in katello fails migration
  app/lib/actions/katello/orphan_cleanup/remove_orphans.rb
  test/actions/katello/orphan_cleanup/remove_orphans_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8662 Fixes #29488 - Make modular errata applicable
  app/lib/actions/katello/host/upload_profiles.rb
  app/models/katello/repository.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.16/update_applicable_el8_hosts.rake
  test/actions/katello/host/upload_profiles_test.rb
  test/lib/tasks/update_applicable_el8_hosts_test.rb
Labels: Needs testing, Not yet reviewed

#8712 Fixes #29823 - Ignore Traces that have no helper
  app/models/katello/concerns/host_managed_extensions.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8705 Fixes #29604 - Katello Applicability calculate module streams
  app/models/katello/host/content_facet.rb
  app/services/katello/applicability/applicable_content_helper.rb
  test/services/katello/applicability/applicable_content_helper_test.rb
Labels: Needs testing, Not yet reviewed

#8700 Fixes #28536 - Filter with not equal filter
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/rpm.rb
  app/services/katello/pulp3/srpm.rb
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/empty_content_args.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/empty_content_args_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/incorrect_content_units_doesnt_update_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/remove_rpm.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_remove_units/remove_rpm_unit_updates_version_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/index_erratum_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/dup_errata.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/update_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/rpm/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/rpm/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/rpm/update_model.yml
Labels: Needs testing, Not yet reviewed

#8709 Fixes #29790 - New macro to show only Red Hat subscriptions
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/models/katello/subscription.rb
Labels: Needs re-review, Needs testing

#8720 Fixes #29879 - Remove react-tokens
  package.json
Labels: Needs testing, Not yet reviewed

#8713 Fixes #29832 - Added pagination to new CV page
  webpack/__mocks__/foremanReact/Root/Context/ForemanContext.js
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/Loading.js
  webpack/components/Table/TableWrapper.js
  webpack/scenes/ContentViews/ContentViewSelectors.js
  webpack/scenes/ContentViews/ContentViewsActions.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/ContentViewsPage.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/Table/TableWrapper.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
  webpack/scenes/ContentViews/__tests__/basicContentViews.fixtures.js
  webpack/scenes/ContentViews/__tests__/contentViewList.fixtures.json
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/ContentViews/details/DetailsContainer.js
  webpack/test-utils/nockWrapper.js
Labels: Needs testing, Not yet reviewed

#8725 Refs #29330 - fix install_all errata
  app/controllers/katello/remote_execution_controller.rb
Labels: Needs testing, Not yet reviewed

#8728 Fixes #29933 - log error when repo scan errors
  app/lib/katello/util/cdn_var_substitutor.rb
Labels: Needs testing, Not yet reviewed

#8734 Fixes #29945 - Update wording on UI Tracer install
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-traces.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
Labels: Ready for merge

#8732 Fixes #29948 - Unable to re-import subscriptions in large environment
  app/models/katello/glue/candlepin/pool.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8722 Fixes #29905 - Remove duplicate npm dependencies and add github action
  .github/workflows/pull_request.yml
  .github/workflows/react_tests.yml
  .travis.yml
  jest.config.js
  package.json
  webpack/.eslintrc
  webpack/.eslintrc.js
  webpack/scenes/Subscriptions/Manifest/__tests__/__snapshots__/ManageManifestModal.test.js.snap
  webpack/test-utils/findForeman.js
Labels: Needs re-review, Needs testing

#8729 Fixes #29931 - Encrypt Root repository upstream password
  app/models/katello/root_repository.rb
  db/migrate/20200526200422_encrypt_root_repository_upstream_password.rb
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed
