Repository Katello/katello, pull requests merged in 2020-11, with the labels that each got.

#8632 Fixes #29421 - add pulp3 debian support
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/lib/actions/pulp3/repository/save_artifact.rb
  app/services/katello/pulp3/api/apt.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/deb.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/apt.rb
  katello.gemspec
  lib/katello/repository_types/deb.rb
  test/actions/katello/capsule_content_test.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/actions/pulp3/repository/sync/success_apt.yaml
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/remove_orphans/orphans_are_removed.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_list/list_with_pagination.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/delete_orphan_repository_versions.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/orphan_repository_versions.yml
  test/fixtures/vcr_cassettes/katello/service/repository/rpm_with_proxy/create_with_global_http_proxy.yml
  test/fixtures/vcr_cassettes/katello/service/repository/rpm_with_proxy/sync_with_global_http_proxy.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create_custom.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/refresh.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_no_filters.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_rpm_filenames.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/errata_filter.yml
  test/support/capsule_support.rb
Labels: Needs re-review, Needs testing

#9004 Fixes #31156 - Add authorization for repositories_bulk_actions
  app/controllers/katello/api/v2/repositories_bulk_actions_controller.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8983 Fixes #24166 - Add requiredTags to custom repos
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/candlepin/product/content_create.rb
  app/lib/actions/candlepin/product/content_update.rb
  app/lib/actions/katello/product/content_create.rb
  app/lib/actions/katello/repository/update.rb
  app/models/katello/root_repository.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  db/migrate/20201008204114_add_os_versions_to_katello_root_repositories.rb
  engines/bastion/test/test-mocks.module.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/os-versions.service.js
  engines/bastion_katello/test/products/details/repositories/os-versions.service.test.js
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/organization_destroy.yml
  test/fixtures/vcr_cassettes/scenarios/product_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_create.yml
  test/fixtures/vcr_cassettes/scenarios/repo_sync.yml
  test/fixtures/vcr_cassettes/scenarios/repo_update.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_repo_if_exists.yml
  test/models/root_repository_test.rb
  test/models/yum_metadata_file_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9021 i18n - pulling from tx
  app/lib/actions/katello/host/update_system_purpose.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/de.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/es.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/fr.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/it.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ja.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ko.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/pt_BR.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ru.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_CN.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_TW.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/translations.js
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9010 Fixes #31173 - no deb repo in sub-man
  app/models/katello/root_repository.rb
Labels: Needs testing, Not yet reviewed

#8989 Refs #30994 - Add ability to set system purpose via bulk actions
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-system-purpose-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-system-purpose-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-host-modal-helper.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/host-collection-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/hosts/host-bulk-action.factory.js
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-system-purpose-modal.controller.test.js
Labels: Needs testing, Not yet reviewed, hacktoberfest-accepted

#8999 Fixes #31150 - content view component auth fixes
  app/controllers/katello/api/v2/content_view_components_controller.rb
  app/models/katello/authorization/content_view_component.rb
  app/models/katello/content_view_component.rb
  test/controllers/api/v2/content_view_components_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8993 Fixes #31050 - Global Registration fails when host not found
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
Labels: Needs testing, Not yet reviewed

#8995 Fixes #31120 - Provide rake task for content migration stats
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Needs testing, Not yet reviewed

#9017 Fixes #31134 - Disable SCA toggle in UI if the organization is ineligible
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  app/controllers/katello/concerns/organizations_controller_extensions.rb
  app/lib/katello/resources/candlepin/upstream_consumer.rb
  app/models/katello/concerns/organization_extensions.rb
  app/services/katello/candlepin/upstream_consumer.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
  test/controllers/foreman/organizations_controller_test.rb
  test/models/concerns/organization_extensions_test.rb
  test/services/katello/candlepin/upstream_consumer_test.rb
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/ManifestActions.js
  webpack/scenes/Subscriptions/Manifest/ManifestConstants.js
  webpack/scenes/Subscriptions/Manifest/SimpleContentAccess.js
  webpack/scenes/Subscriptions/Manifest/__tests__/SimpleContentAccess.test.js
  webpack/scenes/Subscriptions/Manifest/index.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsSelectors.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsSelectors.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsSelectors.test.js.snap
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9002 Fixes #31149 - updates 404 conditions in before action filters
  app/controllers/katello/api/v2/host_errata_controller.rb
Labels: Needs testing, Not yet reviewed

#9022 Bump version to 4.0.0
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9024 Fixes 30832: Do not upload package profile to Pulp 3
  app/lib/actions/katello/host/upload_package_profile.rb
  app/lib/actions/katello/host/upload_profiles.rb
  test/actions/katello/host/upload_package_profile_test.rb
  test/actions/katello/host/upload_profiles_test.rb
Labels: Needs testing, Not yet reviewed

#9020 Fixes #31195 - Add rake task that kills running pulp 3 migration tasks
  lib/katello/tasks/pulp3_migration_abort.rake
Labels: Blocked by another PR, Needs testing, Not yet reviewed, Waiting on contributor

#9019 Fixes #31223 - Pulp 3 task cancelling does not work
  app/lib/actions/pulp3/abstract_async_task.rb
  app/services/katello/pulp3/task.rb
  app/services/katello/pulp3/task_group.rb
Labels: Needs testing, Not yet reviewed

#9026 Fixes #31271 - Sort package names in ContentViewPackageFilter rpm clause
  app/models/katello/content_view_package_filter.rb
  test/fixtures/vcr_cassettes/katello/service/repository/rpm_with_proxy/create_with_global_http_proxy.yml
  test/fixtures/vcr_cassettes/katello/service/repository/rpm_with_proxy/sync_with_global_http_proxy.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/create_custom.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr/refresh.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_no_filters.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_rpm_filenames.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/errata_filter.yml
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9016 Fixes #31214 - Inc update requires puppet content type
  app/lib/actions/katello/content_view_version/incremental_update.rb
Labels: Needs testing, Not yet reviewed

#8975 Fixes #30824 - Optimize capsule sync by tracking sync history
  app/lib/actions/helpers/smart_proxy_sync_history_helper.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/remove_content.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/katello/repository/update.rb
  app/lib/actions/katello/repository/upload_files.rb
  app/lib/actions/middleware/record_smart_proxy_sync_history.rb
  app/lib/actions/pulp/consumer/sync_capsule.rb
  app/lib/actions/pulp/repository/distributor_publish.rb
  app/lib/actions/pulp3/capsule_content/sync.rb
  app/lib/actions/pulp3/orchestration/repository/generate_metadata.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/repository.rb
  app/models/katello/smart_proxy_sync_history.rb
  app/services/katello/smart_proxy_helper.rb
  db/migrate/20200929200357_create_katello_smart_proxy_sync_history.rb
  test/actions/pulp3/orchestration/generate_metadata_test.rb
  test/models/smart_proxy_sync_history_test.rb
  test/support/capsule_support.rb
Labels: Needs testing, Not yet reviewed

#9003 Fixes #31146 - content view filter auth fixes
  app/controllers/katello/api/v2/content_view_filters_controller.rb
  app/models/katello/authorization/content_view_filter.rb
  app/models/katello/content_view_filter.rb
  test/controllers/api/v2/content_view_filters_controller_test.rb
Labels: Ready for merge

#9013 Fixes #31189 - Add import-only flag to Content Views
  app/controllers/katello/api/v2/content_views_controller.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/models/katello/content_view.rb
  app/models/katello/content_view_filter.rb
  app/models/katello/content_view_puppet_module.rb
  app/models/katello/content_view_repository.rb
  app/services/katello/repository_type.rb
  app/views/katello/api/v2/content_views/base.json.rabl
  db/migrate/20201021150008_add_import_only_to_katello_content_view.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/content-views.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/content-view-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/new/content-view-new.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/new/views/content-view-new.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/views/content-views.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repository-types.service.js
  engines/bastion_katello/test/content-views/content-views.controller.test.js
  engines/bastion_katello/test/content-views/new/content-view-new.controller.test.js
  test/actions/katello/content_view_test.rb
  test/actions/katello/content_view_version/import_test.rb
  test/controllers/api/v2/content_views_controller_test.rb
  test/factories/content_view_factory.rb
  test/fixtures/models/katello_content_views.yml
  test/models/content_view_filter_test.rb
  test/models/content_view_puppet_module_test.rb
  test/models/content_view_repository_test.rb
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8998 Add a Slot to manage manifest modal
  webpack/__mocks__/foremanReact/components/common/Fill/GlobalFill.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/test-utils/react-testing-lib-wrapper.js
Labels: Needs testing, Not yet reviewed

#9032 Fixes #31294 - Need `disable_dynflow` for pulp3_migration_abort to work on production
  lib/katello/tasks/pulp3_migration_abort.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9009 Fixes #31169 - Fix ping if pulpcore is disabled for downstream
  app/models/katello/ping.rb
  test/models/ping_test.rb
Labels: Ready for merge, hacktoberfest-accepted

#9006 Fixes #31159 - Add authorization for HostBulkActionsController
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/concerns/api/v2/authorization.rb
  app/controllers/katello/concerns/api/v2/bulk_hosts_extensions.rb
  test/controllers/api/v2/concerns/authorization_test.rb
  test/controllers/api/v2/concerns/bulk_hosts_extensions_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9007 Fixes #31151 - updates 404 conditions in before action filters
  app/controllers/katello/api/v2/host_debs_controller.rb
  test/controllers/api/v2/host_debs_controller_test.rb
Labels: Ready for merge, hacktoberfest-accepted

#8997 Fixes #30003 - Add pulp3 incremental export feature
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/pulp3/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_export_common.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  test/actions/katello/content_view_version/import_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/create_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/destroy_exporter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/content_view/export/export.yml
  test/services/katello/pulp3/content_view_version/export_test.rb
  test/services/katello/pulp3/content_view_version/import_test.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
  test/support/export_support.rb
Labels: Needs testing, Not yet reviewed

#9029 Fixes #31276 - cache dist paths on migration import
  app/services/katello/pulp3/migration.rb
Labels: Needs testing, Not yet reviewed

#9033 [CP] Fixes #31162 - Add a Slot to manage manifest modal
  webpack/__mocks__/foremanReact/components/common/Fill/GlobalFill.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/test-utils/react-testing-lib-wrapper.js
Labels: Needs testing, Not yet reviewed

#9000 Fixes #30884 - Products controller permissions
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
  app/controllers/katello/api/v2/products_controller.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/products_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9027 Fixes #31268 - copy all units on pulp3 cv publish
  app/services/katello/pulp3/repository/yum.rb
  test/services/katello/pulp3/repository/yum/copy_units_test.rb
Labels: Needs testing, Not yet reviewed

#9012 Fixes #31182 - Add Activation Keys to Global Registration UI form
  app/controllers/katello/concerns/registration_controller_extensions.rb
  app/views/foreman/hosts/_registration.html.erb
  lib/katello/engine.rb
  lib/katello/plugin.rb
  test/controllers/foreman/registration_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8991 Refs #31117 - Move pulp3 exporting to new ContentExportsController
  app/controllers/katello/api/v2/content_exports_controller.rb
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/models/katello/authorization/content_view_version.rb
  app/models/katello/authorization/content_view_version_export_history.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/actions/pulp3/content_view_version/export_test.rb
  test/controllers/api/v2/content_exports_controller_test.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
Labels: Needs re-review, Needs testing, Waiting on contributor, hacktoberfest-accepted

#9018 Fixes #31209 - Get repo type filter for CV page from API
  webpack/components/SelectableDropdown/SelectableDropdown.js
  webpack/components/SelectableDropdown/__tests__/SelectableDropdown.test.js
  webpack/components/SelectableDropdown/index.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailRepos.test.js
  webpack/test-utils/react-testing-lib-wrapper.js
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed

#8996 Fixes #31122 - use new react_component mounter
  app/views/katello/layouts/react.html.erb
  app/views/overrides/activation_keys/_host_tab_pane.html.erb
Labels: Needs testing, Not yet reviewed

#9044 Fixes #31344 - Update @theforeman/builder
  package.json
Labels: Needs testing, Not yet reviewed

#9037 Fixes #31315: Allow syncing a Pulp 3 only proxy
  app/controllers/katello/api/v2/capsule_content_controller.rb
  app/lib/actions/katello/capsule_content/sync.rb
Labels: Needs testing, Not yet reviewed

#9045 Refs #30832 - check for pulp2 presence rather than pulp3 yum support
  app/lib/actions/katello/host/upload_package_profile.rb
  app/lib/actions/katello/host/upload_profiles.rb
  test/actions/katello/host/upload_package_profile_test.rb
  test/actions/katello/host/upload_profiles_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9047 Fixes #31334 - fix export transient failure
  test/actions/pulp3/content_view_version/export_test.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
Labels: Needs testing, Not yet reviewed

#9038 Fixes #31247 - deleting wrong repo reference on cv delete
  app/lib/actions/pulp3/content_view/delete_repository_references.rb
  app/lib/actions/pulp3/repository/delete.rb
  app/services/katello/pulp3/repository.rb
  test/actions/pulp3/content_view/delete_repository_references_test.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_list/list_with_pagination.yml
  test/services/katello/pulp3/repository_list_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed

#9005 Fixes #31158 - fix auth for CVVs controller
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/models/katello/authorization/content_view_version.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9041 Fixes #31321 - deleted host causes applicability error
  app/lib/actions/katello/applicability/hosts/bulk_generate.rb
  test/actions/katello/applicability/generate_applicability_test.rb
Labels: Needs testing, Not yet reviewed

#9055 Fixes #31414 - use local tmp for minitest reports
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#9025 Fixes #31416 - Make sure remote execution plugin is already loaded before katello
  lib/katello/engine.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor
