Repository Katello/katello, pull requests merged in 2020-02, with the labels that each got.

#8550 Fixes #28894 - load the pools from AR database instead of Candlepin
  app/controllers/katello/api/v2/subscriptions_controller.rb
  app/models/katello/glue/candlepin/candlepin_object.rb
  test/controllers/api/v2/subscriptions_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8541 Fixes #28383 - Reinstate Activation Key autocomplete
  app/assets/javascripts/katello/hosts/activation_key_edit.js
  app/assets/javascripts/katello/widgets/auto_complete.js
  app/views/overrides/activation_keys/_host_tab_pane.html.erb
  vendor/assets/stylesheets/katello/jquery.jnotify.css
Labels: Needs testing, Not yet reviewed

#8551 Fixes #28644 - Repo Mapper prunes unused subs
  app/models/katello/candlepin/repository_mapper.rb
  test/fixtures/models/katello_contents.yml
  test/models/candlepin/repository_mapper_test.rb
Labels: Needs testing, Not yet reviewed

#8491 Fixes #28659 - show correct subscriptions after delete
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Tasks/TaskConstants.js
Labels: Needs testing, Not yet reviewed

#8557 Refs #28818 - Fix slow product list
  app/views/katello/api/v2/products/base.json.rabl
  app/views/katello/api/v2/products/show.json.rabl
Labels: Needs testing, Not yet reviewed

#8558 Bump master version to 3.16
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8556 Fixes #28958 - disable not inited lifecycle-button
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/views/environments.html
Labels: Needs testing, Not yet reviewed

#8426 Fixes #28231 - Package build time to human readable format
  app/views/katello/api/v2/packages/backend.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/details/views/package-info.html
Labels: Needs testing, Not yet reviewed

#8562 Refs #28818 - Fix sync_summary select
  app/models/katello/glue/pulp/repos.rb
Labels: Ready for merge

#8564 Fixes #29001 - eslint errors
  webpack/scenes/Subscriptions/SubscriptionsPage.js
Labels: Needs testing, Not yet reviewed

#8560 Fixes #28951 - implement partial repo path for yum
  app/services/katello/pulp3/repository/yum.rb
  test/services/katello/pulp3/repository/yum/repository_mirror_test.rb
Labels: Needs testing, Not yet reviewed

#8566 Fixes #29007 - fixes uploads api regression
  app/lib/actions/pulp3/orchestration/repository/import_upload.rb
Labels: Needs testing, Not yet reviewed

#8559 Bumps version for 3.15 RC1, adds changelog.
  CHANGELOG.md
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8569 Fixes #29073 - bump pulp 2to3 mig to rc1
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8572 Refs #29073 - take all 0.0.1 pulp 2to3 gems
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8568 Fixes #29035 - Add @taxonomy when creating organization from API
  app/controllers/katello/api/v2/organizations_controller.rb
Labels: Needs testing, Not yet reviewed

#8571 Fixes #29073 - bump pulp 2to3 mig to rc1
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8576 Fixes #25440 - Deprecate applicable_hosts field in hosts bulk actions
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8549 Fixes #28886 - App applicability associations to InstalledPackage
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/installed_package.rb
  app/services/katello/pulp/simple_package.rb
  db/migrate/20200129172534_add_epoch_version_release_arch_to_katello_installed_packages.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8544 Fixes #28879 - add pulp3 repo migration
  app/lib/actions/pulp3/content_migration.rb
  app/lib/actions/pulp3/import_migration.rb
  app/models/katello/content_view.rb
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_plan.rb
  lib/katello/tasks/pulp3_migration.rake
  test/fixtures/models/katello_repositories.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/services/katello/pulp3/migration_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed

#8575 Fixes #29104 - Copies drpms correctly
  app/services/katello/pulp/repository/yum.rb
  katello.gemspec
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_no_filters.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/copy_rpm_filenames.yml
  test/fixtures/vcr_cassettes/katello/service/repository/yum_vcr_copy/errata_filter.yml
Labels: Needs testing, Not yet reviewed

#8578 Fixes #29142 - delete all http proxies in tests
  test/lib/tasks/http_proxy_tasks_test.rb
  test/models/setting/default_http_proxy_setting_test.rb
Labels: Needs testing, Not yet reviewed

#8577 Fixes #29134 - deprecated background policy in apipie docs
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Needs testing, Not yet reviewed

#8583 Fixes #29168: uprade eslint from 0.14.1 to 6.7.2
  engines/bastion_katello/package.json
Labels: Needs testing, Not yet reviewed

#8587 Bump version to rc1.1
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8585 Fixes #29169 - Fix katello reset task
  lib/katello/tasks/reset.rake
Labels: Needs testing, Not yet reviewed

#8584 Fixes #29042 - Applied errata report
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#8574 Fixes #29094 - Prevent setting auto-attach on Activation Key when in Simple Content Access
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-subscriptions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-subscriptions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-subscriptions.html
Labels: Needs testing, Not yet reviewed
