Repository Katello/katello, pull requests merged in 2020-06, with the labels that each got.

#8739 Fixes #29975 - fixes issue with ENV variable manipulation
  test/actions/katello/repository/discover_test.rb
  test/models/root_repository_test.rb
  test/models/setting/default_http_proxy_setting_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8733 Fixes #28096 - add help-text to ignorable content
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed

#8743 Fixes #29987 - Increase nock testing timeout
  webpack/global_test_setup.js
  webpack/test-utils/nockWrapper.js
Labels: Needs testing, Not yet reviewed

#8708 Fixes #29768 - Use debversion extension for sorting deb-versions
  app/models/katello/deb.rb
  config/initializers/postgresql_custom_types.rb
  db/migrate/20200508180714_alter_katello_debs_alter_version_sortable.rb
Labels: Needs testing, Not yet reviewed

#8748 Fixes #30010 - removed proxy.hostname from safemode
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Needs testing, Not yet reviewed

#8711 Fixes #29791 - Disable subscription attach for Simple Content Access
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/concerns/api/v2/bulk_hosts_extensions.rb
  app/models/katello/subscription_status.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-subscriptions-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-add-subscriptions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-subscriptions-list.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/host-collection-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/views/content-access-mode-banner.html
  engines/bastion_katello/test/content-hosts/content-hosts.controller.test.js
  engines/bastion_katello/test/content-hosts/details/content-host-details.controller.test.js
  engines/bastion_katello/test/host-collections/details/host-collection-details.controller.test.js
  test/controllers/api/v2/concerns/bulk_hosts_extensions_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8744 Fixes #26954 - Fix auto-closing rows on Subscriptions table
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
Labels: Needs testing, Not yet reviewed

#8755 Refs #30021 - correct pulp 2to3 migration client dependency
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#8742 Fixes #29986 - Capsules shouldn't update hosts' Registered through f…
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
Labels: Needs testing, Waiting on contributor

#8750 Fixes #30022 - Fix Product name link on the activation keys Reposito…
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-repository-sets.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8746 Refs #29929 - disable subscription through activation key in SCA
  app/controllers/katello/api/v2/activation_keys_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-associations.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-add-subscriptions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-associations-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-details.html
  engines/bastion_katello/test/activation-keys/details/activation-key-associations.controller.test.js
  engines/bastion_katello/test/activation-keys/details/activation-key-details.controller.test.js
  test/controllers/api/v2/activation_keys_controller_test.rb
Labels: Needs testing, Not yet reviewed

#8763 Fixes #30101 - Use delete_all for SubscriptionFacetPools association
  app/lib/katello/logging.rb
  app/models/katello/glue/candlepin/candlepin_object.rb
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/glue/provider.rb
  app/models/katello/pool.rb
  test/models/pool_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8759 Fixes #30092 - provide current organization as parameter to content view versions controller api
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/versions/content-view-version.factory.js
  engines/bastion_katello/test/content-views/versions/content-view-version.factory.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8766 Fixes #30108 - Update bastion katello translations
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/es.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ja.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/translations.js
Labels: Needs testing, Not yet reviewed

#8769 Fixes #30118 - properly index nvra on rpms
  app/services/katello/pulp3/rpm.rb
  test/services/katello/pulp3/rpm_test.rb
Labels: Needs testing, Not yet reviewed

#8768 Fixes #30114 - Stop Pulp 2 consumer binding if Katello Applicability is in use
  app/models/katello/host/content_facet.rb
  test/models/host/content_facet_test.rb
Labels: Needs testing, Not yet reviewed

#8771 Refs #30065 - sprockets 4 compatibility
  app/assets/stylesheets/katello/katello.scss
  lib/katello/plugin.rb
  vendor/assets/stylesheets/katello/jquery.loadmask.css.scss
  vendor/assets/stylesheets/katello/ui.spinner.css.scss
Labels: Needs testing, Not yet reviewed

#8738 Fixes #29961 - UploadProfiles failing at upload_modules_to_pulp
  app/lib/actions/katello/host/upload_profiles.rb
  test/actions/katello/host/upload_profiles_test.rb
Labels: Needs testing, Not yet reviewed

#8761 Refs #29928 remove subscription widgets
  app/helpers/katello/concerns/dashboard_helper_extensions.rb
  app/models/katello/concerns/widget_extensions.rb
  lib/katello/engine.rb
  test/models/concerns/widget_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8776 Fixes #30137 - Update tests to use @theforeman/find-foreman
  jest.config.js
  package.json
  webpack/.eslintrc.js
  webpack/test-utils/findForeman.js
Labels: Needs testing, Not yet reviewed

#8707 Fixes #29743 - allow custom reports to check host registered_at data
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs re-review, Needs testing

#8781 Fixes #30157 - Correct APIMiddleware path for react tests
  webpack/test-utils/react-testing-lib-wrapper.js
Labels: Needs testing, Not yet reviewed

#7738 Fixes #24819 - Add support for hostgroup content facet
  app/controllers/katello/concerns/api/v2/hostgroups_controller_extensions.rb
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/lib/katello/validators/hostgroup_kickstart_repository_validator.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/content_view.rb
  app/models/katello/hostgroup/content_facet.rb
  app/models/katello/kt_environment.rb
  app/models/katello/repository.rb
  db/migrate/20141222151001_add_host_content_view_environment.rb
  db/migrate/20180904122343_create_hostgroup_content_facet.katello.rb
  db/migrate/20200514092553_move_katello_fields_from_hostgroups.katello.rb
  lib/katello/plugin.rb
  test/controllers/foreman/hostgroups_controller_test.rb
  test/helpers/hosts_and_hostgroups_helper_test.rb
  test/lib/validators/hostgroup_kickstart_repository_validator_test.rb
  test/models/association_test.rb
  test/models/concerns/hostgroup_extensions_test.rb
  test/models/concerns/redhat_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8765 Fixes #30100 - reset http proxy in repos if deleted
  app/models/katello/concerns/http_proxy_extensions.rb
  app/models/katello/root_repository.rb
  test/lib/util/http_proxy_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8780 Fixes #30155 - fix add/remove subscription api response
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
Labels: Needs testing, Not yet reviewed

#8788 Fixes #30202 - fixes test issues with ENV variable manipulation
  test/actions/katello/repository/discover_test.rb
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed

#8785 Fixes #30184 - Add set_dependent_action :destroy for Hostgroup::ContentFacet
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/hostgroup/content_facet.rb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8778 Fixes #29694 - Handles race condition on pool deletion
  app/services/katello/candlepin/message_handler.rb
  test/services/candlepin/message_handler_test.rb
Labels: Needs testing, Not yet reviewed

#8745 Fixes #29307 - Add patternfly4 search to new CV page
  app/models/setting/content.rb
  package.json
  webpack/__mocks__/foremanReact/components/Settings/SettingsActions.js
  webpack/__mocks__/foremanReact/components/Settings/SettingsConstants.js
  webpack/components/Content/__tests__/__snapshots__/ContentPage.test.js.snap
  webpack/components/Search/Search.js
  webpack/components/Search/Search.test.js
  webpack/components/Search/__snapshots__/Search.test.js.snap
  webpack/components/Search/__tests__/search.test.js
  webpack/components/Search/index.js
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/MainTable.js
  webpack/components/Table/TableWrapper.js
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/TypeAhead/TypeAhead.scss
  webpack/components/TypeAhead/helpers/commonPropTypes.js
  webpack/components/TypeAhead/helpers/helpers.js
  webpack/components/TypeAhead/index.js
  webpack/components/TypeAhead/pf3Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf3Search/TypeAheadItems.js
  webpack/components/TypeAhead/pf3Search/TypeAheadSearch.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.scss
  webpack/components/TypeAhead/pf4Search/TypeAheadItems.js
  webpack/components/TypeAhead/pf4Search/TypeAheadSearch.js
  webpack/components/TypeAhead/pf4Search/TypeAheadSearch.scss
  webpack/global_test_setup.js
  webpack/move_to_pf/TypeAhead/TypeAhead.js
  webpack/move_to_pf/TypeAhead/helpers.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/Settings/SettingsConstants.js
  webpack/scenes/Settings/SettingsReducer.js
  webpack/scenes/Settings/SettingsSelectors.js
  webpack/scenes/Settings/index.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsSelectors.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsReducer.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/__snapshots__/SubscriptionsToolbar.test.js.snap
  webpack/scenes/Subscriptions/index.js
  webpack/test-utils/nockWrapper.js
  webpack/test-utils/react-testing-lib-wrapper.js
  webpack/utils/useEventListener.js
Labels: Needs testing, Not yet reviewed

#8758 Fixes #30077 - unsorted content-views in hostgroup
  app/helpers/katello/hosts_and_hostgroups_helper.rb
Labels: Needs testing, Not yet reviewed

#8784 Refs #30021 - backport pulpcore 3.4 to 3.16
  katello.gemspec
  test/lib/util/pulpcore_content_filters_test.rb
  test/services/katello/pulp3/repository/yum/distributor_test.rb
Labels: Needs testing, Not yet reviewed

#8777 Fixes #30112 - Add host registration check before changing organization
  app/controllers/katello/concerns/hosts_controller_extensions.rb
  app/lib/katello/errors.rb
  app/models/katello/concerns/host_managed_extensions.rb
  test/actions/katello/host/hypervisors_update_test.rb
  test/controllers/api/v2/host_errata_controller_test.rb
  test/controllers/api/v2/host_module_streams_controller_test.rb
  test/controllers/api/v2/host_packages_controller_test.rb
  test/controllers/foreman/hosts_controller_test.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8787 Katello translation updates
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/de.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/es.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/fr.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/it.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ja.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ko.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/pt_BR.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/ru.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_CN.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/locale/zh_TW.po
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/translations.js
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8774 Fixes #30129 - Improve experience around expired manifest identity certs
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/subscriptions_controller.rb
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  app/lib/katello/errors.rb
  app/lib/katello/resources/candlepin.rb
  app/lib/katello/resources/candlepin/upstream_consumer.rb
  app/models/katello/concerns/organization_extensions.rb
  app/services/katello/ui_notifications/subscriptions/manifest_expired_warning.rb
  app/services/katello/upstream_connection_checker.rb
  config/routes/api/v2.rb
  db/seeds.d/109-katello-notification-blueprints.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/subscriptions_controller_test.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
  test/lib/resources/candlepin_test.rb
  test/services/katello/ui_notifications/subscriptions/manifest_expired_warning_test.rb
  test/services/katello/upstream_connection_checker_test.rb
  webpack/scenes/Subscriptions/SubscriptionActions.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionReducer.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/SubscriptionsSelectors.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsActions.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsConstants.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/UpstreamSubscriptionsReducer.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsReducer.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsActions.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsReducer.test.js.snap
  webpack/scenes/Subscriptions/__tests__/subscriptions.fixtures.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTable.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Table.js
  webpack/scenes/Subscriptions/index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8773 Fixes #26977 - Host sub status resets on build
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/purpose_addons_status.rb
  app/models/katello/purpose_role_status.rb
  app/models/katello/purpose_sla_status.rb
  app/models/katello/purpose_usage_status.rb
  app/models/katello/trace_status.rb
  app/services/katello/host_status_manager.rb
  lib/katello/plugin.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#8795 Fixes #30239 - Fix breaking changes for patternfly upgrade
  webpack/components/Table/Loading.js
  webpack/components/Table/TableWrapper.js
Labels: Needs testing, Not yet reviewed

#8790 Fixes #30227 - Update tests to use fixtures.pulpproject.org
  test/actions/pulp3/orchestration/file_sync_test.rb
  test/actions/pulp3/orchestration/remove_orphans_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync_with_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync_with_mirror_true.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_sync/sync_with_pagination.yml
  test/fixtures/vcr_cassettes/actions/pulp3/remove_orphans/orphans_are_removed.yml
  test/fixtures/vcr_cassettes/katello/content_view_package_group_filter/content_unit_pulp_ids_returns_pulp_hrefs.yml
  test/fixtures/vcr_cassettes/katello/pulp3/smart_proxy_repository_orphan_distributions/orphan_distributions_are_removed.yml
  test/fixtures/vcr_cassettes/katello/pulp3/smart_proxy_repository_orphan_distributions/orphan_remotes_are_removed.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/file_unit/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/file_unit/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_list/list_with_pagination.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/delete_orphan_repository_versions.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/orphan_repository_versions.yml
  test/models/content_view_package_group_filter_test.rb
  test/services/katello/pulp3/file_unit_test.rb
  test/services/katello/pulp3/orphan_test.rb
  test/services/katello/pulp3/repository_list_test.rb
  test/services/katello/pulp3/smart_proxy_repository_test.rb
Labels: Needs testing, Not yet reviewed

#8789 Fixes #30220 - Align Arrow position to center
  engines/bastion_katello/app/assets/stylesheets/bastion_katello/bastion_katello.scss
Labels: Ready for merge
