Repository Katello/katello, pull requests merged in 2021-02, with the labels that each got.

#9112 Fixes #31655 - UX changes for create and copy modals
  webpack/scenes/ContentViews/Copy/CopyContentViewModal.js
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Create/CreateContentViewModal.js
  webpack/scenes/ContentViews/Create/__tests__/createContentView.test.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
Labels: Needs testing, Not yet reviewed

#9129 Refs #31762 - Update Content Credential API to improve usability
  app/controllers/katello/api/v2/content_credentials_controller.rb
Labels: Ready for merge

#9127 Fixes #30939 - remove deprecations for 4.0 release
  app/controllers/katello/api/rhsm/candlepin_dynflow_proxy_controller.rb
  app/controllers/katello/api/v2/gpg_keys_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/repository/update.rb
  config/routes/api/v2.rb
  db/migrate/20210201163238_migrate_background_download_policy_to_migrate.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/download-policy.service.js
  engines/bastion_katello/test/products/details/repositories/download-policy.service.test.js
  lib/katello/tasks/upgrades/3.10/update_gpg_key_urls.rake
  test/controllers/api/rhsm/candlepin_dynflow_proxy_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/lib/tasks/update_gpg_key_urls_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9134 Fixes #31775 - correct apipie method on filters delete
  app/controllers/katello/api/v2/content_view_filters_controller.rb
Labels: Ready for merge

#9121 Fixes #31740 - katello_events and candlepin_events intermittently show FAIL/not started
  app/lib/katello/event_daemon/monitor.rb
  app/lib/katello/event_daemon/runner.rb
  app/lib/katello/messaging/connection.rb
  app/models/katello/ping.rb
  app/services/katello/candlepin_event_listener.rb
  app/services/katello/event_daemon.rb
  app/services/katello/event_monitor/poller_thread.rb
  lib/katello/engine.rb
  lib/katello/middleware/event_daemon.rb
  test/lib/event_daemon/monitor_test.rb
  test/lib/event_daemon/runner_test.rb
  test/models/ping_test.rb
  test/services/katello/candlepin_event_listener_test.rb
  test/services/katello/event_daemon_test.rb
  test/services/katello/event_monitor/poller_thread_test.rb
Labels: Needs testing, Not yet reviewed

#9135 Fixes #31782 - Enable mirror_on_sync for available content types
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed

#9136 Fixes #31788 - Add type column to cvv export histories
  app/controllers/katello/api/v2/content_export_incrementals_controller.rb
  app/controllers/katello/api/v2/content_exports_controller.rb
  app/models/katello/content_view_version_export_history.rb
  app/views/katello/api/v2/content_view_version_export_histories/show.json.rabl
  db/migrate/20210128231228_add_type_and_from_cvv_to_cvv_export_history.rb
  test/models/content_view_version_export_history_test.rb
Labels: Ready for merge

#9132 Fixes #31774 - CSV header renamed from Candlepin ID to Pool ID
  app/controllers/katello/api/v2/subscriptions_controller.rb
Labels: Needs testing, Not yet reviewed

#9138 Bump version to 4.1.0
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9146 Fixes #31832 - IDs for system purpose bulk action dialog
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-system-purpose-modal.html
Labels: Ready for merge

#9140 Fixes #31812 - Avoid race conditions in CandlepinMessageHandler
  app/services/katello/candlepin/message_handler.rb
  test/services/candlepin/message_handler_test.rb
Labels: Needs testing, Not yet reviewed

#9148 Fixes #31839 - Viewer role create CV button
  engines/bastion/app/assets/javascripts/bastion/auth/authorization.service.js
  engines/bastion/test/auth/authorization.service.test.js
Labels: Needs testing, Not yet reviewed

#9143 Fixes #31828 - Delete client queue on unregister
  app/lib/katello/agent/connection.rb
  app/lib/katello/qpid/connection.rb
  app/models/katello/events/delete_host_agent_queue.rb
  app/services/katello/agent/dispatcher.rb
  app/services/katello/registration_manager.rb
  lib/katello/engine.rb
  test/lib/agent/connection_test.rb
  test/models/events/delete_host_agent_queue_test.rb
  test/services/katello/agent/dispatcher_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#9131 Fixes #31770 - fix start_date and type in CH subscriptions page
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/subscription-start-date.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/subscription-type.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/views/subscription-start-date.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/views/subscription-type.html
Labels: Needs re-review, Needs testing

#9156 Fixes #31765 - Update version to 4.2 in dep warning
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
Labels: Ready for merge

#9159 Fixes #31862 - eslint error in Tasks/helpers.js
  webpack/scenes/Tasks/helpers.js
Labels: Needs testing, Not yet reviewed

#9155 Fixes #31861 - i18n - pulling from tx
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed

#9109 Fixes #31716 - Add support for linked tabs and subroutes
  webpack/components/RoutedTabs/RoutedTabs.js
  webpack/components/RoutedTabs/RoutedTabs.scss
  webpack/components/RoutedTabs/__tests__/RoutedTabs.test.js
  webpack/components/RoutedTabs/index.js
  webpack/components/TabWrapper/TabWrapper.js
  webpack/components/TabWrapper/index.js
  webpack/components/TabbedView/TabbedView.js
  webpack/components/TabbedView/index.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
  webpack/test-utils/react-testing-lib-wrapper.js
  webpack/utils/__tests__/useParamsWithHash.test.js
  webpack/utils/paramsFromHash.js
Labels: Needs testing, Not yet reviewed

#9157 Fixes #31019 - remove unneeded postgresql-evr functions folder
  db/functions/empty_v01.sql
  db/functions/evr_trigger_v01.sql
  db/functions/isalpha_v01.sql
  db/functions/isalphanum_v01.sql
  db/functions/isdigit_v01.sql
  db/functions/rpmver_array_v01.sql
Labels: Needs testing, Not yet reviewed

#9161 Fixes #31863 - upgrade to 0.7.0 migration plugin (3.18)
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9162 Fixes #31863 - upgrade to 0.7.0 migration plugin
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9154 Fixes #31320 - Remove old button css styling
  app/assets/stylesheets/katello/katello.scss
  app/views/katello/sync_management/_products.html.erb
Labels: Needs testing, Not yet reviewed

#9165 Fixes #31877 - explicitly require Qpid::Connection file in tests
  test/lib/agent/connection_test.rb
Labels: Needs testing, Not yet reviewed

#9150 Fixes #31842 - add context to available module profile
  app/models/katello/concerns/host_managed_extensions.rb
  db/migrate/20210208213920_add_available_module_stream_context.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#9151 Fixes #30250 - Can search subscription by name
  app/controllers/katello/api/v2/subscriptions_controller.rb
  test/controllers/api/v2/subscriptions_controller_test.rb
Labels: Ready for merge

#9164 Fixes #31865 - Remove pulp2 from reset script
  lib/katello/tasks/reset.rake
Labels: Ready for merge

#9158 Fixes #31854 - Fix blank screen after editing entitlements
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/index.js
Labels: Needs testing, Not yet reviewed

#9174 [CP] Bump version to 3.18.1.1
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9153 Fixes #31836 - Unclear error message for cvv promotion with bad perrms
  app/controllers/katello/concerns/api/v2/authorization.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
Labels: Ready for merge

#9108 Fixes #31712 - Extend API params for generating registration command
  app/controllers/katello/concerns/api/v2/registration_commands_controller_extensions.rb
  app/controllers/katello/concerns/registration_commands_controller_extensions.rb
  app/controllers/katello/concerns/registration_controller_extensions.rb
  app/views/foreman/hosts/_registration_commands.html.erb
  lib/katello/engine.rb
  lib/katello/plugin.rb
  test/controllers/foreman/registration_commands_controller_test.rb
Labels: Ready for merge

#9173 Fix duplicate version entry in changelog.
  CHANGELOG.md
Labels: Ready for merge

#9166 Fixes #31880 - correctly use SSL for qpid connections
  app/lib/katello/agent/connection.rb
  app/lib/katello/event_daemon/services/agent_event_receiver.rb
  app/lib/katello/qpid/connection.rb
  lib/katello/engine.rb
Labels: Needs testing, Not yet reviewed

#9175 Fixes #31894 - apply errata with REX from content->errata page
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/apply-errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/views/apply-errata-confirm.html
  engines/bastion_katello/test/errata/apply-errata.controller.test.js
Labels: Ready for merge

#9168 Fixes #31506 - support disk space check/widget for pulpcore
  app/controllers/katello/concerns/smart_proxies_controller_extensions.rb
  app/helpers/katello/concerns/smart_proxy_helper_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/katello/ui_notifications/pulp/proxy_disk_space.rb
  app/views/smart_proxies/_disk_usage.html.erb
  lib/katello/plugin.rb
Labels: Ready for merge

#9182 Refs #31788 - Can migrate CVV Export History correctly
  app/models/katello/content_view_version_export_history.rb
  db/migrate/20210218214048_change_default_content_view_version_export_history.rb
  test/fixtures/models/katello_content_view_version_export_histories.yml
  test/models/content_view_version_export_history_test.rb
Labels: Needs testing, Not yet reviewed

#9170 Fixes #31636 - support corrupted/missing content workflow
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/file_unit.rb
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_switchover.rb
  db/migrate/20210201165835_add_migration_missing_content.rb
  lib/katello/tasks/pulp3_content_switchover.rake
  lib/katello/tasks/pulp3_migration.rake
  lib/katello/tasks/pulp3_migration_approve_corrupted.rake
  lib/katello/tasks/pulp3_migration_stats.rake
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/content_types_for_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_master_composite_migration/yum_migration_master_composite.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_migration/yum_migration.yml
  test/models/rpm_test.rb
  test/services/katello/pulp3/migration_switchover_test.rb
Labels: Needs testing, Not yet reviewed

#9142 Fixes #31654 - Support content migration reset
  app/lib/actions/pulp3/content_migration_reset.rb
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_plan.rb
  lib/katello/tasks/pulp3_migration_reset.rake
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration_reset.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration_reset.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration_reset_errors_out_with_no_content_types.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_migration/yum_migration_reset.yml
  test/services/katello/pulp3/docker_migration_test.rb
  test/services/katello/pulp3/migration_test.rb
  test/services/katello/pulp3/yum_migration_test.rb
Labels: Needs testing, Not yet reviewed

#9163 Fixes #31864 - Add cell formatter for entitlements column
  webpack/components/pf3Table/formatters/EntitlementsInlineEditFormatter.js
  webpack/components/pf3Table/formatters/__tests__/__snapshots__/EntitlementsInlineEditFormatter.test.js.snap
  webpack/components/pf3Table/formatters/entitlementsValueFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableHelpers.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
Labels: Needs testing, Not yet reviewed

#9181 Fixes #31921 - fix cancel on sync status page
  app/assets/stylesheets/katello/contents.scss
Labels: Needs testing, Not yet reviewed

#9188 Fixes #31940 - clear any registered services for EventDaemon::Runner tests
  test/lib/event_daemon/runner_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9125 Fixes #31748 - Applied Errata report not working
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#9180 Fixes #31919 - fix migrated content import to update all units
  app/services/katello/pulp3/migration.rb
Labels: Needs testing, Not yet reviewed

#9184 Fixes #31929 - Update Angular to 1.8.2
  engines/bastion/bower.json
  engines/bastion/vendor/assets/javascripts/bastion/angular-animate/angular-animate.js
  engines/bastion/vendor/assets/javascripts/bastion/angular-resource/angular-resource.js
  engines/bastion/vendor/assets/javascripts/bastion/angular-route/angular-route.js
  engines/bastion/vendor/assets/javascripts/bastion/angular-sanitize/angular-sanitize.js
  engines/bastion/vendor/assets/javascripts/bastion/angular/angular.js
  package.json
Labels: Needs testing, Not yet reviewed

#9189 Fixes #31939 - Can search errata by title
  app/models/katello/erratum.rb
  test/models/erratum_test.rb
Labels: Needs testing, Not yet reviewed

#9139 Add endpoint to show added and available content for cv filter
  app/controllers/katello/api/v2/package_groups_controller.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/models/katello/content_view_package_group_filter.rb
  app/models/katello/package_group.rb
  app/views/katello/api/v2/package_groups/index.json.rabl
  test/controllers/api/v2/package_groups_controller_test.rb
  test/fixtures/models/katello_content_view_package_group_filter_rules.yml
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9191 Fixes #31954 - Try to fix ApplicableContentHelper test
  test/services/katello/applicability/applicable_content_helper_test.rb
Labels: Needs testing, Not yet reviewed

#9192 Fixes #31949 - ignore repo user/pass if blank
  app/services/katello/pulp3/repository.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Needs testing, Not yet reviewed

#9145 Fixes #31799 - Use new async Candlepin API for manifest import
  app/lib/actions/candlepin/owner/import.rb
  app/lib/actions/katello/organization/manifest_import.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/lib/katello/resources/candlepin/owner.rb
Labels: Needs testing, Not yet reviewed
