Repository Katello/katello, pull requests merged in 2021-09, with the labels that each got.

#9592 Fixes #33374 - Hostgroup now shows content fields
  app/overrides/add_activation_keys_input.rb
Labels: Needs testing, Not yet reviewed

#9590 Refs #33250 - fix test issue with uln check
  app/services/katello/pulp3/repository.rb
Labels: Needs testing, Not yet reviewed

#9573 Fixes #33315 - Redefine pulp3 dynflow step statuses
  app/lib/actions/pulp3/abstract_async_task.rb
  app/services/katello/pulp3/task.rb
  app/services/katello/pulp3/task_group.rb
Labels: Needs testing, Not yet reviewed

#9589 Fixes #33370 - remote create does not generate tasks
  app/services/katello/pulp3/repository.rb
  test/actions/pulp3/orchestration/yum_update_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update_no_url/addurl.yml
Labels: Needs testing, Not yet reviewed

#9601 Fixes #33393 - remove Katello's customConfirm for .erb
  app/assets/javascripts/katello/common/katello.common.js
  app/assets/javascripts/katello/common/katello.js
Labels: Needs testing, Not yet reviewed

#9552 Fixes #33166 - UI Remote Options for Generic Types
  app/services/katello/repository_type.rb
  app/services/katello/repository_type_manager.rb
  app/views/katello/api/v2/repositories/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repository-types.service.js
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
  engines/bastion_katello/test/products/details/repositories/new/new-repository.controller.test.js
  lib/katello/repository_types/python.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/delete.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/update.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/update_remote.yml
Labels: Needs testing, Not yet reviewed

#9586 Fixes #33336 - New CV UI - Affected repositories tab
  webpack/components/AddedStatusLabel.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositorySelection.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositoryTable.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVFilterDetailType.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvAllRepos.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvFilterDetailWithAffectedRepos.fixtures.json
  webpack/test-utils/nockWrapper.js
Labels: Ready for merge

#9593 Fixes #33380 - fix transient audit test
  test/models/kt_environment_test.rb
Labels: Needs testing, Not yet reviewed

#9587 Fixes #33365 - When the package group names are empty, reject that package group.
  app/lib/katello/util/pulpcore_content_filters.rb
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_distribution_trees_repository/all_distribution_trees_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_distribution_trees_repository/no_package_environments_are_copied_despite_whitelist_ids.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/all_errata_copied_if_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/errata_copied_if_all_errata_packages_matches_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/errata_is_not_copied_if_errata_packages_are_not_all_found_in_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/no_errata_copied_if_no_errata_packages_matches_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_empty_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_no_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_even_if_no_groups_match.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_groups_repository/all_package_groups_copied_with_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_groups_repository/package_groups_as_a_filter_rule.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_all_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_with_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_without_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_nonmatching_package_exclusion_filter_copies_everything.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_nonmatching_package_includion_filter_copies_no_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_all_duplicate_content_with_dep_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_duplicate_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_errata_exclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_errata_inclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_max_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_min_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_name_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_name_original_packages_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_srpms_repository/all_srpms_copied_despite_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/exclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/inclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_distribution_trees_repository/all_distribution_trees_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_distribution_trees_repository/no_package_environments_are_copied_despite_whitelist_ids.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/all_errata_copied_if_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/errata_copied_if_all_errata_packages_matches_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/errata_is_not_copied_if_errata_packages_are_not_all_found_in_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/no_errata_copied_if_no_errata_packages_matches_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_empty_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_no_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_even_if_no_groups_match.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/all_package_groups_copied_with_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/package_groups_as_a_filter_rule.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/package_groups_copied_if_indicated_by_copied_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_with_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_without_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_nonmatching_package_exclusion_filter_copies_everything.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_nonmatching_package_includion_filter_copies_no_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_all_duplicate_content_with_dep_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_duplicate_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_errata_exclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_errata_inclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_max_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_min_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_name_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_srpms_repository/all_srpms_copied_despite_filter_rules.yml
  test/lib/util/pulpcore_content_filters_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9598 Fixes #33386 - Add repository type counts to CV version response
  app/models/katello/content_view_version.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/views/katello/api/v2/content_view_versions/base.json.rabl
Labels: Needs testing, Not yet reviewed

#9617 Fixes #33412 - bump pool end dates for mailer test
  test/fixtures/models/katello_pools.yml
Labels: Needs testing, Not yet reviewed

#9612 Fixes #33410 - Inject consumer uuid into REX jobs
  app/models/katello/concerns/remote_execution_provider_extensions.rb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#9609 Fixes #33407 - Package dependency UI values not formatted correctly
  app/lib/katello/util/package.rb
  app/services/katello/pulp3/rpm.rb
  test/lib/util/package_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9578 Fixes #32816 - Leave smart proxy sync in warning if gateway container update fails
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  test/actions/katello/capsule_content_test.rb
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9607 Fixes #33261 - Add Version Details View
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/RoutedTabs/RoutedTabs.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionDetails.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionDetails.scss
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/ContentViewVersionDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/ContentViewVersionDetails.test.js
Labels: Needs testing, Not yet reviewed

#9600 Fixes #33382 - ensure inc update occurs before REX applicable errata install
  .rubocop_todo.yml
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/katello/content_view/incremental_updates.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/apply-errata.controller.js
  test/controllers/api/v2/content_view_versions_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9606 Fixes #33256 - encode the search link from packages view
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/details/package.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/details/views/package-info.html
Labels: Ready for merge

#9603 Fixes #33394 - Correctly indexes file units on import
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/lib/actions/katello/repository/index_content.rb
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/docker_tag.rb
  app/models/katello/repository.rb
  app/models/katello/yum_metadata_file.rb
Labels: Needs testing, Not yet reviewed

#9623 Fixes #33450 - remove broken katello:refresh_sync_schedule
  lib/katello/tasks/repository.rake
Labels: Needs testing, Not yet reviewed

#9614 Fixes #33413 - use new link method for product sync tasks
  app/models/katello/glue/pulp/repos.rb
Labels: Needs testing, Not yet reviewed

#9610 Fixes #33045 - cancel both parent and child migration tasks
  lib/katello/tasks/pulp3_migration_abort.rake
Labels: Needs testing, Not yet reviewed

#9604 Fixes #33395 - remove if/else statment
  app/views/overrides/activation_keys/_host_synced_content_select.html.erb
Labels: Needs testing, Not yet reviewed

#9594 Fixes #33078 - Add Traces bulk select & restart
  webpack/components/SelectAllCheckbox/SelectAllCheckbox.scss
  webpack/components/SelectAllCheckbox/index.js
  webpack/components/Table/PageControls.js
  webpack/components/Table/TableHooks.js
  webpack/components/Table/TableWrapper.js
  webpack/components/Table/helpers.js
  webpack/components/extensions/HostDetails/Tabs/HostTracesActions.js
  webpack/components/extensions/HostDetails/Tabs/HostTracesConstants.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/hostid.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/__tests__/resolveTraces.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9613 Fixes #32556 - disable scopes on cv promote errata calc
  app/lib/actions/katello/content_view/promote_to_environment.rb
  app/models/katello/content_view.rb
  test/models/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#9618 Fixes #33430 - do not error on pulpcore with 1 worker
  app/models/katello/ping.rb
  test/models/ping_test.rb
Labels: Needs testing, Not yet reviewed

#9632 Fixes #33467 - Add component view count to Versions API
  app/views/katello/api/v2/content_view_versions/base.json.rabl
Labels: Needs testing, Not yet reviewed

#9599 Fixes #33385,33054,33144 - Fixes host group inheritance
  app/assets/javascripts/katello/hosts/host_and_hostgroup_edit.js
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/lib/katello/validators/hostgroup_kickstart_repository_validator.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/concerns/redhat_extensions.rb
  app/views/overrides/activation_keys/_host_environment_select.html.erb
  test/lib/validators/hostgroup_kickstart_repository_validator_test.rb
Labels: Needs testing, Not yet reviewed

#9621 Fixes #33442 - Old Registration URL doesn't redirect to the new URL
  engines/bastion/config/routes.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9622 Fixes #33443 - adds last_indexed to repos
  app/lib/actions/katello/repository/clone_contents.rb
  app/lib/actions/katello/repository/index_content.rb
  app/lib/actions/katello/repository/multi_clone_contents.rb
  app/lib/actions/katello/repository/sync.rb
  db/migrate/20210909140337_add_last_indexed_to_repos.rb
  test/actions/katello/repository/index_content_test.rb
  test/actions/pulp3/orchestration/copy_all_units_test.rb
  test/actions/pulp3/orchestration/multi_copy_all_units_test.rb
  test/fixtures/vcr_cassettes/actions/katello/repository/index_content/index_performed_if_forced_despite_last_indexed_time.yml
  test/fixtures/vcr_cassettes/actions/katello/repository/index_content/index_performed_if_last_contents_changed_newer_than_last_indexed.yml
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9635 Refs #33078 - Move forceRender inside hook
  webpack/components/Table/TableHooks.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab.js
Labels: Needs testing, Not yet reviewed

#9631 Fixes #33466 - show proper repo count of capsule content
  app/views/katello/api/v2/capsule_content/sync_status.json.rabl
Labels: Needs testing, Not yet reviewed

#9585 Fixes #33361 - Initial stab at the host errata page
  webpack/components/Errata/index.js
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/HostDetails/HostErrata/HostErrataActions.js
  webpack/components/extensions/HostDetails/HostErrata/HostErrataConstants.js
  webpack/components/extensions/HostDetails/HostErrata/HostErrataSelectors.js
  webpack/components/extensions/HostDetails/Tabs/ContentTab.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab.scss
  webpack/components/extensions/HostDetails/Tabs/__tests__/errata.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
Labels: Needs testing, Not yet reviewed

#9637 Fixes #33477 - drop jQuery tabs
  app/assets/javascripts/katello/common/vendor.js
  app/assets/javascripts/katello/widgets/tabs.js
  app/assets/stylesheets/katello/katello.scss
  app/assets/stylesheets/katello/widgets/tabs.scss
Labels: Needs testing, Not yet reviewed

#9636 Fixes #33472 - Show unstarted sync task as waiting
  app/lib/actions/pulp3/repository/presenters/content_unit_presenter.rb
  app/lib/actions/pulp3/repository/presenters/repair_presenter.rb
Labels: Needs testing, Not yet reviewed

#9655 Fixes #33527 - Add upgrade task to seeds
  db/seeds.d/111-upgrade_tasks.rb
Labels: Needs testing, Not yet reviewed

#9620 fixes #33439 - Update settings explanation according to settings options
  app/models/setting/content.rb
Labels: Needs testing, Not yet reviewed

#9653 Fixes #33287 - Duplicate key error with two applicability gen tasks
  app/services/katello/applicability/applicable_content_helper.rb
Labels: Needs testing, Not yet reviewed

#9669 Fixes #33562 - update to dynflow 1.6.1
  app/lib/actions/pulp3/repository/multi_copy_content.rb
  app/lib/actions/pulp3/repository/multi_copy_units.rb
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9596 Fixes #32660 - adds an authentication token for SLES repositories
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository/yum.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  config/initializers/filter_parameters.rb
  db/migrate/20210831161843_add_upstream_auth_token_to_root_repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
  test/controllers/api/v2/repositories_controller_test.rb
  test/models/root_repository_test.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9629 Fixes #33454 - Add repositories node to generic content unit results
  app/services/katello/repository_type_manager.rb
  app/views/katello/api/v2/generic_content_units/show.json.rabl
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8277 Add Deb Package applicability
  .rubocop_todo.yml
  app/controllers/katello/api/v2/debs_controller.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/lib/actions/katello/repository/sync.rb
  app/models/katello/concerns/content_facet_host_extensions.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/content_facet_applicable_deb.rb
  app/models/katello/content_view_version.rb
  app/models/katello/deb.rb
  app/models/katello/host/content_facet.rb
  app/models/katello/installed_deb.rb
  app/services/katello/applicability/applicable_content_helper.rb
  app/views/katello/api/v2/content_facet/base.json.rabl
  app/views/katello/api/v2/debs/base.json.rabl
  config/routes/api/v2.rb
  db/migrate/20190802112101_add_applicable_debs.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-debs-applicable.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-debs-applicable.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/debs.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/debs.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/details/deb.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/details/views/deb-content-views.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/details/views/deb-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/details/views/deb-repositories.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/details/views/deb.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/views/debs.html
  engines/bastion_katello/test/debs/debs.controller.test.js
  engines/bastion_katello/test/debs/details/deb-repositories.controller.test.js
  engines/bastion_katello/test/debs/details/deb.controller.test.js
  lib/katello/permission_creator.rb
  test/actions/katello/applicability/repository_regenerate_applicability_test.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/debs_controller_test.rb
  test/fixtures/models/katello_content_facet_applicable_debs.yml
  test/fixtures/models/katello_content_view_repositories.yml
  test/fixtures/models/katello_debs.yml
  test/fixtures/models/katello_gpg_keys.yml
  test/fixtures/models/katello_host_installed_debs.yml
  test/fixtures/models/katello_installed_debs.yml
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_repository_debs.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/apt_vcr/create_remote_with_http_proxy_creds.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/needs_distributor_update.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/updates.yml
  test/models/host/content_facet_test.rb
  test/services/katello/applicability/applicable_content_helper_test.rb
  test/support/fixtures_support.rb
Labels: Needs testing, Not yet reviewed

#9664 Fixes #33544 - update boostrap-select for RH repos error
  package.json
Labels: Needs testing, Not yet reviewed

#9673 Fixes #33572 - Refreshes the host statuses on 'built'
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Needs testing, Not yet reviewed

#9633 Fixes #33468 - remove background download policy references
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/helpers/katello/concerns/smart_proxy_helper_extensions.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/lib/actions/katello/repository/fetch_pxe_files.rb
  app/lib/actions/katello/repository/sync.rb
  app/models/katello/concerns/setting_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/models/setting/content.rb
  db/migrate/20210201163238_migrate_background_download_policy_to_migrate.rb
  db/migrate/20210910190324_move_background_settings_to_immediate.rb
  lib/katello/tasks/repository.rake
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/models/katello_root_repositories.yml
  test/lib/tasks/repository_test.rb
  test/models/concerns/smart_proxy_extensions_test.rb
  test/models/content_view_test.rb
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed

#9627 Fixes #33262 - Remove CV version from Environments flow
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/MainTable.scss
  webpack/components/Table/TableHooks.js
  webpack/scenes/ContentViews/ContentViewsActions.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/DeleteContext.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveCVVersionWizard.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVEnvironmentSelectionForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignActivationKeysForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignHostsForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVVersionDeleteFinish.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVVersionRemoveReview.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvAffectedActivationKeys.fixture.json
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvAffectedHosts.fixture.json
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvDropDownOptionsResponse.fixture.json
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemoveResponse.fixture.json
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/versionRemoveEnvPaths.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/versionsResponseData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedHosts.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.js
Labels: Needs testing, Not yet reviewed

#9670 Fixes #33567 - remove checksum values from pulp3 repos
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/test.rake
  lib/katello/tasks/upgrades/4.2/remove_checksum_values.rake
  test/fixtures/vcr_cassettes/katello/upgrades/remove_checksum_values/removes_checksums.yml
  test/lib/tasks/upgrades/4.2/pulp3/remove_checksum_values_test.rb
Labels: Ready for merge

#9630 Fixes #33465 - don't show links to default org view in proxy UI
  lib/katello/plugin.rb
  webpack/scenes/SmartProxy/SmartProxyContentTable.js
Labels: Needs testing, Not yet reviewed

#9654 Fixes #33517 - add force option to metadata regeneration
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/content_view_version/republish_repositories.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-versions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  test/actions/katello/content_view_version/republish_repositories_test.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9667 Fixes #33557 - adds the ostree repository type for registration
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/root_repository.rb
  katello.gemspec
  lib/katello/repository_types/ostree.rb
  test/models/katello/ostree_test.rb
Labels: Needs testing, Not yet reviewed

#9661 Fixes #33518 - do not regenerate metadata on force sync
  app/lib/actions/katello/repository/finish_upload.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/metadata_generate.rb
  app/lib/actions/katello/repository/remove_content.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/pulp3/capsule_content/generate_metadata.rb
  app/lib/actions/pulp3/capsule_content/refresh_distribution.rb
  app/lib/actions/pulp3/orchestration/repository/generate_metadata.rb
  app/lib/actions/pulp3/orchestration/repository/sync.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/repository_mirror.rb
  test/actions/katello/capsule_content_test.rb
  test/actions/katello/repository/metadata_generate_test.rb
  test/actions/pulp3/orchestration/rpm_remove_units_test.rb
  test/actions/pulp3/orchestration/yum_update_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/index_erratum_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/optimize_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_mirror_false.yml
  test/services/katello/pulp3/repository/ansible_collection/ansible_collection_repository_mirror_test.rb
  test/services/katello/pulp3/repository/docker/docker_repository_mirror_test.rb
  test/services/katello/pulp3/srpm_test.rb
Labels: Needs testing, Not yet reviewed

#9674 Fixes #33573 - catch RestClient::NotFound in UpstreamConsumer
  app/lib/katello/errors.rb
  app/lib/katello/resources/candlepin/upstream_consumer.rb
  app/services/katello/upstream_connection_checker.rb
  test/services/katello/upstream_connection_checker_test.rb
Labels: Needs testing, Not yet reviewed

#9665 Fixes #33545 - Add errata by date and Id filters
  app/controllers/katello/api/v2/content_view_filters_controller.rb
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/CVFilterDetailType.js
  webpack/scenes/ContentViews/Details/Filters/ContentType.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddPackageRuleModal.js
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed

#9663 Fixes #33534 - registry name pattern update fails
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/lib/actions/katello/environment/publish_repositories.rb
  app/lib/actions/katello/repository/instance_update.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository_mirror.rb
  test/models/smart_proxy_sync_history_test.rb
  test/services/katello/pulp3/repository/ansible_collection/ansible_collection_repository_mirror_test.rb
  test/services/katello/pulp3/repository/docker/docker_repository_mirror_test.rb
Labels: Needs testing, Not yet reviewed

#9678 Fixes #33581 - Correctly sets the host attributes on Edit Host
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Needs testing, Not yet reviewed

#9677 Fixes #33537 - Filter on packages/module streams with no errata
  webpack/scenes/ContentViews/Details/Filters/ArtifactsWithNoErrata.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
Labels: Needs testing, Not yet reviewed

#9657 Fixes #33404 - ComponentView Version Details/Routing
  app/models/katello/ansible_collection.rb
  app/models/katello/content_view_version.rb
  webpack/components/RoutedTabs/RoutedTabs.js
  webpack/components/RoutedTabs/__tests__/RoutedTabs.test.js
  webpack/components/RoutedTabs/index.js
  webpack/components/Table/TableWrapper.js
  webpack/containers/Application/Routes.js
  webpack/containers/Application/config.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentVersion.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/ContentViewInfo.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/CVRpmMatchContentModal.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVContainerImageFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetails.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvModuleStreamFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/index.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionContent.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionDetails.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionDetails.scss
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionPackages.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailConfig.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.scss
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsTable.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionRepositoryCell.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionAnsibleCollections.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionComponent.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDebPackages.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetails.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetailsCounts.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetailsEmpty.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDockerTags.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionErrata.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionModuleStreams.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionRepositories.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionRpmPackageGroups.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionRpmPackages.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/ContentViewVersionDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersionsWithTask.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/index.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
Labels: Needs testing, Not yet reviewed
