Repository Katello/katello, pull requests merged in 2021-05, with the labels that each got.

#9324 Fixes #31023 - add katello_agent_enabled macro for provisioning
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#9307 Fixes #31801 - Katello not handling multiple kickstart variants
  app/models/katello/concerns/redhat_extensions.rb
  app/models/katello/repository.rb
  app/services/katello/managed_content_medium_provider.rb
  app/services/katello/pulp3/repository/yum.rb
Labels: Ready for merge

#9305 Fixes #32283 - Implement new CV index page mockup
  app/models/katello/content_view.rb
  app/views/katello/api/v2/content_views/base.json.rabl
  locale/katello.pot
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentEnvironments.js
  webpack/scenes/ContentViews/Details/Repositories/LastSync.js
  webpack/scenes/ContentViews/Table/ContentViewVersionCell.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
  webpack/scenes/ContentViews/__tests__/basicContentViews.fixtures.js
  webpack/scenes/ContentViews/__tests__/contentViewList.fixtures.json
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/ContentViews/components/ContentViewIcon.js
  webpack/scenes/ContentViews/components/EnvironmentLabels.js
  webpack/scenes/ContentViews/components/InactiveText.js
  webpack/scenes/ContentViews/expansions/DetailsExpansion.js
  webpack/scenes/ContentViews/expansions/EnvironmentsExpansion.js
  webpack/scenes/ContentViews/expansions/VersionsExpansion.js
Labels: Needs testing, Not yet reviewed

#9213 Fixes #31802 - Includes All Status in Applied Errata Report.
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9304 Fixes #32351 - Race condition in katello-agent dynflow actions
  app/lib/actions/katello/agent_action.rb
  app/lib/actions/katello/bulk_agent_action.rb
  app/lib/katello/agent/client_message_handler.rb
  app/models/katello/agent/dispatch_history.rb
  app/services/katello/agent/dispatcher.rb
  test/actions/katello/agent_action_tests.rb
  test/services/katello/agent/dispatcher_test.rb
Labels: Needs testing, Not yet reviewed

#9311 Fixes #32267 - Remove never used finalize method from Katello::Host::AutoAttachSubscriptions
  app/lib/actions/katello/host/auto_attach_subscriptions.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9336 Bump version to 4.2.0
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9332 Fixes #32162 - Back button doesn't work to return to list
  webpack/components/RoutedTabs/RoutedTabs.js
Labels: Needs testing, Not yet reviewed

#9306 Fixes #32393 - Add deb structured mode publishing
  app/services/katello/pulp3/repository/apt.rb
Labels: Needs testing, Not yet reviewed

#9322 Fixes #32449 - pulp3_migration_stats can underestimate migration timing
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9333 Fixes #32498 - 3.17 upgrade fails if there is stale hostgroup data
  db/migrate/20200514092553_move_katello_fields_from_hostgroups.katello.rb
Labels: Ready for merge

#9345 Fixes #32531 - use newer grunt-htmlhint
  engines/bastion/package.json
  engines/bastion_katello/package.json
Labels: Needs testing, Not yet reviewed

#9327 Fixes #32464 - Inherited hostgroup values are not passed to host
  app/models/katello/concerns/hostgroup_extensions.rb
Labels: Needs testing, Not yet reviewed

#9341 Fixes #32523 - Make helper methods public for webhooks context
  app/lib/actions/katello/content_view/publish.rb
Labels: Needs testing, Not yet reviewed

#9290 Fixes #32249 - Fix the error message "Unable to print debug information"
  app/lib/katello/http_resource.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9339 Fixes #32225 - store akey original environment on the right scope
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details.controller.js
  engines/bastion_katello/test/activation-keys/details/activation-key-details.controller.test.js
Labels: Ready for merge

#9335 Fixes #32475 - clean_backend_objects still uses Pulp 2
  lib/katello/tasks/clean_backend_objects.rake
  test/lib/tasks/clean_backend_objects_test.rb
Labels: Needs testing, Not yet reviewed

#9347 Refs #32334 - ensure import_all creates Pools with a subscription_id
  app/models/katello/glue/candlepin/candlepin_object.rb
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/pool.rb
  test/models/pool_test.rb
  test/models/subscription_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9343 Fixes #32527 - Transient package groups test
  test/models/package_group_test.rb
Labels: Ready for merge

#9349 refs #31809 - Registration - fix incorrect LCE variable
  app/controllers/katello/concerns/registration_commands_controller_extensions.rb
Labels: Needs testing, Not yet reviewed

#9338 Fixes #32510 - Parse AlmaLinux facts properly
  app/services/katello/candlepin/consumer.rb
  test/models/rhsm_fact_parser_test.rb
  test/services/katello/candlepin/consumer_test.rb
Labels: Needs testing, Not yet reviewed

#9355 Bump version (correctly) to 4.1.0.rc1
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9309 Fixes #32312 - Applied errata not showing in the report.
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed

#9351 Fixes #32569 - prevent early timeout of katello-agent actions
  app/lib/actions/katello/agent_action.rb
  app/lib/katello/agent/client_message_handler.rb
  test/actions/katello/agent_action_tests.rb
  test/lib/agent/client_message_handler_test.rb
Labels: Needs testing, Not yet reviewed

#9363 Fixes #32578 - Updating a repo without an upstream url errors out
  app/services/katello/pulp3/repository/yum.rb
  test/actions/pulp3/orchestration/yum_update_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_update/update_http_proxy_with_no_url.yml
Labels: Needs testing, Not yet reviewed

#9357 Fixes #32591 - use correct ping mechanism for katello-agent events
  app/lib/katello/event_daemon/monitor.rb
  app/lib/katello/event_daemon/services/agent_event_receiver.rb
  app/models/katello/ping.rb
  test/models/ping_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9365 Fixes #32604 - pin to psych 3.x
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9368 Fixes #32619 - pins qpid_proton to resolve gem build issues
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9364 fixes #32515 - Parse Rocky Linux distribution properly
  app/services/katello/candlepin/consumer.rb
  test/models/rhsm_fact_parser_test.rb
  test/services/katello/candlepin/consumer_test.rb
Labels: Needs testing, Not yet reviewed

#9321 Fixes #32436 - content host and host collection errata, package, module installation via remote execution
  app/controllers/katello/api/v2/host_errata_controller.rb
  app/controllers/katello/concerns/api/v2/host_errata_extensions.rb
  app/controllers/katello/remote_execution_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-module-streams-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-packages-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-host-bulk-module-streams-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-module-streams.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-module-streams.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages.html
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-module-streams-modal.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-errata.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-packages.controller.test.js
  test/controllers/api/v2/concerns/host_errata_extensions_test.rb
  test/controllers/api/v2/host_errata_controller_test.rb
  test/controllers/remote_execution_controller_test.rb
Labels: Ready for merge

#9374 Refs #32604 - remove psych dep
  katello.gemspec
Labels: Ready for merge

#9358 Fixes #32447 - Have task goto warn state instead of paused on error
  app/lib/actions/katello/agent_action.rb
Labels: Ready for merge

#9367 Fixes #31996 - Remove and update deprecated API params for Katello 4.1
  app/controllers/katello/api/v2/errata_controller.rb
  app/controllers/katello/api/v2/host_errata_controller.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/errata_controller_test.rb
Labels: Ready for merge

#9373 Fixes #32623 - delete_orphaned_content fails if no Pulp 3
  app/lib/actions/katello/orphan_cleanup/remove_orphans.rb
Labels: Ready for merge

#9375 Refs #32619 - revert qpid_proton pin
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9352 Fixes #32574 - Add promotion array to publish API endpoint
  app/controllers/katello/api/v2/content_views_controller.rb
  app/lib/actions/katello/content_view/publish.rb
  test/controllers/api/v2/content_views_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9326 Fixes #32528 - Auto create RH repos/Products upon import
  app/lib/actions/katello/content_view_version/auto_create_redhat_repositories.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
  app/services/katello/pulp3/content_view_version/metadata_generator.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
  test/services/katello/pulp3/content_view_version/importable_repositories_test.rb
Labels: Ready for merge

#9372 Fixes #32590 - always remove puppet and ostree repos
  db/migrate/20210119162528_delete_puppet_and_ostree_repos.rb
Labels: Needs testing, Not yet reviewed

#9382 Fixes #32380 - Set correct variable for pulp disk space check
  app/services/katello/ui_notifications/pulp/proxy_disk_space.rb
Labels: Ready for merge

#9384 Fixes #32658 - Remove references to Pulp 2 from new/update repository UI
  app/models/katello/root_repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
  engines/bastion_katello/test/products/details/repositories/new/new-repository.controller.test.js
  test/models/root_repository_test.rb
Labels: Needs re-review, Needs testing, Ready for merge, Waiting on contributor

#9334 Fixes #32137 - Deprecate package groups UI for content hosts
  app/controllers/katello/api/v2/host_packages_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
Labels: Ready for merge

#9383 Fixes #32661 - Properly migrate hg content facet
  app/lib/katello/util/hostgroup_facets_helper.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/concerns/redhat_extensions.rb
  db/migrate/20200514092553_move_katello_fields_from_hostgroups.katello.rb
  lib/katello/tasks/fix_hostgroup_facets.rake
  test/lib/util/hostgroup_facets_helper_test.rb
  test/models/concerns/hostgroup_extensions_test.rb
  test/models/concerns/redhat_extensions_test.rb
Labels: Needs testing, Not yet reviewed
