Repository Katello/katello, pull requests merged in 2021-08, with the labels that each got.

#9521 Adjuts foreman-tasks-core
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9464 Fixes #33012 - refactors deletion of orphaned entries in docker tags
  db/migrate/20200402130013_add_repsoitory_docker_meta_tag_f_key.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9519 i18n - pulling from tx
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9522 katello 4.1.2.1 release
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9527 Fixes #33200 - ignore .edit.po files in gem build
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9526 Fixes #33199 - Possible fix for katello-master-source-release pipeline from JS test
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailRepos.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9507 Refs #25978 #27625 - Add deb_version_cmp DB-func
  db/functions/deb_version_cmp_v01.sql
  db/migrate/20210728130748_create_function_deb_version_cmp.rb
Labels: Needs testing, Not yet reviewed

#9525 Fixes #33189 - Show rhel-6-server-els-rpms under recommended repositories
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9523 Refs #32901 - updates for Katello 4.0 where pulp2 is no longer supported
  app/lib/actions/katello/content_view_version/incremental_update.rb
  test/actions/katello/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9518 Fixes #33192 - prefer in progress running reports
  app/lib/actions/pulp3/content_migration_presenter.rb
Labels: Needs testing, Not yet reviewed

#9516 Fixes #33182 - make --errata-ids required for host errata apply
  app/controllers/katello/api/v2/host_errata_controller.rb
Labels: Needs testing, Not yet reviewed

#9517 Fixes #33188 - Removing RHEL5 els from recommended repos
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed

#9532 Ref #33199 - Try nock restore for pipeline failure
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailRepos.test.js
Labels: Needs testing, Not yet reviewed

#9533 Fixes #33211 - changes smart proxy label to avoid confusion
  app/views/smart_proxies/plugins/_pulpcore.html.erb
Labels: Ready for merge

#9535 Fixes #33213 - if erratum rules are empty, return an empty list of ids
  app/models/katello/content_view_erratum_filter.rb
  test/models/content_view_erratum_filter_test.rb
Labels: Ready for merge

#9503 Fixes #33103 - Content view publish for generic types
  app/models/katello/content_view_repository.rb
  app/models/katello/content_view_version.rb
  test/fixtures/models/katello_content_view_repositories.yml
  test/models/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed

#9537 4.3 version bump
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9504 Fixes #33150 - don't migrate repos mid-creation
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_plan.rb
Labels: Needs testing, Not yet reviewed

#9520 Fixes #32788 - Fix wording on new CV page empty state
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
Labels: Needs testing, Not yet reviewed

#9429 Fixes #32889 - Add setting to move Actions::Katello::Host::UploadPackageProfile out of dynflow
  app/controllers/katello/api/rhsm/candlepin_dynflow_proxy_controller.rb
  app/lib/actions/katello/host/upload_package_profile.rb
  app/lib/actions/katello/host/upload_profiles.rb
  app/models/setting/content.rb
  app/services/katello/host/package_profile_uploader.rb
  app/services/katello/host/profiles_uploader.rb
  test/actions/katello/host/upload_package_profile_test.rb
  test/actions/katello/host/upload_profiles_test.rb
  test/controllers/api/rhsm/candlepin_dynflow_proxy_controller_integration_test.rb
  test/services/katello/package_profile_uploader_test.rb
  test/services/katello/profiles_uploader_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9538 Refs #33199 - Remove CV details repo test
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailRepos.test.js
Labels: Needs testing, Not yet reviewed

#9530 Fixes #33206 - only refresh remote for needed types
  app/lib/actions/pulp3/content_guard/refresh_all_distributions.rb
Labels: Needs testing, Not yet reviewed

#9529 Refs #33147 - Allow Auth token without Auth URL
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed

#9544 [CP] Fixes #33234 - remove depcreated 4.2 functionality
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  test/controllers/api/v2/upstream_subscriptions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9534 Fixes #33212 - force repo creation for katello:correct_repositories
  app/lib/actions/katello/content_view_version/create_repos.rb
  app/lib/actions/katello/repository/clone_to_environment.rb
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/repository/create_root.rb
  app/lib/actions/katello/repository_set/enable_repository.rb
  app/lib/actions/pulp3/orchestration/repository/create.rb
  app/lib/actions/pulp3/repository/create.rb
  app/services/katello/pulp3/repository.rb
  lib/katello/tasks/repository.rake
  test/actions/katello/content_view_version/create_repos_test.rb
  test/actions/katello/repository_test.rb
  test/fixtures/vcr_cassettes/katello/pulp3/repository_task/correct_repositories_fixes_deleted_library_repo.yml
  test/fixtures/vcr_cassettes/katello/repository_task/correct_repositories_fixes_deleted_library_repo.yml
  test/katello_test_helper.rb
  test/lib/tasks/pulpcore/repository_vcr_test.rb
  test/lib/tasks/repository_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9548 4.2.0.rc1 release
  CHANGELOG.md
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9539 Fixes #33220 - escape Pulp 2 proxy username and password
  app/services/katello/pulp/repository.rb
  test/services/katello/pulp/repository_test.rb
Labels: Ready for merge

#9542 Fixes #33084 - Add content view details to Host overview
  app/models/katello/content_view_version.rb
  app/views/katello/api/v2/content_facet/base.json.rabl
  app/views/katello/api/v2/content_facet/show.json.rabl
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Cards/__tests__/contentViewDetailsCard.test.js
  webpack/fills_index.js
Labels: Needs testing, Not yet reviewed

#9473 Fixes #32739 - module stream applicability incorrect w/ enabled+inactive modules
  app/models/katello/concerns/host_managed_extensions.rb
  app/services/katello/applicability/applicable_content_helper.rb
  test/fixtures/models/katello_available_module_streams.yml
  test/models/concerns/host_managed_extensions_test.rb
Labels: Ready for merge

#9540 Fixes #33221 - Hide upload section for Collection repository
  app/controllers/katello/api/v2/content_uploads_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  test/controllers/api/v2/content_uploads_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9531 Fixes #33207 - add time warning to Pulp 3 migration
  app/lib/actions/pulp3/content_migration_presenter.rb
Labels: Needs testing, Not yet reviewed

#9536 Fixes #33116 - Add/Remove package Group Filters
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetail.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetails.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.test.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailRepos.fixtures.json
Labels: Needs testing, Not yet reviewed

#9511 Refs #32221 - Add back useEffect dependencies
  webpack/components/extensions/RegistrationCommands/fields/ActivationKeys.js
  webpack/components/extensions/RegistrationCommands/index.js
Labels: Needs testing, Not yet reviewed

#9558 Fixes #31590 - Add last changed timestamp
  app/views/katello/api/v2/repositories/show.json.rabl
Labels: Needs testing, Not yet reviewed

#9489 Fixes #32509 - Promote Content Views
  webpack/components/Loading.js
  webpack/scenes/ContentViews/ContentViewsActions.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/Promote/ContentViewVersionPromote.js
  webpack/scenes/ContentViews/Details/Promote/ContentViewVersionPromoteSelectors.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.js
  webpack/scenes/ContentViews/components/TaskPresenter/TaskPresenter.js
Labels: Needs testing, Not yet reviewed

#9559 Refs #33212 - fix ...with_mirror_adapter.create
  app/services/katello/pulp3/repository_mirror.rb
Labels: Needs testing, Not yet reviewed

#9550 Fixes #33238 - Extend TableWrapper and MainTable to allow using PF TableComposable
  lib/katello/plugin.rb
  package.json
  webpack/.eslintrc.js
  webpack/components/Table/MainTable.js
  webpack/components/Table/TableWrapper.js
  webpack/components/pf3Table/components/Table.js
  webpack/components/pf3Table/components/__snapshots__/Table.test.js.snap
  webpack/containers/Application/overrides.scss
  webpack/global_index.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#9553 Fixes #33117 - Implement Matching content modal for RPM Filter rules
  webpack/components/Search/Search.js
  webpack/components/Table/TableWrapper.js
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf4Search/TypeAheadSearch.js
  webpack/containers/Application/overrides.scss
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/CVRpmMatchContentModal.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/__tests__/CVRpmMatchContent.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/__tests__/CVRpmMatchContentModal.test.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/__tests__/CVRpmMatchContentSearch.fixtures.json
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9452 Fixes #32993 - improve host-tools find method
  app/models/katello/host/content_facet.rb
Labels: Needs testing, Not yet reviewed

#9562 Fixes #33286 - uses unscoped find query for smart proxy
  app/lib/actions/pulp3/repository/refresh_distribution.rb
Labels: Needs testing, Not yet reviewed

#9515 Fixes #33187 - flush stdout buffer for nohup
  lib/katello/tasks/pulp3_migration.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9528 Fixes #33113 - CV UI - Add RPM filter rules
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddPackageRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
Labels: Needs testing, Not yet reviewed

#9563 Fixes #33285 - ensure auto attach can be disabled from subscription-manager
  app/models/katello/host/subscription_facet.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9560 Fixes #33278 - ignore orphaned root repos on migration
  app/services/katello/pulp3/migration_plan.rb
Labels: Needs testing, Not yet reviewed

#9561 Fixes #33279 - remove orphan root repos
  app/lib/actions/katello/orphan_cleanup/remove_orphans.rb
Labels: Ready for merge

#9566 Fixes #33230 - use find_by to handle deleted tasks
  app/models/katello/content_view.rb
Labels: Needs testing, Not yet reviewed

#9556 Fixes #33254 - CVV errata count wrong with date filter and when errata packages aren't in the source repo
  app/models/katello/erratum.rb
  app/services/katello/pulp3/repository/yum.rb
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_groups_repository/package_groups_as_a_filter_rule.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_min_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_distribution_trees_repository/all_distribution_trees_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_distribution_trees_repository/no_package_environments_are_copied_despite_whitelist_ids.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/all_errata_copied_if_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/errata_copied_if_all_errata_packages_matches_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/errata_is_not_copied_if_errata_packages_are_not_all_found_in_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_errata_repository/no_errata_copied_if_no_errata_packages_matches_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_empty_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_no_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_even_if_no_groups_match.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/all_package_groups_copied_with_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/package_groups_as_a_filter_rule.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_package_groups_repository/package_groups_copied_if_indicated_by_copied_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_with_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_without_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_nonmatching_package_exclusion_filter_copies_everything.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_nonmatching_package_includion_filter_copies_no_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_all_duplicate_content_with_dep_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_duplicate_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_errata_exclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_errata_inclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_max_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_min_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_repository/yum_copy_with_whitelist_name_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_srpms_repository/all_srpms_copied_despite_filter_rules.yml
  test/models/content_view_erratum_filter_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9549 Fixes #33181 - pagination info at the bottom & top
  webpack/components/Table/TableWrapper.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
Labels: Needs testing, Not yet reviewed

#9567 Fixes #33164 - Allow clearing upstream auth and password
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
  engines/bastion_katello/test/products/details/repositories/new/new-repository.controller.test.js
Labels: Needs testing, Not yet reviewed

#9572 Fixes #33314 - errata apply confirm REX failure fix
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/apply-errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/views/apply-errata-confirm.html
  engines/bastion_katello/test/errata/apply-errata.controller.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9570 Fixes #32664 - ignore deleting the candlepin instance with missing cp_id on activation key delete
  app/lib/actions/katello/activation_key/destroy.rb
  test/actions/katello/activation_key_test.rb
Labels: Ready for merge

#9546 Fixes #33237 - open affected hosts in new window
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
Labels: Needs testing, Not yet reviewed

#9591 Fixes #33372 - fix missing prop type
  webpack/components/AddedStatusLabel.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
Labels: Needs testing, Not yet reviewed

#9571 Fixes #33114 - Bulk Add/Remove filters rules
  app/controllers/katello/api/v2/content_view_filters_controller.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_view_filters_controller_test.rb
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
Labels: Needs testing, Not yet reviewed

#9580 Fixes #33348 - Add event delete_host_agent_queue only when katello-agent is enabled
  app/services/katello/registration_manager.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor
