Repository Katello/katello, pull requests merged in 2021-07, with the labels that each got.

#9432 Fixes #31853 - Ignore timeout events to avoid errors if they cannot be delivered
  app/lib/actions/katello/agent_action.rb
  katello.gemspec
Labels: Ready for merge

#9430 Fixes #32621 - Update useEffect to useDeepCompareEffect
  package.json
  webpack/scenes/ContentViews/Copy/CopyContentViewForm.js
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/SmartProxy/SmartProxyContentTable.js
Labels: Needs testing, Not yet reviewed

#9428 Fixes #32887 - abort all pulp3 migration tasks during abort
  lib/katello/tasks/pulp3_migration_abort.rake
Labels: Needs testing, Not yet reviewed

#9438 Fixes #32922 - drop Foreman::Environment::Destroy
  app/lib/actions/foreman/environment/destroy.rb
  test/actions/foreman/environment_test.rb
Labels: Needs testing, Not yet reviewed

#9439 Fixes #32923 - do not use Puppet ENC in tests
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#9440 Fixes #32936 - use bulk_host_ids parameter for traces
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-traces.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-traces.html
Labels: Needs testing, Not yet reviewed

#9444 Refs #32580 - use plan_action instead of plan_pulp_action
  app/lib/actions/katello/repository/refresh_repository.rb
Labels: Needs testing, Not yet reviewed

#9417 Fixes #32841 - Host registration - :rhsm_base_url helper
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#9443 Fixes #32911 - Create content view button fix
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
Labels: Needs testing, Not yet reviewed

#9346 fixes #32524 - Removing rhsm parser and importer
  app/models/katello/rhsm_fact_importer.rb
  app/models/katello/rhsm_fact_name.rb
  app/models/katello/rhsm_fact_parser.rb
  lib/katello/engine.rb
  lib/katello/plugin.rb
  test/models/rhsm_fact_importer_test.rb
  test/models/rhsm_fact_parser_test.rb
Labels: Needs testing, Not yet reviewed

#9436 Fixes #32895 - Small copy change and i18n encapsulation added
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Create/CreateContentViewModal.js
Labels: Needs testing, Not yet reviewed

#9424 Fixes #32882 - consider pulp3 for download policy
  app/views/overrides/smart_proxies/_download_policy.erb
Labels: Ready for merge

#9441 Fixes #32901 - inc update doesn't generate metadata
  app/lib/actions/katello/content_view_version/incremental_update.rb
  test/actions/katello/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed

#9442 Fixes #32938 - Added components for new host details page
  webpack/components/extensions/HostDetails/Tabs/ContentTab.js
  webpack/components/extensions/HostDetails/Tabs/SubscriptionTab.js
  webpack/fills_index.js
Labels: Needs testing, Not yet reviewed

#9451 Fixes #32974 - monkey patch missing enum
  config/initializers/monkeys.rb
  lib/monkeys/pulp3_13_checksumfix.rb
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload_binary.yml
Labels: Needs testing, Not yet reviewed

#9450 Fixes #32972: Drop RegistryResource supporting crane
  app/lib/katello/resources/registry.rb
  config/katello.yaml.example
  test/lib/resources/registry_test.rb
Labels: Needs testing, Not yet reviewed

#9431 Fixes #32888 - correct missing errata from link repositories
  app/services/katello/pulp3/migration.rb
Labels: Needs testing, Not yet reviewed

#9458 Fixes #33006 - Change ImportersCoreImportsApi to ImportersPulpImportsApi
  app/services/katello/pulp3/api/core.rb
  test/services/katello/pulp3/api/core_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9461 [CP] Fixes #33006 - Change ImportersCoreImportsApi to ImportersPulpImportsApi
  app/services/katello/pulp3/api/core.rb
  test/services/katello/pulp3/api/core_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9385 Fixes #32663 - ensure unique name for each migrated repo
  app/services/katello/pulp3/migration_plan.rb
  test/services/katello/pulp3/migration_plan_test.rb
Labels: Needs testing, Not yet reviewed

#9456 Fixes #32997 - Enabling a repo not reflected in list
  webpack/redux/reducers/RedHatRepositories/enabled.js
Labels: Needs testing, Not yet reviewed

#9449 Fixes #32965 - Have repo delete go directly to task instead of toast
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/product-repositories.controller.js
Labels: Ready for merge

#9397 Fixes #32698 - View component CVs with Added/Not Added filter
  app/controllers/katello/api/v2/content_view_components_controller.rb
  app/services/katello/component_view_presenter.rb
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentVersion.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.fixtures.json
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/publishedContentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
Labels: Needs testing, Not yet reviewed

#9445 Refs #32955 - Remove old export from repositories controller
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/authorization/product.rb
  config/routes/api/v2.rb
  db/migrate/20210714140440_remove_repo_export_permission.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Ready for merge

#9453 Fixes #32998 - Http Proxy passwords are not making it to candlepin properly
  app/lib/katello/util/http_proxy.rb
  app/lib/katello/util/proxy_uri.rb
  test/lib/util/http_proxy_test.rb
Labels: Ready for merge

#9463 Fixes #32138 - Navigation doesn't display Content views without admin rights
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9455 Fixes #33000 - Display checkbox/select column for non-admin users
  locale/en/katello.po
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
  webpack/scenes/Subscriptions/index.js
Labels: Ready for merge

#9470 Fixes #33036 - Make via Katello-agent option clickable on the content host errata page
  app/controllers/katello/api/v2/host_errata_controller.rb
Labels: Ready for merge

#9330 Fixes #32487: Use Foreman client certificates to communicate with Pulp
  app/lib/katello/resources/registry.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/cert/certs.rb
  app/services/katello/pulp/server.rb
Labels: Needs testing, Not yet reviewed

#9468 Refs #32923 - drop last Envrionment references
  test/models/concerns/content_facet_host_extensions_test.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#9457 Fixes #32932 - Add CV filters
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/Add/__tests__/cvFilterAdd.test.js
  webpack/scenes/ContentViews/Details/Filters/Add/__tests__/cvFilterCreateResult.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
Labels: Needs testing, Not yet reviewed

#9479 Fixes #33036 - Make via Katello-agent option clickable on content host errata page
  app/controllers/katello/api/v2/host_errata_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-errata.controller.js
  engines/bastion_katello/test/content-hosts/content/content-host-errata.controller.test.js
Labels: Ready for merge

#9480 Fixes #33057 - apipie cache repo & content type params missing
  app/controllers/katello/api/v2/content_uploads_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/repository/remove_content.rb
  app/lib/actions/katello/repository/upload_files.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/root_repository.rb
  app/services/katello/repository_type_manager.rb
  test/controllers/api/v2/content_uploads_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/services/katello/repository_type_manager_test.rb
Labels: Needs testing, Not yet reviewed

#9469 Fixes #33028 - print postgres space considerations for migration
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Ready for merge

#9475 Fixes #33014 - Sync pulpcore capsules after promote
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Needs testing, Not yet reviewed

#9485 Refs #33044 - properly check publication_href on SP sync
  app/lib/actions/pulp3/capsule_content/refresh_distribution.rb
Labels: Needs testing, Not yet reviewed

#9486 [CP] Refs #33044 - properly check publication_href on SP sync
  app/lib/actions/pulp3/capsule_content/refresh_distribution.rb
Labels: Needs testing, Not yet reviewed

#9471 Fixes #33037 - Cancel button should be enabled for capsule sync until job completes
  engines/bastion_katello/app/assets/javascripts/bastion_katello/capsule-content/capsule-content.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/tasks/aggregate-task.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/tasks/task.factory.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9481 Fixes #33086 - Enable option via Katello-agent in errata installation of host-collections
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
Labels: Ready for merge

#9477 Fixes #32995 - URI.escape is obsolete warning
  app/lib/katello/http_resource.rb
  app/lib/katello/resources/candlepin/consumer.rb
  test/lib/http_resource_test.rb
Labels: Needs testing, Not yet reviewed

#9405 Fixes #32798 - latest_tasks with foreman-tasks
  app/models/katello/glue/pulp/repos.rb
  katello.gemspec
Labels: Ready for merge

#9437 Fixes #32802 - Sync/Index Python repo with remote options
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/generic_content_unit.rb
  app/models/katello/repository.rb
  app/models/katello/repository_generic_content_unit.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/api/generic.rb
  app/services/katello/pulp3/generic_content_unit.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/repository/generic.rb
  app/services/katello/repository_type.rb
  app/services/katello/repository_type_manager.rb
  db/migrate/20210624221630_katello_generic_content.rb
  db/migrate/20210628182553_add_generic_remote_options_to_root_repository.rb
  lib/katello/repository_types/python.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/delete.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/update.yml
  test/services/katello/pulp3/repository/python/python_test.rb
  test/services/katello/pulp3/repository/python/repository_mirror_remote_options_test.rb
Labels: Needs testing, Not yet reviewed

#9482 Fixes #32931 - Delete filters from CV
  app/controllers/katello/api/v2/content_views_controller.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_views_controller_test.rb
  webpack/components/Table/TableWrapper.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.test.js
  webpack/scenes/ContentViews/Details/Histories/__tests__/contentViewHistory.test.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailRepos.test.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Publish/__tests__/publishContentView.test.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
Labels: Needs testing, Not yet reviewed

#9501 Fixes #32956 - Table checkbox fix
  webpack/components/Table/helpers.js
Labels: Needs testing, Not yet reviewed

#9474 Fixes #33040 - Enables upgrade-all via agent actions
  app/lib/katello/agent/base_message.rb
  app/lib/katello/agent/update_package_message.rb
  test/lib/agent/update_package_message_test.rb
Labels: Needs testing, Not yet reviewed

#9484 Fixes #33102 - Allow validate to return if disc mode is enabled
  app/models/katello/candlepin/repository_mapper.rb
  test/models/candlepin/repository_mapper_test.rb
Labels: Ready for merge

#9421 Registration API & activation key(s)
  app/controllers/katello/concerns/api/v2/registration_commands_controller_extensions.rb
  test/controllers/foreman/registration_commands_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9251 Fixes #32221 - use eslint react-hooks rules
  package.json
  webpack/.eslintrc.js
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/RoutedTabs/RoutedTabs.js
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/RegistrationCommands/fields/ActivationKeys.js
  webpack/components/extensions/RegistrationCommands/index.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Publish/CVPublishFinish.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/SmartProxy/SmartProxyContentTable.js
Labels: Needs testing, Not yet reviewed

#9488 Registration - Remove 'Foreman' from error msg
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
Labels: Needs testing, Not yet reviewed

#9506 Refs #33040 - Readable upgrade-all tests
  test/lib/agent/update_package_message_test.rb
Labels: Needs testing, Not yet reviewed

#9498 Fixes #33148 - bump pulp_rpm requires
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9497 Refs #32867 - Create Remote in plan phase
  app/lib/actions/pulp3/repository/create_remote.rb
  test/actions/katello/content_view_version/import_library_test.rb
  test/actions/katello/content_view_version/import_test.rb
Labels: Needs testing, Not yet reviewed

#9493 Fixes #33131 - run orphan cleanup before the content migration
  katello.gemspec
  lib/katello/tasks/pulp3_migration.rake
Labels: Needs testing, Not yet reviewed

#9512 Fixes #33031 - properly i18n registration strings
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
Labels: Needs testing, Not yet reviewed

#9509 Fixes #33171 - Hide some fields from docker/collection/ostree details
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9508 Fixes #33167 - fix spacing on rubocop disablement
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#9494 Fixes #33118 - Task presenter for publish/promote
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewTaskInProgressResponse.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewTaskResponse.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersionsWithTask.fixtures.json
  webpack/scenes/ContentViews/Publish/CVPublishFinish.js
  webpack/scenes/ContentViews/Publish/PublishContentViewWizard.js
  webpack/scenes/ContentViews/components/TaskPresenter/TaskPresenter.js
Labels: Needs testing, Not yet reviewed

#9500 Fixes #33147 - Add validation around Ansible auth url and token
  app/models/katello/root_repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.filter.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed

#9514 Fixes #32943 - Appropriately update module stream actions
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-module-streams.html
Labels: Ready for merge

#9513 Fixes 33173 - ignore katello_events and candlepin in ping check
  lib/katello/tasks/pulp3_migration_approve_corrupted.rake
Labels: Needs re-review, Needs testing, Ready for merge, Waiting on contributor

#9478 Fixes #33058 - do not error on RH ostree content removal
  db/migrate/20210119162528_delete_puppet_and_ostree_repos.rb
  lib/katello/tasks/upgrades/4.0/remove_ostree_puppet_content.rake
Labels: Needs testing, Not yet reviewed
