Repository Katello/katello, pull requests merged in 2021-01, with the labels that each got.

#9081 Fixes #31530 - allow access to more errata attributes
  app/models/katello/erratum.rb
Labels: Needs testing, Not yet reviewed

#9086 Fixes #31314 - Adds tasks button to new CV page
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
Labels: Needs testing, Not yet reviewed

#9061 Fixes #31427 - Smarter incremental update
  app/lib/actions/katello/content_view_version/incremental_update.rb
  test/actions/katello/content_view_version_test.rb
Labels: Needs testing, Not yet reviewed

#9078 Fixes #30964 - Applicability wrong with multiple rpm versions installed using Pulp 3
  app/services/katello/applicability/applicable_content_helper.rb
  test/services/katello/applicability/applicable_content_helper_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9043 Fixes #31337 - Katello sends unauth. docker repos at proxy sync time
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  db/seeds.d/104-proxy.rb
  lib/katello/engine.rb
  lib/proxy_api/container_gateway.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9092 Fixes #31580 - Update Bulk SysPurpose modal based on UX feedback
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-system-purpose-modal.html
Labels: Ready for merge

#9083 Fixes #31540 - delay CVV calcs until needed
  app/models/katello/content_view_version.rb
  app/services/katello/repository_type.rb
  db/migrate/20191204214919_add_content_view_version_counts.rb
Labels: Needs testing, Not yet reviewed

#9084 Fixes #31544 - properly check for content source on new hostgroup
  app/models/katello/concerns/redhat_extensions.rb
  test/controllers/foreman/hostgroups_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9089 Fixes #31105 - Truncate description of CV env in candlepin
  app/lib/actions/candlepin/environment/create.rb
Labels: Needs testing, Not yet reviewed

#9094 Fixes #31591 - Ensure Candlepin is updated when updating system purpose in bulk
  app/lib/actions/katello/host/update_system_purpose.rb
  test/actions/katello/host/update_system_purpose_test.rb
Labels: Ready for merge

#9093 Fixes #31586 - use pulp2 if pulp3 does not support a type
  app/models/katello/concerns/smart_proxy_extensions.rb
  lib/katello/tasks/pulp3_content_switchover.rake
Labels: Needs testing, Not yet reviewed

#9050 Fixes #31403 - Change short-date-to-long-date
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
Labels: Needs testing, Not yet reviewed

#8908 Fixes #30703 - allow CV version to be used in templates
  app/models/katello/content_view.rb
Labels: Needs testing, Not yet reviewed

#9087 Refs #31550 - Add Timer class to Katello::Logging
  app/lib/katello/logging.rb
Labels: Needs testing, Not yet reviewed

#9085 Fixes #31446 - Copy Content Views UI
  webpack/scenes/ContentViews/ContentViewsActions.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Copy/ContentViewCopySelectors.js
  webpack/scenes/ContentViews/Copy/CopyContentViewForm.js
  webpack/scenes/ContentViews/Copy/CopyContentViewModal.js
  webpack/scenes/ContentViews/Copy/__tests__/contentViewCopyResult.fixtures.json
  webpack/scenes/ContentViews/Copy/__tests__/copyContentView.test.js
  webpack/scenes/ContentViews/Copy/index.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/Table/actionResolver.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
Labels: Needs testing, Not yet reviewed

#9097 Fixes #31615 - Document arch parameter for repositories
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Needs testing, Not yet reviewed

#9098 Refs #31586 - load common.rake for pulp3 content switchover
  lib/katello/tasks/pulp3_content_switchover.rake
Labels: Needs testing, Not yet reviewed

#9091 Fixes #29838 - Add Red Hat Subscriptions Consumed macro
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/models/katello/pool.rb
  app/presenters/katello/host_subscription_presenter.rb
  app/presenters/katello/host_subscriptions_presenter.rb
  test/lib/concerns/base_template_scope_extensions_test.rb
  test/presenters/host_subscriptions_presenter_test.rb
Labels: Needs testing, Not yet reviewed

#9099 Fixes #31624: host object may not always have a content facet
  app/models/katello/concerns/redhat_extensions.rb
Labels: Needs testing, Not yet reviewed

#9036 Fixes #30828 - conditionally skip content indexing
  app/lib/actions/katello/check_matching_content.rb
  app/lib/actions/katello/repository/check_matching_content.rb
  app/lib/actions/katello/repository/clone_contents.rb
  app/lib/actions/katello/repository/index_content.rb
  app/lib/actions/katello/repository/multi_clone_contents.rb
  app/lib/actions/middleware/execute_if_contents_changed.rb
  app/services/katello/pulp3/repository.rb
  test/actions/katello/check_matching_content_test.rb
  test/actions/katello/repository/check_matching_content_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9103 Fixes #31657 - Update capsule/tools recommended repos to 69
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Ready for merge

#9102 Fixes #31359 - do not delete repo version 0
  app/services/katello/pulp3/repository.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Needs testing, Not yet reviewed

#9100 Fixes #30941,#31424 - remove custom dynflow loader
  lib/katello/tasks/common.rake
  lib/katello/tasks/delete_orphaned_content.rake
  lib/katello/tasks/pulp3_content_switchover.rake
  lib/katello/tasks/pulp3_migration.rake
  lib/katello/tasks/pulp3_migration_abort.rake
  lib/katello/tasks/pulp3_post_migration_check.rake
  lib/katello/tasks/repository.rake
  test/lib/tasks/delete_orphaned_content_test.rb
  test/lib/tasks/pulp3_post_migration_check_test.rb
  test/lib/tasks/repository_test.rb
Labels: Needs testing, Not yet reviewed

#9104 Fixes #31676 - simplify smart proxy sync checks
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/pulp/orchestration/repository/refresh_repos.rb
  app/lib/actions/pulp3/orchestration/repository/refresh_repos.rb
  test/actions/katello/capsule_content_test.rb
Labels: Needs testing, Not yet reviewed

#9079 Fixes #27772 - Use sync_history for content details on smart proxy
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/katello/pulp/content_counts_calculator.rb
  app/services/katello/pulp/smart_proxy_repository.rb
  app/views/foreman/smart_proxies/_content_tab.html.erb
  app/views/katello/api/v2/capsule_content/sync_status.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/capsule-content/capsule-content.controller.js
  lib/katello/plugin.rb
  test/models/content_counts_calculator_test.rb
  test/services/katello/pulp/smart_proxy_repository_test.rb
  webpack/index.js
  webpack/scenes/SmartProxy/Content.js
  webpack/scenes/SmartProxy/SmartProxyContentActions.js
  webpack/scenes/SmartProxy/SmartProxyContentConstants.js
  webpack/scenes/SmartProxy/SmartProxyContentSelectors.js
  webpack/scenes/SmartProxy/SmartProxyContentTable.js
  webpack/scenes/SmartProxy/__tests__/SmartProxyContentResult.fixtures.json
  webpack/scenes/SmartProxy/__tests__/SmartProxyContentTest.js
  webpack/scenes/SmartProxy/index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9110 Fixes #31427 - clear tasks to avoid duplicate execution
  lib/katello/tasks/reports.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9114 Fixes #31729 - do not reach to pulp for sync mgmnt
  app/helpers/katello/sync_management_helper.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/glue/pulp/repos.rb
  test/glue/pulp/repository_test.rb
Labels: Needs testing, Not yet reviewed

#9113 Fixes #31725 - properly use dynflow:client with check_ping in tasks
  lib/katello/tasks/reimport.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9115 Fixes #31731 - track dist create/update on SP sync
  app/lib/actions/pulp3/capsule_content/refresh_distribution.rb
Labels: Needs testing, Not yet reviewed

#9118 Refs #31725 - fix for dynflow:client transient test
  test/lib/tasks/pulp3_content_switchover_test.rb
Labels: Needs testing, Not yet reviewed

#9107 Fixes #31270 - Fix applicability with modular vs non-modular rpms
  app/services/katello/applicability/applicable_content_helper.rb
  test/services/katello/applicability/applicable_content_helper_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9119 Fixes #31353 - enables translation for search button text
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/TypeAhead/pf3Search/TypeAheadSearch.js
Labels: Needs testing, Not yet reviewed

#9122 Fixes #31741 - Fix API docs for ids parameters
  app/controllers/katello/api/v2/content_views_controller.rb
Labels: Ready for merge

#9124 Fixes #29592 - properly clear upstream auth
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
Labels: Needs testing, Not yet reviewed

#9095 Fixes #31382 - Hostgroup content facet migration fix
  db/migrate/20150930183738_migrate_content_hosts.rb
  db/migrate/20200514092553_move_katello_fields_from_hostgroups.katello.rb
Labels: Ready for merge

#9106 Fixes #31682 - Remove puppet and ostree repos
  db/migrate/20210119162528_delete_puppet_and_ostree_repos.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/4.0/remove_ostree_puppet_content.rake
Labels: Needs testing, Not yet reviewed

#9117 Fixes #31734 - New Api end points of sca enable/disable/eligible
  app/controllers/katello/api/v2/simple_content_access_controller.rb
  app/controllers/katello/api/v2/upstream_subscriptions_controller.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/simple_content_access_controller_test.rb
  webpack/scenes/Subscriptions/Manifest/ManifestActions.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManifestActions.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/SimpleContentAccess.test.js
Labels: Ready for merge

#9128 Refs #31725 - fix clean_backend_objs dynflow client test
  test/lib/tasks/clean_backend_objects_test.rb
Labels: Needs testing, Not yet reviewed

#8944 Fixes #30837 - view Filtered RPM's
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/filters/views/package-filter-details.html
Labels: Needs testing, Not yet reviewed
