Repository Katello/katello, pull requests merged in 2021-06, with the labels that each got.

#9377 Fixes #32362 - Change default pulp url to primary pulp smart proxy url
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/repository.rb
  lib/katello.rb
  lib/katello/engine.rb
  spec/helpers/sync_management_helper_spec.rb
  spec/models/activation_key_spec.rb
  spec/models/environment_spec.rb
  spec/models/gpg_key_spec.rb
  spec/models/model_spec_helper.rb
  spec/models/product_spec.rb
  spec/models/provider_spec.rb
  spec/models/pulp_task_status_spec.rb
  test/controllers/api/v2/content_view_filters_controller_test.rb
  test/controllers/api/v2/content_view_repositories_controller_test.rb
  test/controllers/api/v2/docker_tags_controller_test.rb
  test/glue/pulp/content_type_test.rb
  test/models/repository_test.rb
  test/services/katello/pulp/erratum_test.rb
  test/services/katello/pulp/package_group_test.rb
  test/services/katello/pulp/srpm_test.rb
  test/support/vcr.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9378 Fixes #32320 - Candlepin correctly errors out on Job Failures
  app/lib/actions/candlepin/abstract_async_task.rb
Labels: Needs testing, Not yet reviewed

#9360 Fixes #32582 - old rh repo root arch stops disabling
  app/views/katello/api/v2/repository_sets/show.json.rabl
  db/migrate/20210512192745_fix_red_hat_root_repository_arch.rb
Labels: Needs testing, Not yet reviewed

#9354 Fixes #32396 - Permissions for Import/Export
  app/controllers/katello/api/v2/content_export_incrementals_controller.rb
  app/controllers/katello/api/v2/content_exports_controller.rb
  app/controllers/katello/api/v2/content_imports_controller.rb
  app/models/katello/authorization/content_view.rb
  app/models/katello/authorization/organization.rb
  lib/katello/permission_creator.rb
  lib/katello/plugin.rb
  lib/katello/tasks/upgrades/4.1/update_content_import_export_perms.rake
  test/controllers/api/v2/content_export_incrementals_controller_test.rb
  test/controllers/api/v2/content_exports_controller_test.rb
  test/controllers/api/v2/content_imports_controller_test.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/controllers/api/v2/errata_controller_test.rb
  test/controllers/api/v2/packages_controller_test.rb
  test/lib/tasks/upgrades/4.1/update_content_import_export_perms_test.rb
Labels: Needs testing, Not yet reviewed

#9389 Fixes #32699 - Katello 3.18 changed the way RH operating systems are named after sync
  app/models/katello/concerns/redhat_extensions.rb
Labels: Ready for merge

#9386 Fixes #32303 - Add show_all endpoint for component content_views
  app/controllers/katello/api/v2/content_view_components_controller.rb
  app/models/katello/content_view.rb
  app/services/katello/component_view_presenter.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_view_components_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9370 Fixes #32626 - Ignore empty upstream authentication
  app/models/katello/root_repository.rb
Labels: Ready for merge

#9392 Fixes #32726 - Suppress all Candlepin stack traces for Api::Rhsm::CandlepinProxiesController
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
Labels: Ready for merge

#9396 Fixes #32761 - Remove pulp2 call on deb repo content matching
  app/lib/actions/katello/repository/check_matching_content.rb
Labels: Needs testing, Not yet reviewed

#9393 Fixes #32740 - Orphan cleanup fails on boxes with only pulp3
  app/lib/actions/katello/orphan_cleanup/remove_orphans.rb
  app/lib/actions/pulp3/orchestration/orphan_cleanup/remove_orphans.rb
Labels: Needs testing, Not yet reviewed

#9390 Fixes #32601 - Applicability regen after upload and remove
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/remove_content.rb
  app/lib/actions/katello/repository/upload_files.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#9399 Fixes #32613 - Update error message on proxy
  app/lib/katello/errors.rb
Labels: Needs testing, Not yet reviewed

#9398 Fixes #32144 - Support repair repo for all repo types
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
  app/lib/actions/pulp3/repository/repair.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/yum.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-advanced-sync-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-advanced-sync-options.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9400 Fixes #32784 - fix content guard creation
  app/services/katello/pulp3/api/content_guard.rb
  test/actions/pulp3/content_guard/refresh_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/content_guard/content_guard_refresh/for_creation.yml
Labels: Needs testing, Not yet reviewed

#9353 Fixes #32580 - remove pulp2 actions except for capsule sync
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/lib/actions/katello/content_view_version/create_repos.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/katello/repository/clone_contents.rb
  app/lib/actions/katello/repository/clone_to_environment.rb
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/repository/create_root.rb
  app/lib/actions/katello/repository/destroy.rb
  app/lib/actions/katello/repository/export.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/instance_update.rb
  app/lib/actions/katello/repository/metadata_generate.rb
  app/lib/actions/katello/repository/multi_clone_contents.rb
  app/lib/actions/katello/repository/purge_empty_content.rb
  app/lib/actions/katello/repository/refresh_repository.rb
  app/lib/actions/katello/repository/remove_content.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/katello/repository/update.rb
  app/lib/actions/katello/repository/update_http_proxy_details.rb
  app/lib/actions/katello/repository/update_redhat_repository.rb
  app/lib/actions/katello/repository/upload_errata.rb
  app/lib/actions/katello/repository/upload_files.rb
  app/lib/actions/katello/repository/upload_package_group.rb
  app/lib/actions/katello/repository/verify_checksum.rb
  app/lib/actions/katello/repository_set/enable_repository.rb
  test/actions/katello/content_view_version/create_repos_test.rb
  test/actions/katello/content_view_version_test.rb
  test/actions/katello/repository/import_upload_test.rb
  test/actions/katello/repository/metadata_generate_test.rb
  test/actions/katello/repository/update_redhat_repository_test.rb
  test/actions/katello/repository/verify_checksum_test.rb
  test/actions/katello/repository_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/controllers/sync_management_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9387 Fixes #31197 - ansible galaxy URL updates
  app/services/katello/pulp3/repository/ansible_collection.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  test/services/katello/pulp3/repository/ansible_collection/repository_mirror_options_test.rb
Labels: Needs testing, Not yet reviewed

#9403 Fixes #32787 - Ping checks pulpcore api service correctly
  app/models/katello/ping.rb
Labels: Ready for merge

#9404 Fixes #32724 - Removes an unnecessary pulp3 ping check
  app/lib/actions/katello/orphan_cleanup/remove_orphans.rb
  app/models/katello/ping.rb
  test/models/ping_test.rb
Labels: Ready for merge

#9391 Fixes #32711 - add btn-group to react-bootstrap-select form control
  webpack/components/react-bootstrap-select/index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9312 Fixes #32405 - Permit DMI change when host is in build mode
  app/models/setting/content.rb
  app/services/katello/registration_manager.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#9410 Fixes #32807 - Parse Amazon distribution properly
  app/services/katello/candlepin/consumer.rb
  test/models/rhsm_fact_parser_test.rb
  test/services/katello/candlepin/consumer_test.rb
Labels: Needs testing, Not yet reviewed

#9407 Fixes #32800 - allow Repo delete for RH repos
  app/controllers/katello/api/v2/repositories_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/product-repositories.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
  engines/bastion_katello/test/products/details/product-repositories.controller.test.js
  engines/bastion_katello/test/products/details/repositories/details/repository-details.controller.test.js
Labels: Ready for merge

#9313 Fixes #32406 - Prevent re-register unless host is in build mode
  app/models/setting/content.rb
  app/services/katello/registration_manager.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#9229 Run react UI tests on all branches
  .github/workflows/react_tests.yml
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9411 [CP] Katello 4.0.1.2 CP for container gateway fixes
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/models/katello/authorization/content_view.rb
  app/models/katello/authorization/repository.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  katello.gemspec
  lib/katello/version.rb
  lib/proxy_api/container_gateway.rb
  test/actions/katello/capsule_content_test.rb
  test/support/capsule_support.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9414 Pin foreman-tasks-core
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9408 Fixes #32806 - add installable link for bulk host errata
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
Labels: Needs testing, Not yet reviewed

#9329 Fixes #32472 - Use pulp_deb 2.9 for Katello 3.18
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9416 Fixes #32839 - Make with_ansible? check more precise
  lib/katello/engine.rb
Labels: Needs testing, Not yet reviewed

#9415 Fixes #32815 - Display checkbox/select column for grouped subscriptions
  webpack/components/pf3Table/formatters/selectionHeaderCellFormatter.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/SubscriptionsTableSchema.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsTable/components/Table.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9337 Fixes #32441 - CV UI Publish Workflow
  app/models/katello/content_view.rb
  app/views/katello/api/v2/content_views/base.json.rabl
  webpack/components/Table/TableWrapper.js
  webpack/scenes/ContentViews/ContentViewsActions.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/ContentViewsPage.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Repositories/LastSync.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
  webpack/scenes/ContentViews/Publish/CVPublishFinish.js
  webpack/scenes/ContentViews/Publish/CVPublishForm.js
  webpack/scenes/ContentViews/Publish/CVPublishReview.js
  webpack/scenes/ContentViews/Publish/ContentViewPublishSelectors.js
  webpack/scenes/ContentViews/Publish/PublishContentViewWizard.js
  webpack/scenes/ContentViews/Publish/__tests__/environmentPaths.fixtures.json
  webpack/scenes/ContentViews/Publish/__tests__/publishContentView.test.js
  webpack/scenes/ContentViews/Publish/__tests__/publishResponse.fixture.json
  webpack/scenes/ContentViews/Publish/cvPublishForm.scss
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/Table/tableDataGenerator.js
  webpack/scenes/ContentViews/components/EnvironmentLabels.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPathActions.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPathConstants.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPathSelectors.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.scss
Labels: Needs testing, Not yet reviewed

#9406 Fixes #32712 - Python repo CRUD with generic api/repo classes
  app/services/katello/pulp3/api/generic.rb
  app/services/katello/pulp3/repository/generic.rb
  app/services/katello/pulp3/smart_proxy_repository.rb
  app/services/katello/repository_type.rb
  katello.gemspec
  lib/katello/repository_types/python.rb
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/remove_orphans/orphans_are_removed.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/delete.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/python/update.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_list/list_with_pagination.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/delete_orphan_repository_versions.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/orphan_repository_versions.yml
  test/services/katello/pulp3/repository/python/python_test.rb
  test/services/katello/pulp3/repository_list_test.rb
Labels: Needs testing, Not yet reviewed

#9412 Fixes #32831 - do not error if switchover already done
  lib/katello/tasks/check_config.rake
  lib/katello/tasks/pulp3_content_switchover.rake
  lib/katello/tasks/pulp3_migration.rake
Labels: Needs testing, Not yet reviewed

#9420 Fixes #32786 - fix pulp task group cancel
  app/services/katello/pulp3/task_group.rb
Labels: Needs testing, Not yet reviewed

#9401 Fixes #32786 - fix pulp task group cancel
  app/services/katello/pulp3/task_group.rb
Labels: Needs testing, Not yet reviewed

#9422 Fixes #32862 - the comment is moved to the core
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Needs testing, Not yet reviewed

#9427 Refs #8632 - Add more tests for pulpcore debian
  test/fixtures/models/katello_gpg_keys.yml
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/apt/common_publication_options.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/apt_vcr/create_remote_with_http_proxy_creds.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/needs_distributor_update.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/updates.yml
  test/services/katello/pulp3/deb_test.rb
  test/services/katello/pulp3/repository/apt/apt_test.rb
  test/services/katello/pulp3/repository/apt/refresh_test.rb
Labels: Ready for merge

#9435 Update snapshots
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/ActivationKeys.test.js.snap
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9434 Fixes #32905 - correct reverse association
  app/models/katello/kt_environment.rb
Labels: Needs testing, Not yet reviewed

#9423 Fixes #32867 - Add validations around collection repos
  app/lib/actions/pulp3/repository/create_remote.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_true.yml
Labels: Ready for merge

#9425 Fixes #32869 - migration plan showing up as error in logs
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_plan.rb
Labels: Needs testing, Not yet reviewed
