Repository Katello/katello, pull requests merged in 2021-04, with the labels that each got.

#9219 Fixes #32067 - Content Hosts + ActivationKey repository set UI fixes
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/models/katello/concerns/organization_extensions.rb
  app/models/katello/host/subscription_facet.rb
  app/models/katello/product_content.rb
  app/presenters/katello/product_content_presenter.rb
  app/services/katello/product_content_finder.rb
  app/views/katello/api/v2/activation_keys/product_content.json.rabl
  app/views/katello/api/v2/host_subscriptions/content_override.json.rabl
  app/views/katello/api/v2/host_subscriptions/product_content.json.rabl
  app/views/katello/api/v2/repository_sets/index.json.rabl
  app/views/katello/api/v2/repository_sets/show.json.rabl
  config/routes/api/v2.rb
  config/routes/overrides.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-repository-sets.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-repository-sets.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-repository-sets.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-repository-sets.html
  lib/katello/permission_creator.rb
  lib/katello/permissions/host_permissions.rb
  test/controllers/api/v2/activation_keys_controller_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/controllers/api/v2/repository_sets_controller_test.rb
  test/factories/product_content_factory.rb
  test/support/auth_support.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9179 Fixes #31804 - New Content View Page - History Tab
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Histories/__tests__/contentViewHistory.fixtures.json
  webpack/scenes/ContentViews/Details/Histories/__tests__/contentViewHistory.test.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
Labels: Needs re-review, Needs testing

#9258 Fixes #31704 - Module stream copying tests need to be un-skipped
  test/actions/pulp3/orchestration/copy_all_units_test.rb
  test/actions/pulp3/orchestration/multi_copy_all_units_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/multi_copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
Labels: Needs testing, Not yet reviewed

#9235 Added type to import histories
  app/controllers/katello/api/v2/content_imports_controller.rb
  app/lib/actions/pulp3/content_view_version/create_export_history.rb
  app/models/katello/content_view_version_export_history.rb
  app/models/katello/content_view_version_import_history.rb
  app/views/katello/api/v2/content_view_version_import_histories/show.json.rabl
  db/migrate/20210318204533_add_import_type_to_import_histories.rb
  test/models/content_view_version_import_history_test.rb
Labels: Needs testing, Not yet reviewed

#9253 Fixes #32230 - fix SPC sync with pulp2 for container
  app/controllers/katello/api/registry/registry_proxies_controller.rb
Labels: Needs testing, Not yet reviewed

#9260 Fixes #32241 - Auto create CV on import
  app/controllers/katello/api/v2/content_imports_controller.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/katello/content_view_version/import_library.rb
  app/models/katello/authorization/content_view.rb
  app/services/katello/pulp3/content_view_version/import.rb
  test/actions/katello/content_view_version/import_library_test.rb
  test/actions/katello/content_view_version/import_test.rb
  test/controllers/api/v2/content_imports_controller_test.rb
Labels: Ready for merge

#9265 Fixes #32259 - Fix apipie cache for repo sets
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/controllers/katello/api/v2/repository_sets_controller.rb
  config/routes/api/v2.rb
  config/routes/overrides.rb
Labels: Ready for merge

#9261 Fixes #31867 - updates references to content to /pulp/content
  app/helpers/katello/katello_urls_helper.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/katello/host/content_facet.rb
  app/services/katello/managed_content_medium_provider.rb
  app/services/katello/pulp/repository/yum.rb
  app/services/katello/pulp3/repository/yum.rb
  engines/bastion/test/routing.module.test.js
  spec/helpers/repo_test_data.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
  test/glue/pulp/repository_test.rb
  test/helpers/url_helpers_test.rb
  test/models/concerns/host_managed_extensions_test.rb
  test/models/concerns/redhat_extensions_test.rb
  test/models/host/content_facet_test.rb
  test/services/katello/pulp/repository/yum_test.rb
  test/services/katello/pulp3/repository/yum/repository_mirror_test.rb
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailRepos.fixtures.json
Labels: Needs testing, Not yet reviewed

#9269 Fixes #32262 - Avoid leaking file descriptors
  app/controllers/katello/api/v2/content_credentials_controller.rb
  app/lib/katello/event_daemon/runner.rb
  app/models/katello/glue/provider.rb
  app/services/cert/certs.rb
  lib/katello/tasks/receptor/extract_orgs.rake
  lib/katello/tasks/update_subscription_facet_backend_data.rake
  spec/models/gpg_key_spec.rb
  test/katello_test_helper.rb
  test/lib/tasks/receptor/extract_orgs_test.rb
Labels: Needs testing, Not yet reviewed

#9271 Fixes #32232 - Package matching query issue w/ TimeScale DB (upgrade to pulp-rpm 3.10)
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9272 Fixes #32285 - use public API to update setting
  app/models/katello/concerns/http_proxy_extensions.rb
Labels: Needs testing, Not yet reviewed

#9275 Fixes #32301 - Update pulp-rpm to 3.10.0
  app/services/katello/pulp3/repository.rb
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9279 Fixes #32310 - update pulp_rpm_client to 3.10.0 for Katello 4.0
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9281 Refs #32310 - Fix remote issue for pulp_rpm_client 3.10.0
  app/services/katello/pulp3/repository.rb
Labels: Needs testing, Not yet reviewed

#9277 Fixes #32302 - delete orphans before switchover
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_switchover.rb
  lib/katello/tasks/pulp3_content_switchover.rake
  test/services/katello/pulp3/migration_switchover_test.rb
Labels: Needs testing, Not yet reviewed

#9262 Fixes #32008 - Candlepin API accepts empty string to unset a value.
  app/lib/actions/candlepin/product/content_update.rb
  lib/katello/tasks/upgrades/4.1/sync_noarch_content.rake
  test/lib/tasks/upgrades/4.1/sync_noarch_content_test.rb
  test/scenarios/scenario_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9282 Fixes #32312 - Typo on the test
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9287 Refs #32058 - correctly select services that failed to ping
  app/models/katello/ping.rb
Labels: Needs testing, Not yet reviewed

#9243 Fixes #32187 - Import/Export for the file and ansible types
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/pulp3/orchestration/content_view_version/copy_version_units_to_library.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_library.rb
  app/models/katello/content_view_repository.rb
  app/models/katello/content_view_version.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/api/ansible_collection.rb
  app/services/katello/pulp3/api/file.rb
  app/services/katello/pulp3/api/yum.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/yum.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-views/details/views/content-view-details.html
  test/actions/pulp3/content_view_version/export_library_test.rb
Labels: Needs testing, Not yet reviewed

#9278 Fixes #32226 - properly cancel task groups
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/task.rb
  app/services/katello/pulp3/task_group.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/api/core/cancel_task.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/api/core/with_excon.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/api/core/with_net_http.yml
  test/services/katello/pulp3/api/core_test.rb
Labels: Needs testing, Not yet reviewed

#9288 Fixes #32298 - consider pulp3 proxies for content sources
  app/models/katello/concerns/smart_proxy_extensions.rb
  test/helpers/hosts_and_hostgroups_helper_test.rb
Labels: Ready for merge

#9285 Fixes #32318: Drop Passenger code
  config/initializers/monkeys.rb
  lib/monkeys/passenger_tee_input.rb
Labels: Needs testing, Not yet reviewed

#9284 Refs #31863 - match migration client requirements from 3.18
  app/services/katello/pulp3/migration.rb
  katello.gemspec
  test/services/katello/pulp3/docker_migration_test.rb
  test/services/katello/pulp3/migration_switchover_test.rb
  test/services/katello/pulp3/migration_test.rb
  test/services/katello/pulp3/yum_migration_test.rb
Labels: Needs testing, Not yet reviewed

#9266 Fixes #32261 - Manifest delete should only index subscriptions for current org
  app/models/katello/glue/provider.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9289 i18n - pulling from tx for Katello 4.1
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9248 Fixes #31955 - Pulp3 check for import path
  app/lib/actions/katello/content_view_version/import.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  test/actions/katello/content_view_version/import_test.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
Labels: Ready for merge

#9256 Fixes #31969 - Content View package filter page
  app/controllers/katello/api/v2/content_view_filter_rules_controller.rb
  app/models/katello/concerns/content_view_filter_rule_common.rb
  app/models/katello/content_view_docker_filter_rule.rb
  app/models/katello/content_view_package_filter_rule.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/CVFilterDetailType.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvPackageFilterDetail.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvPackageFilterRules.fixtures.json
Labels: Needs testing, Not yet reviewed

#9291 Fixes #32275 - ping correct Smart proxy for pulp2
  app/models/katello/ping.rb
Labels: Needs testing, Not yet reviewed

#9297 Fixes #32340 - SubscriptionsTable test failure
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#9296 Refs #32008 - make sure upgrade task runs
  db/seeds.d/111-upgrade_tasks.rb
Labels: Needs testing, Not yet reviewed

#9217 Refs #31954 - use uncached for applicable_differences
  app/services/katello/applicability/applicable_content_helper.rb
Labels: Needs testing, Not yet reviewed

#9227 Fixes #32106 - Default registration method
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-host-register-client.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-host-register-os-client.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-host-register.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register-client.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register-deb-client.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register-oracle-client.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register-sles-client.html
  engines/bastion_katello/test/content-hosts/content-host-register.controller.test.js
Labels: Needs testing, Not yet reviewed

#9178 Fixes #31910 - Hide k-agent dep warnings if setting is disabled.
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-packages-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-actions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-applicable.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-installed.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-applicable.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-installed.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/lib/bastion_katello/engine.rb
  lib/katello/engine.rb
Labels: Needs re-review

#9299 Fixes #32358 - properly display Less Than rpm requires
  app/lib/katello/util/package.rb
Labels: Ready for merge

#9298 Fixes #32349 - Update CV Icons
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/components/ContentViewIcon.js
Labels: Needs testing, Not yet reviewed

#9293 Fixes #31323 - change pulp bulk_load_size to a setting
  app/models/setting/content.rb
  app/services/katello/pulp/pulp_content_unit.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  config/katello.yaml.example
  lib/katello/engine.rb
  test/actions/pulp3/orchestration/file_sync_test.rb
  test/models/rpm_test.rb
  test/models/srpm_test.rb
Labels: Needs testing, Not yet reviewed

#9267 Fixes #32233 - Katello should send user-repo info to container gateway
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/models/katello/authorization/content_view.rb
  app/models/katello/authorization/repository.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  lib/proxy_api/container_gateway.rb
  test/actions/katello/capsule_content_test.rb
  test/support/capsule_support.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9250 Fixes #32224 - Expose Katello events for Webhooks
  app/lib/actions/katello/content_view/promote.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/jail_concern/content_view.rb
  app/lib/actions/katello/jail_concern/organization.rb
  app/lib/actions/katello/repository/sync.rb
  app/models/katello/content_view.rb
  lib/katello/engine.rb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#9286 Fixes #31827 - View component CVS for composite Content Views
  app/controllers/katello/api/v2/content_view_components_controller.rb
  app/models/katello/content_view_component.rb
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentEnvironments.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentVersion.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.fixtures.json
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/unpublishedCVComponents.fixtures.json
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/utils/paramsFromHash.js
Labels: Needs testing, Not yet reviewed

#9303 Refs #31910 - Remove katello-agent from ping model
  app/models/katello/ping.rb
  lib/katello/engine.rb
  test/models/ping_test.rb
Labels: Ready for merge

#9310 Refs #31910 - don't assert duration of the agent ping test
  test/models/ping_test.rb
Labels: Needs testing, Not yet reviewed

#9302 Fixes #31999 - Debian remote strings for releases, components, et al
  app/controllers/katello/api/v2/repositories_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Ready for merge

#9308 Fixes #32402 - Remove more traces of the background download policy
  app/models/katello/root_repository.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-advanced-sync-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9249 Fixes #31809 - Host Registration - New Form
  app/controllers/katello/concerns/api/v2/registration_commands_controller_extensions.rb
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
  app/controllers/katello/concerns/registration_commands_controller_extensions.rb
  app/views/foreman/hosts/_registration_commands.html.erb
  lib/katello/engine.rb
  lib/katello/plugin.rb
  test/controllers/foreman/registration_commands_controller_test.rb
  webpack/components/extensions/RegistrationCommands/RegistrationCommandsPageConstants.js
  webpack/components/extensions/RegistrationCommands/RegistrationCommandsPageHelpers.js
  webpack/components/extensions/RegistrationCommands/RegistrationCommandsPageSelectors.js
  webpack/components/extensions/RegistrationCommands/__tests__/ActivationKeys.test.js
  webpack/components/extensions/RegistrationCommands/__tests__/Force.test.js
  webpack/components/extensions/RegistrationCommands/__tests__/IgnoreSubmanErrors.test.js
  webpack/components/extensions/RegistrationCommands/__tests__/LifeCycleEnvironment.test.js
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/ActivationKeys.test.js.snap
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/Force.test.js.snap
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/IgnoreSubmanErrors.test.js.snap
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/LifeCycleEnvironment.test.js.snap
  webpack/components/extensions/RegistrationCommands/fields/ActivationKeys.js
  webpack/components/extensions/RegistrationCommands/fields/Force.js
  webpack/components/extensions/RegistrationCommands/fields/IgnoreSubmanErrors.js
  webpack/components/extensions/RegistrationCommands/fields/LifecycleEnvironment.js
  webpack/components/extensions/RegistrationCommands/index.js
  webpack/fills_index.js
Labels: Needs testing, Not yet reviewed

#9314 Refs #31809 - update snapshots for LifecycleEnvironment test
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/LifeCycleEnvironment.test.js.snap
Labels: Needs testing, Not yet reviewed

#9221 Fixes #32077 - provide repository architecture
  app/services/katello/managed_content_medium_provider.rb
Labels: Needs testing, Not yet reviewed

#9294 Fixes #32333 - Auto Create custom repositories + products + gpg
  app/controllers/katello/api/v2/content_imports_controller.rb
  app/lib/actions/katello/content_view_version/auto_create_products.rb
  app/lib/actions/katello/content_view_version/auto_create_repositories.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/katello/content_view_version/import_library.rb
  app/lib/actions/katello/content_view_version/reset_content_view_repositories_from_metadata.rb
  app/lib/actions/katello/product/create.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  app/services/katello/pulp3/content_view_version/importable_products.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
  test/actions/katello/content_view_version/import_library_test.rb
  test/actions/katello/content_view_version/import_test.rb
  test/controllers/api/v2/content_imports_controller_test.rb
  test/controllers/api/v2/products_bulk_actions_controller_test.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
  test/services/katello/pulp3/content_view_version/import_test.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
  test/services/katello/pulp3/content_view_version/importable_products_test.rb
  test/services/katello/pulp3/content_view_version/importable_repositories_test.rb
Labels: Needs testing, Not yet reviewed

#9300 Fixes #32420 - Enable deb content for 2to3 migration
  app/services/katello/pulp3/migration.rb
  db/migrate/20210420140050_add_pulp3_hrefs_to_content_types_deb.rb
Labels: Needs testing, Not yet reviewed

#9319 Refs #32334 - intermittent FixInvalidPools tests
  test/lib/tasks/upgrades/4.1/fix_invalid_pools_test.rb
Labels: Needs testing, Not yet reviewed

#9317 Fixes #32429 - Permit use of version 2.11 of the pulp_deb_client
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9316 Fixes #32425 - Add 'view_smart_proxies' permission to 'Register hosts' role
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9315 Fixes #32407 - Trim the Metadata json
  app/controllers/katello/api/v2/content_imports_controller.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_gpg_keys.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  app/services/katello/pulp3/content_view_version/importable_products.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
  app/services/katello/pulp3/content_view_version/metadata_generator.rb
  test/actions/katello/content_view_version/import_library_test.rb
  test/actions/katello/content_view_version/import_test.rb
  test/controllers/api/v2/content_imports_controller_test.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
  test/services/katello/pulp3/content_view_version/import_test.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
  test/services/katello/pulp3/content_view_version/importable_products_test.rb
  test/services/katello/pulp3/content_view_version/importable_repositories_test.rb
Labels: Needs testing, Not yet reviewed

#9318 Fixes #32426 - pass Docker-Content-Digest on container requests
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9292 Fixes #32281 - New Content View Page - Versions tab
  app/models/katello/content_view_version.rb
  app/views/katello/api/v2/content_view_versions/base.json.rabl
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionContent.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionEnvironments.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionErrata.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionErrata.scss
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionPackages.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/emptyCVVersion.fixtures.json
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
  webpack/scenes/ContentViews/components/IconWithCount.js
  webpack/scenes/ContentViews/components/InactiveText.js
Labels: Needs testing, Not yet reviewed

#9328 Fixes #32471 - Use pulp_deb 2.9 for Katello 4.0
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9263 Fixes #32156 - update katello-agent deprecation warnings
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/host_errata_controller.rb
  app/controllers/katello/api/v2/host_packages_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/concerns/api/api_controller.rb
  app/models/setting/content.rb
  test/controllers/api/v2/api_controller_test.rb
  test/controllers/api/v2/host_errata_controller_test.rb
  test/controllers/api/v2/host_packages_controller_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
Labels: Ready for merge
