Repository Katello/katello, pull requests merged in 2021-03, with the labels that each got.

#9200 Fixes #31974 - fix vcr cassettes for 3.18
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration_reset.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/content_types_for_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration_reset.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration_reset_errors_out_with_no_content_types.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_master_composite_migration/yum_migration_master_composite.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_migration/yum_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_migration/yum_migration_reset.yml
  test/services/katello/pulp3/docker_migration_test.rb
Labels: Needs testing, Not yet reviewed

#9194 Fixes #31920 - disassociate disabled products from sync plan
  app/lib/actions/katello/repository/destroy.rb
  app/models/katello/sync_plan.rb
  db/migrate/20140422000001_update_products_add_organization.rb
  db/migrate/20210224160921_remove_disabled_products_from_sync_plans.rb
  test/models/sync_plan_test.rb
Labels: Needs testing, Not yet reviewed

#9177 Fixes #31918 - Host Registration - Activation key field improvements
  app/views/foreman/hosts/_registration_commands.html.erb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9167 Fixes #31887 - Discard systemctl output
  app/models/katello/ping.rb
Labels: Needs testing, Not yet reviewed

#9202 Bump version to 3.17.3 and update CHANGELOG
  CHANGELOG.md
  katello.gemspec
  lib/katello/version.rb
Labels: Ready for merge

#9205 Fixes #32006 - update to foreman-tasks 4.0
  katello.gemspec
  test/models/events/auto_publish_composite_view_test.rb
  test/services/katello/pulp/smart_proxy_repository_test.rb
Labels: Needs testing, Not yet reviewed

#9207 Refs #31636 - correct verbage around tasks
  lib/katello/tasks/pulp3_migration_approve_corrupted.rake
  test/lib/tasks/pulp3_content_switchover_test.rb
Labels: Needs testing, Not yet reviewed

#9204 Fixes #32005 - consider /pulp/content for repo profile
  app/models/katello/host/content_facet.rb
  test/models/host/content_facet_test.rb
Labels: Needs testing, Not yet reviewed

#9198 Fixes #31973 - Add deprecation warning on content-host register for new method
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/register.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9195 Fixes #31648 - Add Content view filter details for package groups
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  webpack/components/AddedStatusLabel.js
  webpack/components/RoutedTabs/RoutedTabs.js
  webpack/components/RoutedTabs/RoutedTabs.scss
  webpack/containers/Application/overrides.scss
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentType.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/allFilterPackageGroups.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetail.fixtures.json
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetails.test.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/RepoIcon.js
  webpack/test-utils/react-testing-lib-wrapper.js
  webpack/utils/helpers.js
  webpack/utils/useUrlParams.js
Labels: Needs testing, Not yet reviewed

#9185 Fixes #31958: Support Ruby 2.7
  katello.gemspec
  test/actions/pulp/repository/upload_file_test.rb
Labels: Needs testing, Not yet reviewed

#9133 Fixes #31653 - New UI: Add/Remove repositories to CV
  app/models/katello/content_view_repository.rb
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewRepoAdd.fixture.json
Labels: Needs testing, Not yet reviewed

#9176 Fixes #31911 - fix transient bulk_host_extensions test
  test/controllers/api/v2/concerns/bulk_hosts_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#9218 Fixes #32066 - properly delete unmigrated errata at migration time
  app/services/katello/pulp3/migration_switchover.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9210 Fixes #32036 - provides proxy parameter to repo discovery get operations
  app/lib/actions/katello/repository/discover.rb
  app/lib/katello/repo_discovery.rb
  test/lib/repo_discovery_test.rb
Labels: Ready for merge

#9190 Fixes #31760 - Add Katello versions to unversioned warnings
  app/controllers/katello/api/v2/content_exports_controller.rb
  app/controllers/katello/api/v2/content_view_puppet_modules_controller.rb
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/errata_controller.rb
  app/controllers/katello/api/v2/host_errata_controller.rb
  app/controllers/katello/api/v2/organizations_controller.rb
  app/models/katello/host/info_provider.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Needs testing, Not yet reviewed

#9220 Fixes #32060 - only call import applicability when needed
  app/lib/actions/katello/repository/sync.rb
Labels: Needs testing, Not yet reviewed

#9225 Fixes #32087 - fix test failure around template kinds
  test/models/host/subscription_facet_test.rb
Labels: Ready for merge

#9201 Fixes #31820 - Allow re-registration with subscription-manager
  app/views/foreman/hosts/_registration_commands.html.erb
  lib/katello/plugin.rb
Labels: Ready for merge

#9224 Fixes #32007 - remove old pulp2-based upgrade tasks
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.10/clear_invalid_repo_credentials.rake
  lib/katello/tasks/upgrades/3.11/import_yum_metadata_file.rake
  lib/katello/tasks/upgrades/3.11/update_puppet_repos.rake
  lib/katello/tasks/upgrades/3.12/remove_pulp2_notifier.rake
  lib/katello/tasks/upgrades/3.13/republish_deb_metadata.rake
  lib/katello/tasks/upgrades/3.15/reindex_rpm_modular.rake
  lib/katello/tasks/upgrades/3.15/set_sub_facet_dmi_uuid.rake
  lib/katello/tasks/upgrades/3.16/update_applicable_el8_hosts.rake
  lib/katello/tasks/upgrades/3.18/add_cvv_export_history_metadata.rb
  lib/katello/tasks/upgrades/3.8/clear_checksum_type.rake
  test/lib/tasks/reindex_rpm_modular_test.rb
  test/lib/tasks/set_sub_facet_dmi_uuid_test.rb
  test/lib/tasks/update_applicable_el8_hosts_test.rb
Labels: Ready for merge

#9222 Fixes #32079 - CI reporting for pulpcore integration tests
  lib/katello/tasks/jenkins.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9137 Fixes #32093 - Remove registration template auto-assign to new OS
  app/models/katello/concerns/operatingsystem_extensions.rb
Labels: Needs testing, Not yet reviewed

#9228 Fixes #32109 - use an async task for switchover RefreshAllDistributions
  lib/katello/tasks/pulp3_content_switchover.rake
  test/lib/tasks/pulp3_content_switchover_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9203 Fixes #32000 - Remove legacy export/import API endpoints
  app/controllers/katello/api/v2/content_export_incrementals_controller.rb
  app/controllers/katello/api/v2/content_exports_controller.rb
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/content_views_controller.rb
  app/lib/actions/katello/content_view_version/export.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_library.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  locale/katello.pot
  test/actions/katello/content_view_version/export_test.rb
  test/actions/katello/content_view_version/import_test.rb
  test/actions/katello/content_view_version_test.rb
  test/actions/pulp3/content_view_version/export_library_test.rb
  test/controllers/api/v2/content_export_incrementals_controller_test.rb
  test/controllers/api/v2/content_exports_controller_test.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/controllers/api/v2/content_views_controller_test.rb
Labels: Ready for merge

#9231 Refs #32111 - rubocop: Metrics/MethodLength: Count arrays/hashes etc. as a single line
  .rubocop.yml
  app/lib/actions/katello/content_view_version/export.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/update.rb
  app/models/katello/glue/pulp/repo.rb
  app/models/setting/content.rb
  lib/katello/permission_creator.rb
  test/actions/pulp/repository/sync_progress_presenter_test.rb
  test/controllers/api/v2/content_views_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/models/content_view_test.rb
  test/services/katello/pulp3/repository/yum/copy_units_test.rb
Labels: Needs testing, Not yet reviewed

#9236 Refs #32079 - corrects task name for CI jenkins task
  lib/katello/tasks/jenkins.rake
Labels: Needs testing, Not yet reviewed

#9233 Fixes #30708 - Show syspurpose roles correctly in UI and API
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/models/katello/glue/candlepin/pool.rb
  app/views/katello/api/v2/subscriptions/show.json.rabl
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  webpack/scenes/Subscriptions/Details/SubscriptionPurposeAttributes.js
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetailInfo.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetails.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/subscriptionDetails.fixtures.js
Labels: Ready for merge

#9234 Fixes #32119 - adjust task group error check
  app/services/katello/pulp3/task_group.rb
  test/services/katello/pulp3/task_group_test.rb
Labels: Needs testing, Not yet reviewed

#9232 Fixes #32100 - Unable to set HostGroup content source to capsule that isn't synced
  app/lib/katello/validators/hostgroup_kickstart_repository_validator.rb
  test/lib/validators/hostgroup_kickstart_repository_validator_test.rb
Labels: Ready for merge

#9187 Fixes #31859 - Add documentation for template macros
  app/helpers/katello/katello_urls_helper.rb
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/models/katello/concerns/content_facet_host_extensions.rb
  app/models/katello/host/content_facet.rb
  app/models/katello/repository.rb
  app/models/katello/subscription.rb
Labels: Needs testing, Not yet reviewed

#9241 Fixes #32159 - hides archived container repos from search/catalog
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
  test/support/capsule_support.rb
Labels: Ready for merge, Waiting on contributor

#9237 Fixes #32142 - import fewer errata at a time
  app/services/katello/pulp3/migration.rb
Labels: Needs testing, Not yet reviewed

#9247 Fixes #31706 - Changes to /rhsm/status API
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9238 Fixes #31968 - adds support for new pulpcore (c 3.11) feature names
  app/models/katello/concerns/smart_proxy_extensions.rb
  lib/katello/repository_types/ansible_collection.rb
  lib/katello/repository_types/deb.rb
  lib/katello/repository_types/docker.rb
  lib/katello/repository_types/file.rb
  lib/katello/repository_types/yum.rb
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Needs re-review, Needs testing, Ready for merge, Waiting on contributor

#9244 Fixes #32210 - properly pull migrated errata after reset
  app/services/katello/pulp3/migration.rb
  katello.gemspec
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_migration/docker_migration_reset.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/content_types_for_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration_reset.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/migration/file_migration_reset_errors_out_with_no_content_types.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_master_composite_migration/yum_migration_master_composite.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_migration/yum_migration.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/yum_migration/yum_migration_reset.yml
Labels: Needs testing, Not yet reviewed

#9239 Fixes #31928 - Add auth_url and token fields for ansible collections
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/repository/ansible_collection.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  db/migrate/20210322142311_add_auth_url_token_to_root_repositories.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  test/actions/pulp3/orchestration/ansible_collection_sync_test.rb
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/distribution_references_are_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/ansible_collection_sync/sync_mirror_true.yml
Labels: Ready for merge

#9252 Fixes #32150 - rhsm facts may not always have a distribution version
  app/models/katello/host/subscription_facet.rb
  test/models/host/subscription_facet_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9254 Fixes #32231 - intermittent module stream clause generator test
  test/lib/util/module_stream_clause_generator_test.rb
Labels: Needs testing, Not yet reviewed

#9257 Fixes #32237 - Make 'Media Selection' translatable
  app/views/overrides/activation_keys/_host_media_type_select.html.erb
Labels: Ready for merge
