Repository Katello/katello, pull requests merged in 2021-12, with the labels that each got.

#9819 Fixes #34037 - Pluralized hosts messge on traces reboot
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-traces-modal.html
Labels: Needs testing, Not yet reviewed

#9802 Fixes #33876 - Fix content view card styles
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard.js
  webpack/scenes/ContentViews/components/ContentViewIcon.js
Labels: Needs testing, Not yet reviewed

#9816 Refs #33874 - improve password field + use PF4
  package.json
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/EditableTextInput/__tests__/editableTextInput.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationForm.scss
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/CdnConfigurationForm.test.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManageManifestModal.test.js
Labels: Needs testing, Not yet reviewed, Packaging Change

#9628 Fixes #33453 - Remove pulp2 content classes
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/deb.rb
  app/services/katello/pulp/deb.rb
  app/services/katello/pulp/distribution.rb
  app/services/katello/pulp/docker_blob.rb
  app/services/katello/pulp/docker_manifest.rb
  app/services/katello/pulp/docker_manifest_list.rb
  app/services/katello/pulp/docker_tag.rb
  app/services/katello/pulp/erratum.rb
  app/services/katello/pulp/file_unit.rb
  app/services/katello/pulp/module_stream.rb
  app/services/katello/pulp/package_category.rb
  app/services/katello/pulp/package_group.rb
  app/services/katello/pulp/pulp_content_unit.rb
  app/services/katello/pulp/repository.rb
  app/services/katello/pulp/repository/yum.rb
  app/services/katello/pulp/rpm.rb
  app/services/katello/pulp/srpm.rb
  app/services/katello/pulp/yum_metadata_file.rb
  app/services/katello/repository_type.rb
  app/services/katello/repository_type_manager.rb
  lib/katello/repository_types/deb.rb
  lib/katello/repository_types/docker.rb
  lib/katello/repository_types/file.rb
  lib/katello/repository_types/yum.rb
  test/controllers/api/v2/debs_controller_test.rb
  test/controllers/api/v2/srpms_controller_test.rb
  test/views/api/v2/docker_manifest_test.rb
  test/views/api/v2/erratum_test.rb
Labels: Needs testing, Not yet reviewed

#9805 Fixes #33685 - null generic remote options not updated correctly
  app/services/katello/pulp3/repository/generic.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
Labels: Needs testing, Not yet reviewed

#9829 Fixes #34071 - Fix redux toast action failures on katello
  app/views/katello/layouts/react.html.erb
  engines/bastion/app/views/bastion/layouts/application.html.erb
  webpack/__mocks__/foremanReact/components/ToastsList/index.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsActions.test.js.snap
  webpack/scenes/Tasks/TaskActions.js
  webpack/scenes/Tasks/__tests__/__snapshots__/TaskActions.test.js.snap
  webpack/services/api/testHelpers.js
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed

#9827 Fixes #34070 - fix container registry with azure plugin
  app/lib/katello/resources/registry.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Needs testing, Not yet reviewed

#9811 Fixes #33919 - support on_demand repo cleaning
  app/controllers/katello/api/v2/capsule_content_controller.rb
  app/controllers/katello/api/v2/repositories_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/pulp3/capsule_content/reclaim_space.rb
  app/lib/actions/pulp3/repository/reclaim_space.rb
  app/models/katello/pulp3/repository_reference.rb
  app/services/katello/pulp3/api/core.rb
  app/views/foreman/smart_proxies/_content_sync.html.erb
  app/views/foreman/smart_proxies/_reclaim_space.html.erb
  app/views/foreman/smart_proxies/show.html.erb
  app/views/katello/api/v2/capsule_content/sync_status.json.rabl
  config/routes/api/v2.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/bastion-katello-bootstrap.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/bastion_katello.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/capsule-content/capsule-content.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/capsule-content/capsule-content.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/capsule-content/sync-state.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/product-repositories.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-reclaim-space-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details-reclaim-space-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/product-repositories-reclaim-space-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repository.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories-reclaim-space-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/pulp-primary/pulp-primary.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/pulp-primary/pulp-primary.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/pulp-primary/pulp-primary.module.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/pulp-primary/pulp-primary.routes.js
  engines/bastion_katello/test/capsules/capsule-content.controller.test.js
  engines/bastion_katello/test/capsules/capsule-content.factory.test.js
  engines/bastion_katello/test/products/details/product-repositories.controller.test.js
  engines/bastion_katello/test/products/details/repositories/details/repository-details-reclaim-space-modal.controller.test.js
  engines/bastion_katello/test/products/details/repositories/details/repository-details.controller.test.js
  engines/bastion_katello/test/products/details/repositories/product-repositories-reclaim-space-modal.controller.test.js
  engines/bastion_katello/test/pulp-primary/pulp-primary.controller.test.js
  engines/bastion_katello/test/pulp-primary/pulp-primary.factory.test.js
  lib/katello/permission_creator.rb
  lib/katello/plugin.rb
  test/actions/pulp3/capsule_content/reclaim_space_test.rb
  test/actions/pulp3/repository/reclaim_space_test.rb
  test/controllers/api/v2/capsule_content_controller_test.rb
  test/controllers/api/v2/repositories_bulk_actions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/capsule_content/reclaim_space/capsule_has_space_reclaimed.yml
  test/fixtures/vcr_cassettes/actions/pulp3/capsule_content/reclaim_space/immediate_pulp_mirror_error.yml
  test/fixtures/vcr_cassettes/actions/pulp3/capsule_content/reclaim_space/pulp_mirror_has_space_reclaimed.yml
  test/fixtures/vcr_cassettes/actions/pulp3/capsule_content/reclaim_space/pulp_primary_has_space_reclaimed.yml
  test/fixtures/vcr_cassettes/actions/pulp3/repository/reclaim_space/empty_repositories_error.yml
  test/fixtures/vcr_cassettes/actions/pulp3/repository/reclaim_space/no_on_demand_repositories_error.yml
  test/fixtures/vcr_cassettes/actions/pulp3/repository/reclaim_space/proper_repositories_have_space_reclaimed.yml
Labels: Needs testing, Not yet reviewed

#9605 Fixes #33398 - translate host details tabs
  webpack/global_index.js
Labels: Needs testing, Not yet reviewed

#9825 Refs #34063 - Clean up deprecated method call
  app/models/katello/host/subscription_facet.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9838 Fixes #34097 - support foreman tasks master
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#9817 Fixes #33576 - Add upgrade rake task to change repo url auth
  app/controllers/katello/api/v2/repositories_controller.rb
  lib/katello/tasks/upgrades/4.3/fix_url_auth.rake
Labels: Needs testing, Not yet reviewed

#9810 Fixes #33969 - UX Review 3 - Tooltips - Assorted UI tweaks
  webpack/components/AddedStatusLabel.js
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/EditableTextInput/editableTextInput.scss
  webpack/components/RoutedTabs/index.js
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/TableWrapper.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositoryTable.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentType.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/Rules/ContainerTag/AddEditContainerTagRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddEditPackageRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetails.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvErrataDateFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvErrataIDFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvModuleStreamFilter.test.js
  webpack/scenes/ContentViews/Details/Promote/ContentViewVersionPromote.js
  webpack/scenes/ContentViews/Details/Repositories/ContentCounts.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/LastSync.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionContent.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionErrata.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Publish/CVPublishForm.js
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed

#9780 Job template - Configure subman to new content source
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/views/foreman/job_templates/change_content_source.erb
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9826 don't configure minitest-reporters, Foreman does already
  katello.gemspec
  lib/katello/tasks/jenkins.rake
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor, Packaging Change

#9833 Fixes #34057 - CV Detail actions
  webpack/scenes/ContentViews/Copy/CopyContentViewForm.js
  webpack/scenes/ContentViews/Copy/CopyContentViewModal.js
  webpack/scenes/ContentViews/Copy/__tests__/copyContentView.test.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionFinish.js
  webpack/scenes/ContentViews/Delete/__tests__/contentViewDelete.test.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
Labels: Needs testing, Not yet reviewed

#9821 Fixes #34043 - UX Review - Actions on Version details page
  webpack/scenes/ContentViews/Details/Promote/ContentViewVersionPromote.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveCVVersionWizard.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVVersionDeleteFinish.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetails.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetailsEmpty.test.js
Labels: Needs testing, Not yet reviewed

#9836 Fixes #34060 - Content View Version Task polling bug
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsActions.test.js.snap
  webpack/scenes/Tasks/TaskActions.js
  webpack/scenes/Tasks/__tests__/__snapshots__/TaskActions.test.js.snap
Labels: Needs testing, Not yet reviewed

#9792 Fixes #33940 - Fix Errata installion on host collections
  app/models/katello/concerns/pulp_database_unit.rb
  test/models/erratum_test.rb
  test/support/auth_support.rb
Labels: Needs testing, Not yet reviewed

#9849 Fixes #34046 - UX Review - Spacing
  webpack/components/Content/Details/ContentDetails.js
  webpack/components/Content/Details/__tests__/__snapshots__/ContentDetails.test.js.snap
  webpack/components/RoutedTabs/index.js
  webpack/components/Table/TableWrapper.js
  webpack/components/TypeAhead/pf4Search/TypeAheadItems.js
  webpack/components/extensions/HostDetails/Tabs/ContentTab/index.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab.scss
  webpack/components/extensions/HostDetails/Tabs/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab.scss
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.scss
  webpack/components/extensions/HostDetails/Tabs/TracesTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab.scss
  webpack/containers/Application/config.js
  webpack/containers/Application/overrides.scss
  webpack/scenes/Content/ContentPage.js
  webpack/scenes/Content/Details/ContentDetails.js
  webpack/scenes/Content/Details/ContentInfo.js
  webpack/scenes/ContentViews/ContentViewsPage.js
  webpack/scenes/ContentViews/Copy/CopyContentViewForm.js
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewBulkAddModal.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/ContentViewInfo.js
  webpack/scenes/ContentViews/Details/DetailsContainer.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.scss
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/ContentViews/components/CVBreadCrumb.js
  webpack/scenes/ContentViews/components/ContentViewsCounter.js
  webpack/scenes/ContentViews/expansions/RelatedContentViewComponentsModal.js
Labels: Needs testing, Not yet reviewed

#9824 Make jest timeout configurable
  webpack/global_test_setup.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9847 Fixes #34128 - Smart proxy syncing of a specific LCE fails on Katello 4.2
  app/lib/actions/katello/capsule_content/sync_capsule.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9855 Fixes #34149 - Fix autocomplete search
  webpack/components/TypeAhead/pf4Search/TypeAheadItems.js
Labels: Needs testing, Not yet reviewed

#9837 Fixes #33655 - Add GraphQL type for host collections
  app/graphql/types/host_collection.rb
  app/services/katello/registration_manager.rb
  lib/katello/plugin.rb
  test/controllers/api/v2/host_collections_controller_test.rb
  test/fixtures/models/katello_host_collection_hosts.yml
  test/fixtures/models/katello_host_collections.yml
  test/graphql/queries/host_collection_query_test.rb
  test/graphql/queries/host_collections_query_test.rb
  test/models/host_collection_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Needs testing, Not yet reviewed

#9815 Fixes #34004 - Add deb-content to migration-stats
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Needs testing, Not yet reviewed

#9850 Fixes #34143 - Show synced audit result in sync status page
  app/views/katello/sync_management/_repo.html.erb
Labels: Needs testing, Not yet reviewed

#9842 Fixes #34110 - Delay host global status update
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Needs testing, Not yet reviewed

#9845 Fixes #34112 - Reword verify checksum suggestion during migration
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Needs testing, Not yet reviewed

#9862 Fixes #34182 - fix error message when import attribute is missing
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Needs testing, Not yet reviewed

#9858 Fixes #32379 - Autopublish switch reloads entire page
  webpack/components/ActionableDetail.js
  webpack/components/EditableSwitch.js
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/EditableTextInput/__tests__/editableTextInput.test.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewInfo.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
Labels: Needs testing, Not yet reviewed
