Repository Katello/katello, pull requests merged in 2022-09, with the labels that each got.

#10256 Fixes #35412 - Allow syncing collections without tags
  app/services/katello/pulp3/ansible_collection.rb
Labels: Ready for merge

#10257 Refs #35233 - ignore docker tags that have no meta tags during switchover
  app/services/katello/pulp3/migration_switchover.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10260 Refs #35370 - Add ouia-Ids to some more components
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf4Search/TypeAheadItems.js
  webpack/components/TypeAhead/pf4Search/TypeAheadSearch.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
Labels: Ready for merge

#10254 Fixes #35442 - Correctly validates non yum repo export
  app/lib/actions/pulp3/orchestration/content_view_version/export_library.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_repository.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/syncable_format_export.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
  test/support/export_support.rb
Labels: Ready for merge

#10261 Fixes #35482 - Add ACS name and label validation
  app/models/katello/alternate_content_source.rb
  test/models/katello/alternate_content_source_test.rb
Labels: Ready for merge

#10253 Fixes #35398 - Re-fetch host details when errata counts are out of date
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10259 Fixes #35459 - Non-enabled repository types make it into the apipie help-text
  app/controllers/katello/api/v2/repositories_controller.rb
  app/services/katello/repository_type.rb
  app/services/katello/repository_type_manager.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Ready for merge

#10264 Fixes #35499 - apipie param_group error host subs controller
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
Labels: Needs testing, Not yet reviewed

#10273 Fixes #35458 - Add environments param to candlepin update call
  app/lib/katello/resources/candlepin/consumer.rb
Labels: Ready for merge

#10265 Fixes #35501 - Hides generated component cvvs in composite
  app/controllers/katello/api/v2/content_view_components_controller.rb
  app/models/katello/content_view_component.rb
  test/models/content_view_component_test.rb
Labels: Ready for merge

#10262 Fixes #35484 - Unable to apply all Errata via Remote Execution on Web UI with "Select All"
  app/controllers/katello/api/v2/repositories_controller.rb
  app/services/katello/bulk_items_helper.rb
  test/services/katello/bulk_items_helper_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10276 Fix eslint on nightly
  webpack/.eslintrc.js
Labels: Not yet reviewed

#10277 Update changelog and version to 4.6 GA
  CHANGELOG.md
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10278 Fixes #35364 - Wait for content_action_finish_timeout or the task-result
  app/lib/actions/katello/agent_action.rb
  test/actions/katello/agent_action_tests.rb
Labels: Ready for merge

#10269 Fixes #35511 - Navigating to content view page from the left panel after creating a cv does not work
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Create/__tests__/createContentView.test.js
Labels: Not yet reviewed, Waiting on contributor

#10217 Fixes #35296 - New Custom CDN type
  app/lib/actions/katello/cdn_configuration/update.rb
  app/lib/katello/resources/candlepin.rb
  app/lib/katello/resources/cdn.rb
  app/models/katello/cdn_configuration.rb
  app/services/katello/pulp3/repository.rb
  db/migrate/20220730033504_update_custom_cdn.rb
  spec/models/product_spec.rb
  test/actions/katello/cdn_configuration/update_test.rb
  test/factories/cdn_configuration_factory.rb
  test/models/cdn_configuration_test.rb
  webpack/scenes/Organizations/OrganizationSelectors.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CdnConfigurationConstants.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CdnTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CustomCdnTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/ExportSyncForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/NetworkSyncForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/__tests__/CdnTypeForm.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/__tests__/CustomCdnTypeForm.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/__tests__/ExportSyncForm.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/__tests__/NetworkSyncForm.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10279 Fixes #35537 - ACS create wizard: review details step displays password in plaintext when manual auth is selected
  app/controllers/katello/api/v2/repositories_controller.rb
  test/controllers/api/v2/repositories_controller_test.rb
  webpack/scenes/AlternateContentSources/Create/Steps/ACSReview.js
Labels: Not yet reviewed, Waiting on contributor

#10270 Fixes #35512 - Don't trigger autosearch until you've typed an operator
  webpack/components/Search/Search.js
  webpack/components/Search/__tests__/search.test.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/__tests__/CVRpmMatchContentModal.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVContainerImageFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetails.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.test.js
Labels: Not yet reviewed, Waiting on contributor

#10274 Fixes #35517 - Redirect to library repo from CV version and hide actions on non-library repos
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailConfig.js
Labels: Ready for merge

#10280 Fixes #35539 - update recommended repos
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Not yet reviewed, Waiting on contributor

#10249 Fixes #35411 - Add ouiaId prop to all supported components in host details
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsCard.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsModal.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeEditModal.js
  webpack/components/extensions/HostDetails/DetailsTabCards/RegistrationCard.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackageInstallModal.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/EnableTracerModal.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesEnabler.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.js
  webpack/global_test_setup.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10281 Refs #35546 - don't translate archRestricted
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Not yet reviewed

#10267 Fixes #35505 - Syncable format Imports
  app/controllers/katello/api/v2/content_imports_controller.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/auto_create_redhat_repositories.rb
  app/lib/actions/katello/content_view_version/auto_create_repositories.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/katello/repository_set/enable_repository.rb
  app/lib/katello/resources/cdn/katello_cdn.rb
  app/models/katello/content.rb
  app/models/katello/content_view.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
  app/services/katello/pulp3/content_view_version/metadata_generator.rb
  app/services/katello/pulp3/content_view_version/metadata_map.rb
  test/actions/katello/content_view_version/import_test.rb
  test/services/katello/pulp3/content_view_version/import_test.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
  test/services/katello/pulp3/content_view_version/importable_repositories_test.rb
Labels: Ready for merge

#10283 Fixes #35534 - Repo Deletion with no feed url causes `ArgumentError`
  app/services/katello/pulp3/repository/yum.rb
Labels: Not yet reviewed

#10284 Fixes #35504 - Simplified ACSs are being created during content view publishing
  app/lib/actions/katello/repository/create.rb
  test/actions/katello/repository_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10287 Fixes #35552 - Filter failed capsule tasks by only sync
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Ready for merge

#10282 Fixes #35549 - Delete repo even when included in composite content view
  app/lib/actions/katello/repository/destroy.rb
  app/models/katello/authorization/repository.rb
  app/models/katello/repository.rb
  test/models/authorization/repository_authorization_test.rb
Labels: Ready for merge

#10286 Fixes #35548 - Change content source and registered_through proxy
  app/helpers/katello/content_source_helper.rb
Labels: Not yet reviewed, Waiting on contributor

#10271 Fixes #35516 - Reconfigure yggdrasil on content source change
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/helpers/katello/content_source_helper.rb
  app/views/foreman/job_templates/change_content_source.erb
Labels: Not yet reviewed

#10288 Fixes #35566 - provisioning templates for EL hosts incorrectly require kickstart repo
  app/lib/katello/concerns/renderer_extensions.rb
Labels: Ready for merge

#10290 Fixes #35567 - For non docker uploads require name/checksum
  app/controllers/katello/api/v2/repositories_controller.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Ready for merge

#10294 Fixes #35572 - Fails publish if repos have no content
  app/lib/actions/katello/content_view/promote.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/katello/util/candlepin_repository_checker.rb
  test/actions/katello/content_view_version/import_library_test.rb
  test/actions/katello/content_view_version/import_repository_test.rb
  test/actions/katello/content_view_version/import_test.rb
  test/actions/katello/repository_test.rb
  test/actions/pulp3/orchestration/yum_sync_test.rb
Labels: Waiting on contributor, Needs re-review, Ready for merge, Demo worthy
