Repository Katello/katello, pull requests merged in 2022-10, with the labels that each got.

#10301 Refs #35411 - Add missing ouiaId to Tabs
  webpack/components/extensions/HostDetails/Tabs/ContentTab/index.js
  webpack/scenes/ContentViews/Details/Filters/CVDebFilterContent.js
Labels: Not yet reviewed

#10302 [CP] Bump to 4.4.2.1
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10289 Fixes #35565 - ACS UX fixes - Wizard
  webpack/scenes/AlternateContentSources/ACSActions.js
  webpack/scenes/AlternateContentSources/Create/ACSCreateWizard.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSReview.js
  webpack/scenes/AlternateContentSources/Create/Steps/AcsUrlPaths.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditCredentials.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditDetails.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditProducts.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditSmartProxies.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditURLPaths.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSEdits.test.js
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
  webpack/scenes/AlternateContentSources/helpers.js
Labels: Not yet reviewed

#10295 Fixes #35575 - Always show toggle group when host is non-library
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
Labels: Not yet reviewed

#10304 Fixes #35596 - Repository sets shows reposets for sca
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
Labels: Not yet reviewed

#10298 Fixes #35588 - Prevent the deletion of content credentials when they are in use
  app/models/katello/content_credential.rb
  engines/bastion/app/assets/javascripts/bastion/components/notification.service.js
  engines/bastion/test/components/notification.service.test.js
  engines/bastion/vendor/assets/javascripts/bastion/angular/angular.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/details/content-credential-details.controller.js
  test/models/content_credential_test.rb
Labels: Ready for merge

#10314 i18n - pulling from tx
  .rubocop.yml
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Ready for merge

#10306 Fixes #35600 - Fix repository repair API call
  app/lib/actions/pulp3/repository/repair.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/repository.rb
  test/actions/pulp3/repository/repair_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/repository/repair/repair_task_succeeds.yml
Labels: Not yet reviewed

#10307 Fixes #35606 - Can syncably import from webserver
  app/lib/actions/katello/content_view/publish.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
Labels: Ready for merge

#10299 Fixes #35589 - Add repository subtab to CVV compare
  app/controllers/katello/api/v2/repositories_controller.rb
  app/presenters/katello/content_view_version_compare_presenter.rb
  app/views/katello/api/v2/repositories/compare.json.rabl
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompare.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareConfig.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionCompare.test.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/cvCompareRepositories.fixtures.json
Labels: Not yet reviewed

#10317 Fixes #35632 - As a user, when I click a link to a content host it should take me to the new host details page
  engines/bastion/app/views/bastion/layouts/assets.html.erb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  engines/bastion_katello/test/content-hosts/content-hosts.controller.test.js
Labels: Ready for merge

#10313 Fixes #35608 - Remove ACS from labs and place it in the Content section
  config/routes.rb
  lib/katello/plugin.rb
  webpack/containers/Application/config.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCreateFinish.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSEdits.test.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSExpandableDetails.test.js
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
Labels: Ready for merge

#10316 Fixes #35344 - Add Alternate Content Sources tab to content credentials
  app/views/katello/api/v2/content_credentials/show.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/content-credential.factory.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/content-credentials.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/details/content-credential-acs.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/details/views/content-credential-acs.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/details/views/content-credential-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/views/content-credentials.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/katello-features.run.js
  engines/bastion_katello/test/content-credentials/content-credentials.factory.test.js
  engines/bastion_katello/test/content-credentials/details/content-credential-acs.controller.test.js
Labels: Ready for merge

#10309 Fixes #35599 - Add rake task to identify missing content in Candlepin
  lib/katello/tasks/check_candlepin_content.rake
  test/fixtures/vcr_cassettes/katello/check_candlepin_content/candlepin_content_check_with_missing_repos.yml
  test/lib/tasks/check_candlepin_content_test.rb
Labels: Ready for merge

#10319 Fixes #35643 - Edit ansible_collections menu link to /content/ansible_collections
  lib/katello/plugin.rb
Labels: Not yet reviewed, Waiting on contributor

#10293 Fixes 35571 - ACS UI review findings part 2
  webpack/components/Loading.js
  webpack/scenes/AlternateContentSources/ACSActions.js
  webpack/scenes/AlternateContentSources/ACSIndexPage.js
  webpack/scenes/AlternateContentSources/ACSSelectors.js
  webpack/scenes/AlternateContentSources/Acs.scss
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCreateFinish.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCredentials.js
  webpack/scenes/AlternateContentSources/Create/Steps/AcsUrlPaths.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditCredentials.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSEdits.test.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSExpandableDetails.test.js
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
Labels: Not yet reviewed

#10300 Fixes #34897 - select ACS HTTP proxies per smart proxy
  app/controllers/katello/api/v2/alternate_content_sources_controller.rb
  app/controllers/katello/api/v2/capsule_content_controller.rb
  app/controllers/katello/concerns/api/v2/smart_proxies_controller_extensions.rb
  app/lib/actions/katello/repository/refresh_repository.rb
  app/lib/actions/pulp3/alternate_content_source/refresh_remote.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/refresh.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/refresh_remote.rb
  app/models/katello/alternate_content_source.rb
  app/models/katello/concerns/http_proxy_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/overrides/add_smart_proxy_form.rb
  app/services/katello/pulp3/alternate_content_source.rb
  app/views/katello/api/v2/alternate_content_sources/base.json.rabl
  app/views/overrides/smart_proxies/_acs_http_proxy.html.erb
  db/migrate/20220920173656_add_http_proxy_to_smart_proxy.rb
  db/migrate/20220920180858_remove_http_proxy_from_katello_alternate_content_sources.rb
  lib/katello/plugin.rb
  test/actions/katello/repository/update_redhat_repository_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_create_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_refresh_test.rb
  test/controllers/api/v2/alternate_content_sources_controller_test.rb
  test/controllers/api/v2/smart_proxies_controller_test.rb
  test/fixtures/test_repos/zoo/repodata/38212dcd79c8eb181c408d0366ed93daf03211eb46900e278b8b79f0c1ffca7e-comps.xml
  test/fixtures/test_repos/zoo/repodata/3c99740c1f78a5f550639983dc9e0a8f3c4147fc6f3a4d3e45dde87cddb0d8c4-comps.xml.gz
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/file_create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/yum_create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/yum_create_complex.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_updates_remote.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_with_acs.yml
  test/models/concerns/smart_proxy_extensions_test.rb
  test/models/katello/alternate_content_source_test.rb
  webpack/scenes/AlternateContentSources/Create/ACSCreateWizard.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCreateFinish.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSReview.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSSmartProxies.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditCredentials.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditSmartProxies.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditURLPaths.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSExpandableDetails.test.js
Labels: Not yet reviewed

#10318 Fixes #35633 - expose search params for product_content endpoints
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
Labels: Ready for merge

#10311 CVV Compare - Sorting compare tables
  webpack/components/Table/TableHooks.js
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditCredentials.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditURLPaths.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareConfig.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareTable.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionCompare.test.js
Labels: Not yet reviewed

#10305 Fixes #35595 - Add content profile to selectable columns
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/views/katello/hosts/_errata_counts.html.erb
  lib/katello/plugin.rb
Labels: Ready for merge

#10312 Fixes #35624 - Overwrite installation media
  app/models/katello/concerns/host_managed_extensions.rb
  app/views/overrides/activation_keys/_host_synced_content_select.html.erb
  test/helpers/hosts_and_hostgroups_helper_test.rb
Labels: Ready for merge

#10308 Fixes #35610 - CV filter copies modules not in the source repo
  app/models/katello/erratum.rb
Labels: Not yet reviewed

#10310 Fixes #33463 - Add RHUI ACS create wizard
  app/controllers/katello/api/v2/alternate_content_sources_controller.rb
  app/lib/actions/katello/alternate_content_source/create.rb
  app/lib/actions/katello/alternate_content_source/update.rb
  app/models/katello/alternate_content_source.rb
  app/models/katello/alternate_content_source_product.rb
  app/services/katello/pulp3/alternate_content_source.rb
  app/views/katello/api/v2/alternate_content_sources/base.json.rabl
  webpack/scenes/AlternateContentSources/Create/ACSCreateWizard.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCreateFinish.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCredentials.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSReview.js
  webpack/scenes/AlternateContentSources/Create/Steps/AcsUrlPaths.js
  webpack/scenes/AlternateContentSources/Create/Steps/SelectSource.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
  webpack/scenes/AlternateContentSources/helpers.js
Labels: Not yet reviewed

#10324 Fixes #35275 - Task group errors do not drill into child task errors
  app/services/katello/pulp3/task_group.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/task_group/error_with_errors.yml
Labels: Not yet reviewed, Waiting on contributor

#10323 Re-index module profile RPMs and add description back to module streams
  app/views/katello/api/v2/module_streams/show.json.rabl
  webpack/components/Content/Details/ContentDetails.js
  webpack/components/Content/Details/__tests__/__snapshots__/ContentDetails.test.js.snap
  webpack/scenes/ModuleStreams/Details/ModuleDetailsSchema.js
  webpack/scenes/ModuleStreams/Details/ModuleStreamDetails.js
  webpack/scenes/ModuleStreams/Details/__tests__/__snapshots__/ModuleStreamDetails.test.js.snap
Labels: Ready for merge

#10325 Fixes #33464 - Bulk ACS delete and refresh
  webpack/scenes/AlternateContentSources/ACSActions.js
  webpack/scenes/AlternateContentSources/ACSConstants.js
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
  webpack/scenes/AlternateContentSources/MainTable/__tests__/acsTable.test.js
  webpack/scenes/Tasks/helpers.js
Labels: Ready for merge

#10330 Fixes #35687 - add `ignore_types` to the Organizations controller
  app/controllers/katello/api/v2/organizations_controller.rb
Labels: Ready for merge

#10331 Fixes #35688 - Monkey patch pulp_container binding to allow syncing from 2.14 -> 2.10
  config/initializers/monkeys.rb
  lib/monkeys/try_pulp_container_path.rb
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_distribution_trees_repository/all_distribution_trees_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_distribution_trees_repository/no_package_environments_are_copied_despite_whitelist_ids.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/all_errata_copied_if_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/errata_copied_if_all_errata_packages_matches_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/errata_is_not_copied_if_errata_packages_are_not_all_found_in_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/proper_errata_copied_if_no_errata_packages_matches_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_empty_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_no_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_modulemd_defaults_repository/all_modulemd_defaults_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_even_if_no_groups_match.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_groups_repository/all_package_groups_copied_with_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_groups_repository/package_groups_as_a_filter_rule.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/copy_duplicated_errata.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_all_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_without_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_nonmatching_package_exclusion_filter_copies_everything.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_nonmatching_package_includion_filter_copies_no_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_duplicate_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_errata_exclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_errata_inclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_max_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_min_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_name_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_name_original_packages_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_srpms_repository/all_srpms_copied_despite_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/exclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/inclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_sync/sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/resync_limit_tags_deletes_proper_repo_association_meta_tags.yml
Labels: Not yet reviewed, Waiting on contributor
