Repository Katello/katello, pull requests merged in 2022-08, with the labels that each got.

#10207 Fixes #35263 - Index ModuleStreamErratumPackages properly
  app/services/katello/pulp/erratum.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/3.18/create_missing_module_stream_erratum_packages.rb
Labels: Needs testing, Not yet reviewed

#10205 Fixes #35220 - CV Version Compare - add support for different content types
  app/views/katello/api/v2/module_streams/compare.json.rabl
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompare.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompare.scss
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareConfig.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareHeader.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareTable.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionCompare.test.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionContainerTagsCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionDebPackagesCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionErrataCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionFilesCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionModuleStreamsCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionPackageGroupsCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionRPMPackagesCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionOneDetials.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionThreeDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionTwoDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateCVVersionOneDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateCVVersionTwoDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateContentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateContentViewVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10210 Fixes #35277 - make severity N/A filter work for empty severity
  app/controllers/katello/api/v2/host_errata_controller.rb
Labels: Ready for merge

#10213 i18n - pulling from tx for 4.6
  app/lib/actions/katello/applicability/hosts/bulk_generate.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10211 Fixes #35284 - Unhide SCA checkbox in org settings for edit
  app/controllers/katello/concerns/organizations_controller_extensions.rb
  app/views/overrides/organizations/_edit_override.html.erb
  app/views/overrides/organizations/_index_row_override.html.erb
  test/controllers/foreman/organizations_controller_test.rb
Labels: Ready for merge

#10184 Fixes #35026 - As a user, I can edit ACS on the UI
  app/views/katello/api/v2/alternate_content_sources/show.json.rabl
  webpack/scenes/AlternateContentSources/ACSActions.js
  webpack/scenes/AlternateContentSources/ACSConstants.js
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditCredentials.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditDetails.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditProducts.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditSmartProxies.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditURLPaths.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSEdits.test.js
  webpack/scenes/AlternateContentSources/Details/__tests__/acsProducts.fixtures.json
  webpack/scenes/AlternateContentSources/Details/__tests__/simplifiedAcsDetails.fixtures.json
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
Labels: Needs testing, Needs re-review

#10202 Fixes #35246 - Default cv creation error during seed
  app/models/katello/content_view.rb
  app/services/katello/organization_creator.rb
  test/actions/pulp3/orchestration/rpm_remove_units_test.rb
Labels: Needs testing, Not yet reviewed

#10219 Fixes #35313 - CV Version Compare - add other content types
  app/views/katello/api/v2/ansible_collections/compare.json.rabl
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareConfig.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionCompare.test.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionRPMPackagesCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionOneDetials.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionThreeDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionTwoDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateCVVersionOneDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateCVVersionTwoDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateContentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateContentViewVersions.fixtures.json
Labels: Needs testing, Not yet reviewed

#10221 Fixes #35329 - useTableSort should translate params
  webpack/components/Table/TableHooks.js
Labels: Needs testing, Not yet reviewed

#10227 Fixes #35323 - CV Version Compare - add view by different/same
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompare.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareConfig.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareHeader.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareTable.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/AnsibleCollectionsCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionCompare.test.js
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionContainerTagsCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionEmptyContentCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/CVVersionPackageGroupsCompareData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/ContainerTagsCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/DebPackagesCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/ErrataCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/ErrataCompareThreeContentTypesData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/FilesCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/FilesCompareThreeContentTypesData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/ModuleStreamsCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/PackageGroupsCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/PythonPackagesCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/RPMPackagesCompareAllContentData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/RPMPackagesCompareThreeContentTypesData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
Labels: Needs testing, Not yet reviewed

#10218 Fixes #35312 - Write contentAccessModeList on org create or update; add checkbox to create screen
  app/controllers/katello/api/v2/organizations_controller.rb
  app/controllers/katello/concerns/organizations_controller_extensions.rb
  app/lib/katello/resources/candlepin/owner.rb
  app/models/katello/glue/candlepin/owner.rb
  app/services/katello/organization_creator.rb
  app/views/overrides/organizations/_step_1_override.html.erb
  test/fixtures/vcr_cassettes/katello/certs/verify_ueber_cert_changes.yml
  test/fixtures/vcr_cassettes/katello/certs/verify_ueber_cert_no_change.yml
  test/fixtures/vcr_cassettes/katello/host/hypervisors_vcr/altered_hypervisor_id.yml
  test/fixtures/vcr_cassettes/katello/host/hypervisors_vcr/duplicate_hostname.yml
  test/fixtures/vcr_cassettes/lib/tasks/regenerate_ueber_certs.yml
  test/fixtures/vcr_cassettes/scenarios/import_manifest_manifest_small_modified_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_manifest_manifest_small_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_products_manifest_small_modified_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_products_manifest_small_zip.yml
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/repository_create/update_org_service_level.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
  test/services/katello/organization_creator_test.rb
Labels: Ready for merge

#10226 Fixes #35341 - Unpin faraday
  katello.gemspec
Labels: Ready for merge

#10230 Bump master version to 4.7.0-master
  lib/katello/version.rb
Labels: Ready for merge

#10224 Fixes #35336 - System purpose card should not show when host is unregistered
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeCard.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/__tests__/SystemPurposeCard.test.js
  webpack/components/extensions/HostDetails/DetailsTabCards/HwPropertiesCard.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10214 Fixes #35290 - Katello rpm search via nvra also
  app/models/katello/rpm.rb
Labels: Ready for merge

#10225 Fixes #35337 - Index ModuleStreamErratumPackages correctly in first run
  app/services/katello/pulp3/erratum.rb
Labels: Ready for merge

#10222 Fixes #35045 - fixed the issue that all errata are applied when only certain errata selected
  webpack/components/Table/TableHooks.js
  webpack/components/Table/__test__/useBulkSelect.test.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10232 Release 4.6.0.rc1
  CHANGELOG.md
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10229 Fixes #35120 - Indexing with additive content
  app/services/katello/content_unit_indexer.rb
Labels: Ready for merge

#10234 Fixes #34973 - New host details: Hide module streams tab for EL7 hosts
  webpack/components/extensions/HostDetails/Tabs/ContentTab/constants.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
Labels: Ready for merge

#10216 Fixes #35295 - Details tab cards - Switch to masonry card layout inst…
  webpack/components/extensions/HostDetails/DetailsTabCards/HwPropertiesCard.js
  webpack/components/extensions/HostDetails/DetailsTabCards/InstalledProductsCard.js
  webpack/components/extensions/HostDetails/DetailsTabCards/RegistrationCard.js
Labels: Ready for merge

#10235 Fixes #35367 - Add legacy ch host ui button to new host page
  webpack/components/extensions/HostDetails/ActionsBar/index.js
Labels: Ready for merge

#10212 Update reset rake script to remove missing redis service error
  lib/katello/tasks/reset.rake
Labels: Ready for merge

#10245 Fixes #35394 - Skip upload tests while waiting on updated pulp bindings that upgrade Faraday to 1.0.1
  test/actions/pulp3/orchestration/file_upload_test.rb
  test/actions/pulp3/orchestration/rpm_upload_test.rb
  test/services/katello/pulp3/content_test.rb
  test/services/katello/pulp3/repository_integration_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10237 Fixes #35369 - Moved the syncable repo exports to a different cv
  app/controllers/katello/api/v2/content_views_controller.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_library.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_repository.rb
  app/models/katello/content_view.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/views/katello/api/v2/capsule_content/sync_status.json.rabl
  app/views/katello/api/v2/organizations/show.json.rabl
  test/services/katello/pulp3/content_view_version/export_test.rb
Labels: Needs testing, Not yet reviewed

#10204 Fixes #35247 - Can Import/Export docker content
  app/models/katello/repository.rb
  app/services/katello/pulp3/api/generic.rb
  app/services/katello/pulp3/repository.rb
  test/models/content_view_repository_test.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
Labels: Ready for merge

#10236 Fixes #35368 - Prevent multiple envs in host registration
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
Labels: Ready for merge

#10243 Fixes #35386 - Prevents AK destroy if associated to HG
  app/lib/actions/katello/activation_key/destroy.rb
  app/models/katello/activation_key.rb
  test/models/activation_key_test.rb
Labels: Ready for merge

#10240 Refs #35246 - Update hash of seed file with minor comment change to ensure db:seed runs
  db/seeds.d/102-organizations.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10247 Fixes #35407 - Add audit to capsule sync
  app/lib/actions/katello/capsule_content/sync.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Ready for merge

#10223 Fixes #35410 - Fix a pathing issue on exports
  app/services/katello/pulp3/content_view_version/export.rb
  test/fixtures/vcr_cassettes/actions/katello/content_view_version/export/create_exporter.yml
  test/fixtures/vcr_cassettes/actions/katello/content_view_version/export/destroy_exporter.yml
  test/fixtures/vcr_cassettes/actions/katello/content_view_version/export/export.yml
  test/services/katello/pulp3/content_view_version/export_test.rb
Labels: Needs testing, Not yet reviewed

#10246 Fixes #35399 - Fix occasional text overflow in errata overview card
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.scss
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10238 Fixes #35370 - Add ouia-ids to CV UI components
  webpack/components/Bookmark/index.js
  webpack/components/EditableSwitch.js
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/RoutedTabs/index.js
  webpack/components/Table/PageControls.js
  webpack/global_test_setup.js
  webpack/ouia_id_check.js
  webpack/scenes/ContentViews/ContentViewsPage.js
  webpack/scenes/ContentViews/Copy/CopyContentViewForm.js
  webpack/scenes/ContentViews/Copy/CopyContentViewModal.js
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Create/CreateContentViewModal.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeleteEnvironmentsSelection.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionReassignActivationKeysForm.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionReassignHostsForm.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewBulkAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentVersion.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ContentViewInfo.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositorySelection.js
  webpack/scenes/ContentViews/Details/Filters/ArtifactsWithNoErrata.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/CVRpmMatchContentModal.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Promote/ContentViewVersionPromote.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReviewEnvironments.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareTable.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVEnvironmentSelectionForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignActivationKeysForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignHostsForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedHosts.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsTable.js
  webpack/scenes/ContentViews/Publish/CVPublishForm.js
  webpack/scenes/ContentViews/Publish/CVPublishReview.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/components/CVBreadCrumb.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.js
  webpack/scenes/ContentViews/components/InactiveText.js
  webpack/scenes/ContentViews/expansions/RelatedCompositeContentViewsModal.js
  webpack/scenes/ContentViews/expansions/RelatedContentViewComponentsModal.js
Labels: Needs testing, Not yet reviewed

#10248 Fixes #35395 - Stop skipping upload tests that depend on updated faraday
  test/actions/pulp3/orchestration/file_upload_test.rb
  test/actions/pulp3/orchestration/rpm_upload_test.rb
  test/services/katello/pulp3/content_test.rb
  test/services/katello/pulp3/repository_integration_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10244 Fixes #35235 - add name/label field validation to CreateContentViewForm
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Create/__tests__/createContentView.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10242 Fixes #35382 - Add rake task to refresh repos on all pulp proxies
  lib/katello/tasks/refresh_repos.rake
  test/lib/tasks/refresh_repos_test.rb
Labels: Ready for merge

#10255 [CP] - Cherry picks for 4.6rc2
  CHANGELOG.md
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/content_views_controller.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_library.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_repository.rb
  app/models/katello/content_view.rb
  app/models/katello/repository.rb
  app/models/katello/rpm.rb
  app/services/katello/pulp3/api/generic.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/repository.rb
  app/views/katello/api/v2/capsule_content/sync_status.json.rabl
  app/views/katello/api/v2/organizations/show.json.rabl
  katello.gemspec
  lib/katello/tasks/refresh_repos.rake
  lib/katello/version.rb
  test/controllers/api/rhsm/candlepin_proxies_controller_test.rb
  test/lib/tasks/refresh_repos_test.rb
  test/models/content_view_repository_test.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
  webpack/components/extensions/HostDetails/ActionsBar/index.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeCard.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/__tests__/SystemPurposeCard.test.js
  webpack/components/extensions/HostDetails/DetailsTabCards/HwPropertiesCard.js
  webpack/components/extensions/HostDetails/DetailsTabCards/InstalledProductsCard.js
  webpack/components/extensions/HostDetails/DetailsTabCards/RegistrationCard.js
Labels: Ready for merge, Packaging Change

#10239 Fixes #35372 - Add host collections card empty state
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsCard.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsCard.scss
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/__tests__/hostCollectionsCard.test.js
Labels: Needs testing, Not yet reviewed

#10250 Fixes #35425 - Can import prod/repo with diff label but same name
  app/lib/actions/katello/product/destroy.rb
  app/models/katello/content_view_version.rb
  app/services/katello/pulp3/content_view_version/importable_products.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
  test/actions/katello/product_test.rb
  test/services/katello/pulp3/content_view_version/importable_products_test.rb
  test/services/katello/pulp3/content_view_version/importable_repositories_test.rb
Labels: Ready for merge

#10251 Fixes #35435 - Remove unused jquery.trunk8 vendored library
  app/assets/javascripts/katello/common/vendor.js
  vendor/assets/javascripts/katello/jquery.trunk8.js
Labels: Needs testing, Not yet reviewed
