Repository Katello/katello, pull requests merged in 2022-03, with the labels that each got.

#9974 Fixes #34508 - Creating repo stop working after any validation error
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
Labels: Ready for merge

#9972 Fixes #34497 - Pulp 3 migration underestimates migration time
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Needs testing, Not yet reviewed

#9988 fixes #34531 - Resolving a bad migration for CdnConfiguration
  app/services/katello/organization_creator.rb
  db/migrate/20220124191056_add_type_to_cdn_configuration.rb
Labels: Needs testing, Not yet reviewed

#9978 Fixes #34519 - Check CV and LCE while updating CDN config
  app/controllers/katello/api/v2/content_views_controller.rb
  app/controllers/katello/api/v2/environments_controller.rb
  app/lib/actions/katello/cdn_configuration/update.rb
  app/lib/katello/resources/cdn/katello_cdn.rb
  app/models/katello/cdn_configuration.rb
  app/models/katello/kt_environment.rb
  test/actions/katello/cdn_configuration/update_test.rb
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/UpstreamServerTypeForm.js
Labels: Needs testing, Not yet reviewed

#9986 Fixes #34432 - Remove drpm from ignorable_content for roots
  db/migrate/20220228173251_remove_drpm_from_ignorable_content.rb
Labels: Needs testing, Not yet reviewed

#9981 Fixes #34522 - Add deprecation warnings for non-SCA
  app/models/katello/concerns/organization_extensions.rb
  engines/bastion/README.md
  engines/bastion/app/views/bastion/layouts/assets.html.erb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/views/content-access-mode-banner.html
  engines/bastion_katello/test/activation-keys/details/activation-key-details.controller.test.js
  engines/bastion_katello/test/content-hosts/details/content-host-details.controller.test.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
Labels: Needs testing, Not yet reviewed

#9990 Refs #34527 - Add Host Collections card
  app/views/katello/api/v2/hosts/host_collections.json.rabl
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard.js
  webpack/components/extensions/HostDetails/Cards/__tests__/contentViewDetailsCard.test.js
  webpack/components/extensions/HostDetails/Cards/__tests__/hostCollectionsCard.test.js
  webpack/global_index.js
Labels: Ready for merge

#9987 Fixes #34530 - update smart proxy after setting unauthenticated pull
  app/controllers/katello/api/v2/environments_controller.rb
  test/controllers/api/v2/environments_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9999 Fixes #34559 - Patternfly update causes tabs to navigate twice on click
  webpack/components/RoutedTabs/index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9991 Fixes #34539 - handle missing resources on migration
  app/lib/actions/pulp3/abstract_async_task.rb
Labels: Needs testing, Not yet reviewed

#9992 Fixes #34540 - more resiliant content creation
  app/lib/actions/katello/product/content_create.rb
Labels: Needs testing, Not yet reviewed

#9996 Fixes #34550 - run no migration tasks if nothing to migrate
  app/services/katello/pulp3/migration.rb
  app/services/katello/pulp3/migration_plan.rb
Labels: Ready for merge

#10000 Fixes #34561 - Fix grammar on sync plan page
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/views/sync-plan-products.html
Labels: Needs testing, Not yet reviewed

#9997 Fixes #34549 - Deduplicate errata records
  db/migrate/20220303160220_remove_duplicate_errata.rb
Labels: Needs testing, Not yet reviewed

#10001 Fixes #34568 - Enabling ISO Repository Fails
  app/models/katello/candlepin/repository_mapper.rb
Labels: Needs testing, Not yet reviewed

#9985 Fixes #34528 - Show puppet module count on composite cv add page
  app/models/katello/content_view_version.rb
  test/models/content_view_version_test.rb
Labels: Ready for merge

#9984 fixes #34518 - Content Import failure removes generated version
  app/lib/actions/katello/content_view/destroy.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/models/katello/events/delete_latest_content_view_version.rb
  app/services/katello/ui_notifications/content_view/delete_latest_version_failure.rb
  db/seeds.d/110-content-view-autopublish.rb
  lib/katello/engine.rb
Labels: Ready for merge

#9994 Fixes #34541 - Check arch and version of enabled repo with ISS
  app/lib/katello/resources/cdn/katello_cdn.rb
  app/models/katello/candlepin/repository_mapper.rb
  test/fixtures/response_fixtures/katelllo_cdn_response_with_version.json
  test/fixtures/response_fixtures/katello_cdn_reponse_with_arch.json
  test/katello_test_helper.rb
  test/lib/resources/katello_cdn_test.rb
Labels: Needs testing, Not yet reviewed

#10002 Refs #34072 - Address useBulkSelect slowness when per_page is high
  webpack/components/Table/TableHooks.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
Labels: Needs testing, Not yet reviewed

#9942 Fixes #34320 - Hide Katello tabs & cards on new host detail page when host is unregistered
  app/services/katello/registration_manager.rb
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
  webpack/components/extensions/HostDetails/Cards/__tests__/contentViewDetailsCard.test.js
  webpack/components/extensions/HostDetails/Cards/__tests__/errataOverviewCard.test.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/hostDetailsHelpers.js
  webpack/global_index.js
Labels: Needs testing, Not yet reviewed

#9944 Fixes #34501 - Refactor CV import to use MetadataMap + support cp_id product lookup
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/katello/content_view_version/auto_create_products.rb
  app/lib/actions/katello/content_view_version/auto_create_redhat_repositories.rb
  app/lib/actions/katello/content_view_version/auto_create_repositories.rb
  app/lib/actions/katello/content_view_version/import.rb
  app/lib/actions/katello/content_view_version/reset_content_view_repositories_from_metadata.rb
  app/lib/actions/pulp3/content_view_version/create_import.rb
  app/lib/actions/pulp3/content_view_version/create_importer.rb
  app/lib/actions/pulp3/content_view_version/destroy_importer.rb
  app/lib/actions/pulp3/orchestration/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/content_view_version/import_export_common.rb
  app/services/katello/pulp3/content_view_version/import_gpg_keys.rb
  app/services/katello/pulp3/content_view_version/import_validator.rb
  app/services/katello/pulp3/content_view_version/importable_products.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
  app/services/katello/pulp3/content_view_version/metadata_generator.rb
  app/services/katello/pulp3/content_view_version/metadata_map.rb
  test/actions/katello/content_view_version/import_library_test.rb
  test/actions/katello/content_view_version/import_repository_test.rb
  test/actions/katello/content_view_version/import_test.rb
  test/actions/pulp3/orchestration/export_test.rb
  test/fixtures/import-export/metadata.json
  test/fixtures/import-export/metadata_complete_library.json
  test/fixtures/import-export/metadata_incremental_cp_id.json
  test/fixtures/models/katello_content_view_repositories.yml
  test/models/content_view_repository_test.rb
  test/services/katello/pulp3/content_view_version/import_gpg_keys_test.rb
  test/services/katello/pulp3/content_view_version/import_test.rb
  test/services/katello/pulp3/content_view_version/import_validator_test.rb
  test/services/katello/pulp3/content_view_version/importable_products_test.rb
  test/services/katello/pulp3/content_view_version/importable_repositories_test.rb
  test/services/katello/pulp3/content_view_version/metadata_map_test.rb
Labels: Needs testing, Waiting on contributor, Needs re-review

#9998 Fixes #34548 - Host collections Add & Remove modals
  app/controllers/katello/concerns/api/v2/hosts_controller_extensions.rb
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsActions.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsCard.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsConstants.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsModal.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsSelectors.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/__tests__/availableHostCollections.fixtures.json
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/__tests__/hostCollectionsCard.test.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/__tests__/hostCollectionsModal.test.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/__tests__/removableHostCollections.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/HostErrataActions.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsActions.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/HostPackagesActions.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionActions.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsActions.js
  webpack/global_index.js
  webpack/scenes/Tasks/helpers.js
Labels: Needs testing, Not yet reviewed

#10006 Fixes #34576 - Additional steps before deleting repo from CVs
  app/models/katello/authorization/repository.rb
  app/models/setting/content.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  engines/bastion/app/assets/javascripts/bastion/components/bst-modal.directive.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details.controller.test.js
Labels: Needs testing, Not yet reviewed

#10008 Fixes #34429 - properly return gpg key in repos json
  app/views/katello/api/v2/repositories/show.json.rabl
Labels: Needs testing, Not yet reviewed

#9899 Fixes #34169 - Support bulk deleting versions
  webpack/components/Table/TableHooks.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/global_test_setup.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/ActionSummary.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/BulkDeleteContextWrapper.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/BulkDeleteHelpers.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/BulkDeleteModal.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ConfirmBulkDelete.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/FinishBulkDelete.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignHosts.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReviewEnvironments.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/BulkDeleteModal.test.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/BulkDeleteVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/contentView.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/contentViewVersion.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/environmentPaths.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/hosts.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/bulkDeleteSteps.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVVersionRemoveReview.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/components/TaskPresenter/TaskPresenter.js
Labels: Needs testing, Not yet reviewed

#10015 Fixes #34617 - correct ssl verify param for repo discovery
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/discovery-create.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/views/discovery-create.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/products.routes.js
  engines/bastion_katello/test/products/discovery/discovery.controller.test.js
Labels: Ready for merge

#10010 Fixes #34591 - migrate deb-repo attributes
  lib/katello/tasks/pulp2to3_migrate_deb_attributes.rake
Labels: Needs testing, Not yet reviewed

#10013 Fixes #34609 - Entitlement report double counts consumed entitlements
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10023 Fixes #34633 - Add Epoch to CV version RPM packages page
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailConfig.js
Labels: Ready for merge

#10020 Fixes #34626 - Default to Content only mirroring policy on the UI
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/mirroring-policy.service.js
Labels: Needs testing, Not yet reviewed

#10024 Fixes #34630 - Errata Filters Date do not show "Start Date" & "End Date"
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10005 Fixes #34582 - Add policy streamed for smart-proxy
  app/helpers/katello/concerns/smart_proxy_helper_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Ready for merge

#10027 Fixes #34660: Reload old recurring logic when updating sync plan
  app/models/katello/sync_plan.rb
Labels: Needs testing, Not yet reviewed

#10003 Fixes #34577 - Update sat/cap/tools/client repos for 6.11
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Ready for merge

#10007 Fixes #34586 - Add autocomplete for rpm and container rule modals
  webpack/components/Search/Search.js
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf4Search/TypeAheadSearch.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/Rules/ContainerTag/AddEditContainerTagRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddEditPackageRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVContainerImageFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
Labels: Needs testing, Not yet reviewed

#10034 Fixes #34680 - return http 422 on lock conflict
  app/lib/katello/api/v2/error_handling.rb
Labels: Needs testing, Not yet reviewed

#10031 Fixes #33591 - Wrong kickstart repo shown in Edit Host page
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  test/helpers/hosts_and_hostgroups_helper_test.rb
Labels: Needs testing, Not yet reviewed

#10030 Fixes #34671 - clarify sync error on smart proxy sync
  engines/bastion_katello/app/assets/javascripts/bastion_katello/capsule-content/capsule-content.controller.js
Labels: Needs testing, Not yet reviewed

#10019 Fixes #34620 - Show toast linking to REX job
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackageInstallModal.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionActions.js
  webpack/scenes/Tasks/helpers.js
Labels: Ready for merge

#10038 Fixes #34692 - Add ouia-id's to all PF4 tables
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsModal.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackageInstallModal.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.js
  webpack/scenes/Content/Details/ContentRepositories.js
  webpack/scenes/Content/Table/ContentTable.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositoryTable.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/CVRpmMatchContentModal.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedHosts.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsTable.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/expansions/RelatedContentViewComponentsModal.js
Labels: Needs testing, Not yet reviewed

#10011 Fixes #34608 - use only public setting interface
  lib/katello/tasks/update_content_default_http_proxy.rake
  test/actions/pulp3/orchestration/file_sync_test.rb
  test/lib/tasks/http_proxy_tasks_test.rb
  test/models/rpm_test.rb
  test/models/setting/default_http_proxy_setting_test.rb
  test/models/setting_test.rb
  test/models/srpm_test.rb
Labels: Needs testing, Not yet reviewed

#10022 Fixes #34632 - Add bookmarks to React content pages
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-module-streams.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-installed.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-traces.controller.js
  engines/bastion_katello/test/content-hosts/content/content-host-errata.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-packages-applicable.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-packages-installed.controller.test.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/__tests__/moduleStreamsTab.test.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
Labels: Ready for merge

#10029 Fixes #34670 - Cross page bulk select for repository tab
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
Labels: Needs testing, Not yet reviewed

#10041 Fixes #34703 - Destroy duplicate errata child records
  db/migrate/20220303160220_remove_duplicate_errata.rb
Labels: Needs testing, Not yet reviewed
