Repository Katello/katello, pull requests merged in 2022-04, with the labels that each got.

#10039 Fixes #34695 - add methods to jail for new repo report template
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/repository.rb
Labels: Needs testing, Not yet reviewed

#10012 Fixes #34599 - CV UI - Wizard bug fixes
  webpack/scenes/ContentViews/ContentViewsActions.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Delete/ContentViewDeleteWizard.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionFinish.js
  webpack/scenes/ContentViews/Delete/__tests__/contentViewDelete.test.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/DetailsContainer.js
  webpack/scenes/ContentViews/Details/Promote/ContentViewVersionPromote.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/FinishBulkDelete.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveCVVersionWizard.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVVersionDeleteFinish.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Publish/CVPublishFinish.js
  webpack/scenes/ContentViews/Publish/PublishContentViewWizard.js
  webpack/scenes/ContentViews/Publish/__tests__/publishContentView.test.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/components/TaskPresenter/TaskPresenter.js
  webpack/scenes/Tasks/TaskActions.js
  webpack/scenes/Tasks/TaskSelectors.js
Labels: Needs testing, Needs re-review

#10021 Fixes #34628 - Add TranslatedPlural component
  webpack/components/Errata/index.js
  webpack/components/Table/components/TranslatedPlural.js
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
  webpack/components/extensions/HostDetails/Cards/__tests__/errataOverviewCard.test.js
Labels: Needs testing, Not yet reviewed

#10047 Fixes #34587 - Delete unused settings from DB
  db/migrate/20220404190836_delete_old_setting_data.rb
Labels: Ready for merge

#10035 Fixes #34383 - No hammer output for composite incremental update
  app/lib/actions/katello/content_view/incremental_updates.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  test/actions/katello/content_view_test.rb
Labels: Needs testing, Not yet reviewed

#10055 Fixes #34707 - Uploaded Rpm(s) replaces Rpm(s) currently in repository
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/models/katello/concerns/pulp_database_unit.rb
  app/services/katello/content_unit_indexer.rb
  test/actions/pulp3/orchestration/rpm_upload_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload_binary.yml
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10048 Refs #34698 - Add kebab to change a host's content view
  app/models/katello/content_view.rb
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/HostContentViewActions.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/HostContentViewConstants.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/__tests__/changeHostCVModal.test.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/__tests__/contentViewDetailsCard.test.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/__tests__/contentViews.fixtures.json
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/__tests__/envPaths.fixtures.json
  webpack/global_index.js
  webpack/global_test_setup.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/components/ContentViewIcon.js
  webpack/scenes/ContentViews/components/EnvironmentLabels.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.scss
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10028 Fixes #34663 - Filter module streams by status and installation status
  app/controllers/katello/api/v2/host_module_streams_controller.rb
  app/models/katello/host_available_module_stream.rb
  app/views/katello/api/v2/host_module_streams/base.json.rabl
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsConstants.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/__tests__/moduleStreamsTab.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10056 Fixes #34753 - add ouiaId prop to update buttons in CDN configuration
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/AirGappedTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CdnTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/UpstreamServerTypeForm.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10049 Fixes #34729 - Update name/checksum to required on repo upload
  app/controllers/katello/api/v2/repositories_controller.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Ready for merge

#10052 Fixes #34733 - Display repository sets with Air-gapped
  app/controllers/katello/api/v2/repository_sets_controller.rb
Labels: Needs testing, Not yet reviewed

#10057 Fixes #34736 - Show added filter rule content even if repository is removed
  app/controllers/katello/api/v2/errata_controller.rb
  app/controllers/katello/api/v2/module_streams_controller.rb
  app/controllers/katello/api/v2/package_groups_controller.rb
Labels: Ready for merge

#10062 Fixes #34770 - Pin pulp_rpm_client to <3.17.5
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Packaging Change

#10061 Fixes #34766 - Show sync progress for never synced repos
  app/views/katello/sync_management/_repo.html.erb
Labels: Ready for merge

#10051 Fixes #34743 - Disable update all if no katello-agent
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-applicable.html
Labels: Needs testing, Not yet reviewed

#10060 Fixes #34760 - Hide profiles for module streams
  app/views/katello/api/v2/module_streams/show.json.rabl
  webpack/scenes/ModuleStreams/Details/ModuleDetailsSchema.js
  webpack/scenes/ModuleStreams/Details/ModuleStreamDetails.js
  webpack/scenes/ModuleStreams/Details/__tests__/__snapshots__/ModuleStreamDetails.test.js.snap
Labels: Ready for merge

#10053 Fixes #34749 - Add ouia-ids to CV buttons
  webpack/scenes/ContentViews/Copy/CopyContentViewForm.js
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewBulkAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositoryTable.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/Rules/ContainerTag/AddEditContainerTagRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddEditPackageRuleModal.js
  webpack/scenes/ContentViews/Details/Promote/ContentViewVersionPromote.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignHosts.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Publish/CVPublishFinish.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/expansions/RelatedCompositeContentViewsModal.js
  webpack/scenes/ContentViews/expansions/RelatedContentViewComponentsModal.js
Labels: Needs testing, Not yet reviewed

#10067 Fixes #34788 - render smart_proxies/show also for non-content
  app/views/foreman/smart_proxies/show.html.erb
Labels: Needs testing, Not yet reviewed

#10063 Fixes #34771 - Delete duplicate ContentFacetErratum records during migration
  db/migrate/20220303160220_remove_duplicate_errata.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10070 Fixes #34797 - Host detail page sentence case fixes
  app/models/katello/purpose_sla_status.rb
  app/models/katello/purpose_status.rb
  test/models/purpose_status_test.rb
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
Labels: Needs testing, Not yet reviewed

#10069 Fixes #34795 - Add Deb Repository releases detailed info in GUI
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10075 Fixes #34816 - Add Installed Products card
  webpack/components/extensions/HostDetails/DetailsTabCards/InstalledProductsCard.js
  webpack/global_index.js
Labels: Ready for merge

#10071 Fixes #34808 - Repository Sets status tab
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/presenters/katello/product_content_presenter.rb
  app/services/katello/product_content_finder.rb
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsConstants.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
Labels: Needs testing, Not yet reviewed

#10068 Fixes #34793 - Add Deb repositories and packages in Lifecycle Environment
  app/views/katello/api/v2/environments/show.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/content.service.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-deb-repositories.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/views/environment-debs.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/environments.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/views/environments.html
  engines/bastion_katello/test/environments/content.service.test.js
Labels: Ready for merge

#10045 Fixes #34711 - Search hosts by repository
  app/models/katello/concerns/content_facet_host_extensions.rb
  app/models/katello/host/content_facet.rb
  test/fixtures/models/katello_content_facet_repositories.yml
  test/models/host/content_facet_test.rb
Labels: Needs testing, Needs re-review, Ready for merge

#10064 Fixes #33608 - Use settings DSL
  app/lib/katello/validators/content_default_http_proxy_setting_validator.rb
  app/models/katello/concerns/setting_extensions.rb
  app/models/setting/content.rb
  app/services/katello/applicable_host_queue.rb
  db/migrate/20171025163149_remove_use_pulp_oauth_setting.rb
  db/migrate/20171114150937_cleanup_installed_packages.rb
  db/migrate/20180402160223_clean_up_force_post_sync_action_setting.rb
  db/migrate/20211129200124_remove_dependency_solving_algorithm_setting.rb
  db/migrate/20220110223754_update_disconnected_settings.rb
  db/migrate/20220209205137_expand_sync_timeout_settings.rb
  db/migrate/20220419193414_content_settings_to_dsl_category.rb
  lib/katello/engine.rb
  lib/katello/plugin.rb
  test/katello_test_helper.rb
Labels: Needs testing, Not yet reviewed

#9906 Fixes #34034 - CRUD Alternate Content Sources via the API (yum and file)
  app/controllers/katello/api/v2/alternate_content_sources_controller.rb
  app/lib/actions/katello/alternate_content_source/create.rb
  app/lib/actions/katello/alternate_content_source/destroy.rb
  app/lib/actions/katello/alternate_content_source/update.rb
  app/lib/actions/pulp3/alternate_content_source/create.rb
  app/lib/actions/pulp3/alternate_content_source/create_remote.rb
  app/lib/actions/pulp3/alternate_content_source/delete.rb
  app/lib/actions/pulp3/alternate_content_source/delete_remote.rb
  app/lib/actions/pulp3/alternate_content_source/update.rb
  app/lib/actions/pulp3/alternate_content_source/update_remote.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/create.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/delete.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/update.rb
  app/lib/katello/validators/alternate_content_source_path_validator.rb
  app/models/katello/alternate_content_source.rb
  app/models/katello/authorization/alternate_content_source.rb
  app/models/katello/concerns/http_proxy_extensions.rb
  app/models/katello/content_credential.rb
  app/models/katello/smart_proxy_alternate_content_source.rb
  app/services/katello/pulp3/alternate_content_source.rb
  app/services/katello/pulp3/api/file.rb
  app/services/katello/pulp3/api/yum.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/service_common.rb
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
  app/views/katello/api/v2/alternate_content_sources/base.json.rabl
  app/views/katello/api/v2/alternate_content_sources/index.json.rabl
  app/views/katello/api/v2/alternate_content_sources/show.json.rabl
  config/routes/api/v2.rb
  db/migrate/20220117151612_add_alternate_content_sources.rb
  lib/katello/permission_creator.rb
  test/actions/katello/alternate_content_source_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_create_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_delete_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_update_test.rb
  test/controllers/api/v2/alternate_content_sources_controller_test.rb
  test/fixtures/models/katello_alternate_content_sources.yml
  test/fixtures/models/katello_gpg_keys.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/file_create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/yum_create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/yum_create_complex.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_delete/file_delete.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_delete/yum_delete.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/file_update.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/file_update_no_subpaths.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/yum_update.yml
  test/models/katello/alternate_content_source_test.rb
  test/support/fixtures_support.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor
