Repository Katello/katello, pull requests merged in 2022-07, with the labels that each got.

#10187 Fixes #35165 - Jest & Nock JS test improvements
  webpack/components/Search/__tests__/search.test.js
  webpack/components/extensions/HostDetails/Cards/__tests__/errataOverviewCard.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
  webpack/global_test_setup.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSExpandableDetails.test.js
  webpack/scenes/AlternateContentSources/MainTable/__tests__/acsTable.test.js
  webpack/scenes/Content/__tests__/contentTable.test.js
  webpack/scenes/ContentViews/Delete/__tests__/contentViewDelete.test.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/__tests__/CVRpmMatchContentModal.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVContainerImageFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetails.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvErrataIDFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvModuleStreamFilter.test.js
  webpack/scenes/ContentViews/Details/Histories/__tests__/contentViewHistory.test.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetails.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetailsEmpty.test.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/test-utils/nockWrapper.js
Labels: Needs testing, Not yet reviewed

#10189 Fixes #35170 - Add RHEL 9 appstream and baseos as recommended repos
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10174 Fixes #35102 - Add SCA status endpoint
  app/controllers/katello/api/v2/simple_content_access_controller.rb
  app/lib/katello/errors.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/simple_content_access_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10179 Fixes #35136 - Fix docker escaping in LCE table
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/views/environments.html
Labels: Needs testing, Not yet reviewed

#10188 Fixes #35169 - Call Pulp RefreshIfNeeded concurrently
  app/lib/actions/katello/organization/manifest_refresh.rb
Labels: Needs testing, Not yet reviewed

#10182 Fixes #35078 - Add 'System purpose' card
  webpack/components/EditableTextInput/EditableTextInput.js
  webpack/components/EditableTextInput/PencilEditButton.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsModal.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeActions.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeCard.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeCard.scss
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeConstants.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeEditModal.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeSelectors.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/__tests__/SystemPurposeCard.test.js
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/__tests__/SystemPurposeEditModal.test.js
  webpack/components/extensions/HostDetails/HostDetailsSelectors.js
  webpack/components/extensions/HostDetails/hostDetailsHelpers.js
  webpack/global_index.js
  webpack/global_test_setup.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
Labels: Needs testing, Waiting on contributor, Needs re-review

#10175 Fixes #35114 - Show toggle groups for non-default environment OR content view
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10164 Fixes #34804 - Fix upload debian package with invalid relative_path error
  app/services/katello/pulp3/deb.rb
  app/services/katello/pulp3/pulp_content_unit.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10180 Fixes #35142 - Migration stats rake triggers OOM
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Needs testing, Not yet reviewed

#10072 Fixes #31395 - Add CV Deb filter for Pulp3
  app/controllers/katello/api/v2/content_view_filter_rules_controller.rb
  app/controllers/katello/api/v2/content_view_filters_controller.rb
  app/controllers/katello/api/v2/debs_controller.rb
  app/models/katello/content_view.rb
  app/models/katello/content_view_deb_filter.rb
  app/models/katello/content_view_deb_filter_rule.rb
  app/models/katello/content_view_filter.rb
  app/services/katello/pulp3/api/apt.rb
  app/services/katello/pulp3/repository/apt.rb
  app/views/katello/api/v2/content_view_filters/base.json.rabl
  db/migrate/20201116161820_create_content_view_deb_filter_rules.rb
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/Add/__tests__/cvFilterAdd.test.js
  webpack/scenes/ContentViews/Details/Filters/CVDebFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVFilterDetailType.js
  webpack/scenes/ContentViews/Details/Filters/ContentType.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/CVDebMatchContentModal.js
  webpack/scenes/ContentViews/Details/Filters/Rules/DebPackage/AddEditDebPackageRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.test.js
Labels: Needs testing, Not yet reviewed

#10153 Fixes #35074 - Hide table toolbar / filter dropdowns for empty states
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Ready for merge

#10197 Fixes #35231 - Add testing support for ouiaIds
  webpack/components/Loading.js
  webpack/components/SelectAllCheckbox/index.js
  webpack/components/SelectableDropdown/SelectableDropdown.js
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/TypeAhead/pf3Search/TypeAheadItems.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
  webpack/global_test_setup.js
  webpack/ouia_id_check.js
Labels: Needs testing, Not yet reviewed

#10171 Fixes #35082 - Add same/different flags to content compare endpoint
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/models/katello/concerns/pulp_database_unit.rb
  test/controllers/api/v2/packages_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10192 Fixes #35193 - Manifest Refresh should ensure environment-content
  app/lib/actions/katello/organization/environment_contents_refresh.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10193 Fixes #35197 - Restrict to architecture showed as a label on Repository Sets screen
  app/views/katello/api/v2/repository_sets/show.json.rabl
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySets.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
Labels: Ready for merge

#10200 Fixes #35236 - validate given release version before creating/updating activation key
  app/controllers/katello/api/v2/activation_keys_controller.rb
Labels: Ready for merge

#10203 Fixes #33902 - host registration form should include activation key on the first page
  webpack/components/extensions/RegistrationCommands/index.js
  webpack/global_index.js
Labels: Ready for merge

#10201 Fixes #35238 - Remove sca toggle from manifest modal
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/Manifest/__tests__/ManageManifestModal.test.js
Labels: Ready for merge

#10206 Fixes #35262: Update redhat-uep.pem from RHEL 8
  ca/redhat-uep.pem
Labels: Ready for merge

#10208 Fixes #35265 - When toggling SCA, change the owner and don't refresh manifest
  app/lib/actions/katello/organization/simple_content_access/toggle.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10209 Fixes #35276 - Add LCE controller to AngularJS so bookmarks work
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/environment-content.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/details/environment.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/environments.controller.js
Labels: Ready for merge

#10199 Fixes #34792 - Do not show duplicate module streams in the new UI
  app/controllers/katello/api/v2/host_module_streams_controller.rb
  test/controllers/api/v2/host_module_streams_controller_test.rb
  test/fixtures/models/katello_available_module_streams.yml
Labels: Ready for merge

#10198 Fixes #35233 - ForeignKeyViolation Error with docker_meta_tags during Pulp migration
  app/models/katello/docker_meta_tag.rb
  app/services/katello/pulp3/migration_switchover.rb
  lib/katello/tasks/correct_docker_meta_tags.rake
  test/services/katello/pulp3/migration_switchover_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10172 Fixes #34336 - CRUD simplified ACSs via the API
  app/controllers/katello/api/v2/alternate_content_sources_controller.rb
  app/lib/actions/katello/alternate_content_source/alternate_content_source_common.rb
  app/lib/actions/katello/alternate_content_source/create.rb
  app/lib/actions/katello/alternate_content_source/destroy.rb
  app/lib/actions/katello/alternate_content_source/refresh.rb
  app/lib/actions/katello/alternate_content_source/update.rb
  app/lib/actions/katello/repository/create.rb
  app/lib/actions/katello/repository/destroy.rb
  app/lib/actions/katello/repository/refresh_repository.rb
  app/lib/actions/katello/repository/update.rb
  app/lib/actions/katello/repository/update_redhat_repository.rb
  app/lib/actions/pulp3/alternate_content_source/create.rb
  app/lib/actions/pulp3/alternate_content_source/create_remote.rb
  app/lib/actions/pulp3/alternate_content_source/delete.rb
  app/lib/actions/pulp3/alternate_content_source/delete_remote.rb
  app/lib/actions/pulp3/alternate_content_source/refresh.rb
  app/lib/actions/pulp3/alternate_content_source/update.rb
  app/lib/actions/pulp3/alternate_content_source/update_remote.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/create.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/delete.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/refresh.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/refresh_remote.rb
  app/lib/actions/pulp3/orchestration/alternate_content_source/update.rb
  app/lib/katello/validators/alternate_content_source_products_validator.rb
  app/models/katello/alternate_content_source.rb
  app/models/katello/alternate_content_source_product.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/product.rb
  app/models/katello/repository.rb
  app/models/katello/smart_proxy_alternate_content_source.rb
  app/services/katello/pulp3/alternate_content_source.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/service_common.rb
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
  app/views/katello/api/v2/alternate_content_sources/base.json.rabl
  app/views/katello/api/v2/alternate_content_sources/show.json.rabl
  db/migrate/20220610165621_add_repositories_and_products_to_acs.rb
  test/actions/katello/alternate_content_source_test.rb
  test/actions/katello/repository/update_redhat_repository_test.rb
  test/actions/katello/repository_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_create_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_delete_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_refresh_test.rb
  test/actions/pulp3/orchestration/alternate_content_source_update_test.rb
  test/actions/pulp3/orchestration/yum_sync_test.rb
  test/fixtures/models/katello_alternate_content_sources.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_with_acs.yml
  test/models/katello/alternate_content_source_test.rb
  test/services/katello/pulp3/repository/apt/apt_test.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10196 Fixes #35031 - Delete ModuleProfile and ModuleProfileRpms before ModuleStreams
  db/migrate/20211220185935_clean_duplicate_content_units.rb
  test/migrations/20211220185935_clean_duplicate_content_units_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor
