Repository Katello/katello, pull requests merged in 2022-02, with the labels that each got.

#9907 Fixes #34322 - Use better file organization in host details
  webpack/components/extensions/HostDetails/Tabs/ContentTab/SecondaryTabsRoutes.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.scss
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErratumExpansionContents.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErratumExpansionDetail.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/HostErrataActions.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/HostErrataConstants.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/HostErrataSelectors.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionActions.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/EnableTracerEmptyState.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/EnableTracerModal.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/HostTracesActions.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/HostTracesConstants.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/HostTracesSelectors.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.scss
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/customizedRexUrlHelpers.js
  webpack/global_index.js
Labels: Needs testing, Not yet reviewed

#9908 Fixes #34338 - Import repo versions correctly
  app/lib/actions/pulp3/orchestration/content_view_version/import.rb
Labels: Needs testing, Not yet reviewed

#9872 Refs #34191 - New host details - Install Packages modal
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/packages_controller.rb
  app/lib/katello/logging.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/rpm.rb
  app/views/foreman/job_templates/install_packages_by_search_query.erb
  lib/katello/plugin.rb
  webpack/components/Packages/index.js
  webpack/components/Search/Search.js
  webpack/components/Table/TableHooks.js
  webpack/components/Table/TableWrapper.js
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf4Search/TypeAheadSearch.js
  webpack/components/extensions/HostDetails/HostPackages/HostPackagesActions.js
  webpack/components/extensions/HostDetails/HostPackages/HostPackagesConstants.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/PackageInstallModal.js
  webpack/components/extensions/HostDetails/Tabs/PackageInstallModal.scss
  webpack/components/extensions/HostDetails/Tabs/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionActions.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionConstants.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/EnableTracerModal.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packageInstallModal.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/yumInstallablePackages.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/customizedRexUrlHelpers.js
  webpack/components/extensions/HostDetails/YumInstallablePackages/YumInstallablePackagesActions.js
  webpack/components/extensions/HostDetails/YumInstallablePackages/YumInstallablePackagesConstants.js
  webpack/components/extensions/HostDetails/YumInstallablePackages/YumInstallablePackagesSelectors.js
  webpack/components/extensions/HostDetails/hostDetailsHelpers.js
Labels: Needs testing, Not yet reviewed

#9844 Default download policy for deb repos if not set
  db/migrate/20220127120843_fix_debian_download_policy.rb
Labels: Needs testing, Waiting on contributor, Needs re-review

#9921 4.2.2 changelog
  CHANGELOG.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9867 Fixes #34178 - add generic repository testing
  app/services/katello/repository_type.rb
  lib/katello/repository_types/ostree.rb
  lib/katello/repository_types/python.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/models/katello_repositories.yml
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/models/katello_smart_proxy_features.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/remove_orphans/orphans_are_removed.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/katello/pulp3/repository/ostree_type_sync/sync.yml
  test/fixtures/vcr_cassettes/katello/pulp3/repository/ostree_type_sync/upload_files.yml
  test/fixtures/vcr_cassettes/katello/pulp3/repository/python_type_sync/sync.yml
  test/fixtures/vcr_cassettes/katello/pulp3/repository/python_type_sync/upload_files.yml
  test/fixtures/vcr_cassettes/katello/pulp3/repository/python_type_sync/upload_files_binary.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_list/list_with_pagination.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/delete_orphan_repository_versions.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository_orphan/orphan_repository_versions.yml
  test/services/katello/pulp3/repository_integration_test.rb
  test/support/pulp3_support.rb
Labels: Needs testing, Not yet reviewed

#9884 Fixes #34168 - Extend CV API to support bulk removing versions
  app/controllers/katello/api/v2/content_views_controller.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
  test/controllers/api/v2/content_views_controller_test.rb
Labels: Needs testing, Not yet reviewed

#9915 Fixes #34372 - ignore path on proxy url
  app/lib/katello/resources/cdn.rb
Labels: Needs testing, Not yet reviewed

#9909 Fixes #34341 - sanitize test fqdn
  test/mailers/errata_mailer_test.rb
Labels: Ready for merge

#9917 Fixes #34356 - OSTree Refs label missing in repository details
  lib/katello/repository_types/ostree.rb
Labels: Ready for merge

#9923 Fixes #34390 - fix transient host collection failure
  test/models/host_collection_test.rb
Labels: Needs testing, Not yet reviewed

#9929 Fixes #34408 - Fix package page initial repo filtering
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/packages.controller.js
Labels: Needs testing, Not yet reviewed

#9625 Fixes #33451 - use upsert all for content indexing
  app/lib/actions/katello/repository/filtered_index_content.rb
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/deb.rb
  app/models/katello/erratum.rb
  app/models/katello/repository.rb
  app/models/katello/rpm.rb
  app/services/katello/content_unit_indexer.rb
  app/services/katello/pulp3/ansible_collection.rb
  app/services/katello/pulp3/deb.rb
  app/services/katello/pulp3/docker_manifest.rb
  app/services/katello/pulp3/docker_manifest_list.rb
  app/services/katello/pulp3/docker_tag.rb
  app/services/katello/pulp3/erratum.rb
  app/services/katello/pulp3/file_unit.rb
  app/services/katello/pulp3/generic_content_unit.rb
  app/services/katello/pulp3/module_stream.rb
  app/services/katello/pulp3/package_group.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/rpm.rb
  app/services/katello/pulp3/srpm.rb
  app/services/katello/repository_type.rb
  db/migrate/20211220185935_clean_duplicate_content_units.rb
  lib/katello/repository_types/docker.rb
  lib/katello/repository_types/yum.rb
  test/controllers/api/v2/docker_tags_controller_test.rb
  test/factories/docker_tag_factory.rb
  test/fixtures/models/katello_docker_manifests.yml
  test/fixtures/models/katello_docker_tags.yml
  test/fixtures/models/katello_module_streams.yml
  test/fixtures/test_repos/zoo2_dup/repodata/30d4207463be435c299ec5c2adf293bf7d409365f7a7771d7efb44fb872f1349-updateinfo.xml.gz
  test/fixtures/test_repos/zoo2_dup/repodata/74dba63a5d5170e4c36fa62f45d063fc33e2b4a86cc9a0e11a3acdcfcd185eb8-updateinfo.xml.gz
  test/fixtures/test_repos/zoo2_dup/repodata/repomd.xml
  test/fixtures/test_repos/zoo2_dup/updateinfo.xml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/dup_errata.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/erratum/updates_href.yml
  test/migrations/20211220185935_clean_duplicate_content_units_test.rb
  test/models/content_view_version_test.rb
  test/models/docker_manifest_list_test.rb
  test/models/docker_manifest_test.rb
  test/models/docker_meta_tag_test.rb
  test/models/docker_tag_test.rb
  test/models/erratum_test.rb
  test/models/file_unit_test.rb
  test/models/pulp_database_unit_sync_repository_associatons_test.rb
  test/models/repository_test.rb
  test/models/rpm_test.rb
  test/models/srpm_test.rb
  test/services/katello/pulp3/erratum_test.rb
  test/services/katello/pulp3/module_stream_test.rb
  test/services/katello/pulp3/package_group_test.rb
  test/services/katello/pulp3/rpm_test.rb
  test/services/katello/pulp3/srpm_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9919 Fixes #34384 - publish metadata for imported repos
  app/lib/actions/katello/content_view/publish.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/4.4/publish_import_cvvs.rake
Labels: Needs testing, Not yet reviewed

#9928 Fixes #34407 - Repo filtering shows all repos in different organizations
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9920 Fixes #33554 - fix import_applicability and remove old related code
  app/models/katello/host/content_facet.rb
  lib/katello/tasks/import_applicability.rake
  test/lib/tasks/import_applicability_test.rb
Labels: Ready for merge

#9918 Fixes #34357 - Incremental CV update fails with 400 HTTP error
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/pulp3/repository/copy_content.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/yum.rb
  test/actions/katello/content_view_version_test.rb
  test/actions/pulp3/orchestration/multi_copy_all_units_test.rb
Labels: Needs testing, Not yet reviewed

#9916 Fixes #34373 - Delete importer if import fails
  app/lib/actions/pulp3/content_view_version/import.rb
Labels: Needs testing, Not yet reviewed

#9927 Fixes #33804 - Change size limit of deb attributes based on pulp deb
  db/migrate/20220207140355_change_deb_attributes_size_limit.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9940 Bump Katello to 4.5
  lib/katello/version.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9932 Fixes #34417 - Don't set global RestClient proxy during repo discover
  app/lib/actions/katello/repository/discover.rb
  app/lib/katello/repo_discovery.rb
  app/models/katello/concerns/organization_extensions.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/discovery/discovery.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/products.routes.js
  test/actions/katello/repository/discover_test.rb
  test/lib/repo_discovery_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9936 Fixes #34428 - Update ContentCredentials controller in AngularJs for bookmarks
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/content-credentials.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/details/content-credential-products.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/details/content-credential-repositories.controller.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9933 Fixes #34420 - fix REX errata apply with no inc update
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/apply-errata.controller.js
Labels: Needs testing, Not yet reviewed

#9911 Fixes #34382 - Add Module stream basic table
  app/models/katello/host_available_module_stream.rb
  app/views/katello/api/v2/host_module_streams/base.json.rabl
  webpack/components/extensions/HostDetails/Tabs/ContentTab/SecondaryTabsRoutes.js
  webpack/components/extensions/HostDetails/Tabs/ContentTab/constants.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsActions.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsConstants.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsSelectors.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/__tests__/moduleStreamsTab.test.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/__tests__/modules.fixtures.json
Labels: Ready for merge

#9931 Fixes #34414 - Errata mail should only list new errata
  app/lib/actions/katello/repository/errata_mail.rb
  app/lib/actions/katello/repository/sync.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#9951 Fixes #34454 - Hammer repo reclaim-space
  app/lib/actions/pulp3/repository/reclaim_space.rb
Labels: Needs testing, Not yet reviewed

#9938 Fixes #34436 - dont delete shared pulp3 repos for composites
  app/lib/actions/pulp3/content_view/delete_repository_references.rb
Labels: Needs testing, Not yet reviewed

#9947 Fixes #34448 - Truncate long audit comments for import/export
  app/lib/actions/pulp3/content_view_version/create_import_history.rb
  app/models/katello/concerns/audit_comment_extensions.rb
  app/models/katello/content_view_version_export_history.rb
  app/models/katello/content_view_version_import_history.rb
Labels: Needs testing, Not yet reviewed

#9953 Fixes #34455 - Migration error related to cdn configuration
  db/migrate/20211019192121_create_cdn_configuration.katello.rb
  test/migrations/20211019192121_create_cdn_configuration_katello_test.rb
Labels: Ready for merge

#9941 Fixes #34418 - Incorrect CVV 'Content' column counts
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionContent.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailConfig.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsTable.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionRepositoryCell.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetails.test.js
Labels: Needs testing, Not yet reviewed

#9960 Fixes #34478 - Fix build issues
  test/migrations/20211019192121_create_cdn_configuration_katello_test.rb
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/ActivationKeys.test.js.snap
Labels: Needs testing, Not yet reviewed

#9952 Fixes #34456 - Allow reclaim space task to acquire repo lock
  app/controllers/katello/api/v2/repositories_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/pulp3/abstract.rb
  app/lib/actions/pulp3/repository/reclaim_space.rb
  test/actions/pulp3/repository/reclaim_space_test.rb
  test/controllers/api/v2/repositories_bulk_actions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/repository/reclaim_space/repository_has_space_reclaimed.yml
Labels: Needs testing, Not yet reviewed

#9959 Fixes #34470 - Hide columns that are nil on lce page
  app/views/katello/api/v2/errata/_counts.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/environments.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/environments/views/environments.html
Labels: Ready for merge

#9963 Fixes #34483 - Pulp 3 migration should fail earlier with missing errata
  lib/katello/tasks/pulp3_migration.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9964 Fixes #34355 - Remove parent_commit for ostree
  app/services/katello/pulp3/repository.rb
  lib/katello/repository_types/ostree.rb
Labels: Ready for merge

#9958 Fixes #34469 - Update retain package versions in pulp
  app/models/katello/root_repository.rb
  test/actions/katello/repository_test.rb
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed

#9971 Fixes #34419 - remove Katello ping from corrupted migration content approval task
  lib/katello/tasks/pulp3_migration_approve_corrupted.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9968 Fixes #34493 - Remove use of pulp_ prefixes in the tests
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Ready for merge

#9965 Fixes #34488 - Delete any errata tied to ostree or puppet repos
  db/migrate/20210119162528_delete_puppet_and_ostree_repos.rb
Labels: Needs testing, Not yet reviewed

#9961 Fixes #34477 - Add act key and host ids to CV Api
  app/views/katello/api/v2/content_views/base.json.rabl
Labels: Needs testing, Not yet reviewed

#9901 Fixes #34220 - Packages bulk select & remove and upgrade
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/installed_package.rb
  app/views/foreman/job_templates/remove_packages_by_search_query.erb
  app/views/foreman/job_templates/update_packages_by_search_query.erb
  lib/katello/plugin.rb
  webpack/components/Table/TableHooks.js
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/HostDetails/HostPackages/HostPackagesActions.js
  webpack/components/extensions/HostDetails/HostPackages/HostPackagesConstants.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionActions.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionConstants.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/customizedRexUrlHelpers.js
Labels: Needs testing, Not yet reviewed

#9962 Fixes #34158 - Status translation fix
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
Labels: Needs testing, Not yet reviewed

#9954 Fixes #34461 - Add table sorting
  app/controllers/katello/api/v2/host_module_streams_controller.rb
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/models/katello/content_override.rb
  app/models/katello/host_available_module_stream.rb
  app/models/katello/product_content.rb
  webpack/components/Packages/index.js
  webpack/components/Table/MainTable.js
  webpack/components/Table/TableHooks.js
  webpack/components/Table/TableWrapper.js
  webpack/components/Table/components/SortableColumnHeaders.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
  webpack/scenes/ContentViews/Delete/__tests__/contentViewDelete.test.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
Labels: Needs testing, Needs re-review

#9955 Fixes #34465 - Can import correctly in an AirGapped setup
  app/models/katello/candlepin/repository_mapper.rb
  app/models/katello/root_repository.rb
  test/models/root_repository_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9969 Fixes #34494 - Make primary actions on tabs Primary buttons
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositoryTable.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
Labels: Needs testing, Not yet reviewed

#9979 Fixes #34520 - Promote on contentViewVersion Details page
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
Labels: Needs testing, Not yet reviewed

#9930 Fixes #34411 - set timeout for pulp api access
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Needs testing, Not yet reviewed
