Repository Katello/katello, pull requests merged in 2022-01, with the labels that each got.

#9874 Fixes #34209 - unset sync_policy for repository mirrors
  app/services/katello/pulp3/repository_mirror.rb
Labels: Needs testing, Not yet reviewed

#9841 Fixes #34102 - Bump up distributor version to 6.10
  app/models/katello/glue/provider.rb
Labels: Needs testing, Not yet reviewed

#9804 Fixes #34104 - Add Errata overview card
  webpack/components/Errata/index.js
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
  webpack/components/extensions/HostDetails/Cards/__tests__/errataOverviewCard.test.js
  webpack/global_index.js
Labels: Ready for merge

#9840 Fixes #34103 - lower get length for fetch objects by id
  app/services/katello/pulp3/migration.rb
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9860 Fixes #34155 - block pulp actions if switchover has run
  app/lib/actions/katello/content_view/promote.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view/remove.rb
  app/lib/actions/katello/content_view/remove_version.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/katello/repository/create_root.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/katello/repository/sync.rb
  app/lib/actions/middleware/switchover_check.rb
Labels: Needs testing, Not yet reviewed

#9638 Fixes #33480 - drop jQuery-ui sortable
  app/assets/javascripts/katello/common/vendor.js
Labels: Needs testing, Not yet reviewed

#9871 Fixes #34187 - OSTree repository update error
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Needs testing, Not yet reviewed

#9876 Fixes #34208 - handle missing mirroring policy on import
  app/models/katello/glue/pulp/repos.rb
  app/services/katello/pulp3/content_view_version/metadata_generator.rb
Labels: Needs testing, Not yet reviewed

#9822 Fixes #34059 - disable validation when seeding existing org
  app/services/katello/organization_creator.rb
  test/controllers/api/v2/organizations_controller_test.rb
  test/services/katello/organization_creator_test.rb
Labels: Ready for merge

#9880 Fixes #34229 - pin faraday until we can update to 2.0
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Packaging Change

#9881 Fixes #34184 - Add content_view_version filter to generic content units
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/models/katello/content_view_version.rb
  test/controllers/api/v2/generic_content_units_controller_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9798 Fixes #33952 - do not audit internal columns
  app/models/katello/concerns/organization_extensions.rb
  app/services/katello/organization_creator.rb
Labels: Needs testing, Not yet reviewed

#9856 Fixes #34131 - Host packages filter by status
  app/controllers/katello/api/v2/host_packages_controller.rb
  webpack/components/extensions/HostDetails/HostPackages/HostPackagesConstants.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packages.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
Labels: Ready for merge

#9868 Fixes #34183 - Add generic content pages to CVV details
  lib/katello/repository_types/ostree.rb
  webpack/scenes/Content/ContentConfig.js
  webpack/scenes/Content/ContentPage.js
  webpack/scenes/Content/Details/ContentDetails.js
  webpack/scenes/Content/Details/ContentInfo.js
  webpack/scenes/Content/Details/ContentRepositories.js
  webpack/scenes/Content/Table/ContentTable.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Repositories/ContentCounts.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersionContent.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailConfig.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionRepositoryCell.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
Labels: Needs testing, Needs re-review

#9882 Fixes #34235 - reindex repository after recreating it
  lib/katello/tasks/repository.rake
  test/fixtures/vcr_cassettes/katello/pulp3/repository_task/correct_repositories_fixes_deleted_library_repo.yml
  test/lib/tasks/repository_test.rb
Labels: Needs testing, Not yet reviewed

#9853 Fixes #34144 - Connected ISS from a CVE
  app/lib/katello/resources/cdn.rb
  app/lib/katello/resources/cdn/katello_cdn.rb
  app/services/katello/organization_creator.rb
  app/views/katello/api/v2/cdn_configurations/show.json.rabl
  db/migrate/20211208034230_add_content_view_and_lifecycle_environment.rb
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationForm.js
Labels: Needs testing, Not yet reviewed

#9883 Fixes #34216 - use sync_policy instead of mirror for yum proxy syncs
  app/services/katello/pulp3/repository_mirror.rb
Labels: Ready for merge

#9888 Refs #33952 - revert change in org creator
  app/services/katello/organization_creator.rb
Labels: Needs testing, Not yet reviewed

#9835 Fixes #34087 - Revert "Fixes #31173 - no deb repo in sub-man"
  app/models/katello/root_repository.rb
Labels: Needs testing, Not yet reviewed

#9861 Fixes #34157 - Accept URL params on Host details page tabs
  webpack/components/Errata/index.js
  webpack/components/Table/TableHooks.js
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
  webpack/components/extensions/HostDetails/HostDetailsActions.js
  webpack/components/extensions/HostDetails/HostErrata/HostErrataConstants.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab.js
  webpack/utils/helpers.js
Labels: Needs testing, Not yet reviewed

#9869 Fixes #34186 - consume Pagination from core
  webpack/__mocks__/foremanReact/components/Pagination/PaginationHooks.js
  webpack/__mocks__/foremanReact/components/Pagination/PaginationWrapper.js
  webpack/components/Content/Details/__tests__/ContentDetailInfo.test.js
  webpack/components/Content/Details/__tests__/ContentDetailRepositories.test.js
  webpack/components/Content/Details/__tests__/ContentDetails.test.js
  webpack/components/Content/__tests__/ContentPage.test.js
  webpack/components/Content/__tests__/ContentTable.test.js
  webpack/components/Table/PageControls.js
  webpack/components/pf3Table/components/Table.js
  webpack/components/pf3Table/components/Table.test.js
  webpack/components/pf3Table/components/__snapshots__/Table.test.js.snap
  webpack/scenes/AnsibleCollections/Details/__tests__/AnsibleCollectionDetails.test.js
  webpack/scenes/AnsibleCollections/__tests__/AnsibleCollectionPage.test.js
  webpack/scenes/AnsibleCollections/__tests__/AnsibleCollectionsTable.test.js
  webpack/scenes/ModuleStreams/Details/Profiles/__tests__/ModuleStreamDetailProfiles.test.js
  webpack/scenes/ModuleStreams/Details/__tests__/ModuleStreamDetails.test.js
  webpack/scenes/ModuleStreams/__tests__/ModuleStreamPage.test.js
  webpack/scenes/ModuleStreams/__tests__/ModuleStreamsTable.test.js
  webpack/scenes/RedHatRepositories/__tests__/__snapshots__/RedHatRepositoriesPage.test.js.snap
  webpack/scenes/RedHatRepositories/helpers.js
  webpack/scenes/Subscriptions/UpstreamSubscriptions/__tests__/UpstreamSubscriptionsPage.test.js
  webpack/scenes/Subscriptions/__tests__/SubscriptionsPage.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/SubscriptionsTable.test.js
  webpack/scenes/Subscriptions/components/SubscriptionsTable/__tests__/__snapshots__/SubscriptionsTable.test.js.snap
Labels: Needs testing, Not yet reviewed

#9877 Fixes #34217 - Add "On Demand" policy for Docker
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/apt.rb
  app/services/katello/pulp3/repository/docker.rb
  app/services/katello/pulp3/repository/yum.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/new-repository.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_distribution_trees_repository/all_distribution_trees_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_distribution_trees_repository/no_package_environments_are_copied_despite_whitelist_ids.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/all_errata_copied_if_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/errata_copied_if_all_errata_packages_matches_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/errata_is_not_copied_if_errata_packages_are_not_all_found_in_included_packages.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_errata_repository/only_srpm_errata_copied_if_no_errata_packages_matches_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_empty_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/all_module_streams_copied_if_no_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_include_modular_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_module_stream_repository/module_streams_copied_with_modular_exclude_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_by_default.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_environment_repository/all_package_environments_are_copied_even_if_no_groups_match.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_groups_repository/all_package_groups_copied_with_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_package_groups_repository/package_groups_as_a_filter_rule.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/copy_duplicated_errata.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_all_no_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_all_no_filter_rules_without_dependency_solving.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_nonmatching_package_exclusion_filter_copies_everything.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_nonmatching_package_includion_filter_copies_no_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_duplicate_content.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_errata_exclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_errata_inclusion_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_max_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_min_version_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_name_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_repository/yum_copy_with_whitelist_name_original_packages_filter.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_unit_yum_srpms_repository/all_srpms_copied_despite_filter_rules.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/exclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/inclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_create/create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_delete/repository_reference_is_deleted.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_set_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_ssl_validation.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_unset_unprotected.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_upstream_name.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_url.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags.yml
  test/fixtures/vcr_cassettes/actions/pulp3/docker_update/update_whitelist_tags_empty.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_on_sync.yml
  test/models/root_repository_test.rb
  test/services/katello/pulp3/repository/apt/apt_repository_mirror_test.rb
  test/services/katello/pulp3/repository/docker/docker_repository_mirror_test.rb
Labels: Needs testing, Not yet reviewed

#9894 Refs #34155 - fix bad placement of middleware
  app/lib/actions/katello/content_view/remove_version.rb
  katello.gemspec
Labels: Needs testing, Not yet reviewed

#9893 Fixes #34285 - Fix inconsistent Katello test failures
  webpack/components/Search/Search.js
  webpack/components/Search/__tests__/search.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
  webpack/scenes/Content/Details/__tests__/contentDetail.test.js
  webpack/scenes/Content/__tests__/contentTable.test.js
  webpack/scenes/ContentViews/Delete/__tests__/contentViewDelete.test.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/__tests__/CVRpmMatchContentModal.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVContainerImageFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilterDetails.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/contentViewFilters.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvErrataIDFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvModuleStreamFilter.test.js
  webpack/scenes/ContentViews/Details/Histories/__tests__/contentViewHistory.test.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetails.test.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
Labels: Needs testing, Not yet reviewed

#9879 Fixes #34127 - Pulp 2 dep solving is wrong with cross-repo deps
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/repository/clone_contents.rb
  app/lib/actions/katello/repository/clone_to_version.rb
  test/actions/katello/repository/clone_to_version_test.rb
Labels: Needs testing, Not yet reviewed

#9616 Fixes #33425 - Optionally prefer registered through proxy for REX
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/concerns/remote_execution_proxy_selector_extensions.rb
  app/models/setting/content.rb
  lib/katello/engine.rb
Labels: Needs testing, Not yet reviewed

#9895 i18n - pulling from tx
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9889 Fixes #34257 - cv docker tags unpullable after resync with tag limiting
  app/models/katello/docker_meta_tag.rb
  test/fixtures/models/katello_root_repositories.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/resync_limit_tags_deletes_proper_repo_association_meta_tags.yml
  test/services/katello/pulp3/docker_tag_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9896 Fixes #34294 - container resync tags test failing on VCR
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/resync_limit_tags_deletes_proper_repo_association_meta_tags.yml
Labels: Needs testing, Not yet reviewed

#9897 Fixes #34295 - add default download policy
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/glue/pulp/repos.rb
  db/migrate/20220120163252_fix_docker_download_policy.rb
Labels: Needs testing, Not yet reviewed

#9900 Fixes #34041 - Clearer UI for Restrict to Architecture/OS
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Needs testing, Not yet reviewed

#9413 Fixes #32835 - Add RHSM and content URL as info providers
  app/models/katello/host/info_provider.rb
Labels: Needs testing, Not yet reviewed

#9873 Fixes #34211 - Hosts - Change content source
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/concerns/hosts_controller_extensions.rb
  app/helpers/katello/content_source_helper.rb
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/views/foreman/job_templates/change_content_source.erb
  config/routes.rb
  config/routes/overrides.rb
  lib/katello/permissions/host_permissions.rb
  lib/katello/plugin.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
  test/controllers/foreman/hosts_controller_test.rb
  webpack/components/SelectOrg/SetOrganization.js
  webpack/containers/Application/config.js
  webpack/index.js
  webpack/scenes/Hosts/ChangeContentSource/actions.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceTemplate.js
  webpack/scenes/Hosts/ChangeContentSource/components/FormField.js
  webpack/scenes/Hosts/ChangeContentSource/constants.js
  webpack/scenes/Hosts/ChangeContentSource/helpers.js
  webpack/scenes/Hosts/ChangeContentSource/index.js
  webpack/scenes/Hosts/ChangeContentSource/selectors.js
  webpack/scenes/Hosts/ChangeContentSource/styles.scss
Labels: Needs testing, Not yet reviewed

#9812 Fixes #33951 - New settings for disconnected
  app/controllers/katello/api/v2/organizations_controller.rb
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/lib/actions/katello/cdn_configuration/update.rb
  app/lib/katello/errors.rb
  app/lib/katello/resources/cdn.rb
  app/models/katello/candlepin/repository_mapper.rb
  app/models/katello/cdn_configuration.rb
  app/models/setting/content.rb
  app/services/katello/organization_creator.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/ui_notifications/subscriptions/manifest_expired_warning.rb
  app/services/katello/upstream_connection_checker.rb
  app/views/katello/api/v2/cdn_configurations/show.json.rabl
  db/migrate/20220110223754_update_disconnected_settings.rb
  db/migrate/20220124191056_add_type_to_cdn_configuration.rb
  engines/bastion/app/views/bastion/layouts/assets.html.erb
  test/actions/katello/cdn_configuration/update_test.rb
  test/factories/cdn_configuration_factory.rb
  test/models/candlepin/repository_mapper_test.rb
  test/models/cdn_configuration_test.rb
  test/services/katello/ui_notifications/subscriptions/manifest_expired_warning_test.rb
  test/services/katello/upstream_connection_checker_test.rb
  webpack/scenes/Organizations/OrganizationActions.js
  webpack/scenes/RedHatRepositories/RedHatRepositoriesPage.js
  webpack/scenes/RedHatRepositories/__tests__/RedHatRepositoriesPage.test.js
  webpack/scenes/RedHatRepositories/index.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/AirGappedTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CdnConfigurationConstants.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CdnConfigurationForm.scss
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CdnTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/UpstreamServerTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/__tests__/AirGappedTypeForm.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/__tests__/CdnTypeForm.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/__tests__/UpstreamServerTypeForm.test.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/index.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
Labels: Needs testing, Not yet reviewed

#9902 Fixes #34306 - Update how we parse CN from subman identity certs
  app/services/cert/rhsm_client.rb
  test/services/cert/rhsm_client_test.rb
Labels: Ready for merge

#9904 Refs #33951 - correct AIRGAPPED constant reference
  db/migrate/20220124191056_add_type_to_cdn_configuration.rb
Labels: Needs testing, Not yet reviewed

#9898 Fixes #32976 - revert monkey patch missing enum
  config/initializers/monkeys.rb
  lib/monkeys/pulp3_13_checksumfix.rb
Labels: Needs testing, Not yet reviewed

#9905 Fixes #34314 - Rake task to set import_only flag
  app/services/katello/pulp3/content_view_version/import.rb
  lib/katello/tasks/content_view_import_only.rake
  test/services/katello/pulp3/content_view_version/import_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9912 Fixes #34347 - Content view version list API being called multiple times
  webpack/scenes/ContentViews/Details/DetailsContainer.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#9903 Fixes #34202 - Incorrect rpm is uploaded
  app/lib/actions/pulp3/repository/save_artifact.rb
  app/services/katello/pulp3/generic_content_unit.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  test/actions/pulp3/orchestration/rpm_upload_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/file_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/duplicate_upload_binary_duplicate.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/rpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload.yml
  test/fixtures/vcr_cassettes/actions/pulp3/srpm_upload/upload_binary.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/content/chunk_upload.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/content/chunk_upload_binary.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/content/create_upload.yml
Labels: Needs testing, Not yet reviewed

#9914 Refs #30280 - Fixup yum repository copy_units_test.rb
  test/services/katello/pulp3/repository/yum/copy_units_test.rb
Labels: Needs testing, Not yet reviewed
