Repository Katello/katello, pull requests merged in 2022-11, with the labels that each got.

#10329 Fixes #35590 - RPM uploads fail on Pulpcore 3.21
  app/services/katello/pulp3/pulp_content_unit.rb
Labels: Not yet reviewed

#10328 Fixes #35503 - Notify user only when new errata are added to repo
  app/lib/actions/katello/repository/errata_mail.rb
  app/lib/actions/katello/repository/sync.rb
  test/actions/katello/repository_test.rb
Labels: Not yet reviewed

#10297 Fixes #35446 - Change content source improvements
  app/controllers/katello/concerns/hosts_controller_extensions.rb
  app/views/katello/api/v2/smart_proxies/pulp_info.json.rabl
  test/controllers/foreman/hosts_controller_test.rb
  webpack/scenes/Hosts/ChangeContentSource/actions.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
  webpack/scenes/Hosts/ChangeContentSource/components/FormField.js
  webpack/scenes/Hosts/ChangeContentSource/components/Hosts.js
  webpack/scenes/Hosts/ChangeContentSource/components/HostsModal.js
  webpack/scenes/Hosts/ChangeContentSource/constants.js
  webpack/scenes/Hosts/ChangeContentSource/helpers.js
  webpack/scenes/Hosts/ChangeContentSource/index.js
  webpack/scenes/Hosts/ChangeContentSource/selectors.js
Labels: Not yet reviewed

#10327 Fixes #35668 - Show both applicable and installable errata on overview card
  app/models/katello/host/content_facet.rb
  test/models/host/content_facet_test.rb
  webpack/components/Errata/errataHelpers.js
  webpack/components/Errata/index.js
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
  webpack/components/extensions/HostDetails/Cards/__tests__/errataOverviewCard.test.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
Labels: Waiting on contributor, Needs re-review, Ready for merge, Demo worthy

#10315 Fixes #35627 - Use proxy registration_url from Proxy in registration
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
Labels: Not yet reviewed

#10335 Fixes #35723 - CV dashboard widget hides generated
  app/views/dashboard/_content_views_widget.html.erb
Labels: Not yet reviewed

#10336 i18n - pulling from tx
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Not yet reviewed, Waiting on contributor

#10337 Bump master version to 4.8.0-master
  lib/katello/version.rb
Labels: Ready for merge

#10338 Update version.rb to 4.7.0.rc1
  lib/katello/version.rb
Labels: Ready for merge

#10334 Fixes #35704 - Drop the term 'Subscription Watch'
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeCard.js
  webpack/scenes/Subscriptions/SubscriptionConstants.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/SubscriptionsToolbar.js
Labels: Not yet reviewed

#10344 Bump dep warning on mirror_on_sync to 4.8
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Not yet reviewed, Waiting on contributor

#10346 Revert "Update version.rb to 4.7.0.rc1"
  lib/katello/version.rb
Labels: Ready for merge

#10332 Fixes #35709 - index application/vnd.oci.image.manifest.v1+json manifests
  app/services/katello/pulp3/docker_manifest.rb
  app/services/katello/pulp3/docker_manifest_list.rb
  lib/katello/repository_types/docker.rb
  test/fixtures/pulp3/docker_manifests.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/exclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/actions/pulp3/copy_all_units_docker_repository/inclusion_docker_filters.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/index_with_oci_tagged_manifest.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/resync_limit_tags_deletes_proper_repo_association_meta_tags.yml
  test/models/docker_manifest_test.rb
  test/services/katello/pulp3/docker_tag_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10348 Fixes #35712 - CV version compare UX reviews
  webpack/containers/Application/overrides.scss
  webpack/scenes/ContentViews/Create/ContentViewFormComponents.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompare.scss
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareHeader.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareTable.js
Labels: Not yet reviewed

#10345 Fixes #35604 - fix repository sets to reflect SCA status on direct load
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Not yet reviewed, Waiting on contributor

#10341 Fixes #35735 - Stub pulp3support? for test smart proxy
  test/actions/katello/repository_test.rb
  test/actions/pulp3/orchestration/multi_copy_all_units_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/fixtures/models/katello_content_facets.yml
  test/models/content_view_version_test.rb
Labels: Not yet reviewed

#10340 Fixes #35657 - Fix orphan delete
  app/services/katello/pulp3/ansible_collection.rb
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
Labels: Not yet reviewed

#10342 Fixes #35736 - clean orphaned alternate content sources from smart proxies
  app/lib/actions/pulp3/orchestration/orphan_cleanup/remove_orphans.rb
  app/lib/actions/pulp3/orphan_cleanup/delete_orphan_alternate_content_sources.rb
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
Labels: Not yet reviewed, Waiting on contributor

#10352 Fixes #35741 - Add Virtual guests to System properties card
  webpack/components/extensions/HostDetails/DetailsTabCards/RegistrationCard.js
  webpack/components/extensions/HostDetails/DetailsTabCards/SystemPropertiesCardExtensions.js
  webpack/global_index.js
Labels: Not yet reviewed

#10350 Fixes #35740 - Composite content view versions can be emptied out during same-repo merging
  app/lib/actions/pulp3/orchestration/repository/copy_all_units.rb
  app/services/katello/pulp3/repository/yum.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10354 Fixes #35752 - Make errata search filtered with ID work in Web UI
  app/models/katello/erratum.rb
Labels: Not yet reviewed

#10353 Fixes #35683 - check for content facet before refreshing content host statuses
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Not yet reviewed, Waiting on contributor

#10357 Fixes #35714 - Host details -- enable module stream tab for EL variants
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
Labels: Not yet reviewed, Waiting on contributor

#10358 Fixes #35698 - Show SCA deprecation banner regardless of manifest
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/subscriptions/views/content-access-mode-banner.html
  engines/bastion_katello/test/activation-keys/details/activation-key-details.controller.test.js
  engines/bastion_katello/test/content-hosts/details/content-host-details.controller.test.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
Labels: Not yet reviewed

#10339 Fixes #35734 - switch to async endpoint for manifest refresh
  app/lib/actions/candlepin/abstract_async_task.rb
  app/lib/actions/candlepin/owner/retrieve_upstream_export.rb
  app/lib/actions/candlepin/owner/start_upstream_export.rb
  app/lib/actions/candlepin/upstream_abstract_async_task.rb
  app/lib/actions/katello/organization/manifest_refresh.rb
  app/lib/actions/middleware/propagate_candlepin_errors.rb
  app/lib/katello/errors.rb
  app/lib/katello/resources/candlepin/upstream_consumer.rb
  app/lib/katello/resources/candlepin/upstream_job.rb
  app/models/katello/glue/provider.rb
  test/actions/katello/organization_test.rb
Labels: Not yet reviewed

#10356 Fixes #35730 - Show include artifact checkboxes for rpm and module stream
  webpack/components/Table/EmptyStateMessage.js
  webpack/scenes/ContentViews/Details/Filters/ArtifactsWithNoErrata.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvErrataIDFilter.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvModuleStreamFilter.test.js
Labels: Not yet reviewed, Waiting on contributor

#10360 Fixes #35168 - stop using single quotes that were breaking translations
  engines/bastion/app/views/bastion/layouts/assets.html.erb
Labels: Not yet reviewed, Waiting on contributor

#10359 Fixes #35771 - wrap bookmarks in angular pages
  engines/bastion/app/assets/stylesheets/bastion/bastion.scss
Labels: Ready for merge

#10355 Fixes #35754 - ACS refresh by name via hammer does not work
  app/controllers/katello/api/v2/alternate_content_sources_controller.rb
  test/controllers/api/v2/alternate_content_sources_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  test/katello_test_helper.rb
Labels: Ready for merge

#10363 Fixes #35640 - fix broken hammer host subscription content-override
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
Labels: Ready for merge

#10368 Fixes #35742: Make content view dropdown scrollable and searchable
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/__tests__/changeHostCVModal.test.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionReassignActivationKeysForm.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionReassignHostsForm.js
  webpack/scenes/ContentViews/Delete/__tests__/contentViewDelete.test.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignHosts.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignActivationKeysForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignHostsForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/cvVersionRemove.test.js
  webpack/scenes/ContentViews/components/ContentViewSelect/ContentViewSelect.js
Labels: Not yet reviewed

#10241 Fixes #35381 - use consumer uuid from candlepin
  app/services/katello/registration_manager.rb
  test/fixtures/vcr_cassettes/katello/service/registration_manager/registration.yml
  test/fixtures/vcr_cassettes/katello/service/registration_manager/registration_activation_key.yml
  test/fixtures/vcr_cassettes/katello/service/registration_manager/registration_existing_host.yml
  test/services/katello/registration_manager_test.rb
Labels: Ready for merge

#10369 Fixes #35776 - Add pulp_deb monkeypatch for pulp 3.21 - 3.18 sync
  config/initializers/monkeys.rb
  lib/monkeys/fix_deb_optimized_sync.rb
  lib/monkeys/fix_pulp_container_path.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_on_sync.yml
Labels: Not yet reviewed
