Repository Katello/katello, pull requests merged in 2022-06, with the labels that each got.

#10065 Fixes #34779 - Call upsert_all with uniq records
  app/models/katello/erratum.rb
Labels: Needs testing, Not yet reviewed

#10132 Fixes #32282 - Repository restricted to an OS showed in a label on Repository Sets screen
  app/views/katello/api/v2/repository_sets/show.json.rabl
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySets.fixtures.json
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10141 Fixes #34769 - Add tooltips for errata type icons
  webpack/components/Errata/index.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailConfig.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10143 Fixes #35004: Drop use of pulp_client_cert and pulp_client_key
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/cert/certs.rb
  app/services/katello/pulp/server.rb
  lib/katello/plugin.rb
Labels: Needs testing, Not yet reviewed

#10131 Fixes #34890 - move repository sets tab to content tab
  webpack/components/extensions/HostDetails/Tabs/ContentTab/SecondaryTabsRoutes.js
  webpack/components/extensions/HostDetails/Tabs/ContentTab/constants.js
  webpack/components/extensions/HostDetails/Tabs/ContentTab/index.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/global_index.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10135 Fixes #34982 - Add last checkin to 'Recent communication' card
  webpack/components/extensions/HostDetails/DetailsTabCards/RecentCommunicationCardExtensions.js
  webpack/global_index.js
Labels: Ready for merge

#10158 use a normal version of grunt-bower-task, not a git checkout
  engines/bastion/package.json
  engines/bastion_katello/package.json
Labels: Ready for merge

#10160 Fixes #35041 - Small fixes for ACS UI and vendor field autocomplete
  app/models/katello/installed_package.rb
  webpack/scenes/AlternateContentSources/Create/Steps/ACSSmartProxies.js
Labels: Ready for merge

#10144 Fixes #35012 - add call-to-action empty states
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/MainTable.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsModal.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Needs testing, Not yet reviewed

#10154 Generate package-lock and run npm ci separately for react UI tests
  .github/workflows/react_tests.yml
Labels: Waiting on contributor, Ready for merge

#10146 Fixes #35000 - API endpoint to return host's enabled repositories
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  config/routes/overrides.rb
  lib/katello/permissions/host_permissions.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
Labels: Needs testing, Not yet reviewed

#10094 Fixes #34872 - Search for errata tasks by scoped search
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/views/foreman/job_templates/install_errata_by_search_query.erb
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Packaging Change

#10148 Fixes #35025 - Use task hooks for capsule sync
  app/lib/actions/katello/content_view/promote_to_environment.rb
  app/lib/actions/katello/content_view/publish.rb
Labels: Needs testing, Not yet reviewed

#10155 Fixes #35038 - remove spinner from PackagesTab & ModuleStreamsTab
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
Labels: Needs testing, Not yet reviewed

#10157 Fixes #35040 - wrong latest kernel version in Registered Content Hosts report
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Ready for merge

#10145 Fixes #35002 - adjust card weights on Overview tab
  webpack/global_index.js
Labels: Needs testing, Not yet reviewed

#10167 Fixes #35064 - bump pulp_ansible_client to 0.13.1
  katello.gemspec
Labels: Needs testing, Not yet reviewed, Packaging Change

#10163 Fixes #35053 - User no longer receive errata email notification
  app/lib/actions/katello/repository/errata_mail.rb
  test/actions/katello/repository_test.rb
Labels: Needs testing, Not yet reviewed

#10173 Fixes #35063 - Allow copying activation keys with create_activation_keys permissions
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/activation-keys.routes.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-details.html
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10159 Fixes #34929 - ACS details UI
  app/controllers/katello/api/v2/alternate_content_sources_controller.rb
  app/views/katello/api/v2/alternate_content_sources/base.json.rabl
  webpack/containers/Application/config.js
  webpack/scenes/AlternateContentSources/ACSActions.js
  webpack/scenes/AlternateContentSources/ACSConstants.js
  webpack/scenes/AlternateContentSources/ACSSelectors.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCreateFinish.js
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSExpandableDetails.test.js
  webpack/scenes/AlternateContentSources/Details/__tests__/acsDetails.fixtures.json
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.scss
  webpack/scenes/SmartProxy/SmartProxyContentActions.js
Labels: Needs testing, Not yet reviewed

#10151 Fixes #35027 add link to clear search
  webpack/components/Search/Search.js
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/MainTable.js
  webpack/components/Table/TableWrapper.js
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/extensions/HostDetails/Cards/HostCollectionsCard/HostCollectionsModal.js
  webpack/components/extensions/HostDetails/Cards/__tests__/errataOverviewCard.test.js
  webpack/components/extensions/HostDetails/HostDetailsConstants.js
  webpack/components/extensions/HostDetails/HostDetailsReducer.js
  webpack/components/extensions/HostDetails/HostDetailsSelectors.js
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.js
  webpack/redux/reducers/index.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/BulkDeleteModal.test.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10168 Fixes #35073 - Cannot delete record because of dependent library_instances_inverse
  app/models/katello/authorization/repository.rb
  test/models/authorization/repository_authorization_test.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10170 Fixes #35079 - Pulp 3 migration stats timing is too low for very large deployments
  lib/katello/tasks/pulp3_migration_stats.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#10177 Fixes #35119 - acs refresh rake task fails with no ACSs
  lib/katello/tasks/refresh_alternate_content_sources.rake
Labels: Ready for merge

#10109 Fixes #34743 - Allow RPM updateAll package action
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-applicable.html
  engines/bastion_katello/test/content-hosts/content/content-host-packages.controller.test.js
Labels: Ready for merge
