Repository Katello/katello, pull requests merged in 2022-12, with the labels that each got.

#10361 Fixes #35773 - Checks for empty cacert on connecting via Http Proxy
  app/lib/katello/resources/candlepin.rb
  app/lib/katello/resources/cdn.rb
  app/services/katello/pulp3/repository.rb
  test/lib/resources/candlepin_test.rb
  test/lib/resources/cdn_test.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10258 Fixes #35693 - Use optimize and complete sync for APT repos
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/repository/sync.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository/apt.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-advanced-sync-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-advanced-sync-options.html
Labels: Needs testing, Not yet reviewed

#10349 Fixes #35614 - extra modular packages and errata copied into CVV
  app/lib/katello/util/errata.rb
  app/models/katello/erratum.rb
  app/services/katello/pulp3/repository/yum.rb
  test/fixtures/models/katello_rpms.yml
  test/lib/util/errata_test.rb
Labels: Not yet reviewed

#10376 Update version to 4.6.1
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10371 Fixes #35810 - Use 'search' url param instead of 'host_ids' for job wizard
  webpack/components/extensions/HostDetails/Tabs/__tests__/errataTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/moduleStreamsTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packageInstallModal.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
  webpack/components/extensions/HostDetails/Tabs/customizedRexUrlHelpers.js
Labels: Ready for merge

#10366 Fixes #35783 - Remove old Pulp 2 docker port setting
  app/services/katello/pulp/repository/docker.rb
  db/migrate/20221123212341_remove_pulp_docker_registry_port_setting.rb
  lib/katello/plugin.rb
  lib/katello/repository_types/docker.rb
Labels: Not yet reviewed

#10379 Fixes #35829 - Mirror complete sync policy no longer allowed with ignored content types
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository_mirror.rb
  db/migrate/20221206170122_update_ignore_srpm_to_false_for_mirror_complete.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/incompatible_mirror_repo_error.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/index_erratum_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/optimize_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/reindex_outdated_erratum.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_with_acs.yml
  test/models/root_repository_test.rb
Labels: Ready for merge

#10383 [CP] ignore srpms for mirror complete
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository_mirror.rb
  db/migrate/20221206170122_update_ignore_srpm_to_false_for_mirror_complete.rb
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/incompatible_mirror_repo_error.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/index_erratum_href.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/optimize_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/reindex_outdated_erratum.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_mirror_false.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_with_acs.yml
  test/models/root_repository_test.rb
Labels: Ready for merge

#10386 Refs #35829 - Use constant instead of hardcoded string
  app/models/katello/root_repository.rb
  test/models/root_repository_test.rb
Labels: Not yet reviewed

#10390 Fixes #35857 - don't assume single_content_view etc. is present in RABL templates
  app/views/katello/api/v2/content_facet/base.json.rabl
  app/views/katello/api/v2/content_facet/show.json.rabl
  app/views/katello/api/v2/hosts/base.json.rabl
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Not yet reviewed

#10387 Fixes #35818 - Fix repository sets NilClass error when all items selected
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10377 Fixes #35046 - pluralize and translate errata tooltip
  webpack/components/extensions/HostDetails/Cards/ErrataOverviewCard.js
Labels: Ready for merge

#10389 Fixes #35854 - Columns should be empty if there's no data
  app/helpers/katello/hosts_and_hostgroups_helper.rb
Labels: Not yet reviewed

#10392 Fixes #35863 - Stop using #hosts with KTEnvironments
  app/lib/actions/katello/content_view/remove.rb
  app/lib/actions/katello/environment/destroy.rb
  test/actions/katello/environment_test.rb
Labels: Not yet reviewed

#10395 Fixes #35878 - CV and LCE name show empty strings in RepoSets banner
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Not yet reviewed, Waiting on contributor

#10398 Fixes #35886 - Allow installed_debs method
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Not yet reviewed

#10393 Fixes #35864 - Remove all non-srpm content types from ignorable content
  db/migrate/20220228173251_remove_drpm_from_ignorable_content.rb
Labels: Not yet reviewed, Waiting on contributor

#10397 Fixes #35873 - add ouiaId to ACS and other components
  webpack/components/Table/EmptyStateMessage.js
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
  webpack/scenes/Content/Details/ContentRepositories.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/components/WizardHeader.js
  webpack/scenes/SmartProxy/SmartProxyContentTable.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CdnTypeForm.js
  webpack/scenes/Subscriptions/Manifest/CdnConfigurationTab/CustomCdnTypeForm.js
Labels: Not yet reviewed

#10396 Fixes #35874 - Registration fails in method: host_setup_extension
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
  app/models/katello/host/content_facet.rb
Labels: Not yet reviewed
