Repository Katello/katello, pull requests merged in 2023-11, with the labels that each got.

#10778 Fixes #36844 - Fail early when syncing non-library repos
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/repository/sync.rb
Labels: Ready for merge

#10787 use foreman-devel module for packit
  .packit.yaml
Labels: Ready for merge

#10785 Fixes #36882 - errata's issued and updated times shouldn't be changed to local timezone
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/views/errata.html
Labels: Ready for merge

#10782 Fixes #36878 - Override host bulk destroy
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/concerns/api/v2/bulk_hosts_extensions.rb
  app/controllers/katello/concerns/api/v2/hosts_bulk_actions_controller_extensions.rb
  app/controllers/katello/remote_execution_controller.rb
  lib/katello/engine.rb
  test/controllers/api/v2/concerns/bulk_hosts_extensions_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_extensions_test.rb
  webpack/components/extensions/Hosts/ActionsBar/index.js
Labels: Needs re-review

#10790 Fixes #36901 - Updated CP VCR's for 4.3.10
  test/fixtures/vcr_cassettes/scenarios/import_manifest_manifest_small_modified_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_manifest_manifest_small_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_products_manifest_small_modified_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_products_manifest_small_zip.yml
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/repository_create/update_org_service_level.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
Labels: Ready for merge

#10777 Fixes #36861 - fix username and password definition into request_params
  app/lib/katello/repo_discovery.rb
Labels: Ready for merge

#10800 use yum.tfm.o for packit
  .packit.yaml
Labels: Waiting on contributor

#10793 Fixes #36908 - Creating an override with hammer for one repository should not override all repositories
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
Labels: Stable branch

#10813 [CP] Bump version to 4.12.0-master
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10815 Release Katello 4.11.0.rc1
  CHANGELOG.md
  lib/katello/version.rb
Labels: Waiting on contributor, Stable branch
