Repository Katello/katello, pull requests merged in 2023-02, with the labels that each got.

#10434 Fixes #36033 - prep for Candlepin 4.2.13 contentId
  app/lib/actions/candlepin/environment/set_content.rb
Labels: Ready for merge

#10399 Fixes #35232 - Fix repo sets empty state when Limit to Environment selected
  webpack/components/Table/MainTable.js
  webpack/components/Table/TableWrapper.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Not yet reviewed, Waiting on contributor

#10437 Fixes #36043 - Assign content view correctly when reassigning hosts
  app/lib/actions/katello/host/reassign.rb
Labels: Not yet reviewed, Waiting on contributor

#10436 Fixes #36041 - Added name validation to ACS creation to improve error message for omitted name
  app/models/katello/alternate_content_source.rb
Labels: Ready for merge

#10438 Fixes #36042 - RHUI ACS content type validation
  app/models/katello/alternate_content_source.rb
  test/controllers/api/v2/alternate_content_sources_controller_test.rb
  test/fixtures/models/katello_alternate_content_sources.yml
  test/models/katello/alternate_content_source_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10440 Fixes #35963 - Change empty state on blank manifest
  webpack/scenes/Subscriptions/SubscriptionsPage.js
Labels: Ready for merge

#10416 Fixes #35947 - Consume install_all param when finding hosts
  app/controllers/katello/concerns/api/v2/bulk_hosts_extensions.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/apply-errata.controller.js
  test/controllers/api/v2/concerns/bulk_hosts_extensions_test.rb
Labels: Not yet reviewed

#10439 Fixes #36044 - Update pf4 to 2022.16+ release
  webpack/components/RoutedTabs/index.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/packagesTab.test.js
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/ActivationKeys.test.js.snap
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/Force.test.js.snap
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/IgnoreSubmanErrors.test.js.snap
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/LifeCycleEnvironment.test.js.snap
  webpack/scenes/AlternateContentSources/Create/ACSCreateWizard.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCreateFinish.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
Labels: Not yet reviewed

#10446 Fixes #36081 - Update JS snapshots
  webpack/components/Content/__tests__/__snapshots__/ContentPage.test.js.snap
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/__snapshots__/SubscriptionsToolbar.test.js.snap
Labels: Not yet reviewed

#10445 Fixes #36078 - Let link from Content Hosts navigate to Host's Content tab
  config/routes.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
Labels: Not yet reviewed, Waiting on contributor

#10442 Fixes #36053 - Re-enable test sync skipped srpms
  test/fixtures/vcr_cassettes/katello/services/pulp3/srpm_vcr/pulp_data.yml
  test/fixtures/vcr_cassettes/katello/services/pulp3/srpm_vcr/repo_srpms.yml
  test/fixtures/vcr_cassettes/katello/services/pulp3/srpm_vcr_initial_sync/sync_skipped_srpm.yml
  test/services/katello/pulp3/srpm_test.rb
Labels: Ready for merge

#10417 Fixes #35948 - Support for incremental syncable exports
  app/controllers/katello/api/v2/content_export_incrementals_controller.rb
  app/controllers/katello/api/v2/content_exports_controller.rb
  app/controllers/katello/api/v2/content_imports_controller.rb
  app/controllers/katello/api/v2/exports_controller.rb
  app/lib/actions/pulp3/content_view_version/create_syncable_export_history.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/export_repository.rb
  app/lib/actions/pulp3/orchestration/content_view_version/syncable_export.rb
  app/models/katello/content_view_version.rb
  app/models/katello/repository.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/content_view_version/export_validator.rb
  app/services/katello/pulp3/content_view_version/importable_products.rb
  app/services/katello/pulp3/content_view_version/syncable_format_export.rb
  lib/katello/plugin.rb
  test/controllers/api/v2/content_export_incrementals_controller_test.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10452 Fixes #36103 - Address Paginaion issue on ACS Main Table
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
Labels: Not yet reviewed

#10447 Fixes #36074 - Saving RHUI alternate content source with a malformed Base URL is possible
  webpack/scenes/AlternateContentSources/Create/ACSCreateWizard.js
  webpack/scenes/AlternateContentSources/Create/Steps/AcsUrlPaths.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditURLPaths.js
  webpack/scenes/AlternateContentSources/helpers.js
Labels: Not yet reviewed, Waiting on contributor

#10433 Fixes #36025 - Ensure custom products don't use Red Hat provider
  app/models/katello/glue/candlepin/pool.rb
  app/models/katello/glue/candlepin/product.rb
  app/models/katello/glue/candlepin/subscription.rb
  app/models/katello/glue/provider.rb
  app/models/katello/pool.rb
  app/models/katello/product.rb
  app/services/katello/pulp3/content_view_version/export_validation_error.rb
  app/services/katello/pulp3/content_view_version/export_validator.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/clean_candlepin_orphaned_products.rake
  lib/katello/tasks/reimport.rake
  lib/katello/tasks/upgrades/4.8/fix_incorrect_providers.rake
  spec/models/product_spec.rb
  test/actions/katello/alternate_content_source_test.rb
  test/factories/product_factory.rb
  test/fixtures/models/katello_products.yml
  test/models/pool_test.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
Labels: Not yet reviewed

#10458 Fixes #36124 - fix wording of errata_status_installable setting
  lib/katello/plugin.rb
Labels: Ready for merge

#10372 Fixes #35191 - Strip errata trailing whitespace before saving
  app/services/katello/pulp3/erratum.rb
  test/controllers/api/v2/api_controller_test.rb
  test/controllers/api/v2/errata_controller_test.rb
  test/fixtures/models/katello_errata.yml
  test/fixtures/models/katello_repository_errata.yml
Labels: Ready for merge

#10461 Bump master version to 4.9.0-master
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10451 Refs #35989 - Some more ouia-ids
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
Labels: Ready for merge

#10441 Fixes #36049 - support for issued date in applied report template
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Ready for merge

#10462 Release 4.8.0.rc1
  CHANGELOG.md
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10465 Bump dep warning on mirror_on_sync to 4.9
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Not yet reviewed, Waiting on contributor

#10435 Fixes #36038 - Add validations for ACS creation and update in hammer
  app/controllers/katello/api/v2/alternate_content_sources_controller.rb
  app/lib/actions/katello/alternate_content_source/create.rb
  app/lib/actions/katello/alternate_content_source/update.rb
  app/models/katello/alternate_content_source.rb
  db/migrate/20230203141353_set_new_acs_verify_ssl_default.rb
  test/controllers/api/v2/alternate_content_sources_controller_test.rb
  test/models/katello/alternate_content_source_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10454 Fixes #36051 - ForeignKeyViolation on ACS create when invalid --ssl-* argument is provided
  app/models/katello/alternate_content_source.rb
Labels: Not yet reviewed, Waiting on contributor

#10468 Fixes #36146 - Fail export validation on zero repository versions
  app/lib/actions/pulp3/orchestration/content_view_version/export.rb
  app/lib/actions/pulp3/orchestration/content_view_version/syncable_export.rb
  app/lib/katello/api/v2/error_handling.rb
  app/services/katello/pulp3/content_view_version/export_validation_error.rb
  app/services/katello/pulp3/content_view_version/export_validator.rb
  test/services/katello/pulp3/content_view_version/export_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10466 Fixes #36142 - Allow reclaim space without explicitly setting Organization
  app/lib/actions/pulp3/repository/reclaim_space.rb
  test/actions/pulp3/repository/reclaim_space_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10470 Fixes #36147 - Correct the name of the new rake task
  app/models/katello/glue/provider.rb
Labels: Ready for merge
