Repository Katello/katello, pull requests merged in 2023-08, with the labels that each got.

#10667 Fixes #36621 - Update name of job template to new name
  app/controllers/katello/concerns/hosts_controller_extensions.rb
Labels: Not yet reviewed

#10658 Fixes #36608 - Fix customizing discovered hosts / use safe navigation for content facet in host_managed_extensions
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/views/overrides/activation_keys/_host_environment_select.html.erb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Not yet reviewed

#10674 Fixes #36629 - Add cvv synced to env created at on capsule sync page
  app/views/katello/api/v2/capsule_content/sync_status.json.rabl
Labels: Ready for merge

#10673 Fixes #36593 - Repository details page shouldn't say 'enabled by default'
  app/controllers/katello/api/v2/repositories_controller.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Ready for merge

#10676 Fixes #36631 - add file:// to ACS path types
  webpack/scenes/AlternateContentSources/Create/Steps/AcsUrlPaths.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditURLPaths.js
Labels: Not yet reviewed

#10668 Fixes #36622 - Mark needs_publish after reindexing
  app/lib/actions/katello/repository/index_content.rb
  app/models/katello/content_view.rb
  app/models/katello/repository.rb
Labels: Not yet reviewed

#10670 Fixes #36623 - Add buttons and other UX improvements to change content source
  webpack/scenes/ContentViews/components/ContentViewSelect/helpers.js
  webpack/scenes/Hosts/ChangeContentSource/actions.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceTemplate.js
  webpack/scenes/Hosts/ChangeContentSource/index.js
  webpack/scenes/Hosts/ChangeContentSource/styles.scss
Labels: Ready for merge

#10637 Fixes #36576 - Add Activation Key details top bar
  webpack/scenes/ActivationKeys/Details/ActivationKeyActions.js
  webpack/scenes/ActivationKeys/Details/ActivationKeyConstants.js
  webpack/scenes/ActivationKeys/Details/ActivationKeyDetails.js
  webpack/scenes/ActivationKeys/Details/ActivationKeyDetails.scss
  webpack/scenes/ActivationKeys/Details/ActivationKeyDetailsSelectors.js
  webpack/scenes/ActivationKeys/Details/__tests__/activationKeyDetails.test.js
  webpack/scenes/ActivationKeys/Details/components/DeleteMenu.js
  webpack/scenes/ActivationKeys/Details/components/DeleteModal.js
  webpack/scenes/ActivationKeys/Details/components/EditModal.js
Labels: Not yet reviewed, Waiting on contributor

#10675 Fixes #36634 - Fail when wrong/missing ids are passed to bulk ACS actions
  app/controllers/katello/api/v2/alternate_content_sources_bulk_actions_controller.rb
Labels: Ready for merge

#10681 Fixes #36638 - Allow metadata regenerate with --force flag on API/Hammer
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/content_view_version/republish_repositories.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10654 Fixes #36599 - Add hostname to hypervisor task with validation error
  app/models/katello/concerns/host_managed_extensions.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/foreman/hosts_controller_test.rb
  test/models/host/content_facet_test.rb
  test/models/host/subscription_facet_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Ready for merge

#10683 Fixes #36641 - use Minitest namespace
  test/katello_test_helper.rb
  test/source_code_test.rb
  test/support/minitest/spec/shared_examples.rb
Labels: Not yet reviewed, Waiting on contributor

#10684 Refs #36641 - also don't override metadata
  test/actions/katello/content_view_version/import_library_test.rb
  test/actions/katello/content_view_version/import_repository_test.rb
  test/actions/katello/content_view_version/import_test.rb
Labels: Not yet reviewed

#10651 Fixes #36520 - Enforce authorization on capsule syncs
  app/lib/actions/katello/content_view/capsule_sync.rb
  app/lib/actions/katello/repository/capsule_sync.rb
  app/lib/actions/katello/repository/update_metadata_sync.rb
Labels: Not yet reviewed

#10685 Fixes #36648 - Show desc and publish date on component CV add/edit modal
  app/views/katello/api/v2/content_view_components/show.json.rabl
  app/views/katello/api/v2/content_views/base.json.rabl
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewBulkAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.fixtures.json
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
Labels: Not yet reviewed, Waiting on contributor

#10694 Fixes #36674 - don't update Candlepin consumer when force-reregistering
  app/models/katello/host/content_facet.rb
  app/services/katello/registration_manager.rb
  test/services/katello/registration_manager_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10566 add packit config
  .packit.yaml
Labels: Not yet reviewed, Waiting on contributor

#10687 Fixes #36654 - Remove dead content_view_solve_dependencies setting
  engines/bastion/app/views/bastion/layouts/assets.html.erb
  lib/katello/plugin.rb
Labels: Ready for merge

#10696 Fixes #36679 - Sort CV versions when adding component views
  app/models/katello/content_view.rb
  app/models/katello/content_view_component.rb
  app/views/katello/api/v2/content_views/base.json.rabl
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewBulkAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.fixtures.json
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/publishedContentViewDetails.fixtures.json
Labels: Not yet reviewed

#10700 consume katello repo from koji when doing packit builds
  .packit.yaml
Labels: Not yet reviewed, Waiting on contributor

#10699 Fixes #36684 - allow single_content_view in ContentFacet::Jail
  app/models/katello/host/content_facet.rb
  app/models/katello/kt_environment.rb
Labels: Not yet reviewed

#10691 Fixes #36667 - Hammer host update should fail non-existent LCE
  app/controllers/katello/concerns/content_facet_hosts_controller_extensions.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Ready for merge

#10688 Fixes #36083 - Remove remote_execution_by_default setting
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/lib/actions/katello/content_view/incremental_updates.rb
  app/views/katello/api/v2/content_facet/show.json.rabl
  engines/bastion_katello/lib/bastion_katello/engine.rb
  lib/katello/engine.rb
  lib/katello/plugin.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
Labels: Not yet reviewed

#10686 Fixes #36649 - Remove katello-agent out of legacy UI
  engines/bastion_katello/README.md
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-module-streams-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-packages-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-packages-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-debs-applicable.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-errata.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-module-streams.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-actions.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-applicable.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages-installed.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/content-host-packages.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-debs-applicable.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-applicable.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/apply-errata.controller.js
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.test.js
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-packages-modal.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-errata.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-packages-applicable.controller.test.js
  engines/bastion_katello/test/content-hosts/content/content-host-packages.controller.test.js
  engines/bastion_katello/test/errata/apply-errata.controller.test.js
Labels: Not yet reviewed

#10704 Bump master to 4.11.0-master
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10518 Fixes #36295 - Auto activation key selection if there's only one
  webpack/components/extensions/RegistrationCommands/RegistrationCommandsPageHelpers.js
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/ActivationKeys.test.js.snap
  webpack/components/extensions/RegistrationCommands/fields/ActivationKeys.js
  webpack/components/extensions/RegistrationCommands/index.js
Labels: Not yet reviewed

#10633 Fixes #36552 - Update PermissionDenied snapshots
  webpack/scenes/RedHatRepositories/__tests__/__snapshots__/RedHatRepositoriesPage.test.js.snap
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
Labels: Not yet reviewed

#10690 Fixes #36665 - Remove katello-agent API endpoints and rabl nodes
  app/controllers/katello/api/v2/api_controller.rb
  app/controllers/katello/api/v2/host_errata_controller.rb
  app/controllers/katello/api/v2/host_packages_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/concerns/api/api_controller.rb
  app/models/katello/ping.rb
  app/views/katello/api/v2/content_facet/show.json.rabl
  config/routes/overrides.rb
  test/controllers/api/v2/api_controller_test.rb
  test/controllers/api/v2/host_errata_controller_test.rb
  test/controllers/api/v2/host_packages_controller_test.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
  test/models/host/content_facet_test.rb
  test/models/ping_test.rb
  test/services/katello/registration_manager_test.rb
Labels: Not yet reviewed

#10710 Refs #36706 - Remove remaining katello-agent code including Agent Events & Dynflow actions
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/lib/actions/katello/agent/dispatch_history_presenter.rb
  app/lib/actions/katello/agent_action.rb
  app/lib/actions/katello/bulk_agent_action.rb
  app/lib/actions/katello/content_view/incremental_updates.rb
  app/lib/actions/katello/host/erratum/applicable_errata_install.rb
  app/lib/actions/katello/host/erratum/install.rb
  app/lib/actions/katello/host/package/install.rb
  app/lib/actions/katello/host/package/remove.rb
  app/lib/actions/katello/host/package/update.rb
  app/lib/actions/katello/host/package_group/install.rb
  app/lib/actions/katello/host/package_group/remove.rb
  app/lib/katello/agent/base_message.rb
  app/lib/katello/agent/client_message_handler.rb
  app/lib/katello/agent/connection.rb
  app/lib/katello/agent/install_errata_message.rb
  app/lib/katello/agent/install_package_group_message.rb
  app/lib/katello/agent/install_package_message.rb
  app/lib/katello/agent/remove_package_group_message.rb
  app/lib/katello/agent/remove_package_message.rb
  app/lib/katello/agent/update_package_message.rb
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/lib/katello/event_daemon/services/agent_event_receiver.rb
  app/lib/katello/qpid/connection.rb
  app/models/katello/agent/dispatch_history.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/events/delete_host_agent_queue.rb
  app/models/katello/host/content_facet.rb
  app/models/katello/ping.rb
  app/services/katello/agent/dispatcher.rb
  app/services/katello/registration_manager.rb
  config/katello.yaml.example
  db/migrate/20230828143236_remove_katello_agent_dispatch_history.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/common/views/katello-agent-notice.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-applicable.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-installed.html
  engines/bastion_katello/lib/bastion_katello/engine.rb
  katello.gemspec
  lib/katello/engine.rb
  lib/katello/plugin.rb
  test/actions/katello/agent/dispatch_history_presenter_test.rb
  test/actions/katello/agent_action_tests.rb
  test/actions/katello/host/applicable_errata_install_test.rb
  test/actions/katello/host/erratum_test.rb
  test/actions/katello/host/package_group_test.rb
  test/actions/katello/host/package_test.rb
  test/lib/agent/client_message_handler_test.rb
  test/lib/agent/connection_test.rb
  test/lib/agent/update_package_message_test.rb
  test/lib/event_daemon/services/agent_event_receiver_test.rb
  test/models/events/delete_host_agent_queue_test.rb
  test/services/katello/agent/dispatcher_test.rb
Labels: Not yet reviewed, Packaging Change
