Repository Katello/katello, pull requests merged in 2023-03, with the labels that each got.

#10464 Fixes #36095 - Update Angularjs UI links to new host UI
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-associations.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-associations-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-errata-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/details/deb.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/debs/details/views/deb-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/erratum-content-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/host-collection-add-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/host-collection-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-add-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-hosts-list.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/details/package.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/packages/details/views/package-info.html
  engines/bastion_katello/test/activation-keys/details/activation-key-associations.controller.test.js
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.test.js
  engines/bastion_katello/test/debs/details/deb.controller.test.js
  engines/bastion_katello/test/errata/details/erratum-content-hosts.controller.test.js
  engines/bastion_katello/test/host-collections/details/host-collection-add-hosts.controller.test.js
  engines/bastion_katello/test/host-collections/details/host-collection-hosts.controller.test.js
  engines/bastion_katello/test/packages/details/package.controller.test.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedHosts.js
Labels: Ready for merge

#10460 Fixes #36132 - Add export definitions for columns
  lib/katello/plugin.rb
Labels: Not yet reviewed

#10467 Fixes #36140 - Remove all references to mirror_on_sync
  app/controllers/katello/api/v2/repositories_controller.rb
  test/controllers/api/v2/repositories_controller_test.rb
Labels: Not yet reviewed

#10469 Fixes #36151 - Add RHEL 9 kickstart appstream/baseos as recommended repos
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Ready for merge

#10472 Fixes #36157 - reuse pulpcore registry manifest headers
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Not yet reviewed

#10474 Fixes #36123 - Can't force delete when repo is in syncable exports
  app/models/katello/content_view.rb
Labels: Not yet reviewed, Waiting on contributor

#10477 Fixes #36164 - Incremental imports create proper publication
  app/lib/actions/pulp3/orchestration/content_view_version/copy_version_units_to_library.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/4.8/regenerate_imported_repository_metadata.rake
Labels: Not yet reviewed, Waiting on contributor

#10478 Fixes #36158 - Update Satellite repos to version 6.13
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Ready for merge

#10480 Fixes #36172 - Add ellipsis to columns in hosts index
  lib/katello/plugin.rb
Labels: Not yet reviewed

#10444 Fixes #36075 - improve errata installation templates
  app/views/foreman/job_templates/install_errata.erb
  app/views/foreman/job_templates/install_errata_-_katello_ansible_default.erb
  app/views/foreman/job_templates/install_errata_by_search_query.erb
Labels: Not yet reviewed

#10481 Fixes #35324 - Reset Syspurpose modal state on BreadcrumbSwitcher host switch
  webpack/components/extensions/HostDetails/Cards/SystemPurposeCard/SystemPurposeCard.js
Labels: Not yet reviewed, Waiting on contributor

#10471 Fixes #36137 - Catch content_view_id and LCE id before Rails update
  app/models/katello/concerns/host_managed_extensions.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Ready for merge

#10484 Fixes #36156 - Content -> Errata does not display the year for the dates listed under column Updated
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/views/errata.html
Labels: Not yet reviewed, Waiting on contributor

#10485 Fixes #36174 - Added additional context to error messages for certain…
  app/models/katello/alternate_content_source.rb
Labels: Not yet reviewed, Waiting on contributor

#10490 Fixes #36196 - upstream auth migration should refer to root
  db/migrate/20230119003859_ensure_repo_username_password_nil_not_blank.rb
Labels: Not yet reviewed

#10486 Fixes #36176 - Show N/A for empty product list
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
Labels: Not yet reviewed

#10476 Fixes #36102 - Use HTTP proxy switch is non-functional for custom and rhui ACS's
  app/services/katello/pulp3/alternate_content_source.rb
  test/actions/pulp3/orchestration/alternate_content_source_update_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10448 Fixes #36064 - Don't try to assign empty CV/LCE to a cloned host
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/models/katello/host/content_facet.rb
Labels: Not yet reviewed, Waiting on contributor

#10479 Fixes #36035 - Add empty content states for CV repositories
  app/views/katello/api/v2/content_view_repositories/show_all.json.rabl
  app/views/katello/api/v2/repositories/index.json.rabl
  webpack/__mocks__/foremanReact/Root/Context/ForemanContext.js
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/MainTable.js
  webpack/scenes/ContentViews/Details/Repositories/ContentViewRepositories.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewAddRemove.test.js
  webpack/scenes/ContentViews/Details/Repositories/__tests__/contentViewDetailNoReposAdded.fixtures.json
  webpack/utils/useKatelloDocUrl.js
Labels: Not yet reviewed

#10491 Fixes #36197 - Allow SCA toggle during org update
  app/controllers/katello/api/v2/organizations_controller.rb
Labels: Ready for merge

#10493 Fixes #36184 - Content view dropdown shouldn't be conditionally rendered
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionReassignActivationKeysForm.js
  webpack/scenes/ContentViews/Delete/Steps/CVDeletionReassignHostsForm.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/Steps/ReassignHosts.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignActivationKeysForm.js
  webpack/scenes/ContentViews/Details/Versions/Delete/RemoveSteps/CVReassignHostsForm.js
  webpack/scenes/ContentViews/components/ContentViewSelect/ContentViewSelect.js
  webpack/scenes/ContentViews/components/ContentViewSelect/ContentViewSelectOption.js
  webpack/scenes/ContentViews/components/ContentViewSelect/helpers.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
Labels: Not yet reviewed, Waiting on contributor

#10475 Fixes #36100 - check arch when looking for package upgrades
  app/models/katello/concerns/host_managed_extensions.rb
  app/presenters/katello/host_package_presenter.rb
  test/presenters/host_package_presenter_test.rb
Labels: Ready for merge

#10498 Fixes #36220 - Use key to reset Foreman SearchBar from Katello
  webpack/components/Content/GenericContentPage.js
  webpack/components/Content/__tests__/ContentPage.test.js
  webpack/components/Content/__tests__/ContentTable.test.js
  webpack/components/Content/__tests__/GenericContentPage.test.js
  webpack/components/Content/__tests__/__snapshots__/ContentPage.test.js.snap
  webpack/components/Table/EmptyStateMessage.js
  webpack/components/Table/TableWrapper.js
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/extensions/HostDetails/HostDetailsConstants.js
  webpack/components/extensions/HostDetails/HostDetailsSelectors.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/moduleStreamsTab.test.js
  webpack/components/extensions/SearchBar/SearchBarConstants.js
  webpack/components/extensions/SearchBar/SearchBarHooks.js
  webpack/components/extensions/SearchBar/SearchBarReducer.js
  webpack/components/extensions/SearchBar/SearchBarSelectors.js
  webpack/redux/reducers/index.js
  webpack/scenes/Content/GenericContentPage.js
  webpack/scenes/Content/__tests__/contentTable.test.js
  webpack/scenes/Content/index.js
  webpack/scenes/ModuleStreams/ModuleStreamsPage.js
  webpack/scenes/ModuleStreams/__tests__/ModuleStreamPage.test.js
  webpack/scenes/ModuleStreams/__tests__/__snapshots__/ModuleStreamPage.test.js.snap
Labels: Not yet reviewed

#10488 Refs #35763 - cleanup for switching to PF4 search input
  lib/katello/plugin.rb
  webpack/components/Search/Search.js
  webpack/components/Search/SearchText.js
  webpack/components/Search/__tests__/search.test.js
  webpack/components/Search/helpers.js
  webpack/components/Search/index.js
  webpack/components/TypeAhead/TypeAhead.js
  webpack/components/TypeAhead/TypeAhead.scss
  webpack/components/TypeAhead/helpers/commonPropTypes.js
  webpack/components/TypeAhead/helpers/helpers.js
  webpack/components/TypeAhead/index.js
  webpack/components/TypeAhead/pf3Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf3Search/TypeAheadItems.js
  webpack/components/TypeAhead/pf3Search/TypeAheadSearch.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.js
  webpack/components/TypeAhead/pf4Search/TypeAheadInput.scss
  webpack/components/TypeAhead/pf4Search/TypeAheadItems.js
  webpack/components/TypeAhead/pf4Search/TypeAheadSearch.js
  webpack/redux/reducers/index.js
  webpack/scenes/AlternateContentSources/Create/__tests__/acsCreate.test.js
  webpack/scenes/ContentViews/Details/Filters/Rules/ContainerTag/AddEditContainerTagRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddEditPackageRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVContainerImageFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/ContentViewPackageGroupFilter.test.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/expansions/__tests__/contentViewComponentsModal.test.js
  webpack/scenes/Settings/SettingsConstants.js
  webpack/scenes/Settings/SettingsReducer.js
  webpack/scenes/Settings/SettingsSelectors.js
  webpack/test-utils/react-testing-lib-wrapper.js
Labels: Not yet reviewed
