Repository Katello/katello, pull requests merged in 2023-01, with the labels that each got.

#10388 Fixes #35848 - Handles content move during manifest
  app/lib/katello/util/candlepin_repository_checker.rb
  app/models/katello/content.rb
  app/models/katello/glue/provider.rb
  app/services/katello/product_content_importer.rb
  test/models/content_test.rb
Labels: Ready for merge

#10406 Update version to 4.6.2.1
  lib/katello/version.rb
Labels: Ready for merge

#10407 Fixes #35915 - Add RHEL to the OS filter list for Module Stream Tab
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
Labels: Ready for merge

#10402 Fixes #35906 - allow pulp_rest debugs for pulp3
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Ready for merge

#10412 Fixes #35936 - change to create_or_find_by!
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Not yet reviewed

#10413 Fixes #35937 - it is a Host Collection, not Group
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-hosts-list.html
Labels: Not yet reviewed

#10391 Fixes #35861 - CV publish error when host tied to content facet is not found
  app/models/katello/content_view.rb
  app/models/katello/host/content_facet.rb
  lib/katello/tasks/clean_orphaned_facets.rb
Labels: Not yet reviewed, Waiting on contributor

#10409 Fixes #35926 - Include SmartProxyAuth into RegistrationController
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
  lib/katello/engine.rb
Labels: Not yet reviewed

#10411 Fixes #35935 - add info about reclaiming space from orphans
  app/views/foreman/smart_proxies/_content_sync.html.erb
  app/views/foreman/smart_proxies/_reclaim_space.html.erb
Labels: Not yet reviewed

#10421 Refs #35861 - Do not allow blank for content facet host
  app/models/katello/host/content_facet.rb
Labels: Not yet reviewed

#10408 Fixes #35919 - Change content source UX improvements
  webpack/scenes/Hosts/ChangeContentSource/actions.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceTemplate.js
  webpack/scenes/Hosts/ChangeContentSource/index.js
  webpack/scenes/Hosts/ChangeContentSource/styles.scss
Labels: Not yet reviewed

#10418 Fixes #35953 - Clear checksum type when download policy is set to on demand
  app/lib/actions/katello/repository/update.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
Labels: Ready for merge

#10414 Refs #35236 - ak update requires the existence of organization
  app/controllers/katello/api/v2/activation_keys_controller.rb
  test/controllers/api/v2/activation_keys_controller_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10423 Refs #35873 - More ouia-ids for ACS
  webpack/global_test_setup.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSCredentials.js
  webpack/scenes/AlternateContentSources/Create/Steps/ACSSmartProxies.js
  webpack/scenes/AlternateContentSources/Create/Steps/AcsUrlPaths.js
  webpack/scenes/AlternateContentSources/Create/Steps/NameACS.js
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditDetails.js
  webpack/scenes/AlternateContentSources/MainTable/__tests__/acsTable.test.js
Labels: Ready for merge

#10428 Release 4.7.1
  CHANGELOG.md
  lib/katello/version.rb
Labels: Ready for merge

#10422 Fixes #35961 - Simple Content Access API shouldn't check upstream connection
  app/controllers/katello/api/v2/simple_content_access_controller.rb
  app/models/katello/concerns/organization_extensions.rb
  app/models/katello/glue/candlepin/owner.rb
  app/services/katello/candlepin/upstream_consumer.rb
  test/controllers/api/v2/simple_content_access_controller_test.rb
  test/models/concerns/organization_extensions_test.rb
  test/services/katello/candlepin/upstream_consumer_test.rb
Labels: Ready for merge

#10419 Fixes #35954 - Properly propagate org create errors
  app/controllers/katello/api/v2/organizations_controller.rb
Labels: Ready for merge

#10410 Fixes #35929 - destroy the product after *all* content is gone
  app/lib/actions/katello/product/destroy.rb
Labels: Ready for merge

#10430 Refs #35861 - Add empty content facet check to CV promote
  app/models/katello/content_view.rb
  app/models/katello/content_view_version.rb
Labels: Ready for merge

#10415 Fixes #35927 - ensure upstream auth is nil if empty string
  app/services/katello/pulp3/repository.rb
  db/migrate/20230119003859_ensure_repo_username_password_nil_not_blank.rb
  test/services/katello/pulp3/repository/apt/apt_test.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Not yet reviewed

#10424 Fixes #35968 - Change architecture format for candlepin
  app/models/katello/root_repository.rb
Labels: Ready for merge

#10431 Fixes #35989 - Audit CV UI ouiaids
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/CVRpmFilterContent.test.js
Labels: Not yet reviewed

#10425 Fixes #35965 - properly clean orphaned smart proxy remotes
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
  test/services/katello/pulp3/smart_proxy_repository_test.rb
Labels: Not yet reviewed

#10432 Fixes #36007 - Migration error 'column settings.category does not exist'
  db/migrate/20220419193414_content_settings_to_dsl_category.rb
Labels: Not yet reviewed, Waiting on contributor
