Repository Katello/katello, pull requests merged in 2023-09, with the labels that each got.

#10708 Fixes #36695 - remove docker_tags_whitelist
  app/controllers/katello/api/v2/repositories_controller.rb
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/views/katello/api/v2/repositories/show.json.rabl
Labels: Not yet reviewed

#10717 Fixes #36612 - Fix file repo link on product repo page
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
Labels: Ready for merge

#10718 Fixes #36721 - Correctly handles provisioning with HG on discovered hosts page
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/host/content_facet.rb
  app/views/overrides/activation_keys/_host_media_type_select.html.erb
  app/views/overrides/activation_keys/_host_synced_content_select.html.erb
Labels: Not yet reviewed, Waiting on contributor

#10709 Refs #35573 - Improve UX when enabling Tracer
  app/models/katello/host/content_facet.rb
  app/views/katello/api/v2/content_facet/show.json.rabl
  webpack/components/extensions/HostDetails/Tabs/TracesTab/EnableTracerModal.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/EnableTracerModal.scss
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesEnabler.js
  webpack/components/extensions/HostDetails/Tabs/TracesTab/TracesTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/tracesTab.test.js
Labels: Not yet reviewed

#10713 Fixes #36708 - Repair module stream details page breadcrumb bar
  webpack/scenes/ModuleStreams/Details/ModuleStreamDetails.js
  webpack/scenes/ModuleStreams/Details/__tests__/__snapshots__/ModuleStreamDetails.test.js.snap
Labels: Not yet reviewed

#10703 Fixes #36690 - Validate *all* products before saving to sync plans
  app/controllers/katello/api/v2/sync_plans_controller.rb
  app/models/katello/sync_plan.rb
Labels: Not yet reviewed, Waiting on contributor

#10727 Fixes #36732 - Add a RHEL Lifecycle Status host column
  app/models/katello/concerns/host_managed_extensions.rb
  lib/katello/plugin.rb
Labels: Not yet reviewed

#10728 Fixes #36733 - Disable published redhat repo disable button
  webpack/redux/reducers/RedHatRepositories/enabled.fixtures.js
  webpack/redux/reducers/RedHatRepositories/enabled.js
  webpack/scenes/RedHatRepositories/RedHatRepositoriesPage.js
  webpack/scenes/RedHatRepositories/__tests__/__snapshots__/RedHatRepositoriesPage.test.js.snap
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepository.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/EnabledRepositoryContent.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/__tests__/EnabledRepositoryContent.test.js
  webpack/scenes/RedHatRepositories/components/EnabledRepository/__tests__/__snapshots__/EnabledRepository.test.js.snap
  webpack/scenes/RedHatRepositories/components/EnabledRepository/__tests__/__snapshots__/EnabledRepositoryContent.test.js.snap
Labels: Not yet reviewed

#10692 Fixes #36670 - Events incorrectly marked as In Progress
  app/services/katello/event_queue.rb
  test/services/katello/event_queue_test.rb
Labels: Not yet reviewed

#10729 Fixes #36737 - use timeouts also for smart-proxy
  app/services/katello/pulp3/repository_mirror.rb
Labels: Not yet reviewed

#10723 Fixes #36728 - upgrade pulp-deb to 3.0.0
  katello.gemspec
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/apt_vcr/create_remote_with_http_proxy_creds.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/needs_distributor_update.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/updates.yml
Labels: Not yet reviewed, Packaging Change

#10698 Fixes #36683 - Add help icons to rpm filters
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/CVRpmMatchContentModal.js
  webpack/scenes/ContentViews/Details/Filters/MatchContentModal/matchContentModal.scss
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddEditPackageRuleModal.js
Labels: Not yet reviewed

#10714 Fixes #36702 - store package counts after smart proxy sync
  app/controllers/katello/api/v2/capsule_content_controller.rb
  app/lib/actions/katello/capsule_content/sync_capsule.rb
  app/lib/actions/katello/capsule_content/update_content_counts.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/services/katello/pulp3/ansible_collection.rb
  app/services/katello/pulp3/deb.rb
  app/services/katello/pulp3/docker_manifest.rb
  app/services/katello/pulp3/docker_manifest_list.rb
  app/services/katello/pulp3/docker_tag.rb
  app/services/katello/pulp3/erratum.rb
  app/services/katello/pulp3/file_unit.rb
  app/services/katello/pulp3/module_stream.rb
  app/services/katello/pulp3/package_group.rb
  app/services/katello/pulp3/pulp_content_unit.rb
  app/services/katello/pulp3/repository_mirror.rb
  app/services/katello/pulp3/rpm.rb
  app/services/katello/pulp3/srpm.rb
  app/services/katello/repository_type.rb
  config/routes/api/v2.rb
  db/migrate/20230825180856_add_content_counts_to_smart_proxy.rb
  lib/katello/permission_creator.rb
  lib/katello/repository_types/ostree.rb
  lib/katello/repository_types/python.rb
  test/controllers/api/v2/capsule_content_controller_test.rb
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Not yet reviewed

#10733 Fixes #36728 - upgrade pulp-deb to 3.0.0
  katello.gemspec
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_model.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/deb/index_on_sync.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/apt_vcr/create_remote_with_http_proxy_creds.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/needs_distributor_update.yml
  test/fixtures/vcr_cassettes/katello/service/repository/apt/refresh_distribution/updates.yml
Labels: Not yet reviewed, Packaging Change

#10731 Fixes #36739 - Product without any repo is added to a Sync Plan regardless the error message
  app/controllers/katello/api/v2/sync_plans_controller.rb
  app/models/katello/product.rb
  app/models/katello/sync_plan.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/sync-plans/details/sync-plan-add-products.controller.js
Labels: Not yet reviewed, Waiting on contributor

#10725 Fixes #36713 - Fix errata workflow in host collections
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.js
  engines/bastion_katello/test/content-hosts/bulk/content-hosts-bulk-errata-modal.controller.test.js
Labels: Ready for merge

#10746 Fixes #36750 - Add aggregated CV version content counts to count field and return via API
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/views/katello/api/v2/capsule_content/sync_status.json.rabl
  test/models/concerns/smart_proxy_extensions_test.rb
Labels: Not yet reviewed, Waiting on contributor
