Repository Katello/katello, pull requests merged in 2023-04, with the labels that each got.

#10496 Fixes #36204 - Refine empty states for CV UI
  webpack/components/Table/EmptyStateMessage.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/__tests__/contentViewComponents.test.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVDebFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/FilterRuleConstants.js
  webpack/scenes/ContentViews/Details/Filters/__tests__/cvErrataIDFilter.test.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Histories/__tests__/contentViewHistory.test.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Table/ContentViewsTable.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
  webpack/scenes/ContentViews/components/ContentViewsCounter.js
Labels: Not yet reviewed

#10455 Fixes #36094 - handle missing pulp storage-details
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/views/smart_proxies/_disk_usage.html.erb
  test/controllers/foreman/smart_proxies_controller_test.rb
  test/fixtures/vcr_cassettes/smart_proxies_controller/smart_proxy_pulp_storage.yml
Labels: Not yet reviewed

#10501 Fixes #36256 - Allow user to force profile upload when changing host content view
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.scss
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/HostContentViewActions.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionActions.js
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionConstants.js
Labels: Not yet reviewed, Waiting on contributor

#10504 Fixes #36277 - Make the event daemon runner safer
  app/lib/katello/event_daemon/runner.rb
Labels: Not yet reviewed

#10380 Fixes #35834 - select content source before LCE and CV
  app/assets/javascripts/katello/hosts/host_and_hostgroup_edit.js
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/views/overrides/activation_keys/_host_environment_select.html.erb
Labels: Not yet reviewed, Waiting on contributor

#10508 Fixes #36285 - Update katello CI to use node 14
  .github/workflows/react_tests.yml
Labels: Not yet reviewed

#10509 Fixes #36287 - Manifest import uses async candlepin API
  test/fixtures/vcr_cassettes/scenarios/import_manifest_manifest_small_modified_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_manifest_manifest_small_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_products_manifest_small_modified_zip.yml
  test/fixtures/vcr_cassettes/scenarios/import_products_manifest_small_zip.yml
  test/fixtures/vcr_cassettes/scenarios/org_create.yml
  test/fixtures/vcr_cassettes/scenarios/repository_create/update_org_service_level.yml
  test/fixtures/vcr_cassettes/scenarios/support/destroy_org_if_exists.yml
  test/scenarios/scenario_test.rb
  test/support/scenario_support.rb
Labels: Ready for merge

#10497 Fixes #30664 - add Katello support for installable errata reports
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Not yet reviewed

#10511 Fixes #36289 - Hidden CV version number in CVv comparison
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareTable.js
Labels: Not yet reviewed

#10507 Fixes #36178 - Add repository type column to Repo Sets
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/models/katello/content.rb
  app/models/katello/product_content.rb
  app/services/katello/product_content_finder.rb
  app/views/katello/api/v2/repository_sets/show.json.rabl
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsConstants.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Not yet reviewed

#10512 Refs #36178 - fix Clear Filters on Repo Sets tab
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Not yet reviewed

#10513 Refs #36120 - fix humanized task name
  app/lib/actions/candlepin/product/content_add.rb
Labels: Not yet reviewed, Ready for merge

#10499 Fixes #36237 - Add associated hosts to activation key
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/models/katello/activation_key.rb
  app/views/katello/api/v2/activation_keys/base.json.rabl
  test/models/activation_key_test.rb
Labels: Ready for merge

#10505 Fixes #36278 - Use hostgroup os refresh path in hostgroup edit
  app/assets/javascripts/katello/hosts/host_and_hostgroup_edit.js
Labels: Ready for merge

#10516 Refs #36267 - Fix audit query to filter out irrelevant records
  app/models/katello/content_view.rb
Labels: Not yet reviewed

#10520 Refs #36285 - Revert katello CI to use node 12
  .github/workflows/react_tests.yml
Labels: Not yet reviewed

#10517 Fixes #36303 - disable scopes on CV publish errata calc
  app/lib/actions/katello/content_view/publish.rb
  app/models/katello/content_view.rb
Labels: Not yet reviewed

#10514 Fixes #36297 - Enable tracer on debian/ubuntu is always on
  app/models/katello/host/content_facet.rb
Labels: Not yet reviewed

#10528 Fixes #36301 - Auto-create content overrides on SCA enable
  app/controllers/katello/api/v2/simple_content_access_controller.rb
  app/lib/actions/katello/organization/simple_content_access/enable.rb
  app/lib/actions/katello/organization/simple_content_access/prepare_content_overrides.rb
  app/lib/actions/katello/organization/simple_content_access/toggle.rb
  app/lib/katello/util/content_overrides_migrator.rb
Labels: Not yet reviewed

#10529 Fixes #36301 - Auto-create content overrides on SCA enable
  app/controllers/katello/api/v2/simple_content_access_controller.rb
  app/lib/actions/katello/organization/simple_content_access/enable.rb
  app/lib/actions/katello/organization/simple_content_access/prepare_content_overrides.rb
  app/lib/actions/katello/organization/simple_content_access/toggle.rb
  app/lib/katello/util/content_overrides_migrator.rb
Labels: Not yet reviewed

#10523 Fixes #36269 - Add check_needs_publish param and logic to publish API
  app/controllers/katello/api/v2/content_views_controller.rb
Labels: Not yet reviewed, Waiting on contributor

#10521 Fixes #36268 - Audit filter/rules to determine needs_publish
  app/models/katello/concerns/content_view_filter_rule_common.rb
  app/models/katello/content_view.rb
  app/models/katello/content_view_filter.rb
  app/models/katello/content_view_package_filter_rule.rb
  test/models/content_view_docker_filter_rule_test.rb
  test/models/content_view_package_filter_rule_test.rb
Labels: Not yet reviewed

#10506 Fixes #35976 - Fix ACS SSL key content credential association.
  app/views/katello/api/v2/content_credentials/show.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-credentials/views/content-credentials.html
Labels: Ready for merge
