Repository Katello/katello, pull requests merged in 2023-07, with the labels that each got.

#10632 Fixes #36530 - Fix up /katello/api/sync_plans/:sync_plan_id/product…
  app/controllers/katello/api/v2/sync_controller.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/sync/index.json.rabl
  config/routes/api/v2.rb
  test/controllers/api/v2/sync_controller_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10634 Fixes #36524 - RegistrationManager expects an array for content_view_environments to register
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10636 Refs #36526 - Remove duplicate katello-agent banners from content host Packages tab
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-applicable.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-installed.html
Labels: Not yet reviewed, Waiting on contributor

#10625 Fixes #36221 - Allow removing products with empty URL repos from ACS
  app/lib/actions/katello/alternate_content_source/update.rb
Labels: Not yet reviewed

#10628 Fixes #36529 - CV page needs refresh to get the current filters state
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.test.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Publish/CVPublishReview.js
  webpack/scenes/ContentViews/Publish/PublishContentViewWizard.js
  webpack/scenes/ContentViews/Publish/__tests__/publishContentView.test.js
Labels: Ready for merge

#10621 Fix some out of date developer information in the README
  README.md
Labels: Not yet reviewed, Waiting on contributor

#10635 Fixes #36562 - Clear RootRepo checksum if on_demand repo
  db/migrate/20220228173251_remove_drpm_from_ignorable_content.rb
Labels: Ready for merge

#10638 Fixes #36563 - Remove orphaned content unit cleanup from index_content
  app/lib/actions/katello/orphan_cleanup/remove_orphaned_content_units.rb
  app/lib/actions/katello/orphan_cleanup/remove_orphans.rb
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/repository.rb
  app/models/katello/root_repository.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/docker.rb
  test/actions/katello/orphan_cleanup/remove_orphaned_content_units_test.rb
  test/actions/katello/orphan_cleanup/remove_orphans_test.rb
  test/models/repository_test.rb
  test/services/katello/pulp3/docker_tag_test.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10645 Fixes #36586 - pin ostree bindings below 2.1.1
  katello.gemspec
Labels: Not yet reviewed, Packaging Change

#10648 Refs #36540 - Removed the unnecessary enablement migrator in master
  app/lib/katello/util/default_enablement_migrator.rb
  db/seeds.d/111-upgrade_tasks.rb
  lib/katello/tasks/upgrades/4.9/update_custom_products_enablement.rake
  test/lib/util/default_enablement_migrator_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10650 Refs #36511 - Update aria-label for last_refresh component
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
Labels: Not yet reviewed

#10647 Fixes #36590 - fix ACS error message for duplicate words
  app/lib/katello/validators/alternate_content_source_products_validator.rb
  test/models/katello/alternate_content_source_test.rb
Labels: Not yet reviewed

#10642 Fixes #36584 - Update realtive_path to text in the db from char
  db/migrate/20230710190626_remove_relative_path_limit.rb
  test/models/repository_test.rb
Labels: Not yet reviewed

#10549 Fixes #36367 - Fix sticky pagination in rh repos
  webpack/scenes/RedHatRepositories/index.scss
Labels: Not yet reviewed

#10656 Fixes #36601 - Error when autoprovision/provision for a discovered host
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Not yet reviewed, Waiting on contributor

#10649 Fixes #36580 - Content view dependency solving should be tracked for needs_publish
  app/models/katello/content_view.rb
  test/models/content_view_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10640 Fixes #36577 - Filter gets applied to all the repository upon removal
  app/controllers/katello/api/v2/repositories_bulk_actions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/product/destroy.rb
  app/lib/actions/katello/repository/destroy.rb
  app/views/katello/api/v2/products/show.json.rabl
  app/views/katello/api/v2/repositories/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/product-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/views/product-details.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details.controller.test.js
Labels: Not yet reviewed, Waiting on contributor

#10653 Fixes #36598 - Env name should map to env name in CV API
  app/views/katello/api/v2/content_views/base.json.rabl
Labels: Not yet reviewed

#10631 Refs #36100 - fix package applicability for multiple architectures
  app/services/katello/applicability/applicable_content_helper.rb
  test/fixtures/models/katello_rpms.yml
  test/services/katello/applicability/applicable_content_helper_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10657 Fixes #36604 - Manifest delete confirmation should be SCA-aware
  webpack/scenes/Subscriptions/Manifest/DeleteManifestModalText.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
  webpack/scenes/Subscriptions/SubscriptionsPage.js
  webpack/scenes/Subscriptions/__tests__/__snapshots__/SubscriptionsPage.test.js.snap
Labels: Not yet reviewed

#10655 Fixes #36581 - Treat indeterminate/nil needs_publish as true in the API
  app/controllers/katello/api/v2/content_views_controller.rb
Labels: Ready for merge

#10659 Fixes #36609 - Fix linting errors from react/jsx-curly-brace-presence
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/scenes/Content/Details/ContentRepositories.js
  webpack/scenes/Content/Table/ContentTable.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentEnvironments.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedHosts.js
  webpack/scenes/ContentViews/expansions/RelatedContentViewComponentsModal.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
Labels: Not yet reviewed, Waiting on contributor

#10661 [CP] Fix lint errors
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/scenes/Content/Details/ContentRepositories.js
  webpack/scenes/Content/Table/ContentTable.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentEnvironments.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedHosts.js
  webpack/scenes/ContentViews/expansions/RelatedContentViewComponentsModal.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
Labels: Not yet reviewed, Waiting on contributor

#10599 Fixes #36500 - Optimize DockerMetaTag query and CV version deletion to run a single invocation of the method
  app/lib/actions/katello/content_view_environment/destroy.rb
  app/lib/actions/katello/content_view_version/destroy.rb
  app/lib/actions/katello/repository/destroy.rb
  app/models/katello/docker_meta_tag.rb
  test/actions/katello/content_view_version/destroy_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10622 Fixes #36288 - Wrong listing of Content Views which contain Files
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/models/katello/content_view_version.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/files/details/file-content-views.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/files/details/views/file-content-views.html
Labels: Not yet reviewed

#10652 Fixes #36597 - Rename 'Change content source' job template
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/views/foreman/job_templates/change_content_source.erb
  app/views/foreman/job_templates/configure_host_for_new_content_source.erb
  db/migrate/20230717150442_change_change_content_source_job_template_name.rb
Labels: Not yet reviewed

#10646 Fixes #36589 - Added ability to refresh all alternate content sources…
  app/controllers/katello/api/v2/alternate_content_sources_bulk_actions_controller.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
Labels: Not yet reviewed, Waiting on contributor

#10665 Fixes #36554 - Don't allow deleting content from Redhat Repos on UI
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-manage-packages.html
Labels: Ready for merge

#10666 [CP] Fixes #36609 - Fix linting errors from react/jsx-curly-brace-presence…
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/scenes/Content/Details/ContentRepositories.js
  webpack/scenes/Content/Table/ContentTable.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentEnvironments.js
  webpack/scenes/ContentViews/Details/Histories/ContentViewHistories.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedActivationKeys.js
  webpack/scenes/ContentViews/Details/Versions/Delete/affectedHosts.js
  webpack/scenes/ContentViews/components/ContentViewSelect/ContentViewSelectOption.js
  webpack/scenes/ContentViews/expansions/RelatedContentViewComponentsModal.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
Labels: Not yet reviewed, Waiting on contributor

#10664 Fixes #36613 - Enclose Content subtabs in a section
  webpack/components/extensions/HostDetails/Tabs/ContentTab/index.js
Labels: Not yet reviewed
