Repository Katello/katello, pull requests merged in 2023-05, with the labels that each got.

#10535 Update translations
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  locale/action_names.rb
  locale/bn/katello.po
  locale/cs/katello.po
  locale/de/katello.po
  locale/en/katello.po
  locale/es/katello.po
  locale/fr/katello.po
  locale/gu/katello.po
  locale/hi/katello.po
  locale/it/katello.po
  locale/ja/katello.po
  locale/ka/katello.po
  locale/katello.pot
  locale/kn/katello.po
  locale/ko/katello.po
  locale/mr/katello.po
  locale/or/katello.po
  locale/pa/katello.po
  locale/pt/katello.po
  locale/pt_BR/katello.po
  locale/ru/katello.po
  locale/ta/katello.po
  locale/te/katello.po
  locale/zh_CN/katello.po
  locale/zh_TW/katello.po
Labels: Ready for merge, Translations

#10540 Fixes #36343 - Fix migration failure
  db/migrate/20220110223754_update_disconnected_settings.rb
Labels: Ready for merge, dependencies

#10544 Fixes #36352 - Add metadata_expire attribute for custom yum repos
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/candlepin/product/content_update.rb
  app/lib/actions/katello/repository/update.rb
  app/models/katello/root_repository.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  db/migrate/20230503190626_add_metadata_expire_to_root.rb
  test/models/root_repository_test.rb
Labels: Not yet reviewed

#10547 Fixes #36270 - Update UI to reflect needs_publish on CV
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ComponentContentViewAddModal.js
  webpack/scenes/ContentViews/Details/ComponentContentViews/ContentViewComponents.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/ContentViewDetailReducer.js
  webpack/scenes/ContentViews/Details/ContentViewDetailSelectors.js
  webpack/scenes/ContentViews/Details/Filters/Add/CVFilterAddModal.js
  webpack/scenes/ContentViews/Details/Filters/AffectedRepositories/AffectedRepositoryTable.js
  webpack/scenes/ContentViews/Details/Filters/ArtifactsWithNoErrata.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilterDetailsHeader.js
  webpack/scenes/ContentViews/Details/Filters/ContentViewFilters.js
  webpack/scenes/ContentViews/Details/Filters/Rules/ContainerTag/AddEditContainerTagRuleModal.js
  webpack/scenes/ContentViews/Details/Filters/Rules/Package/AddEditPackageRuleModal.js
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Publish/CVPublishFinish.js
  webpack/scenes/ContentViews/Publish/CVPublishForm.js
  webpack/scenes/ContentViews/Publish/cvPublishForm.scss
  webpack/scenes/ContentViews/components/NeedsPublishIcon.js
Labels: Not yet reviewed, Waiting on contributor

#10541 Fixes #36290 - Add docker image name to cvv compare
  app/models/katello/docker_meta_tag.rb
  app/views/katello/api/v2/docker_tags/_base.json.rabl
  test/models/docker_meta_tag_test.rb
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareConfig.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailConfig.js
Labels: Ready for merge

#10539 Fixes #36333 - Calculate needs_publish for composite content views
  app/models/katello/content_view.rb
  test/models/content_view_component_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10545 Fixes #36373 - Add metadata expire option for custom repo to UI
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details-info.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
  engines/bastion_katello/test/products/details/repositories/details/repository-details-info.controller.test.js
Labels: Ready for merge

#10543 Fixes #36362 - Reporting results of docker v2 repo discovery
  app/lib/katello/repo_discovery.rb
Labels: Ready for merge

#10548 Fixes #36250 - Alert user about past and current filters in the UI
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/models/katello/content_view.rb
  app/views/katello/api/v2/content_view_versions/base.json.rabl
  app/views/katello/api/v2/content_views/base.json.rabl
  webpack/scenes/ContentViews/Delete/__tests__/cvVersionsData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/BulkDeleteVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/BulkDelete/__tests__/contentViewVersion.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionOneDetials.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionThreeDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersionTwoDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/contentViewVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateCVVersionOneDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/Compare/__tests__/emptyStateCVVersionTwoDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/ContentViewVersions.js
  webpack/scenes/ContentViews/Details/Versions/Delete/__tests__/versionsResponseData.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionComponent.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/__tests__/ContentViewVersionDetails.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersions.fixtures.json
  webpack/scenes/ContentViews/Details/Versions/__tests__/contentViewVersionsWithTask.fixtures.json
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetails.fixtures.json
  webpack/scenes/ContentViews/Publish/CVPublishReview.js
  webpack/scenes/ContentViews/__tests__/mockDetails.fixtures.json
  webpack/scenes/ContentViews/components/FiltersAppliedIcon.js
  webpack/scenes/ContentViews/components/NeedsPublishIcon.js
Labels: Not yet reviewed, Waiting on contributor

#10524 Fixes #36316 - Scope LCE selection to content source and organization
  app/assets/javascripts/katello/hosts/host_and_hostgroup_edit.js
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/environments_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/models/katello/content_view_environment_content_facet.rb
  app/models/katello/host/content_facet.rb
  app/models/katello/kt_environment.rb
  app/views/katello/api/v2/environments/show.json.rabl
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ContentViewDetailsCard.js
  webpack/scenes/ContentViews/components/EnvironmentPaths/EnvironmentPaths.js
  webpack/scenes/Hosts/ChangeContentSource/components/ContentSourceForm.js
Labels: Not yet reviewed

#10552 Fixes #36378 - Use plugin dsl for gettext
  lib/katello/engine.rb
  lib/katello/plugin.rb
Labels: Not yet reviewed

#10530 Fixes #36324 - Add bookmarks button for subscriptions
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/SubscriptionsToolbar.js
  webpack/scenes/Subscriptions/components/SubscriptionsToolbar/__snapshots__/SubscriptionsToolbar.test.js.snap
Labels: Ready for merge

#10563 i18n - extracting new, pulling from tx AngularJS
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-subscriptions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-host-bulk-module-streams-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-environment-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-host-collections-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-repository-sets-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-subscriptions-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/bulk/views/content-hosts-bulk-traces-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-packages.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/bastion_katello.pot
  engines/bastion_katello/app/assets/javascripts/bastion_katello/i18n/translations.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/organizations/views/organization-selector.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-advanced-sync-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-http-proxy-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/bulk/views/products-bulk-sync-plan-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details-reclaim-space-modal.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/views/product-repositories-reclaim-space-modal.html
Labels: Ready for merge, Translations

#10564 Fixes #36417 - Bring back 'Republish repository metadata'
  app/views/katello/api/v2/content_view_versions/base.json.rabl
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/repository-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repository.factory.js
  webpack/scenes/ContentViews/ContentViewsConstants.js
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetailsHeader.js
Labels: Not yet reviewed

#10558 Fixes #36402 - Closing publish task wizard doesn't reset needs_publish local state
  webpack/scenes/ContentViews/Publish/CVPublishFinish.js
Labels: Ready for merge

#10553 Fixes #36338 - display Module streams tab correctly
  webpack/components/extensions/HostDetails/Tabs/ModuleStreamsTab/ModuleStreamsTab.js
Labels: Ready for merge

#10550 Fixes #36346 - DELETE request now returns deleted object for ACS
  app/views/katello/api/v2/common/destroy.json.rabl
  app/views/katello/api/v2/host_subscriptions/show.json.rabl
Labels: Ready for merge

#10551 Fixes #35722 - Selector to enable/disable custom/rh repos
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-repository-sets.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-repository-sets.html
  engines/bastion_katello/app/assets/stylesheets/bastion_katello/activation_keys.scss
  engines/bastion_katello/app/assets/stylesheets/bastion_katello/bastion_katello.scss
  engines/bastion_katello/test/activation-keys/details/activation-key-repository-sets.controller.test.js
Labels: Ready for merge

#10537 Fixes #26434 - rename SystemStatuses component import
  webpack/components/extensions/about/index.js
Labels: Ready for merge

#10571 Fixes #36435 - Make metadata_expire an optional field
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/details/views/repository-info.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/new/views/new-repository.html
Labels: Ready for merge

#10570 Bump version to 4.10.0-master
  lib/katello/version.rb
Labels: Ready for merge

#10569 Fixes #36429 - Add specific release for k-agent removal
  app/controllers/katello/concerns/api/api_controller.rb
Labels: Ready for merge

#10565 Fixes #36420 - Correct aria-label for description
  webpack/scenes/AlternateContentSources/Details/ACSExpandableDetails.js
Labels: Ready for merge

#10575 Fixes #36445 - remove extra th element from repository sets page
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
Labels: Not yet reviewed

#10577 [CP] correcting the 4.9.0 rc1 version
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor

#10554 Fixes #36390 - Orphan cleanup on capsules
  app/lib/actions/pulp3/orchestration/orphan_cleanup/remove_orphans.rb
  app/services/katello/pulp3/api/core.rb
  lib/katello/plugin.rb
Labels: Not yet reviewed

#10542 Fixes #36334 - Delete orphaned content units after indexing and improve missing content units error on Pulp 3 copy
  app/lib/actions/katello/content_view/update.rb
  app/models/katello/concerns/pulp_database_unit.rb
  app/models/katello/content_view_erratum_filter_rule.rb
  app/models/katello/content_view_module_stream_filter_rule.rb
  app/models/katello/content_view_package_group_filter_rule.rb
  app/models/katello/repository.rb
  app/services/katello/content_unit_indexer.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository/docker.rb
  lib/katello/tasks/upgrades/4.9/clean_orphaned_filter_rules.rake
  test/actions/katello/content_view_test.rb
  test/fixtures/vcr_cassettes/katello/service/pulp3/docker_tag/copy_units_rewrites_missing_content_error.yml
  test/fixtures/vcr_cassettes/katello/service/pulp3/repository/yum/copy_units_rewrites_missing_content_error.yml
  test/models/erratum_test.rb
  test/models/module_stream_test.rb
  test/models/package_group_test.rb
  test/models/pulp_database_unit_test.rb
  test/models/repository_test.rb
  test/services/katello/pulp3/docker_tag_test.rb
  test/services/katello/pulp3/repository/yum/yum_test.rb
Labels: Not yet reviewed, Waiting on contributor
