Repository Katello/katello, pull requests merged in 2023-06, with the labels that each got.

#10574 Fixes #36444 - update locale Makefile to include react translations and not .mos
  locale/Makefile
Labels: Ready for merge

#10572 Fixes #36436 - Don't sync generated repos to capsules
  app/models/katello/content_view.rb
  app/models/katello/repository.rb
  app/services/katello/smart_proxy_helper.rb
  test/fixtures/models/katello_content_views.yml
  test/models/content_view_test.rb
Labels: Not yet reviewed

#10587 Fixes #36478 - add ouiaId to Tab components
  webpack/components/RoutedTabs/index.js
  webpack/components/extensions/HostDetails/Tabs/ContentTab/index.js
  webpack/scenes/ContentViews/Details/Filters/CVContainerImageFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVDebFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataDateFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVErrataIDFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVModuleStreamFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVPackageGroupFilterContent.js
  webpack/scenes/ContentViews/Details/Filters/CVRpmFilterContent.js
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompare.js
  webpack/scenes/ContentViews/Details/Versions/VersionDetails/ContentViewVersionDetails.js
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
Labels: Not yet reviewed

#10583 Fixes #36254 - Installable updates links on the hosts page should point to the new host details page
  app/views/katello/hosts/_errata_counts.html.erb
Labels: Not yet reviewed, Waiting on contributor

#10580 Fixes #36459 - Hide import_only and generated fields on CV
  webpack/scenes/ContentViews/Create/CreateContentViewForm.js
  webpack/scenes/ContentViews/Create/__tests__/createContentView.test.js
  webpack/scenes/ContentViews/Details/ContentViewDetails.js
  webpack/scenes/ContentViews/Details/ContentViewInfo.js
  webpack/scenes/ContentViews/Details/__tests__/contentViewDetail.test.js
  webpack/scenes/ContentViews/__tests__/contentViewPage.test.js
Labels: Not yet reviewed

#10585 Fixes #36474 - Fix docker content CV links
  webpack/scenes/ContentViews/Details/Repositories/ContentCounts.js
Labels: Not yet reviewed

#10573 Fixes #36442 - Capsule is auto-synced on CV promotion
  app/lib/actions/katello/content_view/promote_to_environment.rb
Labels: Not yet reviewed

#10591 Pin Foreman tasks for tests to run
  katello.gemspec
Labels: Ready for merge, Packaging Change

#10589 Fixes #36486 - Handle nil in registered content host report
  app/lib/katello/concerns/base_template_scope_extensions.rb
Labels: Ready for merge

#10579 Fixes #36453 - Prevent regenerating metadata for repositories that use complete mirroring
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/lib/actions/katello/content_view_version/republish_repositories.rb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/products/details/repositories/repository.factory.js
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/controllers/api/v2/repositories_controller_test.rb
  webpack/scenes/ContentViews/Details/ContentViewDetailActions.js
Labels: Not yet reviewed, Waiting on contributor

#10593 Fixes #36497 - Allow unsetting GPG and SSL keys
  app/controllers/katello/api/v2/products_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Not yet reviewed

#10578 Fixes #36428 - Don't trigger pulp tasks on ignorable_content updates
  app/models/katello/root_repository.rb
Labels: Not yet reviewed, Waiting on contributor

#10588 Fixes #36484 - Add :view_params permission to 'Register hosts' role
  lib/katello/plugin.rb
Labels: Not yet reviewed, Waiting on contributor

#10594 Fixes #36485 - bump recommended repos to 6.14
  webpack/redux/actions/RedHatRepositories/helpers.js
Labels: Not yet reviewed, Waiting on contributor

#10592 Refs #36493 - Add new AK details page
  engines/bastion/app/views/bastion/layouts/assets.html.erb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/activation-keys.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/views/activation-keys.html
  engines/bastion_katello/test/activation-keys/activation-keys.controller.test.js
  webpack/containers/Application/config.js
  webpack/scenes/ActivationKeys/Details/ActivationKeyDetails.js
  webpack/scenes/ActivationKeys/Details/index.js
Labels: Not yet reviewed

#10115 Refs #34923 - fix CloneToVersion generate_metadata
  app/lib/actions/katello/repository/clone_to_version.rb
  app/lib/actions/katello/repository/multi_clone_to_version.rb
  test/actions/katello/repository/clone_to_version_test.rb
Labels: Needs testing, Not yet reviewed

#10582 Fixes #36461 - 'Remove orphans' task fails on DeleteOrphanAlternateContentSources step
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/smart_proxy_mirror_repository.rb
Labels: Not yet reviewed, Waiting on contributor

#10601 Fixes #36503 - Updated needed perms for download_debug_certificate
  app/controllers/katello/api/v2/organizations_controller.rb
Labels: Ready for merge

#10608 Fixes #36272 - Fix the documentation link to create manifest
  webpack/scenes/Subscriptions/Manifest/ManageManifestModal.js
Labels: Not yet reviewed

#10611 Fixes #36511 - Update aria-label for last_refresh component
  webpack/scenes/AlternateContentSources/MainTable/ACSTable.js
Labels: Not yet reviewed

#10612 Fixes #36512 - Update ids on ssl client key select
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditCredentials.js
Labels: Not yet reviewed

#10605 Fixes #36505 - Add back missing SCA code to release branch
  app/lib/katello/util/content_overrides_migrator.rb
  app/models/katello/product_content.rb
  app/services/katello/product_content_finder.rb
Labels: Ready for merge

#10614 Fixes #36514 - Update ids on ACS edit product modal action buttons
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditProducts.js
  webpack/scenes/AlternateContentSources/Details/__tests__/ACSEdits.test.js
Labels: Not yet reviewed, Waiting on contributor

#10613 Fixes #36513 - Update ids on action buttons in ACS smart proxy edit modal
  webpack/scenes/AlternateContentSources/Details/EditModals/ACSEditSmartProxies.js
Labels: Not yet reviewed, Waiting on contributor

#10615 Fixes #36504 - Use assign_single_environment in bulk action
  app/lib/actions/katello/host/update_content_view.rb
Labels: Not yet reviewed

#10595 Fixes #36498 - Don't try to unset a host's CV/LCE when inheriting from hostgroup
  app/models/katello/concerns/host_managed_extensions.rb
  test/controllers/foreman/hosts_controller_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10606 Fixes #36505 - add missing SCA code to release branches
  app/lib/katello/util/content_overrides_migrator.rb
  app/models/katello/product_content.rb
  app/services/katello/product_content_finder.rb
Labels: Ready for merge

#10600 Fixes #36440 - Redefine #attributes= to hijack old content facet attributes
  app/models/katello/concerns/host_managed_extensions.rb
  test/models/concerns/host_managed_extensions_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10602 Fixes #36462 - check for presence of content facet before assigning CVE
  app/controllers/katello/concerns/content_facet_hosts_controller_extensions.rb
  app/models/katello/concerns/host_managed_extensions.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Not yet reviewed

#10590 Fixes #36489 - Change the field id of activation key field
  webpack/components/extensions/RegistrationCommands/__tests__/__snapshots__/ActivationKeys.test.js.snap
  webpack/components/extensions/RegistrationCommands/fields/ActivationKeys.js
Labels: Not yet reviewed

#10618 Fixes #36516 - Add trailing / to CV RPM search autocomplete endpoint
  webpack/scenes/ContentViews/Details/Versions/Compare/CVVersionCompareConfig.js
Labels: Not yet reviewed, Waiting on contributor

#10597 Fixes #36463 - Authenticate to custom cdn using product certs
  app/controllers/katello/api/v2/organizations_controller.rb
  app/lib/katello/resources/cdn.rb
  app/models/katello/cdn_configuration.rb
  db/migrate/20230609155411_add_custom_cdn_auth_enabled_to_katello_cdn_configurations.rb
  test/controllers/api/v2/organizations_controller_test.rb
  test/lib/resources/cdn_test.rb
  test/models/cdn_configuration_test.rb
Labels: Ready for merge

#10616 Fixes #36482 - Use string keys for accessing 'arch' and 'minor' in re…
  app/lib/katello/resources/cdn/katello_cdn.rb
  test/lib/resources/katello_cdn_test.rb
Labels: Not yet reviewed, Waiting on contributor

#10626 Fixes #36526 - Add banners warning about katello-agent removal
  engines/bastion_katello/app/assets/javascripts/bastion_katello/common/views/katello-agent-notice.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content-hosts.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-errata.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/content/views/content-host-packages-actions.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/content-host-details.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-details.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/views/content-hosts.html
  webpack/components/extensions/HostDetails/Tabs/ErrataTab/ErrataTab.js
  webpack/components/extensions/HostDetails/Tabs/PackagesTab/PackagesTab.js
  webpack/components/extensions/HostDetails/common/KatelloAgentDeprecationAlert.js
Labels: Ready for merge

#10619 Fixes #36521 - raise an error with invalid manifest
  app/models/katello/candlepin/repository_mapper.rb
Labels: Ready for merge

#10607 Fixes #36506 - allow installable errata counts in safe mode
  app/models/katello/host/content_facet.rb
Labels: Not yet reviewed

#10598 Fixes #36477 - Correctly imports repos with arch restrictions
  app/lib/actions/katello/content_view_version/auto_create_redhat_repositories.rb
  app/lib/actions/katello/repository_set/enable_repository.rb
  app/services/katello/pulp3/content_view_version/importable_repositories.rb
Labels: Not yet reviewed

#10629 Fixes #36523 - Optimized capsule sync doesn't sync recently published/promoted docker repositories
  app/lib/actions/pulp3/orchestration/repository/generate_metadata.rb
Labels: Ready for merge

#10627 Fixes #36528 - handle integer hash keys in katello-agent actions
  app/lib/actions/katello/agent_action.rb
  app/lib/actions/katello/bulk_agent_action.rb
Labels: Not yet reviewed
