Repository Katello/katello, pull requests merged in 2024-03, with the labels that each got.

#10896 Fixes #37170 - Support expiring in information in subscription report
  app/helpers/katello/subscription_mailer_helper.rb
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/mailers/katello/subscription_mailer.rb
  test/mailers/subscription_mailer_test.rb
Labels: Needs re-review

#10915 Fixes #37226 - Remove API endpoints and params related to entitlement mode
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/controllers/katello/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/katello/api/v2/organizations_controller.rb
  app/controllers/katello/api/v2/simple_content_access_controller.rb
  test/controllers/api/v2/simple_content_access_controller_test.rb
Labels: Ready for merge

#10916 [CP] Katello 4.12.0.rc2 cherry picks
  CHANGELOG.md
  app/controllers/katello/api/v2/content_views_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/lib/actions/katello/capsule_content/sync.rb
  app/lib/actions/katello/content_view/promote.rb
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/repository/sync.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/content_view.rb
  app/models/katello/installed_deb.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/content_views/base.json.rabl
  app/views/katello/api/v2/content_views/show.json.rabl
  app/views/katello/api/v2/hosts/base.json.rabl
  app/views/overrides/activation_keys/_host_synced_content_select.html.erb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-repository-sets.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-associations-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-add-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-hosts-list.html
  lib/katello/plugin.rb
  test/actions/pulp3/orchestration/alternate_content_source_refresh_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_updates_remote.yml
  test/models/concerns/host_managed_extensions_test.rb
  test/models/repository_test.rb
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsActions.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
Labels: Not yet reviewed, Waiting on contributor, Stable branch

#10919 Release 4.12.0.rc2
  CHANGELOG.md
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor, Stable branch

#10922 [CP] Katello 4.12.0.rc3 Cherry Picks
  app/controllers/katello/api/v2/content_views_controller.rb
  app/controllers/katello/api/v2/host_subscriptions_controller.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/content_view.rb
  app/models/katello/installed_deb.rb
  app/models/katello/repository.rb
  app/views/katello/api/v2/content_views/base.json.rabl
  app/views/katello/api/v2/content_views/show.json.rabl
  app/views/katello/api/v2/hosts/base.json.rabl
  app/views/overrides/activation_keys/_host_synced_content_select.html.erb
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/activation-key-repository-sets.controller.js
  engines/bastion_katello/app/assets/javascripts/bastion_katello/activation-keys/details/views/activation-key-associations-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/errata/details/views/erratum-content-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-add-hosts.html
  engines/bastion_katello/app/assets/javascripts/bastion_katello/host-collections/details/views/host-collection-hosts-list.html
  test/actions/pulp3/orchestration/alternate_content_source_refresh_test.rb
  test/controllers/api/v2/host_subscriptions_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_updates_remote.yml
  test/models/concerns/host_managed_extensions_test.rb
  test/models/repository_test.rb
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsActions.js
  webpack/components/extensions/HostDetails/Tabs/RepositorySetsTab/RepositorySetsTab.js
  webpack/components/extensions/HostDetails/Tabs/__tests__/repositorySetsTab.test.js
Labels: Not yet reviewed, Stable branch

#10924 4.12.0.rc3 Release
  CHANGELOG.md
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor, Stable branch

#10923 Fixes #37237 - Allow repairing content view versions
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/concerns/api/v2/authorization.rb
  app/lib/actions/katello/content_view_version/verify_checksum.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
Labels: Ready for merge, Demo worthy, Requires Hammer PR

#10944 [CP] Katello 4.12.0 Release Cherry Picks
  app/helpers/katello/concerns/dashboard_helper_extensions.rb
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/lib/katello/resources/cdn.rb
  app/services/katello/pulp3/alternate_content_source.rb
  lib/katello/plugin.rb
  test/controllers/api/v2/content_view_versions_controller_test.rb
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/file_create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/yum_create.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_create/yum_create_complex.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_delete/file_delete.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_delete/yum_delete.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/file_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_simplified.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_refresh/yum_refresh_updates_remote.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/file_update.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/file_update_no_subpaths.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/http_proxy_url_update_file_acs.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/http_proxy_url_update_rhui_acs.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/http_proxy_url_update_simplified_acs.yml
  test/fixtures/vcr_cassettes/actions/pulp3/alternate_content_source_update/yum_update.yml
  test/fixtures/vcr_cassettes/actions/pulp3/yum_sync/sync_with_acs.yml
  test/lib/resources/cdn_test.rb
  test/models/setting_test.rb
  webpack/scenes/ContentViews/Publish/CVPublishForm.js
  webpack/scenes/ContentViews/Publish/__tests__/publishContentView.test.js
Labels: Not yet reviewed, Stable branch

#10945 Release 4.12.0
  CHANGELOG.md
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor, Stable branch

#10934 Fixes #37259 - Only repair library instance repos for products
  app/controllers/katello/api/v2/products_bulk_actions_controller.rb
Labels: Ready for merge

#10895 Refs #37181 - Add module stream info to cv filter rules rabl
  app/views/katello/api/v2/content_view_filter_rules/show.json.rabl
Labels: Ready for merge

#10936 Fixes #37267 - Link upgradable packages for Debian Ubuntu to debs package page
  app/views/katello/hosts/_errata_counts.html.erb
Labels: Ready for merge

#10943 Fixes #37195 - Remove dynflow actions for profile uploads
  app/controllers/katello/api/rhsm/candlepin_dynflow_proxy_controller.rb
  app/lib/actions/katello/host/upload_package_profile.rb
  app/lib/actions/katello/host/upload_profiles.rb
  lib/katello/plugin.rb
  test/actions/katello/host/upload_package_profile_test.rb
  test/actions/katello/host/upload_profiles_test.rb
Labels: Ready for merge

#10940 Fixes #36611 - Copy python content correctly to published versions
  app/services/katello/pulp3/repository/generic.rb
Labels: Ready for merge
