Repository Katello/katello, pull requests merged in 2024-12, with the labels that each got.

#11236 Fix indenting in packit.yaml
  .packit.yaml
Labels: Waiting on contributor

#11227 Fixes #38025 - Add label option when creating organization
  app/overrides/add_organization_attributes.rb
  app/views/overrides/organizations/_step_1_override.html.erb
Labels: Ready for merge

#11244 Fixes #38056 - Refresh content count action fails when count is set to {}
  app/models/katello/concerns/smart_proxy_extensions.rb
Labels: Ready for merge

#11271 pin angular tests to Ubuntu 22.04
  .github/workflows/ruby.yml
Labels: Waiting on contributor

#10982 Fixes #37402 - add jquery-ui dependency
  katello.gemspec
Labels: Packaging Change
