Repository Katello/katello, pull requests merged in 2024-01, with the labels that each got.

#10838 Fixes #37033 - Drop unused katello:rubocop:jenkins rake task
  katello.gemspec
  lib/katello/tasks/rubocop.rake
Labels: Packaging Change

#10843 Fixes #37014 - set correct Host owner during registration
  app/controllers/katello/concerns/api/v2/registration_controller_extensions.rb
Labels: Ready for merge

#10833 Fixes #37028 - Set up sp-reference for content source
  app/models/katello/concerns/host_managed_extensions.rb
Labels: Ready for merge

#10842 Fixes #35974 - Extra index to check for installed package id
  db/migrate/20240111032511_add_index_to_host_installed_packages.rb
Labels: Ready for merge

#10851 Fixes #37058 - Optimize query to identify orphaned content units
  app/models/katello/concerns/pulp_database_unit.rb
Labels: Ready for merge

#10856 use NodeJS 14 and Ruby 2.7 in React tests
  .github/workflows/react_tests.yml
Labels: Waiting on contributor

#10837 Fixes #37084 - Drop simplecov dependency
  katello.gemspec
  test/katello_test_helper.rb
Labels: Packaging Change

#10836 Fixes #37032 - Drop minitest-tags development dependency
  katello.gemspec
Labels: Packaging Change

#10859 Fixes #37094 - Drop uglifier development dependency
  engines/bastion/bastion.gemspec
  katello.gemspec
Labels: Packaging Change

#10860 Fixes #37100 - Update VCR to 6.1+
  katello.gemspec
Labels: Packaging Change

#10870 Fixes #37118 - Remove Virtual Guests in legacy UI for non hypervisors
  engines/bastion_katello/app/assets/javascripts/bastion_katello/content-hosts/details/views/content-host-info.html
Labels: Ready for merge
