Repository Katello/katello, pull requests merged in 2024-04, with the labels that each got.

#10952 Fixes #37302 - push containers through Katello
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/lib/katello/http_resource.rb
  app/lib/katello/resources/registry.rb
  config/routes/api/registry.rb
  lib/katello/permissions/registry_permissions.rb
  test/controllers/api/registry/registry_proxies_controller_test.rb
Labels: Waiting on contributor

#10932 Capsule granular repair
  app/controllers/katello/api/v2/capsule_content_controller.rb
  app/lib/actions/katello/capsule_content/verify_checksum.rb
  app/lib/actions/pulp3/capsule_content/verify_checksum.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/repository_mirror.rb
  config/routes/api/v2.rb
  lib/katello/permission_creator.rb
Labels: Ready for merge, Requires Hammer PR

#10969 update packit to use 3.10/4.12 release branches
  .packit.yaml
Labels: Waiting on contributor, Stable branch

#10968 Use 3.10-stable for GHA based tests, not develop
  .github/workflows/ruby.yml
Labels: Waiting on contributor, Stable branch

#10972 Point packit configuration for 4.11 to the correct stable branches
  .packit.yaml
Labels: Waiting on contributor, Stable branch

#10971 Pin foreman_remote_execution to < 13
  katello.gemspec
Labels: Waiting on contributor, Packaging Change, Stable branch
