Repository Katello/katello, pull requests merged in 2024-07, with the labels that each got.

#11068 Fix layout cops
  app/lib/actions/katello/content_view/publish.rb
  app/lib/actions/katello/content_view_version/create_repos.rb
  app/lib/katello/errors.rb
  app/lib/katello/http_resource.rb
  app/lib/katello/util/cdn_var_substitutor.rb
  app/services/katello/pulp3/content_view_version/export.rb
  app/services/katello/pulp3/repository.rb
  app/services/katello/pulp3/repository_mirror.rb
  app/services/katello/pulp3/task.rb
  app/services/katello/smart_proxy_helper.rb
  db/migrate/20160114200145_add_mirror_on_sync_to_repositories.rb
  db/migrate/20160131182301_add_download_policy_to_katello_repositories.rb
  db/migrate/20210119162528_delete_puppet_and_ostree_repos.rb
  lib/monkeys/ar_postgres_evr_t.rb
  test/mailers/subscription_mailer_test.rb
  test/support/annotations/annotation_file.rb
Labels: Waiting on contributor

#10947 Drop anemone and use Spidr for Repo discovery
  app/lib/actions/katello/repository/discover.rb
  app/lib/katello/repo_discovery.rb
  app/lib/katello/resources/discovery/container.rb
  app/lib/katello/resources/discovery/yum.rb
  app/services/katello/repository_type.rb
  config/initializers/monkeys.rb
  katello.gemspec
  lib/katello.rb
  lib/katello/repository_types/docker.rb
  lib/katello/repository_types/yum.rb
  lib/monkeys/anemone.rb
  test/actions/katello/repository/discover_test.rb
  test/lib/repo_discovery_test.rb
Labels: Packaging Change

#11070 Fixes #37586 - Add remove packages to host package wizard
  app/models/katello/concerns/host_managed_extensions.rb
  webpack/components/extensions/HostDetails/Tabs/RemoteExecutionActions.js
  webpack/components/extensions/HostDetails/Tabs/customizedRexUrlHelpers.js
  webpack/components/extensions/Hosts/BulkActions/BulkPackagesWizard/02_BulkPackagesTable.js
  webpack/components/extensions/Hosts/BulkActions/BulkPackagesWizard/04_Review.js
  webpack/components/extensions/Hosts/BulkActions/BulkPackagesWizard/04_ReviewFooter.js
  webpack/components/extensions/Hosts/BulkActions/BulkPackagesWizard/BulkPackagesWizard.js
Labels: Ready for merge

#11060 Fixes #37618 - Update host content view environments from sub-man
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
Labels: Ready for merge

#11066 Fix Style/SoleNestedConditional cop
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/controllers/katello/api/v2/content_view_versions_controller.rb
  app/controllers/katello/api/v2/host_errata_controller.rb
  app/controllers/katello/api/v2/host_packages_controller.rb
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/controllers/katello/api/v2/sync_controller.rb
  app/lib/actions/katello/foreman/content_update.rb
  app/lib/actions/katello/host/hypervisors_update.rb
  app/lib/actions/katello/repository/import_upload.rb
  app/lib/actions/pulp3/repository/save_version.rb
  app/lib/katello/concerns/base_template_scope_extensions.rb
  app/lib/katello/util/package.rb
  app/lib/katello/validators/alternate_content_source_products_validator.rb
  app/lib/katello/validators/katello_name_format_validator.rb
  app/lib/katello/validators/no_trailing_space_validator.rb
  app/lib/katello/validators/prior_validator.rb
  app/lib/katello/validators/product_unique_attribute_validator.rb
  app/models/katello/activation_key.rb
  app/models/katello/concerns/hostgroup_extensions.rb
  app/models/katello/concerns/location_extensions.rb
  app/models/katello/concerns/operatingsystem_extensions.rb
  app/models/katello/host/subscription_facet.rb
  app/models/katello/product.rb
  app/models/katello/task_status.rb
  app/services/katello/pulp3/repository/apt.rb
  app/services/katello/pulp3/repository/yum.rb
  app/views/katello/api/v2/repositories/show.json.rabl
  db/seeds.d/102-organizations.rb
  lib/katello/tasks/clean_old_file_repos.rake
  test/katello_test_helper.rb
Labels: Waiting on contributor

#11076 Pinning pulp core and certguard to below 3.49.14 to fix the nightly
  katello.gemspec
Labels: Waiting on contributor, Packaging Change

#11043 Fix cop Style/TrailingCommaInHashLiteral
  .rubocop.yml
Labels: Waiting on contributor

#11046 Fix Rails/HttpStatus cop
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
Labels: Waiting on contributor

#11047 Fix Style/CaseLikeIf cop
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/api/v2/debs_controller.rb
  app/controllers/katello/concerns/api/v2/authorization.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/helpers/katello/hosts_and_hostgroups_helper.rb
  app/lib/actions/katello/content_view_version/incremental_update.rb
  app/lib/actions/middleware/backend_services_check.rb
  app/lib/katello/resources/cdn.rb
  app/lib/katello/util/data.rb
  app/lib/katello/util/errata.rb
  app/lib/katello/util/report_table.rb
  app/lib/katello/validators/alternate_content_source_path_validator.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/repository.rb
  app/models/katello/sync_plan.rb
  app/models/katello/task_status.rb
  app/services/katello/candlepin/consumer.rb
  app/services/katello/candlepin/message_handler.rb
  app/services/katello/pulp3/content_view_version/import.rb
  app/services/katello/pulp3/task.rb
  test/support/auth_support.rb
Labels: Waiting on contributor

#11048 Fix Style/SlicingWithRange cop
  app/controllers/katello/api/registry/registry_proxies_controller.rb
  app/controllers/katello/concerns/api/v2/repository_content_controller.rb
  app/lib/actions/pulp3/orchestration/repository/copy_all_units.rb
  app/lib/katello/resources/candlepin/owner.rb
  app/lib/katello/util/path_with_substitutions.rb
  app/lib/katello/util/url_matcher.rb
  app/models/katello/hash_util.rb
  test/support/auth_support.rb
Labels: Waiting on contributor

#11067 Fix Style Cops
  .rubocop.yml
  app/controllers/katello/api/v2/activation_keys_controller.rb
  app/controllers/katello/api/v2/environments_controller.rb
  app/controllers/katello/api/v2/repositories_controller.rb
  app/controllers/katello/api/v2/repository_sets_controller.rb
  app/helpers/katello/katello_urls_helper.rb
  app/lib/actions/katello/capsule_content/verify_checksum.rb
  app/lib/actions/pulp3/abstract_async_task.rb
  app/lib/actions/pulp3/capsule_content/verify_checksum.rb
  app/lib/katello/lazy_accessor.rb
  app/lib/katello/resources/candlepin/pool.rb
  app/lib/katello/util/cdn_var_substitutor.rb
  app/lib/katello/util/package.rb
  app/lib/katello/validators/container_image_name_validator.rb
  app/models/katello/authorization/host_tracer.rb
  app/models/katello/candlepin/repository_mapper.rb
  app/models/katello/concerns/host_managed_extensions.rb
  app/models/katello/concerns/smart_proxy_extensions.rb
  app/models/katello/erratum.rb
  app/models/katello/event.rb
  app/models/katello/product.rb
  app/models/katello/provider.rb
  app/models/katello/rpm.rb
  app/models/katello/subscription_facet_pool.rb
  app/services/katello/pulp3/alternate_content_source.rb
  app/services/katello/pulp3/api/core.rb
  app/services/katello/pulp3/content_view_version/importable_products.rb
  app/services/katello/pulp3/repository.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/environments_controller_test.rb
  test/models/katello/ostree_test.rb
Labels: Waiting on contributor, Needs re-review

#11069 Fix Various Lint Cops
  .rubocop.yml
  app/controllers/katello/application_controller.rb
  app/lib/actions/katello/host/hypervisors_update.rb
  app/models/katello/candlepin/repository_mapper.rb
  app/views/katello/api/v2/repository_sets/show.json.rabl
  lib/katello.rb
  test/actions/katello/cdn_configuration/update_test.rb
  test/factories/content_credential_factory.rb
  test/models/concerns/container_extensions_test.rb
  test/models/rhsm_fact_parser_test.rb
  test/services/katello/pxe_files_downloader_test.rb
Labels: Waiting on contributor

#11079 Fixes #37633 - Newly published CV version shows need_published as true
  app/models/katello/content_view.rb
Labels: Ready for merge

#11062 Remove leftover reference to distributor_versions Candlepin API
  app/lib/katello/resources/candlepin/candlepin_ping.rb
Labels: Waiting on contributor, Needs re-review

#11082 Fixes #37657 - Prevent assigning multiple environments after registration
  app/controllers/katello/api/rhsm/candlepin_proxies_controller.rb
  app/models/katello/host/content_facet.rb
  lib/katello/plugin.rb
  test/models/content_view_environment_content_facet_test.rb
  test/models/host/content_facet_test.rb
Labels: Ready for merge, Demo worthy

#11085 Fixes #37669 - Add API/Hammer support for host multi-CV
  app/controllers/katello/api/v2/host_contents_controller.rb
  app/controllers/katello/concerns/api/v2/hosts_controller_extensions.rb
  app/models/katello/content_view_environment.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/models/content_view_environment_test.rb
Labels: Ready for merge, Demo worthy

#11089 Fixes #37674 - Change All Hosts kebab menu to match design [Katello]
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ChangeHostCVModal.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/ContentViewDetailsCard.js
  webpack/components/extensions/HostDetails/Cards/ContentViewDetailsCard/__tests__/contentViewDetailsCard.test.js
  webpack/components/extensions/Hosts/ActionsBar/ActionsBar.scss
  webpack/components/extensions/Hosts/ActionsBar/index.js
  webpack/components/extensions/Hosts/BulkActions/BulkErrataWizard/BulkErrataWizard.js
  webpack/components/extensions/Hosts/BulkActions/BulkPackagesWizard/BulkPackagesWizard.js
  webpack/components/extensions/Hosts/TableRowActions/index.js
  webpack/global_index.js
Labels: Ready for merge, Demo worthy
