Repository Katello/katello, pull requests merged in 2025-07, with the labels that each got.

#11436 Fixes #38555 - Fix the tests when new hosts index page becomes default
  test/controllers/foreman/hosts_controller_test.rb
Labels: Needs re-review

#11441 Fixes #38577 - Fix snapshots
  jest.config.js
  package.json
  webpack/.eslintrc.js
  webpack/components/Content/Details/__tests__/__snapshots__/ContentDetails.test.js.snap
  webpack/scenes/Subscriptions/Details/__tests__/__snapshots__/SubscriptionDetails.test.js.snap
Labels: Packaging Change

#11455 [CP] Katello 4.16.3 Cherry Picks
  db/migrate/20240924161240_katello_recreate_evr_constructs.rb
  db/migrate/20250714190050_add_missing_rpms_evr_index.rb
Labels: Not yet reviewed, Stable branch

#11457 Release 4.16.3
  CHANGELOG.md
  lib/katello/version.rb
Labels: Not yet reviewed, Waiting on contributor, Stable branch
